<button *ngIf="isViewPage" (click)="print()" class="print-btn">
    <img src="../assets/img/printing-tool.svg">
</button>
<form [ngSwitch]="loading" autocomplete="off" [formGroup]="trForm" (ngSubmit)="onSubmit(trForm.value)" class="form-horizontal" method="post">
        <div *ngSwitchCase="true">
           <overlay-loader></overlay-loader>
        </div>
        <div *ngSwitchCase="false">
           <div class="row m-btm10">
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="site">Transfer No<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" class="form-control" readonly id="TransferNoId" [formControl]="trForm.controls['TransferNoId']">
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="name">Date Loaded<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="fromSite" class="form-control" [formControl]="trForm.controls['dtLoaded']" [ngModel]="dtLoaded" value={{dtLoaded}} />
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="name">From Site<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="fromSite" class="form-control" [formControl]="trForm.controls['FromSite']" [ngModel]="FromSite" value={{fromSite}} />
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="name">To Site<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="ToSite" class="form-control" [formControl]="trForm.controls['ToSite']" [ngModel]="ToSite" value={{toSite}} />
                    </div>
                 </div>
              </div>
              <hr>
              <div class="row bunit">
                 <div *ngIf="isLubricantSection==false">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                          <label for="latitude">Consignment Number<small class="text-danger"></small></label>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                          <input type="text" id="ConsignmentNo" readonly class="form-control" [formControl]="trForm.controls['ConsignmentNo']" />
                          <div *ngIf = "!isViewPage">
                             <small *ngFor="let error of error.firstKey" class="text-danger">{{error}}</small>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div *ngIf="!isViewPage" class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="name">Date Received<small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <my-date-picker [options]="myDatePickerOptions"
                       [formControl]="trForm.controls['DateLoaded']" 
                       (dateChanged)="onDateChanged($event, 'DateLoaded')" [(ngModel)]="DateLoaded" name="DateLoaded"></my-date-picker>
                       <small *ngIf="dateError != ''" class="error">{{dateError}}</small>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="site">Transporter<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select readonly class="form-control" id="Transporter" [ngClass]="{'hide-select-arrow': page == 'edit'}"
                          [formControl]="trForm.controls['Transporter']" >
                       <option disabled *ngFor="let item of transporterList" [value]="item.id">{{item.name}}</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="latitude">Receiving Terminal<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="ReceivingTerminal" class="form-control" [formControl]="trForm.controls['ReceivingTerminal']" />
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="site">Truck<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="Truck" [ngClass]="{'hide-select-arrow': page == 'edit'}"
                          [formControl]="trForm.controls['Truck']" >
                       <option disabled *ngFor="let item of truckList" [value]="item.truckId">{{item.regNo}}</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="latitude">Truck Odometer Reading<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" id="TruckOdometerReading" readonly class="form-control" [formControl]="trForm.controls['TruckOdometerReading']" />
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                       <label for="site">Driver<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="Driver" [ngClass]="{'hide-select-arrow': page == 'edit'}"
                          [formControl]="trForm.controls['Driver']" >
                       <option disabled *ngFor="let item of driverList" [value]="item.driverId">{{item.driverName}}</option>
                       </select>
                    </div>
                 </div>
              </div>
              <!-- <mat-tab-group>
                 <mat-tab label="First"> Content 1 </mat-tab> -->
              <!-- <mat-tab label="Second"> Content 2 </mat-tab>
                 <mat-tab label="Third"> Content 3 </mat-tab> -->
              <br>
              <div class="text-center"><span class="error" *ngIf="idalertmessage != ''">{{idalertmessage}}</span></div>
              <div class="text-center"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
              <div class="text-center"><span class="error" *ngIf="tankError != '' && !IsLubricant && !isViewPage">{{tankError}}</span></div>
              <div *ngIf="isLubricantSection==false">
                 <div formArrayName="CompartmentDetails">
                    <div class="section-container" *ngFor="let section of getCompartmentDetails(trForm); let i = index">
                       <div class="ui raised segments" [formGroupName]="i">
                          <ul class="nav nav-tabs">
                             <li class="active">
                                <a data-toggle="tab" href="#home">compartment {{i+1}}</a> 
                                <!-- <button _ngcontent-yir-267="" class="point" (click)="addSection()" style="background: url(add-ico.png)" type="button" style="left: 165px;
                                   position: relative;
                                   top: -32px;">+</button> -->
                             </li>
                             <!-- <button style="background: url(close-ico.png)" *ngIf="getCompartmentDetails(trForm).length > 1" (click)="removeSection(i)" class="point" formnovalidate>- </button> -->
                             <li><a data-toggle="tab" href="#tab-next"></a>
                             </li>
                          </ul>
                          <div class="tab-content">
                             <div id="home" class="tab-pane fade in active">
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">POL<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="POL" [ngModel]="POL" value={{POL}}>  
                                         <input type="text" class="form-control" hidden formControlName="CompartmentNo" [ngModel]="i+1" value={{i+1}}> 
                                         <input type="text" class="form-control" hidden formControlName="TransferDetailsId" >
                                         <input type="text" class="form-control" hidden formControlName="id"> 
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Batch Number<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly value={{compBatchList[i]}} [ngModel]="compBatchList[i]" [ngModelOptions]="{standalone: true}">
                                         <input type="text" class="form-control" hidden formControlName="PurchaseReceiptId" value={{PRId}} [ngModel]="PRId" >    
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Volume<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="Volume" (change)="onQtyChange($event.target.value)" >  
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Observed Density<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="ObservedDensity" >  
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude"><small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Observed Temperature(°C)<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="ObservedTemprature" >  
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Seal No<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="SealNo" >  
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Conductivity<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="Conductivity" >
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude"><small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"> 
                                         <label for="latitude">Visual<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                         <input type="text" class="form-control" readonly formControlName="Visual" >  
                                      </div>
                                   </div>
                                </div>
                                <hr>
                                <div formArrayName="ToSiteTank" class="add-scroll">
                                   <div class="section-container" *ngFor="let item of getStorageTankDetails(section); let j = index">
                                      <div class="ui raised segments" [formGroupName]="j">
                                         <div class="row bunit">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-4 offset-md-2">
                                               <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="lr">Storage Tank<small class="text-danger">*</small></label>
                                               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
                                                  <select  formControlName="StorageTankId" [ngClass]="{'hide-select-arrow': isViewPage}" class="form-control" (change)="getSTDetails($event.target.value, item, i, j)">
                                                     <option value="" disabled selected='selected'>Select</option>
                                                     <option *ngFor="let tank of tankList" [disabled] = "isViewPage" [value]="tank.storageTankId">{{tank.tankName}}                                
                                                  </select>
                                                  <!-- <small *ngIf="trForm.controls['StorageTankId'].hasError('required') && (trForm.controls['StorageTankId'].touched || formSubmited)" class="error">Storage Tank is Required</small> -->
                                               </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-4">
                                               <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="Quantity">Quantity(litre)<small class="text-danger">*</small></label>
                                               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-10">
                                                  <input type="text" class="form-control" [readonly] = "isViewPage" maxlength="10" formControlName="Quantity" (change)="onTextChange($event.target.value, i);setBatchToTanks($event.target.value, i, j)" >
                                                  <!-- <small *ngIf="trForm.controls['Quantity'].hasError('required') && (trForm.controls['Quantity'].touched || formSubmited)" class="error">Quantity is Required</small>    -->
                                               </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 list-margin" style="text-align:left">
                                               <button *ngIf = "!isViewPage && !showAddBtn[i][j]" type="button" (click)="addTankSection(item, i, j)" class="point-icon" formnovalidate><img src="../assets/icon/add-icon.png"></button>
                                               <button  *ngIf="!isViewPage && getStorageTankDetails(section).length > 1" (click)="removeTankSection(i, j)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button> 
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div id="tab-next" class="tab-pane fade">
                             </div>
                          </div>
                       </div>
                       <div class="text-center"><span class="error" *ngIf="compartmentQuantityError[i]">{{compartmentQuantityError[i]}}</span></div>
                       <div class="text-center"><span class="error" *ngIf="tankArrayError[i]">{{tankArrayError[i]}}</span></div>
                    </div>
                 </div>
              </div>
              <!-- </mat-tab-group> -->
              <div *ngIf="isLubricantSection==true">
                 <div formArrayName="TransferLubeDetails">
                    <div class="section-container" *ngFor="let section of getTransferLubeDetails(trForm); let i = index">
                       <div class="ui raised segments" [formGroupName]="i">
                          <br>
                          <div class="row bunit">
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="lr">Product<small class="text-danger">*</small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">      
                                      <select  formControlName="POLId" [ngClass]="{'hide-select-arrow': isViewPage}" class="form-control" readonly>
                                      <option *ngFor="let pol of pollist" disabled [value]="pol.id">{{pol.name}}
                                      </select>   
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Package">Package<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8"> 
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail"  formControlName="Package" value={{package}} [ngModel]="package" >
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="PackSize">PackSize<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8"> 
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail"  formControlName="PackSize" value={{packsize}} [ngModel]="packsize" >
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="NumberOfPackets">Number Of Packs<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8"> 
                                      <input type="number" class="form-control" readonly  formControlName="NumberOfPackets" (keyup)="onPackChange($event.target.value)" >
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Volume">Volume<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8"> 
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="Volume" value={{volume}} [ngModel]="volume" >
                                   </div>
                                </div>
                             </div>
                             <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-1 space storage-btn">
                                <button type="button" style="background: url(add-ico.png)" (click)="addLubeSection()"  class="point" formnovalidate>+ </button>
                                <button style="background: url(close-ico.png)" *ngIf="getTransferLubeDetails(trForm).length > 1" (click)="removeLubeSection(i)" class="point" formnovalidate>- </button>
                                </div> -->
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="text-center"><span class="error" *ngIf="receivedQtyErrorMessage != ''">{{receivedQtyErrorMessage}}</span></div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">  
                       <label for="name">Remarks<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                       <textarea rows="4" cols="50" id="Remarks" class="text-area" [formControl]="trForm.controls['Remarks']" >
                       </textarea>
                    </div>
                 </div>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="row bunit"></div>
              <div *ngIf="!isViewPage">
                 <div>
                    <div>
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="trForm.controls['FileType']" multiple/>
                       <ng-container *ngIf="ErrorList.length==1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                       </ng-container>
                       <ng-container *ngIf="ErrorList.length>1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                       </ng-container>
                    </div>
                 </div>
              </div>
              <div class="text-right" *ngIf="!isViewPage">
                 <button type="submit" class="btn btn check-footer m-top10">Save</button>
                 <button class="btn  check-no m-top10" type="button" value="Reset" (click)="clearmsgs()">Clear</button>
              </div>
           </div>
        </div>
</form>
<!-- print Transfer Receipt modal -->
<div id="print-section" class="modal models" role="dialog" tabindex='-1'>
   <div class="modal-width container">
      <div class="modal-content modal-margin">
         <div class="modal-header">
            <h4 class="modal-title">Transfer Receipt</h4>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <form>
                  <div class="form-group row">
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Transfer No</label>
                     <div class="col-sm-3">
                        {{transferPrintData.transferRequest.transferId}}
                     </div>
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">From Site</label>
                     <div class="col-sm-3" *ngIf="transferPrintData.transferRequest.fromSite">
                        {{transferPrintData.transferRequest.fromSite.name}}
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">To Site</label>
                     <div class="col-sm-3" *ngIf="transferPrintData.transferRequest.requestedSite">
                        {{transferPrintData.transferRequest.requestedSite.name}}
                     </div>
                     <div class="col-sm-3" *ngIf="transferPrintData.transferRequest.requestedSite">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Date Loaded</label>
                     <div class="col-sm-3">
                        {{transferPrintData.loadDate}}
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Transporter</label>
                     <div class="col-sm-3" *ngIf="transferPrintData.transportCompany">
                        {{transferPrintData.transportCompany.name}}
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Loading Terminal</label>
                     <div class="col-sm-3">
                        {{transferPrintData.loadingTerminal}}
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck</label>
                     <div class="col-sm-3">
                        <div class="col-sm-3" *ngIf="transferPrintData.truck">
                           {{transferPrintData.truck.regNo}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Driver</label>
                     <div class="col-sm-3" >
                       <div *ngIf="transferPrintData.driver"> {{transferPrintData.driver.driverName}}</div>
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck Odometer Reading</label>
                     <div class="col-sm-3">
                        {{transferPrintData.truckOdoMeterReading}}
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Consignment No</label>
                     <div class="col-sm-3">
                        {{transferPrintData.consigmentNo}}
                     </div>
                  </div>
                  <hr>
                  <div *ngFor="let item of transferPrintData.transferCompartmentDetails">
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                        <div class="col-sm-3  col-form-label" *ngIf="transferPrintData.transferRequest.pol">
                           {{transferPrintData.transferRequest.pol.name}}
                        </div>
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Volume</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.volume}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Batch No</label>
                        <div class="col-sm-3 transfer-margin">
                           <!-- Batch 100 -->
                        </div>
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Observed Temperature(°C)</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.observedTemprature}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Observed Density</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.observedDensity}}
                        </div>
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Conductivity</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.conductivity}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Seal No</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.sealNo}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Visual</label>
                        <div class="col-sm-3 transfer-margin">
                           {{item.visual}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label" style="font-size:14px">Storage Tank</label>
                        <label for="inputPassword" class="col-sm-6 col-form-label" style="font-size:14px">Quantity</label>
                     </div>
                     <div *ngFor="let tank of item.toSiteTankDetails" class="row-bunit">
                        <div class="col-sm-6" *ngIf="tank.storageTank">
                           {{tank.storageTank.tankName}}
                        </div>
                        <div class="col-sm-6">
                           {{tank.quantity}}
                        </div>
                     </div>
                  </div>
                  <div *ngFor="let item of transferPrintData.transferLubricantDetails">
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">POL</label>
                        <div *ngIf='item.pol' class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.pol.name}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Pack Size</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.packSize}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Number Of Packets</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.numberOfPackets}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Volume</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.volume}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-2  col-form-label" style="font-size:14px">Remarks</label>
                     <div class="col-md-8 offset-md-1">
                        {{transferPrintData.remarks}}
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- print Transfer Receipt modal -->
