<form [ngSwitch]="loading" [formGroup]="aircrafttypeForm" (ngSubmit)="onSubmit(aircrafttypeForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
     <div class="row bunit">
            <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-4">

                <label for="aircraftTypeName">Aircraft Type Name <small class="text-danger">*</small></label>
            </div>
                 <div class="col-xs-12 col-sm-12 col-md-8">
                <input type="text" maxlength="30"  id="aircraftTypeName" class="form-control" [formControl]="aircrafttypeForm.controls['aircraftTypeName']" />


                <small *ngIf="aircrafttypeForm.controls['aircraftTypeName'].hasError('required') && (aircrafttypeForm.controls['aircraftTypeName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                <small *ngFor="let error of error.firstKey" class="text-danger">{{error}}</small>
            </div>
          </div>
        </div>

          <div class="clearfix"></div>
          <div><br /><br /></div>


                 <div>
                     <input name="file"  type="file" (change)="onChange($event)" [formControl]="aircrafttypeForm.controls['FileType']" multiple/>
                        <br>
                     <ng-container *ngIf="ErrorList.length==1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                  </ng-container>
                  <ng-container *ngIf="ErrorList.length>1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                  </ng-container>
              </div>




                       <div class="clearfix"></div>
                          <!-- <div class="row"> -->
                              <div class="text-right" *ngIf='savebutton == true'>
                                  <button type="submit" class="btn check-footer m-top10">Save</button>
                                  <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                              </div>
                        </div>
                    </form>