<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Add Roles And Privileges</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	          
	            <div class="panel-body">
                    <div *ngIf="success" id="success" class="alert alert-success add-recev-edit">{{success}}</div>
                    <div *ngIf="hasError" id="error" class="alert alert-danger add-recev-edit alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{hasErrorMsg}}
                    </div>
	                <roles-form [page] = "page" (saveRolesEvent)="onSaveRoles($event)">

                    </roles-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>