
		<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-12 col-xl-12">Add New Vehicle Make And Model</span>
        
        <div class="container-fluid main-back">
            <div class="row">
                <div class="col-md-12">

                    <section class="panel">
                       <header class="manager-top m-btm20">
	            	
	            </header>
                        <div class="panel-body">
                            <div *ngIf="success" id="success" class="alert alert-success vehicle-add">{{success}}</div>
                            <div *ngIf="errorpass" id="errorpass" class="alert alert-danger">{{errorpass}}</div>
                            <vehiclemakemodel-form [error]="error" [page]="page" (saved)="onSave($event)">

                            </vehiclemakemodel-form>               
                        </div>
                    </section>
                </div>
            </div>
        </div>	