
            <div class="col-md-12">

                <div class="bg" *ngIf = 'isChartDetails' >
                    <h5>Diesel,Gasoline, Jet A1 stock by location </h5>
                    <div style="display: block">
                    <canvas baseChart
                        class="chart"
                        [datasets]="stockBarChart"
                        [colors]="color"
                        [labels]="barChartLabels"
                        [options]="options1"
                        [chartType]="'bar'">
                    </canvas>
                    </div>


                </div>

            </div>