<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">Edit Discharge Vehicle</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <header class="manager-top m-btm20">
	            
	            </header>
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success discharge-edit">{{success}}</div>
	                <dischargevehicle-form [dischargevehicle]="dischargevehicle | async" [error]="error" [page]="page" (saved)="onSave($event)"></dischargevehicle-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	