@media screen and (min-width: 1620px) {
    .row.shift-up {
      > * {
        margin-top: -573px;
      }
    }
  }
  .table-pl-10{
      padding-left: 10px;
      padding-right: 10px;
  }
  .table-pt-10{
      padding-top: 10px;
  }
  .panel {
      .form-group label{
        font-weight: bold;
      }
      .form-group .btn{
         padding: 0.5rem 1rem;
         font-weight: bold;
      }
  }
  .filter {
      background: #3d98e3 !important;
      border: 1px solid #3d98e3;
      border-color: #3d98e3 !important;
  }
  .filter-icon{
      padding-right:5px;
  }
  .margin-top-10{
      margin-top: 15px;
  }
  .order{
      height:55px;
      line-height:50px;
      vertical-align:middle;
      text-align:center;
      padding:0 10px;
      color:#000000;
      background-color:#f7f7f7;
      position:relative;
      display:inline-block;
      text-transform: uppercase;
      margin-left: -15px;
  }
  .order:after{
      position:absolute;
      right:-20px;
      content:" ";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 25px 0 25px 20px;
      border-color: transparent transparent transparent #f7f7f7;
  }
  .order-bg{
      background: #ffffff;
      margin-left: 15px;
  }
  .top-10{
      top:12px;
  }
  @media screen and (max-width: 1620px) {
    .card.feed-panel.large-card {
      height: 824px;
    }
  }
  
  .user-stats-card {
    .card-title {
      padding: 0 0 15px;
    }
  }
  
  .blurCalendar {
    height: 475px;
  }
  .dashboard-table{
      margin: 3px 25px;
  }
  .dashboard-table-bg{
      background: #ffffff;
      border-radius: 5px;
  }
  #basechart {display: block; width: 100%;}
  /* Color Classes */
  .red-skin{
      background-color: #ff6b6b;
      border-color: #ff6262 !important;
  }
  .sky-skin{
      background-color: #63d6ff;
      border-color: #28c4fc !important;
  }
  .purple-skin{
      background-color: #70b2ce;
      border-color: #70b2ce !important;
  }
  .pink-skin{
      background-color: #266b88;
      border-color: #266b88 !important;
  }
  .orange-skin{
      background-color: #ffb48f;
      border-color: #ff742f !important;
  }
  .theme-skin{
      background-color: #1fae66;
      border-color: #5bdd5e !important;
  }
  
  /* Text colors */
  .text-custom {
    color: #71b6f9 !important;
  }
  .text-white {
    color: #ffffff !important;
  }
  .text-danger {
    color: #ff5b5b !important;
  }
  .text-muted {
    color: #98a6ad !important;
  }
  .text-primary {
    color: #188ae2 !important;
  }
  .text-warning {
    color: #f9c851 !important;
  }
  .text-success {
    color: #10c469 !important;
  }
  .text-info {
    color: #35b8e0 !important;
  }
  .text-inverse {
    color: #3b3e47 !important;
  }
  .text-pink {
    color: #ff8acc !important;
  }
  .text-purple {
    color: #5b69bc !important;
  }
  .text-dark {
    color: #797979 !important;
  }
  .mini-stats-sec {
      float: left;
      width: 100%;
  }
  .mini-stats {
      background: #ffffff none repeat scroll 0 0;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
  
      float: left;
      padding: 0;
      position: relative;
      width: 100%;
  }
  .widget-controls {
      padding-right: 10px;
      padding-top: 10px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
  }
  .widget-controls > span {
      color: #b8b8b8;
      cursor: pointer;
      float: right;
      font-size: 13px;
      line-height: 14px;
      margin-left: 8px;
  }
  .widget::before {
  
  
      content: "";
      height: 100%;
      left: 45%;
      opacity: 0;
      position: absolute;
      top: 40%;
      z-index: 9;
  
  
    background-color: #1fae66;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 2px;
  
    border: 2px solid #1fae66;
    border-bottom-color: transparent;
    background: transparent !important;
    display: inline-block;
  
      -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: spin-rotate 0.7s 0s linear infinite;
    animation: spin-rotate 0.7s 0s infinite linear;
  }
  .widget {
      background: #ffffff none repeat scroll 0 0;
      float: left;
      position: relative;
      width: 100%;
  
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
  
  }
  .widget.no-color {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
  }
  .total-sales-sec {
      float: left;
      width: 100%;
  }
  .widget.loading-wait::before {
      opacity: 0.8;
      visibility: visible;
  }
  .widget.expand-this {
      height: 100%;
      left: 0;
      margin: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2147483647;
  }
  
  .mini-stats-content {
      float: left;
      height: 62px;
      border: 1px solid #ddd;
      padding: 6px 5%;
      width: 76%;
  }
  .mini-stats > span {
      border: 1px solid;
  
      color: #fff;
      float: left;
      font-size: 20px;
      height: 62px;
      line-height: 56px;
      text-align: center;
      width: 23%;
      .fa {
          font-size: 30px;
          margin-top: 15px;
      }
  }
  .mini-stats > p {
      color: #878888;
      display: block;
      font-size: 11px;
      line-height: 20px;
      margin: 6px 0 0;
      text-transform: uppercase;
  }
  .mini-stats > p > i {
      margin-right: 4px;
  }
  .fa.up{
      color: #5bdd5e;
  }
  .fa.down{
      color: #ff6a7f;
  }
  .mini-stats > h3 {
      color: #4d575d;
      display: block;
      font-size: 18px;
      margin: 5px 0 0;
  }
  
  /* task management */
  .task-managment {
      float: left;
      padding: 20px;
      width: 100%;
  }
  .add-task-item {
      border: 1px solid #e8edf2;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      -ms-border-radius: 22px;
      -o-border-radius: 22px;
      border-radius: 22px;
  
      float: left;
      height: 38px;
      position: relative;
      width: 100%;
  }
  .add-task-item  > input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #7b7b7b;
      float: left;
      font-size: 12px;
      padding: 9px 20px 9px 25px;
      width: 100%;
  }
  .add-task-item button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #7f8890;
      font-size: 12px;
      padding: 8px 16px 8px 20px;
      position: absolute;
      right: 0;
  }
  #listitems {
      float: left;
      /*margin: 20px 0 0;
      padding: 0 0 0 15px;*/
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type:none
  }
  #listitems > li {
      color: #424242;
      float: left;
      font-size: 13px;
      font-weight: 300;
      /*padding: 7px 0;position: relative;*/
      width: 100%;
      padding-right: 20px;
      margin-bottom: 5px;
  }
  #listitems > li > i {
      /*height: 100%;
      left: -55px;
      position: absolute;
      top: 0;*/
      float: left;
      margin-right: 5px;
      height: 30px;
      width: 3px;
  }
  
  #listitems > li::before {
      background: #bbbbbb none repeat scroll 0 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
  
      -webkit-transition:all 0.4s ease 0s;
      -moz-transition:all 0.4s ease 0s;
      -ms-transition:all 0.4s ease 0s;
      -o-transition:all 0.4s ease 0s;
      transition:all 0.4s ease 0s;
      width: 0;
      margin-top: 1px;
  }
  #listitems > li.active::before {
      width: 50%;
  }
  #listitems > li.active {
      color: #9b9b9b;
  }
  #listitems > li > span {
      background: #555 none repeat scroll 0 0;
      
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
  
      color: #fff;
      cursor: pointer;
      font-size: 8px;
      height: 16px;
      line-height: 16px;
      margin-top: -9px;
      opacity: 0;
      /*position: absolute;
      right: -20px;
          top: 50%;*/
      text-align: center;
      float: right;
      margin-top: 2px;
      margin-right: 5px;
  
      -webkit-transition:all 0.4s ease 0s;
      -moz-transition:all 0.4s ease 0s;
      -ms-transition:all 0.4s ease 0s;
      -o-transition:all 0.4s ease 0s;
      transition:all 0.4s ease 0s;
      width: 16px;
  }
  #listitems > li:hover > span{
      opacity: 1;
      margin-right: 0px;
      /*right: 0;*/
  }
  
  /* Activity Sec */
  .activity-sec {
      float: left;
      padding: 35px;
      width: 100%;
  }
  .widget-title > h3 {
      color: #2e2e2e;
      float: left;
      font-size: 16px;
      margin: 0 0 5px;
      padding-right: 30px;
  }
  .widget-title > span {
      color: #666666;
      float: left;
      font-size: 13px;
      font-weight: 300;
      width: 100%;
  }
  .widget-title {
      float: left;
      margin-bottom: 22px;
      width: 100%;
  }
  
  /* Graph Wrapper */
  #graph-wrapper {
      float: left;
      width: 100%;
  }
  .graph-info {
      float: left;
      width: 100%;
  }
  .graph-info > a {
      color: #7f7f7f;
      float: left;
      font-size: 13px;
      font-weight: 400;
      margin-right: 20px;
      padding-left: 24px;
      position: relative;
  }
  .graph-info > a > span {
      
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
  
      height: 13px;
      left: 0;
      margin-top: 3px;
      position: absolute;
      top: 0;
      width: 13px;
  }
  .graph-container {
      float: left;
      margin-top: 20px;
      width: 100%;
  }
  .graph-container > canvas {
      height: 232px !important;
      width: 100% !important;
  }
  .graph-details {
      float: left;
      width: 100%;
  }
  .graph-details > ul {
      float: left;
      list-style: outside none none;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .graph-details > ul > li {
      float: left;
      width: 50%;
  }
  .graph-details > ul > li {
      float: left;
      width: 50%;
  }
  .graph-details > ul > li strong {
      color: #005173;
      float: left;
      font-size: 18px;
      font-weight: normal;
      /*margin-top: 11px;*/
      width: 100%;
  }
  .graph-details > ul > li > span {
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
  
      color: #ffffff;
      float: left;
      font-size: 11px;
      padding: 1px 9px;
  }
  .graph-details p {
      color: #7f7f7f;
      float: left;
      font-size: 13px;
      margin: 2px 0 0;
      width: 100%;
  }
  /* Total Sales Sec */
  .total-sales-sec {
      display: table;
      float: left;
      padding: 50px 45px;
      width: 100%;
  }
  .circle-chart {
      float: left;
      margin-right: 35px;
      position: relative;
  }
  .total-sales-info {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
  }
  .circle-chart > p {
      margin: 0;
  }
  .cirlce-chart-detail {
      left: 0;
      margin-top: -6px;
      position: absolute;
      text-align: center;
      top: 50%;
      
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
  
      width: 100%;
  }
  .cirlce-chart-detail > span {
      color: #777777;
      float: left;
      font-size: 11px;
      letter-spacing: 0.3px;
      margin-bottom: 4px;
      width: 100%;
  }
  .cirlce-chart-detail > h5 {
      color: #4d575d;
      float: left;
      font-size: 18px;
      margin: 1px 0 0;
      text-align: center;
      width: 100%;
  }
  .total-sales-info > span {
      color: #777777;
      float: left;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 10px;
      width: 100%;
  }
  .total-sales-info > h3 {
      color: #4d575d;
      float: left;
      font-size: 21px;
      margin-bottom: 0;
      margin-top: -3px;
      padding-bottom: 20px;
      position: relative;
      width: 100%;
  }
  .total-sales-info > h3::before {
      background: #e6e6e6 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100px;
  }
  .total-sales-info > ul {
      float: left;
      list-style: outside none none;
      margin: 20px 0 0;
      padding: 0;
      width: 100%;
  }
  .total-sales-info > ul > li {
      float: left;
      width: 33.3333%;
  }
  .total-sales-info li > span {
      color: #777777;
      float: left;
      font-size: 13px;
      font-weight: 200;
      width: 100%;
  }
  .total-sales-info ul li h5 {
      color: #4d575d;
      float: left;
      font-size: 18px;
      margin: 4px 0 0;
      width: 100%;
  }
  
  /* Inbox-widget */
  .inbox-widget {
    float: left;
      padding: 20px;
      width: 100%
  }
  .inbox-widget .inbox-item {
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
  }
  .inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px;
  }
  .inbox-widget .inbox-item img {
    width: 40px;
  }
  .inbox-widget .inbox-item .inbox-item-author {
    color: #333333;
    display: block;
    margin: 0;
  }
  .inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    font-size: 12px;
    margin: 0;
  }
  .inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 2px;
  }
  
  .reminder_tasks{
      min-height: 300px;
  }
  #listitems{
      min-height: 225px;
  }
  
  
  .card-box {
      padding: 20px;
      /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      background-clip: padding-box;
      margin-bottom: 20px;
      background-color: #ffffff;
  }
  .widget-user {
      min-height: 112px;
  }
  .card-box p {
      border-bottom: 1px solid #f3f3f3;
      color: #333333;
      padding: 10px 10px 10px 0;
  }
  .card-box p:last-child {
      border-bottom: none !important;
      padding-bottom: none !important;
  }
  .card-box p:first-child {
      padding-top: none !important;
  }
  .order-accordion {
      .order-count {
          background: #ddd;
          display: inline-block;
          padding: 3px 15px;
          border-radius: 8px;
          font-weight: 600;
          margin-left: 10px;
      }
      .panel-heading {
          font-size: 14px;
          font-weight: normal;
          border-top: 1px solid #ddd;
          .ion-arrow-right-b {
              font-size: 18px;
              margin-right: 5px;
          }
          .ion-arrow-right-b:before {
              content: "\f104";
          }
          &.collapsed {
              .ion-arrow-right-b:before {
                  content: "\f10a";
              }
          }
      }
  }
  .custom-icon {
    background: #666;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: #fff;
    display: table-cell;
    font-size: 45px;
    height: 60px;
    padding: 30px;
    text-align: center;
    transition: .5s;
    vertical-align: middle;
    width: 60px;
  }
  .icon-wrapper {
    display: inline-block;
  }
  .bold{
      font-size: 16px !important;
  }
  .hideoption { 
      display:none; visibility:hidden; height:0; font-size:0; 
  }
  .map-container {
       height: 100%; 
  }
  .map-content { 
      display: block; 
  }
  .description { 
      margin-top: 10px; padding: 15px; background-color: bisque; border: 1px solid orange; 
  }
  