<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Dashboard</span>

<div class="row">
   <div class="col-md-12 dash-margin">
      <div class="bg">
         <i class="fa"></i>
         <div style="height: 600px" *ngIf='_markers.length>0'>
            <x-map #xmap [Options]="_options" [Box]="_box">
            <x-map-marker *ngFor="let m of _markers; let i=index" [Latitude]="m.latitude" [Longitude]="m.longitude" [Title]="m.name" >
            <x-info-box class="map-align"
            [DisableAutoPan]="true"
            [Title]=
            "
            '
                <h5><strong>'+m.name+'</strong></h5>
            '
            "
            [Description]=
          

            "
            '<table class=table style=position:relative;top:-11px>
                <tr>
                    <th>POL</th>
                    <th>Stock</th>
                    <th>Fuel Issuance</th>
                </tr>

               <tr class=text-center>
                   <td>Petrol</td>
                   <td>'+ m.stockQuantityPetrol + '</td>
                   <td>' + m.fuelIssuedQtyPetrol + '</td>
               </tr>

               <tr class=text-center>
                   <td>Diesel</td>
                   <td>' + m.stockQuantityDiesel + '</td>
                   <td>' + m.fuelIssuedQtyDiesel + '</td>
               </tr>

               <tr class=text-center>
                   <td>Jet A1</td>
                   <td>' + m.stockQuantityJet + '</td>
                   <td>' + m.fuelIssuedQtyJet + '</td>
               </tr>
                
            </table>'
            "
            >
            <x-info-box-action [Label]="'Click Me'" (ActionClicked)="gotoTank()"></x-info-box-action>
            </x-info-box>
            </x-map-marker>
            </x-map>
         </div>
         <div class="text-right">
            <button class="btn check-footer m-topdash" type="" (click)="shifttotank()">Shift to tank</button>
            <button class="btn  check-no m-topdash" type="" (click)="presentationmode()">Presentation mode</button>
         </div>
      </div>
   </div>
</div>

<div class="row bunit">
   <div class="col-md-6 chart-mtop">
      <div class="bg-chart">
         <h5>Diesel,Gasoline, Jet A1 stock by location </h5>
         <div *ngIf="isChartDetails && (lineChartDataset.length > 0 && barChartLabels.length > 0)" style="display: block">
            <canvas baseChart
            class="chart"
            [datasets]="lineChartDataset"
            [colors]="color"
            [labels]="barChartLabels"
            [options]="options"
            [chartType]="'bar'">
            </canvas>
         </div>
         <div *ngIf = '!isChartDetails' style="display: block">
            <br>
            <div class="panel-heading panel-padding panel-dash-head">No data available</div>
            <br>
         </div>
         <div *ngIf = 'isChartDetails' style="display: block">
            <br>
            <div *ngIf="polDetails.length == 0" class="panel-heading panel-padding panel-dash-head">No data available</div>
            <br>
         </div>
         <!-- <button (click)="randomize()">Update</button> -->
         <div class="dashdate text-center">
            <my-date-picker [options]="myDatePickerOptions"
            (dateChanged)="onDateChanged($event, 'lineChart')"
            [(ngModel)]="GraphADate" name="GraphADate">
            </my-date-picker>
         </div>
      </div>
   </div>
   <div class="col-md-6 chart-mtop">
      <div class="bg-chart">
         <h5>Diesel,Gasoline, Jet A1 stock by location </h5>
         <div *ngIf="isChartDetails && (stockBarChart.length > 0 && barChartLabels.length > 0)" style="display: block">
            <canvas baseChart
            class="chart"
            [datasets]="stockBarChart"
            [colors]="color1"
            [labels]="barChartLabels"
            [options]="options1"
            [chartType]="'bar'">
            </canvas>
         </div>
         <div *ngIf = '!isChartDetails' style="display: block">
            <br>
            <div class="panel-heading panel-padding panel-dash-head">No data available</div>
            <br>
         </div>
         <div *ngIf = 'isChartDetails' style="display: block">
            <br>
            <div *ngIf="polDetails.length == 0" class="panel-heading panel-padding panel-dash-head">No data available</div>
            <br>
         </div>
         <!-- <button (click)="randomize()">Update</button> -->
         <div class="dashdate text-center" style="visibility: hidden;">
            <my-date-picker [options]="myDatePickerOptions"
            (dateChanged)="onDateChanged($event, 'barChart')"
            [(ngModel)]="GraphBDate" name="GraphBDate">
            </my-date-picker>
         </div>
      </div>
   </div>
</div>
<div class="row bunit sitechart-margin">
   <div class="col-md-3 shift-mtop">
      <div class="panel panel-info  panel-bg">
         <div class="panel-heading panel-padding panel-dash-head">
            POL<i class="fa fa-filter filter-float" tooltip="clear" (click)="filterChart('pol')"></i>
         </div>
         <div class="dashline">
            <hr>
         </div>
         <div class="panel-body panel-scroll">
            <div class="panel-padding">
               <ul class="dash-list">
                  <li *ngFor='let pol of polFiltersList; let i = index'>
                     <input type="checkbox" id='polFilterCB' [checked]='checkPol[pol.id]' (change)="selectedFilters('pol', $event)" style="visibility: visible !important;" [name]=[pol.id]>
                     {{pol.name}}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-3 shift-mtop">
      <div class="panel panel-info  panel-bg">
         <div class="panel-heading panel-padding panel-dash-head">Country<i class="fa fa-filter  filter-float" tooltip="clear" (click)="filterChart('country')"></i></div>
         <div class="dashline">
            <hr>
         </div>
         <div class="panel-body panel-scroll">
            <div class="panel-padding">
               <ul class="dash-list">
                  <li *ngFor='let country of countriesList'>
                     <input type="checkbox" id="countryFilterCB" [checked]='checkCountry[country.countryId]' (change)="selectedFilters('country', $event)" style="visibility: visible !important;" [name]=[country.countryId]>
                     {{country.name}}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-3 shift-mtop">
      <div class="panel panel-info  panel-bg">
         <div class="panel-heading panel-padding panel-dash-head">Business Unit<i class="fa fa-filter  filter-float" tooltip="clear" (click)="filterChart('businessUnit')"></i></div>
         <div class="dashline">
            <hr>
         </div>
         <div class="panel-body panel-scroll">
            <div class="panel-padding">
               <ul class="dash-list">
                  <li *ngFor='let bu of buList'>
                     <input type="checkbox" id="buFilterCB" [checked]='checkBU[bu.buId]' (change)="selectedFilters('businessUnit', $event)" style="visibility: visible !important;" [name]=[bu.buId]>
                     {{bu.buName}}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-3 shift-mtop">
      <div class="panel panel-info  panel-bg">
         <div class="panel-heading panel-padding panel-dash-head">Site<i class="fa fa-filter  filter-float" tooltip="clear" (click)="filterChart('site')"></i></div>
         <div class="dashline">
            <hr>
         </div>
         <div class="panel-body panel-scroll">
            <div class="panel-padding">
               <ul class="dash-list">
                  <li *ngFor='let site of siteList'>
                     <input type="checkbox" id="siteFilterCB" [checked]='checkSite[site.siteId]' (change)="selectedFilters('site', $event)" style="visibility: visible !important;" [name]=[site.siteId]>
                     {{site.name}}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>