<form [ngSwitch]="loading" [formGroup]="transportcompanyForm" (ngSubmit)="onSubmit(transportcompanyForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">

        <div class="row bunit">

                        <div class="col-xs-12 col-sm-12 col-md-6 form-padding">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                  <label for="name">Business Unit <small class="text-danger">*</small></label>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                    <select  [formControl]="transportcompanyForm.controls['BUId']" class="form-control">
                                        <option value="">Select</option>
                                       <option *ngFor="let bu of businessunitList" [value]="bu.buId">{{bu.buName}}</option>


                               </select>

                                    <small *ngIf="transportcompanyForm.controls['BUId'].hasError('required') && (transportcompanyForm.controls['BUId'].touched || formSubmited)" class="error">{{buReq}}</small>
                                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                                </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 form-padding">
                            
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            
                                                  <label for="name">Transport Company Name <small class="text-danger">*</small></label>
                            
                                                </div>
                            
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            
                                                    <input type="text" id="name" class="form-control" [formControl]="transportcompanyForm.controls['name']" />
                            
                            
                                                    <small *ngIf="transportcompanyForm.controls['name'].hasError('required') && (transportcompanyForm.controls['name'].touched || formSubmited)" class="error">{{nameReq}}</small>
                                                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                            
                                                </div>
                                        </div>

                    </div>
        <div class="row bunit">

          

            <div class="col-xs-12 col-sm-12 col-md-6 form-padding">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="name">Address <small class="text-danger"></small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <textarea rows="4" cols="50" id="address" class="text-area" [formControl]="transportcompanyForm.controls['address']" >
                        </textarea>
                    <small *ngIf="transportcompanyForm.controls['address'].hasError('required') && (transportcompanyForm.controls['address'].touched || formSubmited)" class="error"></small>
                    <small *ngFor="let error of error.address" class="error">{{error}}</small>

                </div>

            </div>

        </div>


            <div class="clearfix"></div>
            <div><br /><br /></div>


                    <div class="owner-file">
                       <input name="file" type="file" (change)="onChange($event)" [formControl]="transportcompanyForm.controls['FileType']" multiple/>
                       <br>


                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>

                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
                    </div>


             <br>
            <div class="clearfix"></div>
            <div class="text-right" *ngIf='savebutton == true'>
                <button type="submit" class="btn check-footer">Save</button>
                <button type="reset" (click)="clearmsgs()" class="btn check-no" value="Reset">Clear</button>
             </div>
     </div>

</form>