<form [ngSwitch]="loading" [formGroup]="departmentForm" (ngSubmit)="onSubmit(departmentForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">


            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="name">Department <small class="text-danger">*</small></label>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <input type="text" maxlength="15"   id="name" class="form-control" [formControl]="departmentForm.controls['name']" />
                        <small *ngIf="departmentForm.controls['name'].hasError('required') && (departmentForm.controls['name'].touched || formSubmited)" class="error">{{nameReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                    </div>


                </div>


                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="name">Description </label>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <!-- <input type="text" id="description" class="form-control" [formControl]="departmentForm.controls['description']" /> -->
                        <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="departmentForm.controls['description']"></textarea>
                    </div>


                </div>

        </div>


            <div class="clearfix"></div>
            <div><br /><br /></div>
            <div>
               <div>
                   <div>
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="departmentForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                        </ng-container>
                        <ng-container *ngIf="ErrorList.length>1">
                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                        </ng-container>
                </div>

                </div>
            </div>
                  <br>
                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->

                        </div>
                    </form>