<div *ngIf = 'isResetTokenValid' class="auth-main">
        <div class="auth-block" style="color:black">

          <div class="panel-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div *ngIf="successMsg" id="success" class="alert alert-success new-pass-sucess">{{successMsg}}</div>

            <div class="col-sm-12 text-center">
               <div style="margin-top: 20px;">
                 <img src="assets/img/icon.png" style="width:300px;">
               </div><br>
                 <div class="text-center">
                   <h4>Fuel Management System</h4>
                 </div>
            </div>

            <div class="col-sm-12 login-top">

              <!-- <b style="text-align: center;font-size:14px" style="padding-left: 20px;">Forgot Password</b> -->

              <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)" class="form-horizontal" style="margin-top: 10px;">

                    <div class="form-group">
                      <label>New Password</label>
                      <input type="password" class="user-pass" placeholder="New Password" formControlName = "password" #ShowPassword title="8-20 characters, at least 1 digit">
                      <span (click)="showHidePassword('show', 'password' )" class="" >
                            <i class="ion-eye-disabled login-eye" *ngIf="this.show_password"></i>
                          </span>
                          <span (click)="showHidePassword('hide', 'password' )" class="">
                            <i class="ion-eye login-eye" *ngIf="this.hide_password"></i>
                          </span>
                          <br>
                    </div>


                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="user-pass" placeholder="Confirm Password" formControlName = "confirm" #ShowConfirm >
                        <span (click)="showHidePassword('show', 'confirmPassword' )" class="">
                          <i class="ion-eye-disabled login-confirm" *ngIf="this.show_confirm_password"></i>
                        </span>
                        <span (click)="showHidePassword('hide', 'confirmPassword' )" class="">
                          <i class="ion-eye login-confirm" *ngIf="this.hide_confirm_password"></i>
                        </span>
                        <br>


                    </div>

                    <div class="form-group">
                        <small *ngIf="isNotValid" class="error">Invalid Password</small>
                        <small *ngIf="isNotSame" class="error">Both the fields must be equal</small><br>
                        <button class="btn btn-primary btn-theme btn-block text-uppercase" type="submit">Change Password</button>
                    </div>


              </form>

           </div>

          </div>
        </div>
      </div>
      <div *ngIf = '!isResetTokenValid' class="auth-main" style=" background:white">
        Cannot access link. Password Reset Token Expired.
      </div>
