@import '../../theme/sass/auth';

.auth-main
{
  // background: #7e7e7e;
  // background-image: url('assets/img/Head-Office-Dubai');
  background-image: url('../../assets/img/Head-Office-Dubai.jpg')!important;
  background-size: cover;

}
.login-eye{
    position: absolute;
    right: 40px;
    top: 52px;
  }
  .login-confirm{
    position: absolute;
    right: 40px;
    top: 145px;
  }
.login-top
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary
{
    padding: 6px 12px !important;
    opacity: 1 !important;
}