
<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">REFUELLING HISTORY </span>

<div class="container-fluid main-back">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="manager-top m-btm20">

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">

                                 <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left">
                                        Show Entries
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                                        <select class="select-control" (change)="onSelectChange($event)">
                                                <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                                        </select>
                                    </div>
                        </div>


                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">

                                <button class="btn  m-btm10 pull-right purchase-btn">
                                        <img src="../assets/img/mexcel.svg" data-toggle="modal"
                                        data-target="#Export" style="width:41px;">
                                </button>



                            <div class="search-block">
                                <input *ngIf="config.filtering" placeholder="Search Using Vehicle Number"
                                [ngTableFiltering]="config.filtering"
                                class="form-control search-border"
                                (tableChanged)="onChangeTable(config)"/>
                                <div class="search-btn">
                                        <button class="btn btn-default ser" type="submit">
                                                <i class="fas fa-search"></i>
                                        </button>
                                </div>

                            </div>


                        </div>
            </div>


            <section class="panel">

                <div class="panel-body">

                    <div class="table-scroll">

                        <table class="table table-bordered cust-table table-hover table-form">
                         <thead>
                             <tr>
                                    <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                                        {{column.title}}
                                        <i *ngIf="config && column.sort !== '' && column.sort!= false"
                                            tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                                            (click)="sort(column.name,column.sort)">
                                        </i>
                                        <i *ngIf="config && column.name=='Date' && column.filter == true" class="issue-filter fa fa-filter"
                                            [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter"
                                            data-target="#ViewSiteModal">
                                        </i>
                                        <i *ngIf="config && column.name=='volumeissue' && column.filter == true" class="issue-filter fa fa-filter"
                                            [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter"
                                            data-target="#ViewVolIssueModal">
                                        </i>
                                        <i *ngIf="config && column.name=='Section' && column.filter == true" class="issue-filter fa fa-filter"
                                            [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter"
                                            data-target="#ViewSectionModal">
                                        </i>
                                    </th>
                             </tr>
                         </thead>

                            <tbody>

                                <div *ngIf="loading">
                                    <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                  </div>

                                   <tr *ngFor="let item of  refuellinghistory; let i = index" >
                                      <td>{{i+1}}</td>
                                      <td>{{item.vehicle.vehicleId}}</td>
                                      <td>{{item.issueDate}}</td>
                                      <td>{{item.quantityIssued}}</td>
                                      <td>{{item.section.sectionName}}</td>
                                   </tr>
                                   <tr *ngIf="length==0">
                                       <td colspan="10" class="data-error">No data available in the table</td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="col-md-12 text-right">
                        <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                       </pagination>
                    </div>


                    <!--    </div> -->

                   </div>



                    <!-- Export modal -->
                    <div id="Export" class="modal  models" role="dialog" tabindex='-1'>
                            <div class="modal-dialog modal-country ">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title">Export </h4>

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <hr>
                                    </div>


                                    <div class="modal-body view-detail">

                                            <div class="container filter-down">

                                                <label class="container filter-down">
                                                From Date

                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                    <my-date-picker
                                                        [options]="myDatePickerOptions"
                                                         (dateChanged)="onDateChanged($event, 'FromDate')"  [(ngModel)] = "initialFromDate" name="initialFromDate">
                                                    </my-date-picker>

                                                </div>

                                                </label>

                                            </div>
                                            <div class="container filter-down">

                                                    <label class="container filter-down">
                                                    To Date

                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                        <my-date-picker
                                                            [options]="myDatePickerOptions"  [(ngModel)] = "initialToDate" name="initialToDate"
                                                             (dateChanged)="onDateChanged($event, 'ToDate')">
                                                        </my-date-picker>

                                                    </div>

                                                    </label>

                                            </div>

                                    </div>

                                 <div class="modal-footer">
                                    <p *ngIf="exportmessage">{{exportmessage}}</p>
                                     <!-- <button  type="button" class="btn btn-info check-footer"  (click)="export()">Export</button> -->

                                    <!-- <a class="btn btn-info check-footer"  href= {{API_URL_Export}}>Export</a> -->
                                    <!-- <a  href= {{API_URL_Export>  Export</a> -->
                                        <a href= {{API_URL_Export}}>
                                            <button (click)="export()" class="btn check-footer">Export</button>
                                        </a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- export modal -->
                        <div id="ViewVolIssueModal" class="modal  models" role="dialog" tabindex='-1'>
                            <div class="modal-dialog modal-country ">
                               <div class="modal-content">
                                  <div class="modal-header">
                                     <h4 class="modal-title">Filter by Volume of Previous Issue</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <hr>
                                  </div>
                                  <div class="modal-body view-detail">
                                     <div class="container filter-down">
                                        <label class="container filter-down">
                                        Select All
                                        <input type="checkbox" [(ngModel)]="selectedAllVolFilter" value ="" (change)="selectAll('VolumeIssued', $event);"/>
                                        <span class="checkmark add-cust"></span>
                                        </label>
                                        <div class="checkbox filter-down" *ngFor="let vol of volIssuedFiltersList">
                                           <label class="container">{{vol.id}}
                                           <input type="checkbox" [(ngModel)]="vol.selected" value ={{vol.id}} (change)="checkIfAllSelected(list, $event, 'VolumeIssued');">
                                           <span class="checkmark add-cust"></span>
                                           </label>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="modal-footer">
                                     <button  type="button" class="btn btn-info check-footer"  (click)="apply('VolumeIssued')">Apply</button>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <!-- ViewSectionModal -->
                         <div id="ViewSectionModal" class="modal  models" role="dialog" tabindex='-1'>
                            <div class="modal-dialog modal-country ">
                               <div class="modal-content">
                                  <div class="modal-header">
                                     <h4 class="modal-title">Filter by Section</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <hr>
                                  </div>
                                  <div class="modal-body view-detail">
                                     <div class="container filter-down">
                                        <label class="container filter-down">
                                        Select All
                                        <input type="checkbox" [(ngModel)]="selectedAllSectionFilter" value ="" (change)="selectAll('Section', $event);"/>
                                        <span class="checkmark add-cust"></span>
                                        </label>
                                        <div class="checkbox filter-down" *ngFor="let section of sectionFiltersList">
                                           <label class="container">{{section.sectionName}}
                                           <input type="checkbox" [(ngModel)]="section.selected" value ={{section.sectionId}} (change)="checkIfAllSelected(list, $event, 'Section');">
                                           <span class="checkmark add-cust"></span>
                                           </label>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="modal-footer">
                                     <button  type="button" class="btn btn-info check-footer"  (click)="apply('Section')">Apply</button>
                                  </div>
                               </div>
                            </div>
                         </div>
               </section>
           </div>
        </div>
       </div>
