<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Physical Dip</span>
<div *ngIf="privileges" class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left">
                  Show Entries
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                  <select class="select-control" (change)="onSelectChange($event)">
                  <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                  </select>
               </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
               <button class="btn  m-btm10 pull-right purchase-btn">
               <img src="../assets/img/mexcel.svg" data-toggle="modal"
                  data-target="#Export" style="width:41px;">
               </button>
               <button *ngIf="privileges.isAdd" class="btn add-manager m-btm10 pull-right margin-top-10" (click)="addNew()" id="add_new">
               <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
               </button>
               <div class="search-block date-margin">
                  <!-- <input *ngIf="config.filtering" placeholder="Search"
                  [ngTableFiltering]="config.filtering"
                  class="form-control search-border"
                  (tableChanged)="onChangeTable(config)"/>
                  <div class="search-btn">
                     <button class="btn btn-default ser" type="submit">
                     <i class="fas fa-search"></i>
                     </button>
                  </div> -->
                  <!-- from date -->
                  <div class="col-xs-12 col-sm-12 col-md-6">
                     <div>
                        <label for="name">From Date</label>
                     </div>
                     <div >
                        <my-date-picker [options]="searchFromDatePickerOptions" (dateChanged)="onSearchDateChanged($event, 'fromDate')"
                           [(ngModel)]="initialSearchFromDate" name="initialSearchFromDate">
                        </my-date-picker>
                     </div>
                  </div>
                  <!-- to date -->
                  <div class="col-xs-12 col-sm-12 col-md-6">
                     <div>
                        <label for="name">To Date</label>
                     </div>
                     <div>
                        <my-date-picker [options]="searchToDatePickerOptions" (dateChanged)="onSearchDateChanged($event, 'toDate')"
                            [(ngModel)]="initialSearchToDate" name="initialSearchToDate">
                        </my-date-picker>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== '' && column.sort!= false"
                              tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                              (click)="sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.name=='Site' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewSiteModal"></i>
                              <i *ngIf="config && column.name=='Date' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewDateModal"></i>
                              <i *ngIf="config && column.name=='POL' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewPOLModal"></i>
                              <i *ngIf="config && column.name=='TankId' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewTankIdModal"></i>
                              <i *ngIf="config && column.name=='TankName' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewTankNameModal"></i>
                              <i *ngIf="config && column.name=='Status' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewStatusModal"></i>
                              <i *ngIf="config && column.name=='Approver' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewApproverModal"></i>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <!--<tr> -->
                        <tr *ngFor = "let list of physicalDipList">
                           <td>{{list.physicalDipId}}</td>
                           <td>{{list.site.name}}</td>
                           <td>{{list.transactionDate | date : 'dd/MM/yyyy'}}</td>
                           <td>{{list.pol.name}}</td>
                           <td>{{list.storageTankId}}</td>
                           <td>{{list.storageTank.tankName}}</td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td>{{list.closingDip}}</td>
                           <td>{{list.density}}</td>
                           <td>{{list.temprature}}</td>
                           <td>{{list.volumeAt15Degree}}</td>
                           <td>{{list.lossGain}}</td>
                           <td>{{list.ullage}}</td>
                           <td>{{list.approvedStatus}}</td>
                           <td>{{list.users1.firstName}}</td>

                           <td>
                              <ul class="list-inline">
                                 <li class="list-inline-item" *ngIf="privileges.isView">
                                    <a (click)="viewPhysicalDip(list.physicalDipId)" data-toggle="modal" tooltip="View"
                                    data-target="#ViewPhysicalDip"><i class="ion-ios-eye"></i></a>
                                 </li>
                                 <li *ngIf="list.isAttachmentAvailable && privileges.isView" class="list-inline-item">
                                    <a  (click)="attachment(item.id)" placement="top" data-toggle="modal" tooltip="View Attachment"
                                       data-target="#ViewAttachmentModal">
                                    <i class=" fa fa-paperclip"></i>
                                    </a>
                                 </li>
                                 <!-- <li class="list-inline-item"><a (click)="editPhysicalDip(list.physicalDipId, list.storageTankId)" placement="top" tooltip="Edit"><i class="ion-edit"></i></a></li> -->
                                 <li *ngIf="privileges.isDelete" class="list-inline-item"><a (click)="deletePhysicalDip(list.id)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del"><i class="ion-trash-a"></i></a></li>
                                 <!-- <li *ngIf ="list.pol.id =='4005'" class="list-inline-item"><a placement="top" tooltip="Lock"><i style="color: #494b4e !important" class="ion-locked"></i></a></li>
                                 <li *ngIf ="list.pol.id =='4006'" class="list-inline-item"><a placement="top" tooltip="Unlock"><i style="color: #494b4e !important" class="ion-unlocked"></i></a></li> -->
                                 <li *ngIf="!privileges.isView && !privileges.isDelete">NA</li>
                              </ul>
                           </td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="20" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div>
            </div>
            <div id="ViewSiteModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Site</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedsiteAll" value ="" (change)="selectAll('Site', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let site of siteFiltersList">
                              <label class="container">{{site.name}}
                              <input type="checkbox" [(ngModel)]="site.selected" value ={{site.siteId}} (change)="checkIfAllSelected(list, $event, 'Site');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Site')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewDateModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Date</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedsiteAll" value ="" (change)="selectAll('', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of siteGroups">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.siteId}} (change)="checkIfAllSelected(list, $event,'');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewPOLModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by POL</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedPolAll" value ="" (change)="selectAll('POL', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of polFiltersList">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list, $event, 'POL');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('POL')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewTankIdModal" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Tank ID</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedTankIdAll" value ="" (change)="selectAll('TankId', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of storageTankFiltersList">
                              <label class="container">{{list.storageTankId}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.storageTankId}} (change)="checkIfAllSelected(list,$event,'TankId');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('TankId')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewTankNameModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Tank Name</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedTankNameAll" value ="" (change)="selectAll('TankName', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of storageTankFiltersList">
                              <label class="container">{{list.tankName}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.storageTankId}} (change)="checkIfAllSelected(list,$event,'TankName');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('TankName')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewStatusModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedStatusAll" value ="" (change)="selectAll('Status', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of statusFiltersList">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list, $event,'Status');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Status')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewApproverModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Approver</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedApproverAll" value ="" (change)="selectAll('Approver', $event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of approvedUserFiltersList">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list, $event, 'Approver');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Approver')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <div id="ViewPhysicalDip" class="modal  models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-width">
                       <div class="modal-content modal-margin">
                          <div class="modal-header">
                             <h4 class="modal-title">View Details</h4>
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <hr>
                          </div>
                          <div class="modal-body">
                             <div class="bu-container">
                                <form [formGroup]="viewPdForm">
                                   <div class="form-group row">
                                      <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                                      <div class="col-sm-3">
                                         <input type="text" readonly class="form-control bu-control" id="site"  formControlName = "site" >
                                      </div>
                                      <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                                      <div class="col-sm-3">
                                         <input type="text" readonly class="form-control bu-control" id="pol"  formControlName = "pol" >
                                      </div>
                                   </div>
                                   <div class="form-group row">
                                      <label for="date" class="col-sm-3 col-form-label" style="font-size:14px">Date</label>
                                      <div class="col-sm-3">
                                         <input type="text" readonly class="form-control bu-control" id="date"  formControlName = "date" >
                                      </div>
                                   </div>
                                   <div class="form-group row">
                                        <table class="table table-bordered cust-table table-hover table-form table-responsive" style="width: 97%" >
                                                <thead>
                                                   <tr>
                                                      <th>Tank ID</th>
                                                      <th>Tank Name</th>
                                                      <th>Closing DIP (cm)</th>
                                                      <th>Temperature °C</th>
                                                      <th>Density (kg/m<sup>3</sup>)</th>
                                                      <th>Volume (ltr)</th>
                                                      <th>Volume at 15°C (ltr)</th>
                                                      <th>ATG reading (ltrs)</th>
                                                      <th>Book Stock</th>
                                                      <th>Loss/Gain</th>
                                                      <th>Ullage</th>
                                                    </tr>
                                                </thead>
                                                <tbody  *ngFor = "let tank of tankDetails; let i = index">
                                                    <tr>
                                                            <td>{{i+1}}</td>
                                                            <td>{{tank.storageTank}}</td>
                                                            <td>{{tank.closingDip}}</td>
                                                            <td>{{tank.temprature}}</td>
                                                            <td>{{tank.density}}</td>
                                                            <td>{{tank.volume}}</td>
                                                            <td>{{tank.volumeAt15Degree}}</td>
                                                            <td>{{tank.atgReading}}</td>
                                                            <td>{{tank.bookStock}}</td>
                                                            <td>{{tank.lossGain}}</td>
                                                            <td>{{tank.ullage}}</td>
                                                            <!-- <td>

                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName = "temperature" (change)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                                                    (keypress)='onKeyPress($event, i, "temperature")' class="form-control bu-control" name="temperature"
                                                                    [ngClass]="{'red-border-class': isTemperatureRequired[i]}" >
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName = "density" (change)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                                                (keypress)='onKeyPress($event, i, "density")' class="form-control bu-control" name="density"
                                                                [ngClass]="{'red-border-class': isDensityRequired[i]}" >
                                                            </td>
                                                            <td>
                                                                <input type="text" formControlName = "volume" (change)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                                                (keypress)='onKeyPress($event, i, "volume")' class="form-control bu-control" name="volume"
                                                                [ngClass]="{'red-border-class': isVolumeRequired[i]}" >
                                                            </td>
                                                            <td><input type="text" formControlName = "volumeAt15Degree" readonly class="form-control bu-control" name="volume"></td>
                                                            <td><input type="text" formControlName = "atgReading" class="form-control bu-control" name="atgReading"
                                                                (keypress)='onKeyPress($event)'></td>
                                                            <td>
                                                                <input type="text" formControlName = "bookStock" (keyup)="calculateUllageAndLossGain( pdForm.controls['pdTable'].controls[i], i )"
                                                                (keypress)='onKeyPress($event, i, "bookStock")' class="form-control bu-control" name="bookStock"
                                                                [ngClass]="{'red-border-class': isBookStockRequired[i]}" >
                                                            </td>
                                                            <td><input type="text" formControlName = "lossGain" readonly class="form-control bu-control" name="lossGain"></td>
                                                            <td><input type="text" formControlName = "ullage" readonly class="form-control bu-control" name="ullage"></td> -->
                                                    </tr>
                                                </tbody>
                                        </table>
                                   </div>
                                   <div class="form-group row" formGroupName = 'pipelineAndDrum'>

                                    <div class="row bunit">
                                        <label for="quantity" class="col-sm-2 col-form-label" style="font-size:14px">Pipeline Quantity (ltr)</label>
                                        <div class="col-sm-3">
                                           <input type="text" readonly class="form-control  bu-control" id="quantity"  formControlName = "quantity" >
                                        </div>

                                        <label for="drumStockVolume" class="col-sm-3 col-form-label" style="font-size:14px">Drum Stock(volume) ltr</label>
                                        <div class="col-sm-3">
                                           <input type="text" readonly class="form-control bu-control " id="drumStockVolume"  formControlName = "drumStockVolume" >
                                        </div>
                                    </div>

                                    <div class="row bunit">
                                        <label for="drumStockQuantity" class="col-sm-3 col-form-label" style="font-size:14px">Drum Stock(quantity) number</label>
                                        <div class="col-sm-3">
                                           <input type="text" readonly class="form-control  bu-control" id="drumStockQuantity"  formControlName = "drumStockQuantity" >
                                        </div>
                                    </div>

                                     </div>

                                     <div class="form-group row">
                                        <label for="remarks" class="col-sm-3 col-form-label" style="font-size:14px">Remarks</label>
                                        <div class="col-sm-3">
                                            <input type="text" readonly class="form-control bu-control" id="remarks"  formControlName = "remarks" >
                                        </div>
                                     </div>

                                </form>
                             </div>
                          </div>
                          <div class="modal-footer">
                             <button  type="button" class="btn btn-info check-footer"  data-dismiss="modal"  style="padding: 8px 37px;font-size:13px">Close</button>
                          </div>
                       </div>
                    </div>
                 </div>
            <div class="modal  in" id="del" role="dialog"  tabindex='-1'>
               <div class="modal-dialog mstyle modal-country">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Delete Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body">
                        <p *ngIf="deleteMsg">{{deleteMsg}}</p>
                        <p *ngIf="deleteMsg == ''">Are you sure you want to delete this Physical Dip ?</p>
                     </div>
                     <div class="modal-footer">
                        <button *ngIf="deleteMsg == ''" type="button"  (click)="deleteMessageClear()" data-dismiss="modal" class="btn btn check-no modalButton">No</button>
                        <button *ngIf="deleteMsg == ''" type="button" class="btn btn check-footer" (click)="deleteConfirm()">Yes</button>
                        <button *ngIf="deleteMsg != ''" type="button" class="btn btn-primary" (click)="cancelModal()" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Export modal -->
            <div id="Export" class="modal models" role="dialog" tabindex='-1'>
                  <div class="modal-dialog modal-country ">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title">Export </h4>
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <hr>
                        </div>
                        <div class="modal-body">
                           <div class="container filter-down">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                 <label class="filter-down">
                                 From Date</label>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                 <my-date-picker
                                 [options]="myDatePickerOptions"
                                 (dateChanged)="onDateChanged($event, 'FromDate')"  [(ngModel)] = "initialFromDate" name="initialFromDate">
                                 </my-date-picker>
                              </div>
                           </div>
                           <div class="container filter-down">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                 <label class="filter-down">
                                 To Date
                                 </label>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                 <my-date-picker
                                 [options]="myDatePickerOptions"
                                 (dateChanged)="onDateChanged($event, 'ToDate')"   [(ngModel)] = "initialToDate" name="initialToDate">
                                 </my-date-picker>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <p *ngIf="exportmessage">{{exportmessage}}</p>
                           <!-- <button  type="button" class="btn btn-info check-footer"  (click)="export()">Export</button> -->
                           <!-- <a class="btn btn-info check-footer"  href= {{API_URL_Export}}>Export</a> -->
                           <!-- <a  href= {{API_URL_Export>  Export</a> -->
                           <a href= {{API_URL_Export}}>
                           <button class="btn check-footer" (click)="export()">Export</button>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- export modal -->
         </section>
      </div>
   </div>
</div>