<form [formGroup] = "pdForm" (ngSubmit)="onSubmit(pdForm)" class="form-horizontal" method="post">
    <div class="row bunit">
        <div *ngIf="page == 'add'" class="col-xs-8 col-sm-8 col-md-4">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">
                <label for="name">Site<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
                <select class="form-control" (change) = "getPolListFromSite($event)" formControlName = "site" id = "site" >
                    <option value="" disabled>Select</option>
                    <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                </select>
                <small *ngIf="isSiteRequired"
                    class="error">Site is Required
                </small>
            </div>
        </div>
        <div *ngIf="page == 'edit'" class="col-xs-8 col-sm-8 col-md-4">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">
                    <label for="name">Site</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
                    <input type="text" readonly class="form-control" id="site"  formControlName="site" >
                </div>
        </div>
        <div *ngIf="page == 'add'" class="col-xs-8 col-sm-8 col-md-4">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">
                <label for="name">POL<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
                <select class="form-control" (change) = "getTankListFromSite($event.target.value)" formControlName = "pol">
                    <option value="">Select</option>
                    <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option>
                </select>
                <small *ngIf="isPoleRequired"
                    class="error">POL is Required</small>
            </div>
        </div>
        <div *ngIf="page == 'edit'" class="col-xs-8 col-sm-8 col-md-4">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">
                    <label for="name">POL</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
                    <input type="text" readonly class="form-control" id="pol"  formControlName="pol" >
                </div>
            </div>
        <div class="col-xs-8 col-sm-8 col-md-4">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">
                <label for="name">Date<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDate"
                    [(ngModel)] = "date" name="date" formControlName="date" [disabled] = "readOnly" >
                </my-date-picker>
                <small *ngIf="isDateRequired" class="error">
                    <!-- Date is Required -->
                </small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row bunit" *ngIf = "showTankTable">
            <div class="text-center">
                <small *ngIf="temperatureLimit != ''" class="error">{{temperatureLimit}}</small><br>
                <small *ngIf="densityLimit != ''" class="error">{{densityLimit}}</small>
                <small *ngIf="isTankRequired" class="error">
                    Storage Tank Details are required.
                </small>
            </div>
            <table class="table table-bordered cust-table table-hover table-form table-responsive"  formArrayName = 'pdTable'>
                    <thead>
                       <tr>
                          <th>Tank ID</th>
                          <th>Tank Name</th>
                          <th>Closing DIP (cm) <small class="text-danger">*</small></th>
                          <th>Temperature °C <small class="text-danger">*</small></th>
                          <th>Density (kg/m<sup>3</sup>) <small class="text-danger">*</small></th>
                          <th>Volume (ltr) <small class="text-danger">*</small></th>
                          <th>Volume at 15°C (ltr)</th>
                          <th>ATG reading (ltrs)</th>
                          <th>Book Stock <small class="text-danger">*</small></th>
                          <th>Loss/Gain</th>
                          <th>Ullage</th>
                          <!-- <th>Attachments</th> -->
                        </tr>
                    </thead>
                    <tbody  *ngFor = "let tank of storageTankList; let i = index">
                        <tr [formGroupName]="i" style="background:#ffff !important;">
                                <td>{{tank.storageTankId}}</td>
                                <td>{{!!tank.storageTank ? tank.storageTank : tankList[i].tankName}}</td>
                                <td>
                                    <input type="text" formControlName = "closingDip" class="form-control bu-control" [ngClass]="{'red-border-class': isClosingDipRequired[i]}"
                                        (keypress)='onKeyPress($event, i, "closingDIP")' (keyup)='onDipKeyUp(i, $event)' maxlength="8" name="closingDIP">
                                </td>
                                <td>
                                    <input type="text" formControlName = "temprature" (change)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                        (keypress)='onKeyPress($event, i, "temperature")'  class="form-control bu-control" (keyup)="onKeyUp($event.target.value, 'temperature')" name="temperature" 
                                        [ngClass]="{'red-border-class': isTemperatureRequired[i]}" maxlength="8" >
                                </td>
                                <td>
                                    <input type="text" formControlName = "density" (change)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                    (keypress)='onKeyPress($event, i, "density")' class="form-control bu-control" (keyup)="onKeyUp($event.target.value, 'density')" name="density"
                                    [ngClass]="{'red-border-class': isDensityRequired[i]}" maxlength="8" >
                                </td>
                                <td *ngIf = '!isVolReadOnly[i]'>
                                    <input type="text" formControlName = "volume" (keyup)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i ); calculateUllageAndLossGain( pdForm.controls['pdTable'].controls[i], i )"
                                    (keypress)='onKeyPress($event, i, "volume")' class="form-control bu-control" name="volume"
                                    [ngClass]="{'red-border-class': isVolumeRequired[i]}" maxlength="8" >
                                </td>
                                <td *ngIf = 'isVolReadOnly[i]'>
                                    <input type="text" readonly formControlName = "volume" (keyup)="calculateVolAt15Degree( pdForm.controls['pdTable'].controls[i], i )"
                                    (keypress)='onKeyPress($event, i, "volume")' class="form-control bu-control" name="volume"
                                    [ngClass]="{'red-border-class': isVolumeRequired[i]}" maxlength="8" >
                                </td>
                                <td><input type="text" formControlName = "volumeAt15Degree" readonly class="form-control" name="volume"></td>
                                <td><input type="text" formControlName = "atgReading" class="form-control bu-control" name="atgReading"
                                    (keypress)='onKeyPress($event)' maxlength="8"></td>
                                <td>
                                    <input type="text" formControlName = "bookStock"
                                    (keypress)='onKeyPress($event, i, "bookStock")' class="form-control" name="bookStock" readonly
                                    [ngClass]="{'red-border-class': isBookStockRequired[i]}" maxlength="8" style="width: 100px">
                                </td>
                                <td><input type="text" formControlName = "lossGain" readonly class="form-control" name="lossGain" style="width: 100px"></td>
                                <td><input type="text" formControlName = "ullage" readonly class="form-control" name="ullage" style="width: 100px"></td>
                                <!-- <td><input name="file"  type="file" (change)="onChange($event)" multiple/></td> -->
                        </tr>
                    </tbody>
            </table>
    </div>

    <div class="row bunit" formGroupName = 'pipelineAndDrum'>
            <div class="col-xs-12 col-sm-21 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <label for="name">Pipeline Quantity (ltr)</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                        <input type="text" class="form-control bu-control" id="" formControlName = "quantity" name = "quantity"
                        (keypress)='onKeyPress($event)' maxlength="10" >
                    </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">Drum Stock(volume) ltr</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                        <input type="text" class="form-control bu-control" id="" formControlName = "drumStockVolume" name = "drumStockVolume"
                        (keypress)='onKeyPress($event)' maxlength="10">
                    </div>
            </div>
    </div>

    <div class="row bunit" formGroupName = 'pipelineAndDrum'>

            <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <label for="name">Drum Stock(quantity) number</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <input type="text" class="form-control bu-control" id="" formControlName = "drumStockQuantity" name = "drumStockQuantity"
                            (keypress)='onKeyPress($event)' maxlength="10">
                    </div>
            </div>
    </div>

    <!-- <div class="row bunit">
        <div class="col-xs-12 col-sm-12 col-md-6"></div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <label for="name">Drum Stock(quantity) number</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <input type="text" class="form-control bu-control" id="" formControlName = "drumStockQuantity" name = "drumStockQuantity">
            </div>
        </div>

    </div> -->

    <div class="row bunit">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                    <label for="name">Remarks:<small class="text-danger"></small></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                    <textarea class="text-area ng-pristine ng-valid ng-touched"  cols="50"
                        id="Address" rows="4" ng-reflect-form="[object Object]" formControlName = "remarks">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row bunit">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="name">Submitted by:<small class="text-danger"></small></label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="name"><small class="text-danger"></small></label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="name">Status:<small class="text-danger"></small></label>
                </div>
            </div>
        </div>

        <br>

        <!-- <input name="file"  type="file" (change)="onChange($event)" multiple/> -->
       
    <div class="text-right">
        <button type="submit" class="btn btn check-footer m-top10">Save</button>
        <button class="btn  check-no m-top10" type="reset" value="Reset" (click)='cancelBtn()'>Cancel</button>
    </div>
</form>