body { padding-right: 0 !important }
/*font*/
.mtopdash
{
    margin-top: 20px;
}
.text-right
{
    left: -15px;
    position: relative;
}
.al-main
{
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Rubik', sans-serif !important;
}
.al-sidebar
{
    font-family: 'Rubik', sans-serif;
}
.slimScrollBar, .slimScrollRail {
    left: 214px !important;
    width: 6px !important;
}
.slimScrollBar
{
    background: rgb(171, 182, 197) none repeat scroll 0% 0% !important;
}
/*background color*/
main
{
    background: #edf0f5!important;

}
body a{
    color: #abb6c5 !important;
}
.al-main
{
    background: #edf0f5!important;
    padding: 42px 15px 34px 0 !important;
    /* z-index: -1 !important; */
}
.al-content
{
    background: #edf1f5 !important;
    padding-left: 23px !important;
    padding-right: 11px !important;
}
.al-sidebar
{
    background: #0b1c25!important;
    z-index: 2 !important;
    width: 222px !important;
}
@media(min-width:1200px)
{
    .al-content
    {
        padding-left: 38px !important;
    }
}
/*sidebar elements height*/

.al-sidebar a.al-sidebar-list-link {
    height: 52px !important;
    line-height: 54px !important;

}

/*sidebar down arrow*/
a.al-sidebar-list-link b
{
    top: 22px !important;
    color:  #64778c !important;
    line-height: 20px !important;
    right: 5px !important;
}
a.al-sidebar-list-link
{
    font-weight: 600 !important;
    font-size: 13px !important;
}

.left-menu {
    padding-left: 31px !important;
}

/*sidebar active*/
.al-sidebar-list-item.selected:not(.with-sub-menu) a.al-sidebar-list-link
{
    color: #eceeef!important;
    background: #323d4a!important;
    font-weight: 700;
    border-left: 4px solid #008148!important;
}
/*sidrbar drop down active*/
.al-sidebar-sublist > ba-menu-item > li.selected:not(.with-sub-menu) > a {

    font-weight: 700;
    border-left: 4px solid #008148!important;
    color: #ffffff!important;
    background: #ffffff1a!important;
}

/*sidebr height*/
.al-sidebar-list
{
    margin-top: 65px!important;
}

/*logo*/
a.al-logo
{
    color: #704343 !important;
    display: block !important;
    font-size: 54px !important;
    font-family: Roboto,sans-serif;
    white-space: nowrap !important;
    float: left !important;
    outline: none!important;
    line-height: 60px !important;
}
/*hamburger menu*/
a.collapse-menu-link
{
    font-size: 20px !important;
    color: #9f9f9f !important;
}
/*border-bottom sidebar*/
.al-sidebar-list-item
{
    /* border-bottom: 1px solid #ffffff00 !important; */
    border-bottom: 1px solid transparent !important;
}
/*Dashboard*/
.bg
{
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 290px;
}
.bg-chart
{
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 290px;
    margin-left: 14px;
}
.bg-left
{
    margin-left: 16px;
}
.inventory-fill
{
    height: 193px;
    overflow-y: auto;
}
.panel-bg
{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel-padding
{
    padding-left: 30px !important;
    /* padding-right:30px !important; */
}
.filter-float
{
    float: right;
    padding-right: 30px;
}
.panel-scroll
{
    height: 200px !important;
    overflow-y:auto;
    line-height: 3;
}
.m-topdash
{
    margin-top: 25px;
}
.dashline
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -17px;
}
.dash-list
{
    font-size: 14px;
    list-style: none;
}
.dashdate
{
    width: 34%;
}
.panel-dash-head
{
    font-size: 18px;
}
ul.dashline
{
    list-style-type: none;
}
.dash-margin
{
    margin-top: -18px;
    margin-left: 14px;
}
/*Sidebar icons*/
.Roles
{
    background-image: url('../../assets/img/roles-privileges.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.UserManagement
{
    background-image: url('../../assets/img/user-management.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.RefuellingHistory
{
    background-image: url('../../assets/img/fuel-issuance.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.Stock
{
    background-image: url('../../assets/img/stock-adjustment.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.Physical
{
    background-image: url('../../assets/img/physical-dip-icon.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.New
{
    background-image: url('../../assets/img/new-fuel-issuance.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
}
.Fuel
{
    background-image: url('../../assets/img/new-fuel-issuance.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 20px;
}
.Reports
{
    background-image: url('../../assets/img/reports.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 20px;
}
.System
{
    background-image: url('../../assets/img/system-preferences.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 20px;
}
.Dashboard
{
    background-image: url('../../assets/img/dashboard.png')!important;
    background-size: 20px;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 20px;
}
.ReceiptAndTransfer
{
    background-image: url('../../assets/img/receipt-transfer.png')!important;
    background-size: cover;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 16px;
}
.Master
{
    background-image: url('../../assets/img/master-icon.png')!important;
    background-size: cover;
    background-repeat:no-repeat;
    line-height: 20px;
    margin-top:17px;
    height: 16px;
}
/**Dashboard map**/
/* .gm-style-iw
{
    padding: 30px;
} */
.gm-style .gm-style-iw
{
    font-weight: normal;
    padding: 10px;
}

/*left dropdown*/
a.al-sidebar-list-link i {
    margin-right: 11px !important;
    width: 20px !important;
    display: inline-block !important;
    font-size: 17px !important;
}
.slimScrollDiv
{
    height: auto !important;
}

.al-sidebar-sublist > ba-menu-item > li a
{
    padding-left: 40px !important;
}

.breadcrumb
{
    background: #edf0f5 !important;
    color: 0b1c25 !important;
}
.breadcrumb > li
{
    color: #0b1c25 !important;
}
.breadcrumb li a
{
    color:  #878787  !important;
}
/*Panel*/
.table-head
{
    background-color: #29566b !important;
    border-radius:0px !important;
    padding: 1px 6px !important;
    height: 45px !important;
}
.page-dropdown {
    border: none;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 0px !important;
    width: 76px !important;
}

.select-control
{
    height: 34px;
    display: block;
    width: 70%;
    padding: 0px;
    font-size: 14px;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #e2e2e4;
    border-radius: 3px;
    /* border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem; */
}
select.form-control:not([size]):not([multiple]) {
    height: 40px !important;
}
.table-scroll
{
    border-radius:0px !important;
}
.table-margin
{
    top: -30px;
    position: relative;
}
.add-manager
{
    border-radius: 3px !important;
    padding: 10px !important;
    background:  #0b1c25 !important;
}
.menu-collapsed .al-sidebar
{
    width: 50px !important;
}
.manager-top
{
    border-bottom:transparent !important;
    height: 0px !important;
}
.margin-top-10 {
    margin-top: 1px !important;
}
.m-top10
{
    margin-top: 10px !important;
    color: #797979 !important;
}
.col-form-label
{
    padding-top: 12px !important;
}
.form-control
{
    border-radius: 3px !important;
    height: 40px !important;
    transition: border-color 0.5s ease  !important;
}
.form-control:focus
{
    border: 1px solid #0b1c25 !important;
}
.form-horizontal label
{
    font-size: 15px;
    color: #0b1c25;
}
.separate
{
    width: 97.0%;
    right: -20px;
    position: relative;
    border-top: 1px solid #e2e2e4;
}
.text-danger {
    color: #d9534f !important;
    font-size: 22px;
    top: 7px;
    position: relative;
}
.text-area
{
    color: #333;
    border: 1px solid #e2e2e4;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
    padding: 0.4rem 0.75rem !important;
    display: block;
    width: 100%;
    line-height: 1.25;
    background-image: none;
    background-clip: padding-box;
}
.pagination
{
    margin: 4px 0px !important;
    border: 1px solid #c8c8c8 !important;
    padding: 0px !important;
    margin: 28px -20px !important;
    border-radius: 3px !important;
}
.pagination > li > a, .pagination > li > span
{
    color: #ffffff !important;
    font-size: 12px !important;
}
.page-item.disabled .page-link, .page-item.disabled .page-link:focus
{
    border-color: #8c8c8c !important;
}
.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover
{
    border-color: #8c8c8c !important;
}


@media (max-width: 500px)
{
    .al-main
    {
        margin-left: 50px !important;
    }
    .list-mob
    {
        margin-top: 20px !important;
    }

}

.list-inline-item
{
    margin: 0px !important;
}
/*Button*/
button.btn.btn-primary {
    background: #0d1c23!important;
    border-color: #0d1c23!important;
    border-radius: 3px;
    color: #fff !important;
}
.ng-pristineng-pristine
{
    background: #0d1c23!important;
    border-color: #0d1c23!important;
    border-radius: 0px;
}

.main-back
{
    margin-top: 50px !important;
    padding: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px !important;
}

/*Master Page*/
.manager
{
    padding: 0px 0px 0px 33px !important;
    background: transparent !important;
    top: -50px !important;
    line-height: 28px !important;
    height: 0px!important;
    color: #313131 !important;
    margin-left: -18px !important;
}
.breadcrumb
{
    margin-top: 5px !important;
}
.roles-check-left
{
    left: -50px;
    position: relative;
}
.roles-left-section-two
{
    left: -50px;
    position: relative;
}
@media(max-width:410px)
{
    .head-responce
    {
        top: 0px !important;
    }

}
@media(max-width:800px)
{
    .m-top10
    {
        margin-top: 5px !important;
        color: #797979 !important;
    }
}
@media(max-width:1260px)
{
    .m-top10
    {
        margin-top: 4px !important;
        color: #797979 !important;
    }
}
@media(max-width:1200px)
{
    .m-top10
    {
        margin-top: 10px !important;
        color: #797979 !important;
    }
}
@media(max-width:790px)
{
    .m-top10
    {
        margin-top: 2px !important;
        color: #797979 !important;
    }
}
@media(max-width:990px)
{
    .roles-check-left
    {
        left: 0px;
        position: relative;
    }
    .roles-left-section-two
    {
        left: 0px;
        position: relative;
    }
    .bg
    {
        min-height: 475px;
    }
}
@media(max-width:554px)
{
    .search-block
    {
        left: 2px !important;

    }

}

@media (min-width: 320px) and (max-width: 763px)
{
    .manager
    {
        top: 12px !important;
        /* text-align: center !important; */
        left: 0px !important;
        /* margin-left: -46px !important; */
        /* text-align: center; */
    }
    .vehicle-align
    {
        left:24px !important;
        position: relative !important;
    }
    .search-block
    {
        top: -20px;
        position: relative;
        width: 200px !important;
    }
    .m-top10
    {
        margin-top: 8px !important;
        white-space: nowrap;
    }
    .add-manager
    {
        top: 73px;
        position: relative;
        left: -29px;
        z-index: 1px !important;
    }
    .form-conv
    {
        margin-top: 20px !important;
    }
    .form-padding
    {
        padding: 0px !important;
    }

}
@media(max-width: 620px)
{
    .pagination
    {
        margin: 28px -6px !important;
    }
    .search-block
    {

        margin-right: -14px;
    }
    .pagination > li > a, .pagination > li > span
    {
        font-size: 10px !important;
    }
}
@media(max-width: 760px)
{
    .search-block {
        top: 22px;
        position: relative;
        width: 200px !important;
    }
    .add-manager {
        left: 15px;
        top: 20px;
    }
    .purchase-btn
    {
       top: 6px !important;
    }
}

@media(max-width: 825px)
{
    .search-block
    {
        width: auto !important;
    }
}
@media(max-width: 766px)
{
    .search-block {
        top: 9px !important;
        position: relative;
        width: 134% !important;
        left: 31px;
    }
}
@media(max-width: 630px)
{
    .add-manager
    {
        top: 20px;
    }
    .search-block
    {
        margin-right: 0px !important;
    }
    .list-mob
    {
        padding: 10px !important;
    }
    .add-manager
    {
        font-size: 11px !important;
        padding: 8px 10px !important;
        z-index: 1;
        margin-top: 2px !important;
        left: 0px !important;
    }
    .search-block
    {
        top:0px !important;
        margin-top: 20px;
        /* width: 266px !important; */
        width: 134% !important;
        left: 0px;
    }
    .text-right {
        text-align: center !important;
        padding-right: 14px !important;
    }
    .modal-country
    {
        width: 100% !important;
    }
    /* .main-back
    {
        margin-top: 65px !important;
    } */
}
.manager:after
{
    border-color: transparent !important;
}
.submenu
{
    height: 55px !important;
    line-height: 41px;
    vertical-align: middle;
    /* text-align: center; */
    padding: 0px 0px 0px 20px !important;;
    color: #000000 !important;
    background-color: #f7f7f700 !important;
    position: relative !important;
    display: inline-block !important;;
    text-transform: uppercase !important;
    margin-left: -15px !important;;
    font-weight: bold !important;
    z-index: 1;
    top: -53px;
    left: 10px;
}
@media (min-width: 320px) and (max-width: 763px)
{
    .submenu
    {
        top: 0px !important;
        text-align: center !important;
        left: -4px !important;

    }
    .uommenu
    {
        top: 57px !important;
        left: 34px !important;
    }
    .ownermenu
    {
        top: 15px !important;
        left: 34px !important;
    }
    .drivermenu
    {
        top: 60px !important;
        left: 34px !important;
    }
}
.drivermenu
{
    height: 55px !important;
    line-height: 41px;
    vertical-align: middle;
    /* text-align: center; */
    padding: 0px 0px 0px 20px !important;;
    color: #000000 !important;
    background-color: #f7f7f700 !important;
    position: relative !important;
    display: inline-block !important;;
    text-transform: uppercase !important;
    margin-left: -8px !important;;
    font-weight: bold !important;
    z-index: 1;
    top: -53px;
    left: 10px;
}
.uommenu
{
    height: 55px !important;
    line-height: 41px;
    vertical-align: middle;
    /* text-align: center; */
    padding: 0px 0px 0px 20px !important;;
    color: #000000 !important;
    background-color: #f7f7f700 !important;
    position: relative !important;
    display: inline-block !important;;
    text-transform: uppercase !important;
    margin-left: -8px !important;;
    font-weight: bold !important;
    z-index: 1;
    top: -53px;
    left: 10px;
}
.ownermenu
{
    height: 55px !important;
    line-height: 41px;
    vertical-align: middle;
    /* text-align: center; */
    padding: 0px 0px 0px 20px !important;;
    color: #000000 !important;
    background-color: #f7f7f700 !important;
    position: relative !important;
    display: inline-block !important;;
    text-transform: uppercase !important;
    margin-left: -8px !important;;
    font-weight: bold !important;
    z-index: 1;
    top: -53px;
    left: 10px;
}
.breadcrumb
{
    float: right !important;
}
.brow
{
    border: transparent !important;
}
/* .row-mt
{
    margin-top: -30px !important;
}
.mt-top
{
    margin-top: -30px;
} */
.row-top
{
    margin-top: -30px !important;
}
/*table*/
.table-form th
{
    color: #3f4c53 !important;
}
.table-bordered > tbody > tr > td {
    font-size: 13px;
    padding: 13px 25px 13px 6px !important;
}
.table-scroll .table-bordered th
{
    color: #3f4c53 !important;
    background-color: #fff!important;
    font-size:14px !important;
    padding-right: 60px !important;

}
.table-scroll
{
    padding-top: 14px !important;/**Error**/
    z-index: 0;
    position: relative;
}
.table > tbody > tr > td:first-child
{
    text-align: left !important;
}
tr
{
    text-align: justify;
}
.country-filter
{
   left: 24px;
   position: relative;
   top: 0px;
}
.role-filter
{
    left: 65px;
    position: absolute;
    top: 13px;
}
.status-filter
{
    left: 80px;
    position: absolute;
    top: 12px;
}
.uom-filter
{
    left: 85px;
    position: absolute;
    top: 19px;
}
.issue-filter
{
    left: 24px;
    position: relative;
    top: 0px;
}
@media (max-width: 320px)
{
    .issue-filter
    {
        left: 0px;
    }
}
.discharge-filter
{
    left: 225px;
    position: absolute;
    top: 19px;
}
.table tr:nth-child(odd)
{
    background-color: #f0f5fa !important;
    border-bottom: 1px solid rgba(11, 28, 37, 0.10) !important;
    color: #67757c !important;
}
.table tr:nth-child(even)
{
    background-color: #fff !important;
    border-bottom: 1px solid rgba(11, 28, 37, 0.10) !important;
    color: #67757c !important;
}
.table tr:nth-child(even):hover
{
    background-color: #fff !important;
}
.table-hover > tbody > tr:hover
{
    background-color: #f0f5fa !important;
}
.ion-edit
{
    color: #2c3d46!important;
}
.ion-trash-a
{
    color: #2c3d46!important;
}
.ion-ios-eye
{
    color: #2c3d46!important;
    font-size: 18px !important;
}
.text-left
{
    padding: 15px !important;
}
.table > thead th
{
    font-size: 13px !important;
    font-weight: bold !important;
}
.table > thead
{
    line-height: 23px !important;
    border-bottom: 2px solid rgba(11, 28, 37, 0.25) !important;

}
/**table icon**/
.fa.pull-right {
    margin-left: .3em !important;
    margin-top: 0.4em !important;
}
.ion-bin
{
    font-size: 20px !important;
}
.fa-down
{
    font-size: 20px !important;
    color: #2c3d46!important;
    padding-right: 5px !important;
}
.sort
{
    color: #3a3a3a!important;
    right: -11px;
    position: relative;
}
.margin-top-15
{
    margin-top: 12px !important;
}
/* .row
{
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 0px;
} */
.bunit
{
    margin-top: 20px !important;
}
/**input type**/
/* .bb
{
    padding: 10px !important;
    background: #0d1c23!important;
    border-color: #0d1c23!important;
    padding-top: 6px !important;
    display: table !important;
    color: #fff !important;
    top: 20px;
    left: 15px;
    position: relative;
} */

/* input[type="file"]
 {
    display: none;
} */

.ser
{
    left: -49px !important;
    padding: 10px !important;
    background: #008148 !important;
    border-radius: 0px !important;
    width: 50px !important;

}
.ser-right
{
    float: right !important;
    right: -131px;
    position: absolute;
}
.fa-search
{
    color: #fff !important;
}
.fill
{
    padding: 0px !important;
}
/***Attachment**/
.icon-span
{
    float: right;
    position: relative;
    top: 16px;
    left: -22px;
}
.btn
{
    border-radius:3px !important;
}
.point
{
    border-radius: 20px;

}
.point-icon
{
    background:transparent;
    border:none;
    outline: none;
}
.point-icon img
{
    width: 25px;
}
.point-icon:focus
{
    outline: none;
}
.point:focus
{
    outline: none;
}
.site-btn
{
    padding-top: 45px;
}
.sitechart-margin
{
    margin-left: 0px !important;
}
.report-margin
{
    margin-top: 20px;
}
.storage-btn
{
    padding-top: 45px;
    left: 18px;
}
.view-detail
{
    height: 200px;
}
.fa-paperclip
{
    margin-top: 5px !important;
    font-size: 18px !important;
    margin-left: 12% !important;
    color: #2c3d46 !important;
}
.list-inline-item:not(:last-child)
{
    margin-right: 5px !important;
    padding-right: 2px !important;
}

/* Customize the label (the container) */
.container  {
    display: block;
    position: relative;
    padding-left: 35px ! important ;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  /* .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  } */

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px !important;
    width: 20px !important;
    border:1px solid grey !important;
    border-radius: 4px;
  }
  .check-box
  {

        position: absolute;
        top: 9px;
        left: 14px;
        height: 21px !important;
        width: 20px !important;
        border: 1px solid grey !important;
        border-radius: 4px;

  }
  .add-cust
  {
    border: 1px solid #b9b9b9 !important;
    border-radius: 0px !important;
  }
  .add-align
  {
      top: 2px;
  }
  .check-contain
  {
      padding-left: 228px;

  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #fff;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #fff;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid grey;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /***chechk box footer**/
  .check-footer
  {
    background: #008148 !important;
    border-color: #008148 !important;
    color: #fff !important;
    transition: background-color 0.5s ease  !important;
    border-radius:15px !important;
    font-size: 15px !important;
    margin-right: 10px;
    box-shadow: 0 0 1px 0 #008148 inset, 0 0 1px 0 #008148;
  }
  .check-footer:hover
  {
    background: #FFFFFF !important;
    border-color: #0b1c25 !important;
    color: #0b1c25 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 1px 0 #0b1c25 inset, 0 0 1px 0 #0b1c25;
  }
  .table-footer
  {
      padding: 0px !important;
  }
  /**browse button**/
  input[type="file"]
  {
    left: 15px !important;
    position: relative !important;
  }
  input[type=checkbox]{
   visibility: hidden !important;
  }
  .owner-file
  {
    left: -15px !important;
    position: relative !important;
  }
  .label-font
  {
      /* font-size: 12px !important; */
      padding-right: 20px !important;
  }
  /**Modal**/
  .modal-footer
  {
      text-align: center!important;
      border-top: transparent !important;
  }
  .modal
  {
    z-index: 1000002;
  }
  .modal-country
  {
    width: 30% !important;
  }
  @media(max-width:768px)
  {
      .modal-country
      {
          width: 100% !important;
      }
  }
  .modal-bu
  {
      width:38%;
  }
  .modal-width
  {
      max-width: 1064px !important;
  }
  .bu-control
  {
      background: transparent !important;
  }
  .addr-control
  {
    background: transparent !important;
      height: 90px !important;
  }
  .dis-label
  {
      /* white-space: nowrap !important; */
      padding: 0px !important;
      /* padding-right: 5px !important; */
  }
  .dis-text
  {
    white-space: nowrap !important;
  }
  .modal-body p
  {
      text-align: center !important;
  }
  .modal-margin
  {
      margin-top: 0px !important;
  }
  .modal-header
  {
    background-color: #fff!important;
    border-bottom: transparent !important;
    margin-left: 17px !important;
    margin-right: 17px
  }
  .modal-title {
    margin: 2px;
    line-height: 1.5;
    padding: 0px;
    top: 10px;
    position: relative;
    /* color: grey !important; */
    color: #212121 !important;
}
.modal-body
{
    padding: 0px !important;
}
.view-attach-modal
{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: -20px;

}
.view-attach-padding
{
    margin-top:10px !important;
    padding-left: 32px !important;
}
.view-attach-margin
{
    margin-top: 18px !important;
    padding-left: 20px !important;
}
.check-no
{
    background: #FFFFFF !important;
    border-color: #008148 !important;
    color: #008148 !important;
    transition: background-color 0.5s ease  !important;
    border-radius:15px !important;
    font-size: 15px !important;
    box-shadow: 0 0 1px 0 #008148 inset, 0 0 1px 0 #008148;
}
.check-no:hover
{
    background: #FFFFFF !important;
    border-color: #0b1c25 !important;
    color: #0b1c25 !important;
    border-radius: 15px !important;
    box-shadow: 0 0 1px 0 #0b1c25 inset, 0 0 1px 0 #0b1c25;
}
.bu-container
{
    margin-top: -26px;
    margin-left: 32px!important;
    font-size: 14px;
}
.view-detail
{
    height: 200px !important;
    overflow-y: scroll;
}
.filter-down
{
    line-height:2!important;
}
.close-btn
{
    width: 15px !important;
}
.close
{
    opacity: 1.0 !important;
    position: relative !important;
    left: -6px !important;
    top: -17px !important;
}
/**label***/
.addr-label
{
    margin-top: 11px !important;
}

.addr-country
{
    margin-top: 11px !important;
}
.form-row
{
    margin-top: 20px !important;
}
.dis-form
{
    margin-top:20px !important;
}
.add-manager{
    padding: 10px 20px !important;
    z-index: 1;
}

.search-block{
    width: 300px;
    display: flex;
    float: right;
    margin-right: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

button.btn.btn-default
{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.search-btn
{
    width: 50px;
    float: right;
    left: -2px;
    position: relative;
}
.search-border
{
    border-top-left-radius: 3px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 0px !important;
}
/**font**/
body
{
    font-family: 'Rubik', sans-serif;
}
.list-inline
{
    /* margin-top: -14px !important; */
    right: 21px;
    position: relative;
}
.align-padding
{
    padding: 0px !important;
}
.login-top .login-check
{
    visibility: visible !important;
}
.loading-image {
    position: fixed;
    top: 300px;
     left: 800px;
    z-index: 100;
     width: 50px;
  }
  /* select.form-control:focus
  {
      border: 1px solid red;
  } */


  @media (min-width: 520px) and (max-width: 768px)
  {
    .multi
    {
        top: 5px;
        position: relative;
        left: 50%;
    }
  }
  .uom-select
  {
      top: -14px;
      position: relative;
  }
  .multi
  {
      top: 15px;
      position: relative;
  }

  @media (max-width: 972px)
  {
  .multi
    {
        top: 15px;
        position: relative;
        right: 42%;
    }
    .uom-select
    {
        top: 0px;
        position: relative;
    }


  }
  .unit-label
  {
    left: 40px;
    position: relative;
  }
  @media (max-width: 972px)
  {
    .unit-label
    {
        left: 25px;
        position: relative;
        font-size: 11px;
    }
  }
  .equip-master
  {
    padding: 0px 0px 0px 33px !important;
    background: transparent !important;
    top: -50px !important;
    line-height: 28px !important;
    height: 0px!important;
    color: #313131 !important;
    font-weight: bold;
    text-transform: uppercase;
    left: -16px;
  }

  @media (max-width: 763px) and (min-width: 320px)
  {
    .equip-master
    {
        top: -1px !important;
        /* text-align: center !important; */
        left: 72px !important;
        margin-left: -46px !important;
    }
  }
  .equip-head
  {
    padding: 0px 0px 0px 33px !important;
    background: transparent !important;
    top: -50px !important;
    line-height: 28px !important;
    height: 0px!important;
    color: #313131 !important;
    font-weight: bold;
    text-transform: uppercase;
    left: -16px;
  }
  /*******Tablet*****/
  @media (max-width: 763px) and (min-width: 320px)
  {
    .equip-head
    {
        top: -15px !important;
        /* text-align: center !important; */
        left: 57px !important;
        margin-left: -46px !important;
    }

  }
 .add-manager
 {
    left:-2px;
 }

  .alert
  {
    top: -52px;
    position: relative;
  }
/*new-pass*/
.new-pass-sucess
{
    top: 20px !important;
    position: relative !important;
    margin-left: 15px;
    margin-right: 15px;
}
/*reset password*/
.reset-pass-success
{
    top: 0px !important;
    position: relative !important;
}
/*bunit*/
.add-bunit-success
{
    top: -6px !important;
    position: relative !important;
}
.add-bunit
{
    top: -13px !important;
    position: relative !important;
}
/*customer add*/
.add-cust-success
{
    top: -12px !important;
    position: relative !important;
}
.add-cust-edit
{
    top: -4px !important;
    position: relative !important;
}
/*add receiver*/
.add-recev-edit
{
    top: -12px !important;
    position: relative !important;
}
/*add driver*/
.add-driver-edit
{
    top: -5px !important;
    position: relative !important;
}
.add-driver-add
{
    top: -13px !important;
    position: relative !important;
}
/*issuer-add*/
.add-issue-success
{
    top: -12px !important;
    position: relative !important;
}
.add-issue-edit
{
    top: -12px !important;
    position: relative !important;
}
/*aircraft add**/
  .add-aircraft-sucess
  {
    top: -12px !important;
    position: relative !important;
  }
/*vehicle add*/
  .add-vehicle-sucess
  {
    top: -12px !important;
    position: relative !important;
  }
/*uomadd*/
.add-uom-sucess
{
  top: -10px !important;
  position: relative !important;
}
/*deptadd*/
.add-dept-sucess
{
  top: -12px !important;
  position: relative !important;
}
/*pol add*/
.pol-add-sucess
{
    top: -5px;
    position: relative;
}
.pol-add-edit
{
    top: -5px;
    position: relative;
}
/*subunit*/
.subunit-add
{
    top: -5px;
    position: relative;
}
.subunit-edit
{
    top: -5px;
    position: relative;
}
/*generator make & MODAL*/
.generate-edit
{
    top: -30px;
    position: relative;
}
.generate-add
{
    top: -20px;
    position: relative;
}
/*section*/
.section-add
{
    top: 0px;
    position: relative;
}
.section-edit
{
    top: 0px;
    position: relative;
}
/*owner*/
.ownership-add
{
    top: -30px;
    position: relative;
}
.ownership-edit
{
    top: -20px;
    position: relative;
}
/*truck*/
.truck-add
{
    top: -4px;
    position: relative;
}
.truck-edit
{
    top: -4px;
    position: relative;
}
/*vehicle make*/
.vehicle-add
{
    top: 0px;
    position: relative;
}
.vehicle-edit
{
    top: -30px;
    position: relative;
}
/*equipment*/
.equipment-add
{
    top: 0px;
    position: relative;
}
/*discharge*/
.discharge-add
{
    top: 0px;
    position: relative;
}
/*trasport*/
.transport-add
{
    top: 0px;
    position: relative;
}
.stock-success{
    top: -5px;
}

.transport-edit
{
    top: -20px;
    position: relative;
}
/*discharge*/
.discharge-edit
{
    top: -20px;
    position: relative;
}
/*equipment type*/
.file-size-error
{
    left: 15px !important;
    position: relative;
}
/*user mana*/
.usermanage-sucess
{
    margin-top: 30px;
}
.usermanage-create
{
    margin-top: 50px;
}
.batch-expiry
{
    left:65px;
    position:relative;
    text-align:center;
}
.error
{
    font-size: 80%;
}
.error-margin
{
    margin-top: 10px;
}
  .table > tbody > tr > td.data-error
  {
    text-align: center !important;
  }
/*dashboard logo*/
.dashboard-logo
{
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 200px;
    height: 200px;
    background: #fff;				 */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.dashboard-header
{
    position: fixed;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Aircraft alignment*/
.aircraf-top
{
    margin-top: 40px;
}
.aircraf-bottom
{
    margin-bottom: 70px;
}
/*button spacing*/
.btn-padng
{
    margin-right: 10px !important;
}
.truck-filter
{
    right: -25px;
    position: relative;
}
/***tabs****/
.nav.nav-tabs > li > a, .nav.tabs-vertical > li > a
{
    background: transparent !important;
    font-size: 15px !important;
    color: #0b1c25 !important;
}
.nav.nav-tabs > li > a, .nav.tabs-vertical > li > a
{
    color: #0b1c25 !important;
}
.nav.nav-tabs
{
    margin-top: 50px !important;
    margin-left: 20px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .tabs-vertical > li.active > a, .tabs-vertical > li.active > a:focus, .tabs-vertical > li.active > a:hover
{
    color: #0b1c25 !important;
}
/**purchase receipt**/
.purchase-padding
{
    margin-top: -23px;
    display: flex;
    justify-content: center;
}
.purchase-btn
{
    background: transparent;
    top: -13px;
    position: relative;
    background-color: white;
    padding: 4px 0px 10px 12px !important;
}
/* .section-container .bunit label:not:first-child
{
   display: none !important;
} */

/**fuel issuance**/
.section-container .bunit label.list-view
{
   display: none;
}
.section-container:nth-child(1) .bunit label.list-view
{
   display: block!important;
   font-weight: bold;
   /* border-bottom: 1px solid #ccdee3; */
}
.section-container:nth-child(1) .bunit .list-margin
{
    margin-top:45px;
}

.section-container .bunit .list-margin
{
    margin-top:7px;
}

@media (max-width: 972px)
{
    .section-container .bunit label.list-view
    {
       display: block;
    }
    .section-container .bunit label.stock-view
    {
       display: block;
    }

}

.section-container .bunit label.stock-view
{
   display: none;
}
.section-container:nth-child(1) .bunit label.stock-view
{
   display: block !important;
}

/***purchase receipt***/
.list-margin{
    text-align: center;
}
.section-container .purchase-padding label.list-view
{
   display: none;
}
.section-container:nth-child(1) .purchase-padding label.list-view
{
   display: block !important;

}
.section-container:nth-child(1) .purchase-padding .list-margin
{
   margin-top: 40px !important;
}

.no-padding
{
    padding: 0px;
}
.add-scroll
{
    overflow: scroll;
    overflow-x: hidden;
    max-height:500px;
    border:1px solid #ccdee3;
    padding-bottom: 35px;
}
.m-btm10
{
    margin-bottom: 20px !important;
}

.transfer-margin
{
    margin-top: 10px;
}
.report-excel-ico
{
    width:30px;
    position: absolute;
}
.map-align
{
    margin-left: -6px !important;
    background: white;
}
@media(max-width:760px)
{
    .header-align
    {
        top: 3px !important;
        position: relative;
        left:29px !important;

    }
    .search-margin
    {
       margin-top: -15px;
    }
    .search-summary
    {
        margin-top: 65px;
    }
    .shift-mtop
    {
        margin-top: 15px;
    }
    .chart-mtop
    {
        margin-top: 15px;
    }
}
@media(max-width:825px)
{
    .table-margin
    {
        top: 0px;
        position: relative;
    }

}

.mystyle
{
  margin-left: 200px !important;
}
.signout
{
    cursor: pointer;
}



.loader {
    border-radius: 50%;
    border-top: 5px solid #008148;
    border-bottom: 5px solid #008148;
    border-right:5px solid #008148;
    border-left:5px solid white;
    width: 84px;
    height: 84px;
    animation: spin 1s linear infinite;
    margin-left: 600px;
    z-index: 10;
    position: absolute;
 }
 
 .stop{
   position: absolute;
   top: -218px;
   left: 50px;
   right:0;
   bottom:0;
   font-size:11px;
   z-index: 10;
   margin:255px auto;
   margin-left: -38px;
 }

 .hide-select-arrow{
   -webkit-appearance: none;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 .map-table
 {
    position: relative;
    top: -12px;
}
.print-btn
{
    background: transparent;
    top: -13px;
    position: relative;
    border: none;
    padding: 4px 0px 10px 12px !important;
    /* float: right; */
    right: 15px;
}
.print-btn img
{
    width:60px;
}
.date-margin
{
    width: 325px;
    margin-top: -20px;
}
.pass-eye
{
    position: absolute;
    right: 26px;
    top: 13px;
}
.break-col 
{
    word-break: break-all !important;
}