<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Add Transfer Request</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">

	            <div class="panel-body">
					<div *ngIf="success" id="success" class="alert alert-success add-recev-edit">{{success}}</div>
					<div class= 'spinner' *ngIf = "showLoader">
						<sk-fading-circle></sk-fading-circle>
					</div>
	                <transferrequest-form  [error]="error" [page]="page" (saved)="onSave($event)">

                    </transferrequest-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>