<!-- <button class="point-icon text-right" (click)="onclose($event)" type="" style="float:right;">
    <img src="../assets/img/close.svg"></button> -->

<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Site View</span>
<div class="clearfix"></div>

    <div class="col-md-6 mtopdash" *ngFor='let site of siteDetails; let i = index'>

                    <div class="bg">
                        <h4>{{site.site.name}}</h4>
                        <hr>


                                    <div class="col-md-8 inventory-fill">

                                            <form class="form-horizontal" action="">


                                                <div class="form-group">
                                                        <label class="control-label col-sm-6">Maximum Capacity :</label>
                                                        <div class="col-sm-6">
                                                              <label>{{site.maxCapacity}}</label>
                                                        </div>
                                                </div>


                                                <div class="form-group">
                                                        <label class="control-label col-sm-6">Current POL level in % :</label>
                                                        <div class="col-sm-6">
                                                                  <label>%</label>
                                                        </div>
                                                </div>

                                                <div class="form-group">
                                                        <label class="control-label col-sm-6">Volume :</label>
                                                        <div class="col-sm-6">
                                                                  <label>{{site.volume}}</label>
                                                        </div>
                                                </div>

                                                <div class="form-group" *ngIf='site.tempInfo'>
                                                        <label class="control-label col-sm-6">Volume in 15C :</label>
                                                        <div class="col-sm-6">
                                                                  <label>{{site.tempInfo.volumeAt15}}</label>
                                                        </div>
                                                </div>

                                                <div class="form-group">
                                                        <label class="control-label col-sm-6">Ullage :</label>
                                                        <div class="col-sm-6">
                                                                  <label>{{site.ullage}}</label>
                                                        </div>
                                                </div>

                                                <div class="form-group" *ngIf='site.tempInfo'>
                                                        <label class="control-label col-sm-6">Temperature :</label>
                                                        <div class="col-sm-6">
                                                                  <label>{{site.tempInfo.temperature}}</label>
                                                        </div>
                                                </div>

                                                <div class="form-group" *ngIf='site.tempInfo'>
                                                        <label class="control-label col-sm-6">Density :</label>
                                                        <div class="col-sm-6">
                                                                  <label>{{site.tempInfo.density}} kg/m³</label>
                                                        </div>
                                                </div>

                                            </form>

                                    </div>
                        </div>

            </div>
