<form [ngSwitch]="loading" [formGroup]="subunitForm" (ngSubmit)="onSubmit(subunitForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6 form-padding">

                                <div class="col-xs-12 col-sm-12 col-md-4">

                                    <label for="name">Sub Unit Name <small class="text-danger">*</small></label>
                            </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">

                    <input type="text"   id="subUnitName" class="form-control" [formControl]="subunitForm.controls['subUnitName']" maxlength="25" />


                    <small *ngIf="subunitForm.controls['subUnitName'].hasError('required') && (subunitForm.controls['subUnitName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                </div>
            </div>

          </div>

          <div class="clearfix"></div>
          <div><br /><br /></div>


                <div class="owner-file">

                  <input name="file"  type="file" (change)="onChange($event)" [formControl]="subunitForm.controls['FileType']" multiple/>
                  <br>
                  <ng-container *ngIf="ErrorList.length==1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                  </ng-container>

                  <ng-container *ngIf="ErrorList.length>1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                  </ng-container>

                </div>




                         <div class="clearfix"></div>
                            <div class="text-right" *ngIf='savebutton == true'>
                                <button type="submit" class="btn check-footer m-top10">Save</button>
                                <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                             </div>
                         </div>
                    </form>