<div class="col-md-6 mtopdash" *ngFor='let tank of tankDetails; let i = index'>

                        <div class="bg" *ngIf='tank'>
                            <h4>{{tank.tank.tankName}}</h4>
                            <hr>
                                        <div class="col-md-12 col-lg-4">

                                                <div class="bowl">
                                                    <div class="inner">
                                                    <div *ngIf="tank.poLlevelPercentage<50 && tank.poLlevelPercentage>0" class="fill" [style.transform]="'translate(0%, '+ (48 - ((tank.poLlevelPercentage)*(tank.poLlevelPercentage)/50)) +'% )'">

                                                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                                        <path class="waveShape"
                                                         d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                                    c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                                    c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                                                        </svg>

                                                    </div>
                                                    <div *ngIf="tank.poLlevelPercentage==0" class="fill" [style.transform]="'translate(0%, 50% )'">

                                                            <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                                            <path class="waveShape"
                                                             d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                                        c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                                        c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                                                            </svg>

                                                        </div>
                                                        <div *ngIf="tank.poLlevelPercentage==50" class="fill" [style.transform]="'translate(0%, 25% )'">

                                                                    <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                                                    <path class="waveShape"
                                                                     d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                                                c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                                                c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                                                                    </svg>

                                                                </div>
                                                            <div *ngIf="tank.poLlevelPercentage>50 && tank.poLlevelPercentage<100" class="fill" [style.transform]="'translate(0%, '+ (((tank.poLlevelPercentage)*(tank.poLlevelPercentage)/50)-99) +'% )'">

                                                                            <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                                                            <path class="waveShape"
                                                                             d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                                                        c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                                                        c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                                                                            </svg>

                                                                        </div>
                                                                        <div *ngIf="tank.poLlevelPercentage==100" class="fill" [style.transform]="'translate(0%, -2% )'">

                                                                                    <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                                                                    <path class="waveShape"
                                                                                     d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                                                                c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                                                                c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                                                                                    </svg>

                                                                                </div>
                                                    </div>
                                                </div>

                                        </div>

                                        <div class="col-md-12 col-lg-8 inventory-fill">

                                                <form class="form-horizontal" action="">

                                                    <div class="form-group">
                                                      <label class="control-label col-sm-6">Tank ID :</label>
                                                      <div class="col-sm-6">
                                                            <label>{{tank.tankId}}</label>
                                                      </div>
                                                    </div>

                                                    <div class="form-group">
                                                      <label class="control-label col-sm-6">Tank :</label>
                                                      <div class="col-sm-6">
                                                            <label>{{i+1}}/{{tankDetails.length}}</label>
                                                      </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-sm-6">POL :</label>
                                                        <div class="col-sm-6">
                                                              <label>{{tank.tank.pol.name}}</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                            <label class="control-label col-sm-6">Maximum Capacity :</label>
                                                            <div class="col-sm-6">
                                                                  <label>{{tank.tank.capacity}}</label>
                                                            </div>
                                                    </div>


                                                    <div class="form-group">
                                                            <label class="control-label col-sm-6">Current POL level in % :</label>
                                                            <div class="col-sm-6">
                                                                      <label>{{tank.poLlevelPercentage | number : '1.2-2'}}%</label>
                                                            </div>
                                                    </div>

                                                    <div class="form-group">
                                                            <label class="control-label col-sm-6">Volume :</label>
                                                            <div class="col-sm-6">
                                                                      <label>{{tank.volume}}</label>
                                                            </div>
                                                    </div>
                                                    <div *ngIf='tank.tempInfo'>



                                                                    <div class="form-group">
                                                                                    <label class="control-label col-sm-6">Volume in 15°C :</label>
                                                                                    <div class="col-sm-6">
                                                                                              <label>{{tank.tempInfo.volumeAt15}}</label>
                                                                                    </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                    <label class="control-label col-sm-6">Ullage :</label>
                                                                                    <div class="col-sm-6">
                                                                                              <label>{{tank.ullage}}</label>
                                                                                    </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                    <label class="control-label col-sm-6">Temperature :</label>
                                                                                    <div class="col-sm-6">
                                                                                              <label>{{tank.tempInfo.temperature}}</label>
                                                                                    </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                    <label class="control-label col-sm-6">Density :</label>
                                                                                    <div class="col-sm-6">
                                                                                              <label>{{tank.tempInfo.density}} kg/m³</label>
                                                                                    </div>
                                                                            </div>
                                                    </div>


                                                </form>

                                        </div>
                            </div>

                </div>
                <div id="head2"></div>