
<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit Site</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	          
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-recev-edit">{{success}}</div>
	                <site-form [site]="site | async" [error]="error" [page]="page" (saved)="onSave($event)">

                    </site-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>