<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Edit UOM</span>
<div class="container-fluid main-back">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div *ngIf="success" id="success" class="alert alert-success add-uom-sucess">{{success}}</div>
                        <uom-form [uom]="uom | async" [error]="error" [page]="page" (saved)="onSave($event)">

                        </uom-form>
                    </div>
                </section>
            </div>
        </div>
    </div>