<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Add New</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <div class="panel-body">
					<div *ngIf="success" id="success" class="alert alert-success usermanage-create">{{success}}</div>
					<div class= 'spinner' *ngIf = "showLoader">
						<sk-fading-circle></sk-fading-circle>
					</div>
	                <usermanagement-form [error]="error" [page]="page" (saved)="onSave($event)">

					</usermanagement-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>