<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">UOM</span>
<div *ngIf="privileges" class="container-fluid main-back">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 list-mob">
           <div class="manager-top m-btm20">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">

                     <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left dis-label">
                            Show Entries
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                            <select class="select-control" (change)="onSelectChange($event)">
                                    <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                            </select>
                        </div>
                </div>


                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">

                        <button *ngIf="privileges.isAdd" class="btn add-manager m-btm10 pull-right margin-top-10" (click)="adduom()" id="add_user"><i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span></button>

                    <div class="search-block">
                        <input *ngIf="config.filtering" placeholder="Search"
                        [ngTableFiltering]="config.filtering"
                        class="form-control search-border"
                        (tableChanged)="onChangeTable(config)"/>
                        <div class="search-btn">
                                <button class="btn btn-default ser" type="submit">
                                        <i class="fas fa-search"></i>
                                </button>
                        </div>

                    </div>


                </div>


           </div>
           <section class="panel">



               <div class="panel-body">

                   <div class="table-scroll">


                       <table class="table table-bordered cust-table table-hover table-form">
                        <thead>
                            <tr>
                                    <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                                            {{column.title}}

                                            <i *ngIf="config && column.sort !== ''   && column.sort!= false" class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                                            tooltip="Sort"   (click)="Sort(column.name,column.sort)"></i>

                                            <i *ngIf="config && column.filter == true" class="uom-filter fa fa-filter"
                                            [ngTableFiltering]="config.filtering"
                                            data-toggle="modal"
                                            data-target="#ViewClassModal" tooltip="Filter"
                                            (click)="filter()"></i>

                                          </th>

                            </tr>
                        </thead>

                           <tbody>
                                <div *ngIf="loading">
                                        <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                      </div>
                               <tr *ngFor="let item of uom" >
                                   <td>{{item.id}}</td>
                                   <td>{{item.name}}

                                   </td>
                                   <td>{{item.abbrevation}}</td>
                                   <td>{{item.classUnit.name}}</td>

                                   <td class="text-center actions">
                                       <ul class="list-inline">
                                        <li class="list-inline-item">
                                        <i *ngIf = "item.isAttachmentAvailable == true && privileges.isView" class="fa fa-paperclip"

                                            data-toggle="modal"
                                            data-target="#ViewAttachmentModal" tooltip="View Attachment"
                                            (click)="attachment(item.id)"></i>
                                        </li>

                                        <li *ngIf="privileges.isView" class="list-inline-item"> <a (click)="view(item)"  data-toggle="modal"
                                                data-target="#View" tooltip="View"><i class="ion-ios-eye"></i></a>
                                        </li>

                                        <li *ngIf="privileges.isEdit" class="list-inline-item"><a (click)="edituom(item.id)" placement="top" tooltip="Edit"><i class="ion-edit"></i></a>
                                        </li>
                                        <li *ngIf="privileges.isDelete" class="list-inline-item"><a (click)="deleteuom(item.id)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del" (click)="deletemessageclear()">
                                            <i class="ion-trash-a"></i></a>
                                        </li>
                                        <li *ngIf="!privileges.isView && !privileges.isEdit && !privileges.isDelete">NA</li>
                                       </ul>
                                   </td>
                               </tr>
                               <tr *ngIf="length==0">
                                   <td colspan="10" class="data-error">No data available in the table</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>




                <div class="col-md-12 text-right">
                    <pagination *ngIf="config.paging && length > 0"
                               class="pagination-sm"
                               [(ngModel)]="page"
                               [totalItems]="length"
                               [itemsPerPage]="itemsPerPage"
                               [maxSize]="maxSize"
                               [boundaryLinks]="true"
                               [rotate]="false"
                               (pageChanged)="onChangeTable(config, $event)"
                               (numPages)="numPages = $event">
                   </pagination>
                </div>


                <div class="modal" id="del" role="dialog"  tabindex='-1'>
                       <div class="modal-dialog mstyle modal-country">
                         <div class="modal-content">
                           <div class="modal-header">

                                <h4 class="modal-title">Delete Item</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                 <hr>

                           </div>
                           <div class="modal-body">
                             <p *ngIf="deletemessage">{{deletemessage}}</p>
                             <p *ngIf="deletemessage==''">Are you sure you want to delete this UOM?</p>
                           </div>
                           <div class="modal-footer">


                             <button *ngIf="deletemessage==''" type="button" class="btn btn check-no" (click)="deletemessageclear()" data-dismiss="modal">No</button>
                             <button *ngIf="deletemessage==''" type="button" class="btn btn check-footer" (click)="deleteuomconfirm(uom_deleted_id)">Yes</button>
                             <button *ngIf="deletemessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>

                            </div>
                         </div>

                       </div>
                   </div>
                <!--    </div> -->

               </div>


  <!-- view class modal -->
  <div id="ViewClassModal" class="modal models" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-country">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Filter by Class</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <hr>
            </div>

            <div class="modal-body view-detail">

                <div class="container filter-down">

                        <label class="container filter-down">Select All
                            <input type="checkbox" [(ngModel)]="selectedAll" value ="" (change)="selectAll($event);"/>   <span class="checkmark add-cust"></span>
                        </label>

                        <div class="checkbox filter-down" *ngFor="let list of classGroups">

                            <label class="container">{{list.name}}
                            <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event);">


                            <span class="checkmark add-cust"></span></label>

                        </div>

                </div>

            </div>

            <div class="modal-footer">
                    <button  type="button" class="btn btn-info check-footer"  (click)="apply()">Apply</button>

            </div>
        </div>
    </div>
</div>
<!-- view class modal -->

 <!-- view attachment modal -->
<div id="ViewAttachmentModal" class="modal  models" role="dialog" tabindex='-1'>
        <div class="modal-dialog ">
            <div class="modal-content">
                    <div class="modal-header">
                            <h4 class="modal-title">View Attachment</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <hr>
                        </div>

                        <div class="modal-body view-attach-modal">
                           <br>
                                    <div *ngIf="attachmentmessage == ''" class="row mod">

                                        <div  *ngFor="let list of attachmentGroup" class="col-sm-12 col-md-12 view-attach-padding">

                                                <div class="col-sm-1 col-md-1">

                                                    <span *ngIf=" list.ext === 'png' || list.ext === 'jpeg' || list.ext === 'jpg' ">
                                                            <img src="assets/img/mimage.png">
                                                        </span>
                                                        <span *ngIf=" list.ext === 'doc' || list.ext === 'txt' || list.ext === 'docx' " >
                                                            <img src="assets/img/mword.png">
                                                        </span>
                                                        <span *ngIf=" list.ext === 'pdf' ">
                                                            <img src="assets/img/mpdf.png">
                                                        </span>
                                                        <span *ngIf=" list.ext === 'xlsx' || list.ext === 'xls' ">
                                                                <img src="assets/img/mexcel.png">
                                                            </span>

                                                            <span *ngIf=" list.ext === 'csv' ">
                                                                <img src="assets/img/mcsv.png">
                                                            </span>


                                            </div>

                                            <div class="col-sm-5 col-md-5 view-attach-margin">
                                                 <!-- tooltip={{list.fileName}} -->
                                                 <label class="label-font">{{list.fileName}}</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3" class="icon-span">

                                                <label class="label-font">Added on {{list.createdDate | date: 'dd-MMM-yyyy'}}</label>


                                                <a href= {{API_URL+list.id}}>  <i class="fa fa-download fa-down" tooltip="Download"></i></a>

                                                <i class="ion-trash-a ion-bin" (click)="deleteattachment(list.id)" (click)="deleteattachmentmessageclear()"
                                                 tooltip="Delete" data-toggle="modal" data-target="#delattachment"  ></i>


                                            </div>

                                        </div>
                                    </div>
                                    <div *ngIf="attachmentmessage != ''" style="text-align: center">
                                            {{attachmentmessage}}
                                    </div>

                            </div>

                <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  data-dismiss="modal" style="padding: 8px 37px;font-size:13px">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- view attachment modal -->


    <div class="modal" id="delattachment" role="dialog"  tabindex='-1'>
            <div class="modal-dialog mstyle modal-country">

              <div class="modal-content">
                    <div class="modal-header">

                            <h4 class="modal-title">Delete Item</h4>

                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                             <hr>

                       </div>

                <div class="modal-body">
                  <p *ngIf="deleteattachmentmessage">{{deleteattachmentmessage}}</p>
                  <p *ngIf="deleteattachmentmessage==''">Are you sure you want to delete this file?</p>
                </div>

                <div class="modal-footer">
                  <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-no" (click)="deleteattachmentmessageclear()" data-dismiss="modal">No</button>
                  <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-footer" (click)="deleteattachmentconfirm(attachment_deleted_id)">Yes</button>
                  <button *ngIf="deleteattachmentmessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>

                 </div>
              </div>

            </div>
        </div>




         <!-- view uom -->
         <div id="View" class="modal  models" role="dialog" tabindex='-1'>
                <div class="modal-dialog ">
                    <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">View Details</h4>

                                     <button type="button" class="close" data-dismiss="modal">&times;</button>

                                     <hr>
                            </div>
                            <div class="modal-body">
                                    <br>
                                <div class="bu-container">

                                        <form [formGroup]="viewUomForm">



                                                    <div class="form-group row">
                                                            <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">UOM Name</label>
                                                            <div class="col-sm-8">
                                                                    <input type="text" id="bUom" [formControl]="viewUomForm.controls['bUom']" readonly class="form-control bu-control"
                                                                    name="bUom" [(ngModel)]="bUom">
                                                            </div>
                                                    </div>

                                                    <div class="form-group row">
                                                            <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Abbreviation</label>
                                                            <div class="col-md-8">
                                                                    <input type="label" id="bAbbreviation" [formControl]="viewUomForm.controls['bAbbreviation']" readonly class="form-control bu-control"
                                                                    name="bAbbreviation" [(ngModel)]="bAbbreviation">
                                                            </div>
                                                    </div>

                                                    <div class="form-group row">
                                                            <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Class </label>
                                                            <div class="col-md-8">
                                                                    <input type="label" id="bClass" [formControl]="viewUomForm.controls['bClass']" readonly class="form-control bu-control"
                                                                    name="bClass" [(ngModel)]="bClass">
                                                            </div>
                                                    </div>

                                                    <div class="form-group row">
                                                            <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Conversion</label>

                                                            <div class="col-md-2">
                                                                    <input type="label" id="bConversionValue" [formControl]="viewUomForm.controls['bConversionValue']" readonly  class="form-control bu-control"
                                                                    name="bConversionValue" [(ngModel)]="bConversionValue">
                                                                    

                                                            </div>
                                                            <div class="col-md-4">
                                                                    <input type="label" id="bConversionUnit" [formControl]="viewUomForm.controls['bConversionUnit']" readonly class="form-control bu-control"
                                                                    name="bConversionUnit" [(ngModel)]="bConversionUnit">
                                                                </div>
                                                    </div>

                                        </form>

                                </div>
                            </div>
                            <div class="modal-footer">
                                    <button  type="button" class="btn btn check-footer" data-dismiss="modal">Close</button>

                            </div>
                    </div>
                </div>
            </div>
<!-- view uom modal -->


<!-- <div id="View" class="modal fade models" role="dialog" tabindex='-1'>
        <div class="modal-dialog ">
            <div class="modal-content">
                    <div class="modal-header">
                        <u>
                            <h4 class="modal-title">View Details</h4>
                        </u>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="col-md-12 space">
                                <form [formGroup]="viewUomForm">

                                    <div class="col-md-12 space">


                                            Uom Name
                                        <input type="label" id="bUom" [formControl]="viewUomForm.controls['bUom']" class="form-control"
                                            name="bUom" [(ngModel)]="bUom">
                                            Abbreviation
                                            <input type="label" id="bAbbreviation" [formControl]="viewUomForm.controls['bAbbreviation']" class="form-control"
                                                name="bAbbreviation" [(ngModel)]="bAbbreviation">
                                                Class
                                                <input type="label" id="bClass" [formControl]="viewUomForm.controls['bClass']" class="form-control"
                                                name="bClass" [(ngModel)]="bClass">
                                                Conversion
                                                <input type="label" id="bConversionValue" [formControl]="viewUomForm.controls['bConversionValue']" class="form-control"
                                                name="bConversionValue" [(ngModel)]="bConversionValue">
                                                <input type="label" id="bConversionUnit" [formControl]="viewUomForm.controls['bConversionUnit']" class="form-control"
                                                name="bConversionUnit" [(ngModel)]="bConversionUnit">






                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <button  type="button" class="btn btn-danger " style="background-color:red" (click)="viewclose()">Close</button>

                    </div>
            </div>
        </div>
    </div> -->

           </section>
       </div>
    </div>
   </div>
