<form [ngSwitch]="loading" [formGroup]="stockadjustmentForm" (ngSubmit)="onSubmit(stockadjustmentForm.value)" class="form-horizontal"
    method="post">


    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Type of Adjustment<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <select class="form-control" (change)="getAdjustmentType($event.target.value)" [formControl]="stockadjustmentForm.controls['AdjustmentTypeId']">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of adjustmenttypedropdownlist" [value]="item.id">{{item.name}}</option>
                </select>
                <small *ngIf="stockadjustmentForm.controls['AdjustmentTypeId'].hasError('required') && (stockadjustmentForm.controls['AdjustmentTypeId'].touched || formSubmited)"
                    class="error">{{adjustmentTypeReq}}</small>
            </div>

        </div>



        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Transaction Date<small class="text-danger">*</small></label>
            </div>

            <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <my-date-picker [options]="myDatePickerOptions" [formControl]="stockadjustmentForm.controls['TransactionDate']" (dateChanged)="onDateChanged($event)"
                    [(ngModel)]="TransactionDate" name="TransactionDate">
                </my-date-picker>
            </div>
            <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text" readonly class="form-control" [ngModel] = "transactionDateView" [ngModelOptions]="{standalone: true}">
            </div>


        </div>


    </div>



    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Site to Adjust<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <select class="form-control" (change)="getAdjustSite($event.target.value)" [formControl]="stockadjustmentForm.controls['AdjustSiteId']">
                    <option value="">Select</option>
                    <option *ngFor="let item of sitetoadjustdropdownlist" [value]="item.siteId">{{item.name}}</option>
                </select>
                <small *ngIf="stockadjustmentForm.controls['AdjustSiteId'].hasError('required') && (stockadjustmentForm.controls['AdjustSiteId'].touched || formSubmited)"
                    class="error">{{siteReq}}</small>


            </div>

        </div>



        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">POL<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <select class="form-control" (change)="getPol($event.target.value)" [formControl]="stockadjustmentForm.controls['PolId']">
                    <option value="">Select</option>
                    <option *ngFor="let item of poldropdownlist" [value]="item.id">{{item.name}}</option>
                </select>
                <small *ngIf="stockadjustmentForm.controls['PolId'].hasError('required') && (stockadjustmentForm.controls['PolId'].touched || formSubmited)"
                    class="error">{{polReq}}</small>

            </div>



        </div>


    </div>

    <!-- [ng-model]="stockTankName"   <option value="" disabled selected>-->

    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Tank<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <select class="form-control" (change)="onTankChange($event.target.value)" [formControl]="stockadjustmentForm.controls['TankId']">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of tankdropdownlist" [value]="item.storageTankId">{{item.tankName}}</option>
                </select>
                <small *ngIf="stockadjustmentForm.controls['TankId'].hasError('required') && (stockadjustmentForm.controls['TankId'].touched || formSubmited)"
                    class="error">{{tankReq}}</small>


            </div>

        </div>



        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Quantity Before Adjustment (ltr)<small class="text-danger"></small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="stockadjustmentForm.controls['QuantityBeforeAdjusted']"
                  >

            </div>



        </div>


    </div>



    <hr>

    <div class="text-center"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
    <div class="text-center"><span class="error" *ngIf="nullalertmessage == ''"></span></div>
    <div class="text-center"><span class="error" *ngIf="idalertmessage != ''">{{idalertmessage}}</span></div>
    <div class="text-center"><span class="error" *ngIf="idalertmessage == ''"></span></div>
    <div class="text-center"><span class="error" *ngIf="quantityalert != ''">{{quantityalert}}</span></div>
    <div class="text-center"><span class="error" *ngIf="quantityalert == ''"></span></div>
    <div class="text-center"><span class="error" *ngIf="valuealert != ''">{{valuealert}}</span></div>
    <div class="text-center"><span class="error" *ngIf="valuealert == ''"></span></div>
    <div class="text-center"><span class="error" *ngIf="capacityError != ''">{{capacityError}}</span></div>
    <div formArrayName="StockAdjustmentBatchDetails" class="add-scroll">

                <div class="section-container" *ngFor="let section of getBatchDetails(stockadjustmentForm);let i = index">

                    <div class="ui raised segments" [formGroupName]="i">

                    <br>
                        <div class="row bunit">

                            <div class="col-xs-12 col-sm-12 col-md-4 offset-md-2">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label  class="list-view" for="lr">Batch<small class="text-danger">*</small></label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <select class="form-control" (change)="getBatchNoDetails($event.target.value, section, i)"
                                            formControlName="PurchaseReceiptId">
                                                <option value="" selected disabled>Select</option>
                                                <option *ngFor="let item of batchGroups" [value]="item.id">{{item.batchNumber}}</option>
                                        </select>

                                    </div>

                            </div>



                            <div class="col-xs-12 col-sm-12 col-md-4">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <label for="name" class="stock-view"><b>Adjustment Quantity</b><small class="text-danger">*</small></label>
                                </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                            <input type="text" maxlength=6  (keypress)="_keyPress($event)"
                                            class="form-control bu-control" re [readonly] = "disableControl"
                                            (keyup)="onAdjustmentChange($event.target.value,section, i)" formControlName="AdjustedQuantity"
                                                id="staticEmail">

                                </div>



                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 list-margin">

                            <button *ngIf = "!showAddBtn[i] && page != 'edit'" type="button" (click)="addSection(i)" class="point-icon" formnovalidate><img src="../assets/icon/add-icon.png"></button>
                            <button *ngIf="getBatchDetails(stockadjustmentForm).length > 1 && page != 'edit'" (click)="removeSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button>
                            <!-- <button type="button" *ngIf=" page == 'edit'" (click)="editSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/edit-icon.png"></button> -->

                        </div>

                        <div class="row bunit" style="margin-left:7px;">

                                                        <div class="col-xs-12 col-sm-12 col-md-6">

                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 offset-lg-4">
                                                                <label for="name">Quantity of Fuel<small class="text-danger"></small></label>
                                                            </div>

                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                                                <input type="text"  readonly class="form-control bu-control" [ngModel]="quantityoffuel[i]" [ngModelOptions]="{standalone: true}"
                                                                    id="staticEmail">


                                                            </div>

                                                        </div>



                                                        <div class="col-xs-12 col-sm-12 col-md-6">

                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                                <label for="name" style="margin-left: -10px;">Adjusted Quantity of Fuel<small class="text-danger"></small></label>
                                                            </div>

                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                                <input type="text" readonly class="form-control bu-control" formControlName="BatchQuantityAfterAdjustment"
                                                                    id="staticEmail" [ngModel]="quantityfuelafteradjustment">

                                                            </div>



                                                        </div>


                                                    </div>


                    </div>

                    </div>


                </div>




    </div>


    <!-- <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Quantity of Fuel<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                <input type="text"  readonly class="form-control" [ngModel]="quantityoffuel" [ngModelOptions]="{standalone: true}"
                    id="staticEmail">


            </div>

        </div>



        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <label for="name">Adjusted Quantity of Fuel<small class="text-danger">*</small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <input type="text" readonly class="form-control"
                    id="staticEmail" [ngModel]="quantityfuelafteradjustment" [ngModelOptions]="{standalone: true}">

            </div>



        </div>


    </div> -->




    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Tank<small class="text-danger"></small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                <input type="text" [formControl]="stockadjustmentForm.controls['TankName']" readonly class="form-control"
                 [ngModel]="tankname"
                    id="staticEmail">


            </div>

        </div>



        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <label for="name">Quantity After Adjustment<small class="text-danger"></small></label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <input type="text" readonly class="form-control" [formControl]="stockadjustmentForm.controls['QuantityAfterAdjusted']"
                    id="staticEmail" >

            </div>



        </div>


    </div>
    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">

                <label for="name">Remarks:<small class="text-danger"></small></label>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">

                <textarea class="text-area ng-pristine ng-valid ng-touched" [formControl]="stockadjustmentForm.controls['Remarks']" cols="50"
                    id="Address" rows="4" ng-reflect-form="[object Object]">
                                                                                    </textarea>

            </div>

        </div>

    </div>


    <div class="row bunit">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <label for="name">Submitted by:<small class="text-danger"></small></label>

            </div>


            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <label for="name"><small class="text-danger"></small></label>

            </div>



            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <label for="name">Status:<small class="text-danger"></small></label>

            </div>


            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <label for="name">Approved<small class="text-danger"></small></label>

            </div>




        </div>

    </div>


    <div class="row bunit" *ngIf="page != 'edit'">

        <div class="col-xs-12 col-sm-12 col-md-6">

            <div>
                <input name="file" type="file" (change)="onChange($event)" [formControl]="stockadjustmentForm.controls['FileType']" multiple/>
                <ng-container *ngIf="ErrorList.length==1">
                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                </ng-container>
                <ng-container *ngIf="ErrorList.length>1">
                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                </ng-container>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div *ngIf="page != 'edit'">
        <div class="text-right" *ngIf='savebutton == true'>
            <button type="submit" class="btn btn check-footer m-top10">Save</button>
            <button class="btn  check-no m-top10" type="button" value="Reset" (click)="clearmsgs()">Clear</button>
        </div>
    </div>

</form>