<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit Business Unit</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12 no-padding">
	        <section class="panel">
	           
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-bunit-success">{{success}}</div>
	                <businessunit-form [businessunit]="businessunit | async" [error]="error" [page]="page" (saved)="onSave($event)"></businessunit-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	