
<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">View Purchase Receipt</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">

	            <div class="panel-body">


						<!-- <div id="print-section">
								<div id="ViewPurchaseReceipt" class="modal fade models" role="dialog" tabindex='-1'>
										<div class="modal-dialog modal-width">

											<div class="modal-content modal-margin">

													<div class="modal-header">

															<h4 class="modal-title">Purchase Receipt</h4>


															<hr>
													</div>

													<div class="modal-body">

														<div class="bu-container">

																<form [formGroup]="viewPRForm">

																	<div class="form-group row">
																		<label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">GRN No</label>
																		<div class="col-sm-3">
																		  <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['GRNNo']" >
																		</div>

																		<label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Loading Date</label>
																		<div class="col-sm-3">
																		  <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['LoadingDate']" >
																		</div>
																	  </div>

																		<div class="form-group row">
																				<label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
																				<div class="col-sm-3">
																				  <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['Site']" >
																				</div>

																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Receiving Date</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['ReceivingDate']" >
																				</div>

																		</div>
																		<div *ngIf="IsLubricant==false">
																		   <div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Batch</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['Batch']" >
																				</div>

																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Temperature(°C)</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['Temperature']" >
																				</div>
																				</div>
																		</div>
																		<div *ngIf="IsLubricant==false">
																			<div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Batch Expiry Date</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['BatchExpiryDate']" >
																				</div>

																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Density</label>
																					<div class="col-sm-3">
																						<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['Density']" >
																					</div>
																				</div>
																			</div>

																			  <div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Loaded Quantity</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['LoadedQuantity']" >
																				</div>

																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Purchase Order</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['PurchaseOrder']" >
																				</div>
																			  </div>
																			  <div *ngIf="IsLubricant==false">
																			   <div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">POL/Product</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['POL']" >
																				</div>

																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Laboratory Sample No</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['LaboratorySampleNo']" >
																				</div>
																				</div>
																			  </div>

																			  <div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck No</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['TruckNo']" >
																				</div>
																				<div *ngIf="IsLubricant==false">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck Odometer Reading</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['TruckOdometerReading']" >
																				</div>
																				</div>
																			  </div>

																			  <div class="form-group row">
																				<label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Driver</label>
																				<div class="col-sm-3">
																					<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['Driver']" >
																				</div>
																			  </div>

																			  <div *ngIf="IsLubricant==false">
																			  <hr>

																			  <div class="form-group row">
																					<label for="inputPassword" class="col-sm-6 col-form-label" style="font-size:14px">Storage Tank</label>
																					<label for="inputPassword" class="col-sm-6 col-form-label" style="font-size:14px">Quantity</label>
																			  </div>
																			  <div *ngFor="let item of TankDetails" class="row-bunit">
																				<div class="form-group row">


																					<div class="col-sm-6">
																					   {{item.storageTank.tankName}}
																					</div>


																					<div class="col-sm-6">
																					  {{item.quantity}}
																					</div>
																				</div>
																			  </div>
																			  </div>

																			  <div *ngIf="IsLubricant==true">
																				<hr>

																				<div class="form-group row">
																					  <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Product</label>
																					  <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Pack Size</label>
																					  <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">No Of Packs</label>
																					  <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Volume</label>
																				</div>
																				<div *ngFor="let item of lubeDetails" class="row-bunit">
																				  <div class="form-group row">


																					  <div class="col-sm-3">
																						 {{item.pol.name}}
																					  </div>
																					  <div class="col-sm-3">
																						{{item.packSize}}
																					  </div>
																					  <div class="col-sm-3">
																						{{item.numberOfPackets}}
																					  </div>
																					  <div class="col-sm-3">
																						{{item.volume}}
																					  </div>
																				  </div>
																				</div>
																				</div>

																				<div class="form-group row">
																			  <label for="inputPassword" class="col-sm-6 col-form-label" style="font-size:14px">Site Incharge</label>

																			<div class="col-sm-6 ">
																				<label for="inputPassword" class="col-form-label" style="font-size:14px">Name</label>

																				<input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewPRForm.controls['SiteIncharge']" style="padding: 0px !important;">
																			</div>

																			  </div>
																			</form>

															</div>
													</div>


											</div>
										</div>
									</div>
							  </div>
							  <button formnovalidate (click)="print()">print</button> -->


	                <div *ngIf="success" id="success" class="alert alert-success add-recev-edit">{{success}}</div>
	                <purchasereceipt-form [pr]="pr | async" [error]="error" [page]="page" (saved)="onSave($event)">

                    </purchasereceipt-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>