
		<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-12 col-xl-2">Add New Department</span>

        <div class="container-fluid main-back">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <section class="panel">
                      
                        <div class="panel-body">
                            <div *ngIf="success" id="success" class="alert alert-success add-dept-sucess">{{success}}</div>
                            <div *ngIf="errorpass" id="errorpass" class="alert alert-danger">{{errorpass}}</div>
                            <department-form [error]="error" [page]="page" (saved)="onSave($event)">

                            </department-form>               
                        </div>
                    </section>
                </div>
            </div>
        </div>	