<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">stock adjustment</span>
<div *ngIf="privileges" class="container-fluid main-back">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 list-mob">
            <div class="manager-top m-btm20">

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10  text-left dis-label">
                        Show Entries
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                        <select class="select-control" (change)="onSelectChange($event)">
                                                    <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                                            </select>
                    </div>
                </div>


                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
                        <button class="btn  m-btm10 pull-right purchase-btn">
                                <img src="../assets/img/mexcel.svg" data-toggle="modal"
                                data-target="#Export" style="width:41px;">
                        </button>

                    <button *ngIf="privileges.isAdd" class="btn add-manager m-btm10 pull-right margin-top-10" (click)="add()" id="add_user">
                                            <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
                                    </button>

                    <div class="search-block">
                        <input *ngIf="config.filtering" placeholder="Search" [ngTableFiltering]="config.filtering" class="form-control search-border"
                            (tableChanged)="onChangeTable(config)" />
                        <div class="search-btn">
                            <button class="btn btn-default ser" type="submit">
                                                    <i class="fas fa-search"></i>
                                            </button>
                        </div>

                    </div>


                </div>
            </div>

            <section class="panel">


                <div class="panel-body">

                    <div class="table-scroll">


                        <table class="table table-bordered cust-table table-hover table-form">

                            <thead>
                                <tr>
                                    <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                                        {{column.title}}

                                        <i *ngIf="config && column.sort !== ''   && column.sort!= false" tooltip="Sort" class="sort fa fa-sort" [ngTableSorting]="config"
                                            [column]="column" (click)="Sort(column.name,column.sort)"></i>



                                        <i *ngIf="config && column.filter == true && column.name == 'AdjustmentType'" class="fa fa-filter country-filter" [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter" data-target="#ViewAdjustmentModal" ></i>

                                        <i *ngIf="config && column.filter == true && column.name == 'Site'" class="fa fa-filter country-filter" [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter" data-target="#ViewSiteModal" ></i>

                                        <i *ngIf="config && column.filter == true && column.name == 'Batch'" class="fa fa-filter country-filter" [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter" data-target="#ViewBatchModal" ></i>



                                        <i *ngIf="config && column.filter == true && column.name == 'Approver'" class="fa fa-filter country-filter" [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter" data-target="#ViewApproverModal"></i>
                                            <i *ngIf="config && column.filter == true && column.name == 'Status'" class="fa fa-filter country-filter" [ngTableFiltering]="config.filtering"
                                            data-toggle="modal" tooltip="Filter" data-target="#ViewStatusModal"></i>


                                    </th>


                                </tr>

                            </thead>

                            <tbody>
                                <div *ngIf="loading">
                                    <img class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                </div>
                                <tr *ngFor="let item of stockadjustmentlist">
                                    <td>{{item.id}}</td>
                                    <td>{{item.adjustmentType.name}}

                                    </td>
                                    <td>{{item.site.name}}</td>
                                    <td>{{item.storageTankId}}</td>
                                    <td>{{item.totalBatchQuantityBeforeAdjustment}}</td>
                                    <td>{{item.totalBatchQuantityAfterAdjustment}}</td>
                                    <td>{{item.totalBatchQuantityAfterAdjustment - item.totalBatchQuantityBeforeAdjustment}}</td>
                                    <td>{{item.date}}</td>

                                    <td>{{item.approvedStatus.name}}</td>
                                    <td>{{item.users1.firstName}}  {{item.users1.lastName}}</td>
                                    <td class="text-center actions">
                                        <ul class="list-inline">
                                            <li class="list-inline-item" *ngIf="item.isAttachmentAvailable == true && privileges.isView">
                                                <a (click)="attachment(item.id)" placement="top" data-toggle="modal" tooltip="View Attachment" data-target="#ViewAttachmentModal">
                                                    <i class=" fa fa-paperclip"></i>
                                                        </a>
                                            </li>
                                            <li *ngIf="privileges.isView" class="list-inline-item"> <a (click)="edit(item.id)" data-toggle="modal" placement="top" tooltip="View" data-target="#ViewStockAdjustment"><i class="ion-ios-eye"></i></a>
                                            </li>
                                            <li *ngIf="!privileges.isView">NA</li>
                                            <!-- <li class="list-inline-item">
                                                <a (click)="edit(item.id)" placement="top" tooltip="Edit">
                                                   <i class="ion-edit"></i></a>
                                            </li> -->

                                            <!-- <li class="list-inline-item">
                                                <a (click)="delete(item)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del" (click)="deletemessageclear()">
                                                   <i class="ion-trash-a"></i></a>
                                            </li> -->

                                        </ul>
                                    </td>
                                </tr>
                                <tr *ngIf="length==0">
                                    <td colspan="10" class="data-error">No data available in the table</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                    <div class="col-md-12 text-right">
                        <pagination *ngIf="config.paging && length > 0" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                            [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                            (numPages)="numPages = $event">
                        </pagination>
                    </div>



                    <div class="modal" id="del" role="dialog" tabindex='-1'>

                        <div class="modal-dialog mstyle modal-country">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h4 class="modal-title">Delete item</h4>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <hr>

                                </div>

                                <div class="modal-body">
                                    <p *ngIf="deletemessage">{{deletemessage}}</p>
                                    <p *ngIf="deletemessage==''">Are you sure you want to delete this Stock Adjustment?</p>
                                </div>

                                <div class="modal-footer">
                                    <button *ngIf="deletemessage==''" type="button" class="btn btn check-no" (click)="deletemessageclear()" data-dismiss="modal">No</button>
                                    <button *ngIf="deletemessage==''" type="button" class="btn btn check-footer" (click)="deleteconfirm(stockadjustment_deleted_id)">Yes</button>
                                    <button *ngIf="deletemessage!=''" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--    </div> -->

                </div>


                <!-- view stockadjustment modal -->
                <div id="ViewStockAdjustment" class="modal  models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-bu">

                        <div class="modal-content modal-margin">

                            <div class="modal-header">

                                <h4 class="modal-title">View Details</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>

                            <div class="modal-body">
                                <br>
                                <div class="bu-container">

                                    <form [formGroup]="viewStockAdjustmentForm">


                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['id']">
                                            </div>
                                        </div>



                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Type of Adjustment</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['adjustmenttype']">


                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Site</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['site']">
                                            </div>
                                        </div>

                                        <!-- <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Batch</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['batch']">
                                            </div>
                                        </div> -->

                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Date</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['date']">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Status</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['status']">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Approver</label>
                                            <div class="col-sm-8">
                                                <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewStockAdjustmentForm.controls['approver']">
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn btn-info check-footer" style="padding: 8px 37px;font-size:13px" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- view stockadjustment modal -->

                <!-- view typeofadjustment modal -->
                <div id="ViewAdjustmentModal" class="modal  models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title">Filter by Adjustment Type</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                <div class="container filter-down">

                                    <label class="container filter-down">Select All
                                                            <input type="checkbox" [(ngModel)]="selectedadjAll" value ="" (change)="selectAll('AdjustmentType');"/>
                                                              <span class="checkmark add-cust"></span>
                                                    </label>

                                    <div class="checkbox filter-down" *ngFor="let list of adjustmentGroups">

                                        <label class="container">{{list.name}}
                                                            <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}}
                                                            (change)="checkIfAllSelected(list,$event,'AdjustmentType');">
                                                        <span class="checkmark add-cust"></span>
                                                    </label>

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info check-footer" (click)="apply('AdjustmentType')">Apply</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- view typeofadjustment modal -->


                <!-- view batch modal -->
                <div id="ViewBatchModal" class="modal  models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title">Filter by Batch</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                <div class="container filter-down">

                                    <label class="container filter-down">Select All
                                                            <input type="checkbox" [(ngModel)]="selectedbatchAll" value ="" (change)="selectAll('Batch');"/>
                                                              <span class="checkmark add-cust"></span>
                                                    </label>

                                    <div class="checkbox filter-down" *ngFor="let list of batchGroups">

                                        <label class="container">{{list.name}}
                                                            <input type="checkbox" [(ngModel)]="list.selected" value ={{list.batchId}}
                                                            (change)="checkIfAllSelected(list,$event,'Batch');">
                                                        <span class="checkmark add-cust"></span>
                                                    </label>

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info check-footer" (click)="apply('Batch')">Apply</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- view batch modal -->

                 <!-- view site modal -->
                 <div id="ViewSiteModal" class="modal models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">Filter by Site</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                    <div class="container filter-down">

                                        <label class="container filter-down">
                                            Select All
                                                <input type="checkbox" [(ngModel)]="selectedsiteAll" value ="" (change)="selectAll('Site');"/>
                                                  <span class="checkmark add-cust"></span>
                                            </label>

                                        <div class="checkbox filter-down" *ngFor="let list of siteGroups">
                                                <label class="container">{{list.name}}
                                                <input type="checkbox" [(ngModel)]="list.selected" value ={{list.siteId}} (change)="checkIfAllSelected(list,$event,'Site');">


                                                    <span class="checkmark add-cust"></span>
                                                </label>
                                        </div>

                                                        </div>

                            </div>

                         <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="apply('Site')">Apply</button>

                         </div>
                        </div>
                    </div>
                </div>
                <!-- view site modal -->



                    <!-- view status modal -->
                    <div id="ViewStatusModal" class="modal models" role="dialog" tabindex='-1'>
                        <div class="modal-dialog modal-country ">
                            <div class="modal-content">
                                <div class="modal-header">

                                        <h4 class="modal-title">Filter by Approved Status</h4>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <hr>
                                </div>


                                <div class="modal-body view-detail">

                                        <div class="container filter-down">

                                                                    <label class="container filter-down">
                                                                    Select All
                                                                        <input type="checkbox" [(ngModel)]="selectedstatusAll" value ="" (change)="selectAll('Status');"/>   <span class="checkmark add-cust"></span>
                                                                    </label>

                                                                <div class="checkbox filter-down" *ngFor="let list of statusGroups">
                                                                        <label class="container">{{list.name}}
                                                                        <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Status');">


                                                                            <span class="checkmark add-cust"></span>
                                                                        </label>
                                                                </div>

                                                            </div>

                                </div>

                             <div class="modal-footer">
                                <button  type="button" class="btn btn-info check-footer"  (click)="apply('Status')">Apply</button>

                             </div>
                            </div>
                        </div>
                    </div>
                    <!-- view status modal -->

                    <!-- view Approver modal -->
                    <div id="ViewApproverModal" class="modal models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">Filter by Approver</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                    <div class="container filter-down">

                                                                <label class="container filter-down">
                                                                Select All
                                                                    <input type="checkbox" [(ngModel)]="selectedapproverAll" value ="" (change)="selectAll('Approver');"/>   <span class="checkmark add-cust"></span>
                                                                </label>

                                                            <div class="checkbox filter-down" *ngFor="let list of approverGroups">
                                                                    <label class="container">{{list.name}}
                                                                    <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Approver');">


                                                                        <span class="checkmark add-cust"></span>
                                                                    </label>
                                                            </div>

                                                        </div>

                            </div>

                            <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="apply('Approver')">Apply</button>

                            </div>
                        </div>
                    </div>
                    </div>
                <!-- view Approver modal -->

                <!-- view attachment modal -->
                <div id="ViewAttachmentModal" class="modal  models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">View Attachment</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <hr>
                            </div>

                            <div class="modal-body view-attach-modal">
                                <br>
                                <div *ngIf="attachmentmessage == ''" class="row mod">

                                    <div *ngFor="let list of attachmentGroup" class="col-sm-12 col-md-12 view-attach-padding">

                                        <div class="col-sm-1 col-md-1">

                                            <span *ngIf=" list.ext === 'png' || list.ext === 'jpeg' || list.ext === 'jpg' ">
                                                        <img src="assets/img/mimage.png">
                                                    </span>
                                            <span *ngIf=" list.ext === 'doc' || list.ext === 'txt' || list.ext === 'docx' ">
                                                        <img src="assets/img/mword.png">
                                                    </span>
                                            <span *ngIf=" list.ext === 'pdf' ">
                                                        <img src="assets/img/mpdf.png">
                                                    </span>
                                            <span *ngIf=" list.ext === 'xlsx' || list.ext === 'xls' ">
                                                            <img src="assets/img/mexcel.png">
                                                        </span>
                                                        <span *ngIf=" list.ext === 'csv' ">
                                                            <img src="assets/img/mcsv.png">
                                                        </span>

                                        </div>


                                        <div class="col-sm-5 col-md-5 view-attach-margin">
                                            <!-- tooltip={{list.fileName}} -->
                                            <label class="label-font">{{list.fileName}}</label>
                                        </div>

                                        <div class="col-sm-3 col-md-3" class="icon-span">

                                            <label class="label-font">Added on july 01 2018</label>

                                            <a href= {{API_URL+list.id}}>  <i class="fa fa-download fa-down" tooltip="Download"></i></a>

                                            <i class="ion-trash-a ion-bin" (click)="deleteattachment(list.id)" (click)="deleteattachmentmessageclear()" tooltip="Delete"
                                                data-toggle="modal" data-target="#delattachment"></i>



                                        </div>


                                    </div>

                                </div>

                                <div *ngIf="attachmentmessage != ''" style="text-align: center">
                                    {{attachmentmessage}}
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info check-footer" style="padding: 8px 37px;font-size:13px" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- view attachment modal -->
 <!-- Export modal -->
 <div id="Export" class="modal" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-country ">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Export </h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <hr>
                </div>


                <div class="modal-body">

                        <div class="container filter-down">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label class="filter-down">
                                From Date</label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <my-date-picker
                                    [options]="myDatePickerOptions"
                                     (dateChanged)="onDateChanged($event, 'FromDate')"   [(ngModel)] = "initialFromDate" name="initialFromDate" >
                                </my-date-picker>

                            </div>



                        </div>
                        <div class="container filter-down">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                        <label class="filter-down">
                                        To Date
                                        </label>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                    <my-date-picker
                                        [options]="myDatePickerOptions"
                                         (dateChanged)="onDateChanged($event, 'ToDate')"   [(ngModel)] = "initialToDate" name="initialToDate">
                                    </my-date-picker>

                                </div>



                        </div>

                </div>

             <div class="modal-footer">
                <p *ngIf="exportmessage">{{exportmessage}}</p>
                 <!-- <button  type="button" class="btn btn-info check-footer"  (click)="export()">Export</button> -->

                <!-- <a class="btn btn-info check-footer"  href= {{API_URL_Export}}>Export</a> -->
                <!-- <a  href= {{API_URL_Export>  Export</a> -->
                    <a href= {{API_URL_Export}}>
                        <button (click)="export()" class="btn check-footer">Export</button>
                    </a>
            </div>
            </div>
        </div>
    </div>
    <!-- export modal -->

                <div class="modal" id="delattachment" role="dialog" tabindex='-1'>
                    <div class="modal-dialog mstyle modal-country">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Delete item</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>

                            </div>
                            <div class="modal-body">
                                <p *ngIf="deleteattachmentmessage">{{deleteattachmentmessage}}</p>
                                <p *ngIf="deleteattachmentmessage==''">Are you sure you want to delete this file?</p>
                            </div>
                            <div class="modal-footer">
                                <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-no" (click)="deleteattachmentmessageclear()" data-dismiss="modal">No</button>
                                <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-footer" (click)="deleteattachmentconfirm(attachment_deleted_id)">Yes</button>
                                <button *ngIf="deleteattachmentmessage!=''" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>