<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">stock summary</span>
<div class="container-fluid main-back" *ngIf='true'>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 list-mob">
         <div class="manager-top m-btm20">
            <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10  text-left dis-label">
                  Show Entries
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                  <select class="select-control" (change)="onSelectChange($event)">
                  <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                  </select>
               </div>
            </div> -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
               <div class="search-block">
                  <input *ngIf="config.filtering" placeholder="Search"
                  [ngTableFiltering]="config.filtering"
                  class="form-control search-border"
                  (tableChanged)="onChangeTable(config)"/>
                  <div class="search-btn">
                     <button class="btn btn-default ser" type="submit">
                     <i class="fas fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== ''   && column.sort!= false"
                              tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                              (click)="Sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.filter == true" class="fa fa-filter country-filter"
                              [ngTableFiltering]="config.filtering"
                              (click)="filter()"></i>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <tr *ngFor = 'let stockSummary of stockSummaryList; let i = index'>
                           <td>{{i+1}}</td>
                           <td>{{stockSummary.siteName}}</td>
                           <td>{{stockSummary.polName}}</td>
                           <td>{{stockSummary.quantityAvailable}}</td>
                           <td>{{stockSummary.totalIssueInMonth}}</td>
                           <td>{{stockSummary.totalTankCapacity}}</td>
                           <td>{{stockSummary.ullage}}</td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="10" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div>
            </div>
        </section>
    </div>
</div>
</div>