<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Add New Vehicle</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success vehicle-add">{{success}}</div>
	                <div *ngIf="errorpass" id="errorpass" class="alert alert-danger vehicle-add">{{errorpass}}</div>
	                <vehicle-form [error]="error" [page]="page" (saved)="onSave($event)">

                    </vehicle-form>               
                </div>
	        </section>
	    </div>
	</div>
</div>	