<form [ngSwitch]="loading" [formGroup]="truckForm" (ngSubmit)="onSubmit(truckForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <label for="name">Registration Number <small class="text-danger">*</small></label>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                    <input type="text" id="regNo" class="form-control" [formControl]="truckForm.controls['regNo']" (keydown)="msgClear($event)" />

                    <small *ngIf="truckForm.controls['regNo'].hasError('required') && (truckForm.controls['regNo'].touched || formSubmited)" class="error">{{nameReq}}</small>
                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                </div>

            </div>



            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

                  <label for="country" class="dis-label">Transport Company Name <small class="text-danger">*</small></label>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                    <select class="form-control" id="companyId"
                    [formControl]="truckForm.controls['companyId']" >
                            <option value="">Select</option>
                        <option *ngFor="let cl of companyList" [value]="cl.id">{{cl.name}}</option>
                    </select>
                    <small *ngIf="truckForm.controls['companyId'].hasError('required') && (truckForm.controls['companyId'].touched || formSubmited)" class="error">{{companyReq}}</small>
                    <small *ngFor="let error of error.companyId" class="text-danger">{{error}}</small>

                </div>

            </div>

        </div>

        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="name">Address <small class="text-danger"></small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <textarea rows="4" cols="50" id="Address" class="text-area" [formControl]="truckForm.controls['Address']">
                    </textarea>
                </div>

           </div>

        </div>

        </div>

        <div class="clearfix"></div>
        <div><br /><br /></div>


               <div class="owner-file">
                   <input name="file" type="file" (change)="onChange($event)" [formControl]="truckForm.controls['FileType']" multiple/>
                   <br>

                   <ng-container *ngIf="ErrorList.length==1">
                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                </ng-container>

                <ng-container *ngIf="ErrorList.length>1">
                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                </ng-container>
                </div>



        <div class="clearfix"></div>
        <br>
        <div class="text-right" *ngIf='savebutton == true'>
            <button type="submit" class="btn check-footer">Save</button>
            <button type="reset" (click)="clearmsgs()" class="btn check-no" value="Reset">Clear</button>
         </div>
     </div>

</form>