<form [ngSwitch]="loading" [formGroup]="stForm" (ngSubmit)="onSubmit(stForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">Tank No <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="tankNo" class="form-control" maxlength="25"
                        [formControl]="stForm.controls['tankNo']" />

                        <small *ngIf="stForm.controls['tankNo'].hasError('required') && (stForm.controls['tankNo'].touched || formSubmited)" class="error">{{noReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">Tank Name <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="tankName" class="form-control" maxlength="25"
                         [formControl]="stForm.controls['tankName']" />

                        <small *ngIf="stForm.controls['tankName'].hasError('required') && (stForm.controls['tankName'].touched || formSubmited)"
                            class="error">{{nameReq}}</small>
                        <small *ngFor="let error of error.secondKey" class="error">{{error}}</small>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="site">Site <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <select class="form-control" id="siteId" [formControl]="stForm.controls['siteId']">
                                <option value="">Select</option>
                            <option *ngFor="let si of siteList" [value]="si.siteId">{{si.name}}</option>
                        </select>
                        <small *ngIf="stForm.controls['siteId'].hasError('required') && (stForm.controls['siteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                        <small *ngFor="let error of error.siteId" class="text-danger">{{error}}</small>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Tank Capacity <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" *ngIf="page==='add'">
                        <input type="text" id="tankCapacity" class="form-control" maxlength="10" (keypress)="_keyPress($event)" [formControl]="stForm.controls['tankCapacity']"
                        />
                        <small *ngIf="stForm.controls['tankCapacity'].hasError('required') && (stForm.controls['tankCapacity'].touched || formSubmited)"
                            class="error">{{capacityReq}}</small>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" *ngIf="page==='edit'">
                        <input type="text" id="tankCapacity" readonly class="form-control" [formControl]="stForm.controls['tankCapacity']"/>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Height / Length <small class="text-danger"></small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="heightLength" class="form-control" maxlength="10" (keyup)="onHeightLengthChange($event.target.value)"
                         [formControl]="stForm.controls['heightLength']" />
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="customer">POL <small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" *ngIf="page==='add'">
                        <select class="form-control" id="polId" [formControl]="stForm.controls['polId']">
                                    <option value="">Select</option>
                                <option *ngFor="let p of polList" [value]="p.id">{{p.name}}</option>
                        </select>
                        <small *ngIf="stForm.controls['polId'].hasError('required') && (stForm.controls['polId'].touched || formSubmited)" class="error">{{polReq}}</small>
                        <small *ngFor="let error of error.polId" class="text-danger">{{error}}</small>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" *ngIf="page==='edit'">
                        <select class="form-control" id="polId" [formControl]="stForm.controls['polId']" disabled>
                                    <option value="">Select</option>
                                <option *ngFor="let p of polList" [value]="p.id">{{p.name}}</option>
                        </select>
                        <small *ngIf="stForm.controls['polId'].hasError('required') && (stForm.controls['polId'].touched || formSubmited)" class="error">{{polReq}}</small>
                        <small *ngFor="let error of error.polId" class="text-danger">{{error}}</small>
                    </div>



                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Diameter <small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="diameter" class="form-control" maxlength="10" (keypress)="_keyPress($event)" [formControl]="stForm.controls['diameter']"
                        />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Radius <small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="radius" class="form-control" maxlength="10" (keypress)="_keyPress($event)" [formControl]="stForm.controls['radius']"
                        />
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row bunit">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Tank Mfg <small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text" id="tankMfg" class="form-control" [formControl]="stForm.controls['tankMfg']" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="customer">Type <small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="typeId" [formControl]="stForm.controls['typeId']">
                                <option value="">Select</option>
                            <option *ngFor="let p of typeList" [value]="p.id">{{p.name}}</option>
                    </select>
                        <small *ngIf="stForm.controls['typeId'].hasError('required') && (stForm.controls['typeId'].touched || formSubmited)" class="error"></small>
                        <small *ngFor="let error of error.typeId" class="text-danger">{{error}}</small>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row bunit">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="address">Remarks<small class="text-danger"></small></label>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <textarea rows="4" cols="50" id="remarks" class="text-area" [formControl]="stForm.controls['remarks']">
                             </textarea>

                    </div>
                </div>
            </div>


            <div class="clearfix"></div>

            <label for="address"><b>Add Caliberation Chart Info</b><small class="text-danger"></small></label>

            <div class="text-center"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
            <br><br>
            <div formArrayName="StorageTankUnitDetails" class="add-scroll" style="margin-top: -18px;
                ">

                <div class="section-container" *ngFor="let section of getCalibrationChart(stForm); let i = index">

                    <div class="ui raised segments" [formGroupName]="i">

                        <br>

                        <div class="row bunit">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 offset-md-2 text-center">

                                <div class="form-group">

                                    <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="lr">Sl No<small class="text-danger"></small></label>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">

                                    <label style="margin-top:-5px;">{{i + 1}}</label>

                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">

                                <div class="form-group">

                                    <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="lr">Height (cm)<small class="text-danger"></small></label>

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
                                        <input type="text" class="form-control" maxlength="10" (keypress)="_keyPress($event)" formControlName="Height" (keyup)="onHeightChange($event.target.value, i)">
                                    </div>

                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">

                                <div class="form-group">

                                    <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="sfr">Volume (Litre)<small class="text-danger"></small></label>

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
                                        <input type="text" class="form-control" maxlength="10" (keypress)="_keyPress($event)" formControlName="Volume" (keyup)="onVolChange($event.target.value); calculateTotalVol($event.target.value, i)">
                                    </div>

                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 list-margin">

                                <button type="button" (click)="addSection(i)" class="point-icon" formnovalidate><img src="../assets/icon/add-icon.png"></button>
                                <button *ngIf="getCalibrationChart(stForm).length > 1" (click)="removeSection(i)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button>


                            </div>

                        </div>


                    </div>

                </div>
            </div>
            <br>
            <div class="text-center"><span class="error" *ngIf="volErrorMsg != ''">{{volErrorMsg}}</span></div>
            <div class="text-center"><span class="error" *ngIf="heightErrorMsg != ''">{{heightErrorMsg}}</span></div>
            <div class="clearfix"></div>
            <div><br /><br /></div>
            <div>
                <div>
                    <div>
                        <input name="file" type="file" (change)="onChange($event)" [formControl]="stForm.controls['FileType']" multiple/>
                        <br>
                        <ng-container *ngIf="ErrorList.length==1">
                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                        </ng-container>
                        <ng-container *ngIf="ErrorList.length>1">
                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                        </ng-container>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
            <!-- <div class="row"> -->
            <div class="text-right" *ngIf='savebutton == true'>
                <button type="submit" class="btn check-footer m-top10">Save</button>
                <button type="button" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
            </div>
        </div>
    </div>
</form>