<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2"></span>
<div class="clearfix"></div>
<div class="col-md-3">
        <div class="panel panel-info  panel-bg">
           <div class="panel-heading panel-padding panel-dash-head">POL<i class="fa fa-filter  filter-float" (click)="filterChart('pol')"></i></div>
           <div class="dashline">
              <hr>
           </div>
           <div class="panel-body panel-scroll">
              <div class="panel-padding">
                 <ul class="dash-list">
                    <li *ngFor='let pol of polFiltersList; let i = index'>
                       <input type="checkbox" id='polFilterCB' (change)="selectedFilters('pol', $event)" style="visibility: visible !important;" [name]=[pol.id] [value]="">
                       {{pol.name}}
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div class="col-md-3 shift-mtop">
        <div class="panel panel-info  panel-bg">
           <div class="panel-heading panel-padding panel-dash-head">Country<i class="fa fa-filter  filter-float" (click)="filterChart('country')"></i></div>
           <div class="dashline">
              <hr>
           </div>
           <div class="panel-body panel-scroll">
              <div class="panel-padding">
                 <ul class="dash-list">
                    <li *ngFor='let country of countriesList'>
                       <input type="checkbox" id="countryFilterCB" (change)="selectedFilters('country', $event)" style="visibility: visible !important;" [name]=[country.countryId] value="">
                       {{country.name}}
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div class="col-md-3 shift-mtop">
        <div class="panel panel-info  panel-bg">
           <div class="panel-heading panel-padding panel-dash-head">Business Unit<i class="fa fa-filter  filter-float" (click)="filterChart('businessUnit')"></i></div>
           <div class="dashline">
              <hr>
           </div>
           <div class="panel-body panel-scroll">
              <div class="panel-padding">
                 <ul class="dash-list">
                    <li *ngFor='let bu of buList'>
                       <input type="checkbox" id="buFilterCB" (change)="selectedFilters('businessUnit', $event)" style="visibility: visible !important;" [name]=[bu.buId]>
                       {{bu.buName}}
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div class="col-md-3 shift-mtop">
        <div class="panel panel-info  panel-bg">
           <div class="panel-heading panel-padding panel-dash-head">Site<i class="fa fa-filter  filter-float" (click)="filterChart('site')"></i></div>
           <div class="dashline">
              <hr>
           </div>
           <div class="panel-body panel-scroll">
              <div class="panel-padding">
                 <ul class="dash-list">
                    <li *ngFor='let site of siteList'>
                       <input type="checkbox" id="siteFilterCB" (change)="selectedFilters('site', $event)" style="visibility: visible !important;" [name]=[site.siteId]>
                       {{site.name}}
                     </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
<div class="text-right col-md-12">
   <button class="btn check-footer m-topdash" type="" (click)="shifttochart()">Shift to chart</button>
   <button class="btn  check-no m-topdash" type="" (click)="shifttotank()" value="">Shift to Tank</button>
</div>
<br>
<div *ngIf="loading">
   <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
</div>
<div class="col-md-6 mtopdash" *ngFor='let site of siteDetails; let i = index'>
   <div class="bg">
      <h4>{{site.site.name}}</h4>
      <hr>
      <div class="col-md-12 inventory-fill">
         <form class="form-horizontal" action="">
            <div class="form-group">
               <label class="control-label col-sm-6">Maximum Capacity :</label>
               <div class="col-sm-6">
                  <label>{{site.maxCapacity}}</label>
               </div>
            </div>
            <div class="form-group" *ngIf="site.poLlevelPercentage">
               <label class="control-label col-sm-6">Current POL level in % :</label>
               <div class="col-sm-6">
                  <label>{{site.poLlevelPercentage | number : '1.2-2'}}%</label>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-6">Volume :</label>
               <div class="col-sm-6">
                  <label>{{site.volume}}</label>
               </div>
            </div>
            <div class="form-group" *ngIf='site.dataInfo'>
               <label class="control-label col-sm-6">Volume in 15°C :</label>
               <div class="col-sm-6">
                  <label>{{site.dataInfo.volumeAt15}}</label>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label col-sm-6">Ullage :</label>
               <div class="col-sm-6">
                  <label>{{site.ullage}}</label>
               </div>
            </div>
            <div class="form-group" *ngIf='site.dataInfo'>
               <label class="control-label col-sm-6">Temperature :</label>
               <div class="col-sm-6">
                  <label>{{site.dataInfo.temperature}} °C</label>
               </div>
            </div>
            <div class="form-group" *ngIf='site.dataInfo'>
               <label class="control-label col-sm-6">Density :</label>
               <div class="col-sm-6">
                  <label>{{site.dataInfo.density}} kg/m³</label>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>