<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit Sub Unit</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success subunit-edit">{{success}}</div>
	                <subunit-form [subunit]="subunit | async" [error]="error" [page]="page" (saved)="onSave($event)"></subunit-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	