<form [ngSwitch]="loading" [formGroup]="sectionForm" (ngSubmit)="onSubmit(sectionForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

         <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <label for="name">Section Name <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <input type="text" id="sectionName" class="form-control" [formControl]="sectionForm.controls['sectionName']" />


                    <small *ngIf="sectionForm.controls['sectionName'].hasError('required') && (sectionForm.controls['sectionName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <label for="name">Description <small class="text-danger"></small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="sectionForm.controls['description']">
                    </textarea>
                </div>

            </div>

        </div>

        <div class="clearfix"></div>
        <div><br /><br /></div>
        <div>
           <div>
               <div>
                   <input name="file"  type="file" (change)="onChange($event)" [formControl]="sectionForm.controls['FileType']" multiple/>
                   <br>
                   <ng-container *ngIf="ErrorList.length==1">
                    <small *ngFor="let error of ErrorList" class="error">{{error}}</small>
                </ng-container>
                <ng-container *ngIf="ErrorList.length>1">
                    <small *ngFor="let error of ErrorList" class="error">{{error}}<br /></small>
                </ng-container>
            </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <!-- <div class="row"> -->
            <div class="text-right" *ngIf='savebutton == true'>
                <button type="submit" class="btn check-footer m-top10">Save</button>
                <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
            </div>
        </div>

     </div>

</form>