<form [ngSwitch]="loading" [formGroup]="equipmentForm" (ngSubmit)="onSubmit(equipmentForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

        <div class="row form-row">

            <div class="col-xs-12 col-sm-6 col-md-6">

             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Equipment ID <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text"   id="equipmentId" class="form-control" [formControl]="equipmentForm.controls['equipmentId']" maxlength="25" />
                <small *ngIf="equipmentForm.controls['equipmentId'].hasError('required') && (equipmentForm.controls['equipmentId'].touched || formSubmited)" class="error">{{equipmentIdReq}}</small>

            </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="makeId">Equipment Type<small class="text-danger">*</small> </label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="equipmenttypeId"
                    [formControl]="equipmentForm.controls['equipmenttypeId']" >
                            <option value="">Select</option>
                        <option *ngFor="let type of equipmenttypeList" [value]="type.id">{{type.name}}</option>
                    </select>
                    <small *ngIf="equipmentForm.controls['equipmenttypeId'].hasError('required') && (equipmentForm.controls['equipmenttypeId'].touched || formSubmited)" class="error">{{equipmenttypeIdReq}}</small>


                </div>
            </div>

        </div>

            <div class="row form-row">

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      <label for="odometer">Registration Number<small class="text-danger">*</small> </label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                      <input type="text" id="regNo" class="form-control" maxlength="25" [formControl]="equipmentForm.controls['regNo']" />
                      <small *ngIf="equipmentForm.controls['regNo'].hasError('required') && (equipmentForm.controls['regNo'].touched || formSubmited)" class="error">{{regnoReq}}</small>

                    </div>

                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      <label for="odometer">Equipment Name</label><small class="text-danger">*</small>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                      <input type="text" id="name" class="form-control" maxlength="30" [formControl]="equipmentForm.controls['name']" />
                      <small *ngIf="equipmentForm.controls['name'].hasError('required') && (equipmentForm.controls['name'].touched || formSubmited)" class="error">{{nameReq}}</small>

                    </div>

                  </div>
                </div>

                <div class="row form-row">

                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="siteId">POL <small class="text-danger"></small></label>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <select class="form-control" id="customerId"
                            [formControl]="equipmentForm.controls['polId']" >
                                <option selected disabled value="">Select</option>
                                <option *ngFor="let pol of polList" [value]="pol.id">{{pol.name}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                          <label for="odometer">Starting Odometer <small class="text-danger"></small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                          <input type="text" id="StartingOdoMeter" maxlength="15"  (keypress)="_keyPress($event)" class="form-control" [formControl]="equipmentForm.controls['StartingOdoMeter']" />
                          <small *ngIf="equipmentForm.controls['StartingOdoMeter'].hasError('required') && (equipmentForm.controls['StartingOdoMeter'].touched || formSubmited)" class="error">{{odometerReq}}</small>

                      </div>

                      </div>
                </div>

                      <div class="row form-row">

                     <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      <label for="maxfuelCapacity">Max Fuel Fill Capacity <small class="text-danger"></small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                      <input type="text"   id="maxfuelCapacity" class="form-control"  maxlength="15" (keypress)="_keyPress($event)" [formControl]="equipmentForm.controls['maxfuelCapacity']" />
                      <small *ngIf="equipmentForm.controls['maxfuelCapacity'].hasError('required') && (equipmentForm.controls['maxfuelCapacity'].touched || formSubmited)" class="error">{{maxfuelcapacityReq}}</small>

                  </div>

              </div>
            </div>
            <hr>
            <div class="aircraf-top">
            <div class="row form-row">
            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="siteId">Customer <small class="text-danger">*</small></label>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="customerId"
                    [formControl]="equipmentForm.controls['customerId']" >
                        <option value="">Select</option>
                        <option *ngFor="let customer of customerList" [value]="customer.customerId">{{customer.firstName}}</option>
                    </select>
                    <small *ngIf="equipmentForm.controls['customerId'].hasError('required') && (equipmentForm.controls['customerId'].touched || formSubmited)" class="error">{{customerReq}}</small>
                    <small *ngFor="let error of error.customerId" class="error">{{error}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="siteId">Department<small class="text-danger">*</small></label>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="departmentId"
                        [formControl]="equipmentForm.controls['departmentId']" >
                                <option value="">Select</option>
                            <option *ngFor="let cl of departmentList" [value]="cl.id">{{cl.name}}</option>
                        </select>
                        <small *ngIf="equipmentForm.controls['departmentId'].hasError('required') && (equipmentForm.controls['departmentId'].touched || formSubmited)" class="error">{{departmentReq}}</small>
                        <small *ngFor="let error of error.departmentId" class="error">{{error}}</small>
                    </div>
                </div>
       </div>
        <div class="row form-row">

                <div class="col-xs-12 col-sm-6 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="siteId">Site<small class="text-danger">*</small></label>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <select class="form-control" id="siteId"
                            [formControl]="equipmentForm.controls['siteId']" >
                                    <option value="">Select</option>
                                <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                            </select>
                            <small *ngIf="equipmentForm.controls['siteId'].hasError('required') && (equipmentForm.controls['siteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                            <small *ngFor="let error of error.siteId" class="error">{{error}}</small>
                        </div>
                    </div>

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="siteId">Section</label><small class="text-danger">*</small>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="sectionId"
                        [formControl]="equipmentForm.controls['sectionId']" >
                                <option value="">Select</option>
                            <option *ngFor="let section of sectionList" [value]="section.sectionId">{{section.sectionName}}</option>
                        </select>
                        <small *ngIf="equipmentForm.controls['sectionId'].hasError('required') && (equipmentForm.controls['sectionId'].touched || formSubmited)" class="error">{{sectionReq}}</small>
                        <small *ngFor="let error of error.sectionId" class="error">{{error}}</small>
                    </div>
                </div>
            </div>
 <div class="row form-row">
        <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="siteId">Ownership Info<small class="text-danger">*</small></label>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="ownershipId"
                    [formControl]="equipmentForm.controls['ownershipId']">
                            <option value="">Select</option>
                        <option *ngFor="let cl of ownershipList" [value]="cl.ownershipId">{{cl.name}}</option>
                    </select>
                    <small *ngIf="equipmentForm.controls['ownershipId'].hasError('required') && (equipmentForm.controls['ownershipId'].touched || formSubmited)" class="error">{{ownershipReq}}</small>
                    <small *ngFor="let error of error.ownershipId" class="error">{{error}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <label for="odometer">Bar Code <small class="text-danger"></small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                  <input type="text" id="BarCode" class="form-control" maxlength="30" [formControl]="equipmentForm.controls['BarCode']" />

              </div>

              </div>
        </div>
    </div>
            <div class="clearfix"></div>
            <div><br /><br /></div>


                   <div>
                       <input name="file" type="file" (change)="onChange($event)" [formControl]="equipmentForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
                    </div>


            <div class="clearfix"></div>
            <!-- <div class="row"> -->
                <div class="text-right" *ngIf='savebutton == true'>
                    <button type="submit" class="btn check-footer m-top10">Save</button>
                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>