<form [ngSwitch]="loading" [formGroup]="generatormakemodelForm" (ngSubmit)="onSubmit(generatormakemodelForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">Generator Make <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text"   id="make" class="form-control" [formControl]="generatormakemodelForm.controls['make']" />
                        <small *ngIf="generatormakemodelForm.controls['make'].hasError('required') && (generatormakemodelForm.controls['make'].touched || formSubmited)" class="error">{{makeReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>

                </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                 <label for="address">Generator Model <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <input type="text"   id="model" class="form-control" [formControl]="generatormakemodelForm.controls['model']" />
                    <small *ngIf="generatormakemodelForm.controls['model'].hasError('required') && (generatormakemodelForm.controls['model'].touched || formSubmited)" class="error">{{modelReq}}</small>
                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                    </div>
            </div>

        </div>

        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="country">KV<small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text"  (keypress)="_keyPress($event)"  maxlength="15"
                 id="kv" class="form-control" [formControl]="generatormakemodelForm.controls['kv']" />

                <small *ngIf="generatormakemodelForm.controls['kv'].hasError('required') && (generatormakemodelForm.controls['kv'].touched || formSubmited)" class="error">{{kvReq}}</small>
                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
            </div>
            </div>
        </div>



        <div class="row bunit">
            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <label for="staticEmail">Description</label>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="generatormakemodelForm.controls['description']">
                    </textarea>
                </div>

            </div>
        </div>
            <div class="clearfix"></div>


            <div><br /><br /></div>


                   <div>
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="generatormakemodelForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
                </div>




                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>