
.round-border{

    border:1px solid #959595;
    background-color:#fff;
    height:170px;
    border-radius: 50%;
    width:170px;
    text-align:center;
}

.round-border img{
    margin:50px auto;
    width:45px;
    vertical-align:right;

}

.SelectionIcon img{
    width: 100%!important;
     height: auto;
     margin: 0!important;

    /* width: 125px!important;
     height: 125px!important;
     border-radius: 50%;*/
 }
 .SelectionIcon{
     overflow: hidden;
     display: flex;
 }
 .imageuploader{
     background-color: lightgrey;
    width: 300px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
 }
 .image{
    text-align: center;    vertical-align: middle
 }




 // For toggle

 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #008148;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }