<form [ngSwitch]="loading" [formGroup]="usermanagementForm" (ngSubmit)="onSubmit(usermanagementForm.value)" class="form-horizontal"
method="post">
    <div class="row m-btm10 col-md-10">
    <div class="row bunit">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="id">ID</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <input type="text" class="form-control" [formControl]="usermanagementForm.controls['id']" readonly/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <label for="id">Status </label>
            </div>
            <label class="switch">
            <input type="checkbox"  (change)="selectAll($event);"
            [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
            <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="name">First Name <small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <input type="text" id="firstName" class="form-control"  maxlength="30" [formControl]="usermanagementForm.controls['firstName']" />
                <small *ngIf="usermanagementForm.controls['firstName'].hasError('required') && (usermanagementForm.controls['firstName'].touched || formSubmited)"
                class="error">{{firstNameRequired}}</small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="address">Last Name <small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <input type="text" id="lastName" class="form-control"  maxlength="30" [formControl]="usermanagementForm.controls['lastName']" />
                <small *ngIf="usermanagementForm.controls['lastName'].hasError('required') && (usermanagementForm.controls['lastName'].touched || formSubmited)"
                class="error">{{lastNameRequired}}</small>
            </div>
        </div>
    </div>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="name">UNID No <small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <input type="text" id="unid" class="form-control"  maxlength="30" (keyup)='onUNIDchange()' [formControl]="usermanagementForm.controls['unid']" />
                <small *ngIf="usermanagementForm.controls['unid'].hasError('required') && (usermanagementForm.controls['unid'].touched || formSubmited)"
                class="error">{{unidRequired}}</small>
                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="email">Email <small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <input type="text" id="email" class="form-control" (keyup)='emailKeyUp()' required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [formControl]="usermanagementForm.controls['email']" />
                <small *ngIf="usermanagementForm.controls['email'].hasError('required') && (usermanagementForm.controls['email'].touched || formSubmited)"
                class="error">{{emailRequired}}</small>
                <small *ngIf="usermanagementForm.controls['email'].hasError('pattern') && (usermanagementForm.controls['email'].touched || formSubmited)"
                class="error">{{invalidEmail}}</small>
                <div *ngFor="let error of error.secondKey">
                <small *ngIf="(usermanagementForm.controls['email'].touched || formSubmited)" class="error">{{error}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="mobile">Mobile </label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <input type="text" id="mobile" class="form-control" maxlength="15" (keypress)="_keyPress($event)" [formControl]="usermanagementForm.controls['mobileNumber']" />
                <!-- <small *ngFor="let error of error.mobileNumber" class="error">{{error}}</small> -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="role">Role <small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <select class="form-control" [formControl]="usermanagementForm.controls['userRoleId']" (change)="onChangeRole($event.target.value)">
                <option value="">Select</option>
                <option *ngFor="let item of roleList" [value]="item.id">{{item.name}}</option>
                </select>
                <small *ngIf="usermanagementForm.controls['userRoleId'].hasError('required') && (usermanagementForm.controls['userRoleId'].touched || formSubmited)"
                class="error">{{userRoleIdRequired}}</small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="role">Country<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div>
                <!-- <ng-multiselect-dropdown [placeholder]="'Select Country'" [data]="coptions" [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Country')" (onSelectAll)="onSelectAll($event,'Country')">
                    </ng-multiselect-dropdown> -->
                <ng-multiselect-dropdown [placeholder]="'Select Country'" [data]="coptions" [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Country')" (onSelectAll)="onSelectAll($event,'Country')"
                (onDeSelect)="onItemDeSelect($event,'Country')"
                >
                </ng-multiselect-dropdown>
                </div>
                <small *ngIf="usermanagementForm.controls['countryId'].hasError('required') && (usermanagementForm.controls['countryId'].touched || formSubmited)"
                class="error">{{countryIdRequired}}</small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <label for="pwd">New Password<small class="text-danger"></small></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <input type="password" class="form-control" (keyup)="passwordKeyUp()" maxlength="20" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" #ShowPassword title="8-20 characters, at least 1 digit"/>
                    <span (click)="showHidePassword('show', 'password' )" class="" >
                        <i class="ion-eye-disabled pass-eye" *ngIf="this.show_password"></i>
                    </span>
                    <span (click)="showHidePassword('hide', 'password' )" class="">
                        <i class="ion-eye pass-eye" *ngIf="this.hide_password"></i>
                    </span>
                </div>
        </div>
    </div>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="role">Business Unit<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <select class="form-control" *ngIf = "boptions.length == 0">
                <option value="">Select</option>
                </select>
                <div *ngIf="boptions.length > 0">
                <ng-multiselect-dropdown [placeholder]="'Select BusinessUnit'" [data]="boptions" [(ngModel)]="selectedBusinessUnit" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings"  (onSelect)="onItemSelect($event,'BusinessUnit')" (onSelectAll)="onSelectAll($event,'BusinessUnit')"
                (onDeSelect)="onItemDeSelect($event,'BusinessUnit')">
                </ng-multiselect-dropdown>
                </div>
                <small *ngIf="usermanagementForm.controls['businessunitId'].hasError('required') && (usermanagementForm.controls['businessunitId'].touched || formSubmited)"
                class="error">{{businessunitIdRequired}}</small>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="privileges.isAdd || privileges.isEdit">
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <label for="pwd">Confirm Password<small class="text-danger"></small></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <input type="password" class="form-control"  maxlength="20" (keyup)="passwordKeyUp()" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" #ShowConfirm/>
                    <span (click)="showHidePassword('show', 'confirmPassword' )" class="" >
                        <i class="ion-eye-disabled pass-eye" *ngIf="this.show_confirm_password"></i>
                    </span>
                    <span (click)="showHidePassword('hide', 'confirmPassword' )" class="">
                        <i class="ion-eye pass-eye" *ngIf="this.hide_confirm_password"></i>
                    </span>
                    <small *ngIf="passwordError!=''" class="error">{{passwordError}}</small>
                </div>
        </div>
    </div>
    <div class="row bunit">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="col-xs-12 col-sm-3 col-md-4">
                <label for="role">Site<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <select class="form-control" *ngIf = "soptions.length == 0">
                <option value="">Select</option>
                </select>
                <div *ngIf="soptions.length > 0">
                <ng-multiselect-dropdown [placeholder]="'Select Site'" [data]="soptions" [(ngModel)]="selectedSite" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Site')" (onSelectAll)="onSelectAll($event,'Site')"
                (onDeSelect)="onItemDeSelect($event,'Site')" (onDeSelectAll)="onDeSelectAll($event,'Site')">
                </ng-multiselect-dropdown>
                </div>
                <small *ngIf="usermanagementForm.controls['siteId'].hasError('required') && (usermanagementForm.controls['siteId'].touched || formSubmited)"
                class="error">
                {{siteIdRequired}}</small>
            </div>
        </div>
    </div>
    </div>
</form>
<div class="row m-btm10 col-md-2" style="float:right">
   <div class="col-lg-12 no-padding">
      <div class="SelectionIcon round-border">
         <img *ngIf="uploadedimage == ''" src='../../../../assets/img/Cuser.png'  style="width:170px;height:170px">
         <img *ngIf="uploadedimage != ''" src="{{uploadedimage}}"  style="width:170px;height:170px">
      </div>
      <input id="files" style="visibility:hidden;" type="file" (change)="fileChange($event)" file-handler/>
      <label for="files" class="btn">Upload Image <img src="assets/img/uploadicon.png"></label>
      <small *ngIf="imageSizeError != ''" class="error">{{imageSizeError}}</small>
   </div>
</div>
<div class="clearfix"></div>
<div class="text-right" *ngIf='savebutton == true'>
   <button type="button" (click)="onSubmit(usermanagementForm.value)" class="btn btn check-no">Save</button>
   <button type="reset" class="btn btn check-footer" (click)="clearmsgs()" value="Reset">Clear</button>
</div>