<form [ngSwitch]="loading" [formGroup]="receiverForm" (ngSubmit)="onSubmit(receiverForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">First Name <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text"    id="firstName" class="form-control" [formControl]="receiverForm.controls['firstName']" />
                        <small *ngIf="receiverForm.controls['firstName'].hasError('required') && (receiverForm.controls['firstName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                    </div>

                </div>



                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">Last Name <small class="text-danger"></small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text"   id="lastName" class="form-control" [formControl]="receiverForm.controls['lastName']" />
                    </div>
                </div>

            </div>

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">UNID Number <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text"   id="unidNo" class="form-control" (keypress)=OnUnidChange($event)
                         [formControl]="receiverForm.controls['unidNo']" />
                        <small *ngIf="receiverForm.controls['unidNo'].hasError('required') && (receiverForm.controls['unidNo'].touched || formSubmited)" class="error">{{unidReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>
                </div>




            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="site">Site <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="siteId"
                    [formControl]="receiverForm.controls['siteId']" >
                            <option value="">Select</option>
                        <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                    </select>

                    <small *ngIf="receiverForm.controls['siteId'].hasError('required') && (receiverForm.controls['siteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                    <small *ngFor="let error of error.siteId" class="error">{{error}}</small>
                </div>
            </div>

        </div>

        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="customer">Customer <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="customerId"
                        [formControl]="receiverForm.controls['customerId']" >
                                <option value="">Select</option>
                                <option *ngFor="let customer of customerList" [value]="customer.customerId">{{customer.firstName}}</option>
                        </select>
                        <small *ngIf="receiverForm.controls['customerId'].hasError('required') && (receiverForm.controls['customerId'].touched || formSubmited)" class="error">{{customerReq}}</small>
                        <small *ngFor="let error of error.customerId" class="error">{{error}}</small>
                    </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                     <label for="section">Section <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="sectionId"
                    [formControl]="receiverForm.controls['sectionId']" >
                            <option value="">Select</option>
                            <option *ngFor="let section of sectionList" [value]="section.sectionId">{{section.sectionName}}</option>
                    </select>

                    <small *ngIf="receiverForm.controls['sectionId'].hasError('required') && (receiverForm.controls['sectionId'].touched || formSubmited)" class="error">{{sectionReq}}</small>
                    <small *ngFor="let error of error.sectionId" class="error">{{error}}</small>
                </div>

            </div>

        </div>

        <div class="row bunit">
                <div class="col-xs-12 col-sm-12 col-md-6">

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                             <label for="section">Department <small class="text-danger">*</small></label>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                            <select class="form-control" id="departmentId"
                                            [formControl]="receiverForm.controls['departmentId']" >
                                                    <option value="">Select</option>
                                                    <option *ngFor="let dept of departmentList" [value]="dept.id">{{dept.name}}</option>
                                            </select>

                                            <small *ngIf="receiverForm.controls['departmentId'].hasError('required') && (receiverForm.controls['departmentId'].touched || formSubmited)" class="error">{{departmentReq}}</small>
                                            <small *ngFor="let error of error.departmentId" class="error">{{error}}</small>
                                        </div>

                                    </div>
            </div>

        <div class="clearfix"></div>
        <div><br /><br /></div>

               <div>
                   <input name="file"  type="file" (change)="onChange($event)" [formControl]="receiverForm.controls['FileType']" multiple/>
                    <br>
                    <ng-container *ngIf="ErrorList.length==1">
                     <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
            </div>




        <div class="clearfix"></div>
        <!-- <div class="row"> -->
            <div class="text-right" *ngIf='savebutton == true'>
                <button type="submit" class="btn check-footer m-top10">Save</button>
                <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
            </div>
                             </div>
                        </div>
                    </form>