<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit Customer</span>
<div class="container-fluid main-back">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
              
                <div class="panel-body">
                    <div *ngIf="success" id="success" class="alert alert-success add-cust-edit">{{success}}</div>
                    <customers-form [customer]="customer | async" [error]="error" [page]="page" (saved)="onSave($event)">

                    </customers-form>
                </div>
            </section>
        </div>
    </div>
</div>	