<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Tank</span>
<div class="clearfix"></div>
<div class="col-md-3">
   <div class="panel panel-info  panel-bg">
      <div class="panel-heading panel-padding panel-dash-head">POL<i class="fa fa-filter  filter-float" (click)="filterChart('pol')"></i></div>
      <div class="dashline">
         <hr>
      </div>
      <div class="panel-body panel-scroll">
         <div class="panel-padding">
            <ul class="dash-list">
               <li *ngFor='let pol of polFiltersList; let i = index'>
                  <input type="checkbox" id='polFilterCB' (change)="selectedFilters('pol', $event)" style="visibility: visible !important;" [name]=[pol.id] [value]="">
                  {{pol.name}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="col-md-3 shift-mtop">
   <div class="panel panel-info  panel-bg">
      <div class="panel-heading panel-padding panel-dash-head">Country<i class="fa fa-filter  filter-float" (click)="filterChart('country')"></i></div>
      <div class="dashline">
         <hr>
      </div>
      <div class="panel-body panel-scroll">
         <div class="panel-padding">
            <ul class="dash-list">
               <li *ngFor='let country of countriesList'>
                  <input type="checkbox" id="countryFilterCB" (change)="selectedFilters('country', $event)" style="visibility: visible !important;" [name]=[country.countryId] value="">
                  {{country.name}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="col-md-3 shift-mtop">
   <div class="panel panel-info  panel-bg">
      <div class="panel-heading panel-padding panel-dash-head">Business Unit<i class="fa fa-filter  filter-float" (click)="filterChart('businessUnit')"></i></div>
      <div class="dashline">
         <hr>
      </div>
      <div class="panel-body panel-scroll">
         <div class="panel-padding">
            <ul class="dash-list">
               <li *ngFor='let bu of buList'>
                  <input type="checkbox" id="buFilterCB" (change)="selectedFilters('businessUnit', $event)" style="visibility: visible !important;" [name]=[bu.buId]>
                  {{bu.buName}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="col-md-3 shift-mtop">
   <div class="panel panel-info  panel-bg">
      <div class="panel-heading panel-padding panel-dash-head">Site<i class="fa fa-filter  filter-float" (click)="filterChart('site')"></i></div>
      <div class="dashline">
         <hr>
      </div>
      <div class="panel-body panel-scroll">
         <div class="panel-padding">
            <ul class="dash-list">
               <li *ngFor='let site of siteList'>
                  <input type="checkbox" id="siteFilterCB" (change)="selectedFilters('site', $event)" style="visibility: visible !important;" [name]=[site.siteId]>
                  {{site.name}}
                </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="text-right col-md-12">
   <button class="btn check-footer m-topdash" type="" (click)="shifttochart()">Shift to chart</button>
   <button class="btn  check-no m-topdash" type="" (click)="siteView()" value="">Site view</button>
</div>
<br>
<div *ngIf="loading">
    <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
</div>
<div class="col-md-6 mtopdash" *ngFor='let tank of tankDetails; let i = index'>
   <div class="bg" *ngIf='tank'>
        <h4>{{tank.tank.tankName}}</h4>
        <hr>
        <div class="col-md-8 col-lg-4">
            <div class="bowl">
                <div class="inner">
                    <div *ngIf="tank.poLlevelPercentage<=30 && tank.poLlevelPercentage>0" class="fill" [style.transform]="'translate(0%, '+ (48 - ((tank.poLlevelPercentage)*(tank.poLlevelPercentage)/50)) +'% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage>30 && tank.poLlevelPercentage<=35" class="fill" [style.transform]="'translate(0%, 30% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage>35 && tank.poLlevelPercentage<=40" class="fill" [style.transform]="'translate(0%, 28% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                            <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage>40 && tank.poLlevelPercentage<=45" class="fill" [style.transform]="'translate(0%, 26% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                            <path class="waveShape"
                                d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage==0" class="fill" [style.transform]="'translate(0%, 50% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                            <path class="waveShape"
                                d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                                c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                                c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage>45 && tank.poLlevelPercentage<=50" class="fill" [style.transform]="'translate(0%, 25% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <!-- <div *ngIf="tank.poLlevelPercentage>50 && tank.poLlevelPercentage<100" class="fill" [style.transform]="'translate(0%, '+ (((tank.poLlevelPercentage)*(tank.poLlevelPercentage)/50)-99) +'% )'"> -->
                    <div *ngIf="tank.poLlevelPercentage>50 && tank.poLlevelPercentage<100" class="fill" [style.transform]="'translate(0%, '+ (50-(tank.poLlevelPercentage/2)) +'% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                    <div *ngIf="tank.poLlevelPercentage==100" class="fill" [style.transform]="'translate(0%, -2% )'">
                        <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path class="waveShape"
                            d="M300, 300V2.5c0,0-0.6-0.1-1.1-0.1c0 , 0-25.5-2.3-40.5-2.4c-15 , 0-40.6,2.4-40.6,2.4
                            c-12.3,1.1-30.3,1.8-31.9 , 1.9c-2-0.1-19.7-0.8-32-1.9c0 , 0-25.8-2.3-40.8-2.4c-15 , 0-40.8 , 2.4-40.8 , 2.4c-12.3, 1.1-30.4 , 1.8-32,1.9
                            c-2-0.1-20-0.8-32.2-1.9c0 ,0-3.1-0.3-8.1-0.7V300H300z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 inventory-fill">
            <form class="form-horizontal" action="">
                <div class="form-group">
                    <label class="control-label col-sm-6">Tank ID :</label>
                    <div class="col-sm-6">
                        <label>{{tank.tankId}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Tank :</label>
                    <div class="col-sm-6">
                        <label>{{i+1}}/{{tankDetails.length}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">POL :</label>
                    <div class="col-sm-6">
                        <label>{{tank.tank.pol.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Maximum Capacity :</label>
                    <div class="col-sm-6">
                        <label>{{tank.tank.capacity}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Current POL level in % :</label>
                    <div class="col-sm-6">
                        <label>{{tank.poLlevelPercentage | number : '1.2-2'}} %</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Volume :</label>
                    <div class="col-sm-6">
                        <label>{{tank.volume}}</label>
                    </div>
                </div>
                <div *ngIf='tank.tempInfo'>
                    <div class="form-group">
                        <label class="control-label col-sm-6">Volume in 15°C :</label>
                        <div class="col-sm-6">
                        <label>{{tank.tempInfo.volumeAt15}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">Ullage :</label>
                        <div class="col-sm-6">
                        <label>{{tank.ullage}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">Temperature :</label>
                        <div class="col-sm-6">
                        <label>{{tank.tempInfo.temperature}} °C</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">Density :</label>
                        <div class="col-sm-6">
                        <label>{{tank.tempInfo.density}} kg/m³</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>