.bowl {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.65) 100%);
    background: transparent;
    background: transparent;

    margin: 20px;
    &:before {
      overflow: hidden;
      border-radius: 50%;
      content: "";
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.65) 81%, rgba(0, 0, 0, 1) 100%);
      background: transparent;
      background: transparent;
      position: absolute;
      width: 150px;
      height: 150px;
      z-index: 2;
    }
    &:after {
      content: "";
    //   width: 60px;
      border-radius: 50%;
      height: 5px;
      background: #039be4;
      box-shadow: inset 0 0 10px 0 #000;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 0;
      z-index: 2;
    }
    .inner {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.65) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 76%, rgba(0, 0, 0, 0.65) 100%);
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      &:before {
        content: "";
        width: 20px;
        height: 20px;
        background: rgba(255,255,255,0.2);
        border-radius: 50%;
        position: absolute;
        right: 40%;
        top: 60%;
        z-index: 2;
      }
      &:after {
        content: "";
        width: 20px;
        height: 40px;
        background: rgba(255,255,255,0.2);
        border-radius: 50%;
        position: absolute;
        right: 30%;
        top: 15%;
        transform: rotate(-20deg);
        z-index: 2;
      }
    }
    .fill {
      -webkit-animation-name: fillAction;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: cubic-bezier(.2, .6, .8, .4);
      -webkit-animation-duration: 4s;
      -webkit-animation-fill-mode: forwards;
    }
    .waveShape {
      -webkit-animation-name: waveAction;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: 0.5s;
      width: 300px;
      height: 150px;
      fill: #039be4;
    }
  }


  
  // @-webkit-keyframes fillAction {
   
  //   100% {
  //     -webkit-transform: translate(0, 90px);
  //   }
  // }
  
  // @-webkit-keyframes waveAction {
  //   0% {
  //     -webkit-transform: translate(-150px, 0);
  //   }
  //   100% {
  //     -webkit-transform: translate(0, 0);
  //   }
  // }
  
// @-webkit-keyframes fillAction {
//   from {
//     -webkit-transform: translate(0, 150px);
//   }
//   to {
//     -webkit-transform: translate(0, 50px);
//   }
// }

@-webkit-keyframes waveAction {
  0% {
    -webkit-transform: translate(-150px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
  
  /* For aesthetics only ------------------------------------------*/
  
  body {
    margin: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  }
  
  h1 {
    font: 200 1.2em "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 200;
    color: #fff;
    background: #039be4;
    padding: 20px;
    margin: 0;
    border-bottom: 10px solid #ccc;
    strong {
      font-family: "Segoe UI Black";
      font-weight: normal;
    }
  }
  
  .explanation {
    padding: 20px 40px;
    float: right;
    background: #e64a19;
    -webkit-box-shadow: inset 0 30px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #ccc;
    max-width: 300px;
    p {
      color: #fff;
      font-size: 0.8rem;
    }
  }
