  <aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">
  <li>
  	<div class="user-profile clearfix">
    <div class="al-user-profile" *ngIf="user">
      <a class="profile-toggle-link" id="user-profile-dd">
        <img class="sidebar-logo" src="{{ user.avatar_thumbnail ? user.avatar_thumbnail : ( 'assets\img\icon.jpeg' ) }}"> 
     
      </a>
      <!-- <span class="profile-name">{{user.first_name+' ' +user.last_name}}</span>
      <a [routerLink]="['/login']" class="signout"><i class="ion-power"></i> <span>Sign out</span></a> -->
    </div>
  </div>
  </li>
    <ba-menu-item
      [menuItem]="item"
      (itemHover)="hoverItem($event)"
      (toggleSubMenu)="toggleSubMenu($event)"
      *ngFor="let item of menuItems" (click)='onMenuClick(item)'></ba-menu-item>
  </ul>
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>
