<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">User Management</span>
<div *ngIf="privileges" class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 list-mob">
         <div class="manager-top m-btm20">
            <div class="col-xs-3 col-sm-3 col-md-3 align-padding">
               <div class="col-md-5 m-top10 no-padding  text-left">
                  Show Entries
               </div>
               <div class="col-md-5 no-padding page-dropdown">
                  <select class="select-control" (change)="onSelectChange($event)">
                  <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                  </select>
               </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 align-padding">
               <button *ngIf="privileges.isAdd" class="btn add-manager m-btm10 pull-right margin-top-10" (click)="addnew()" id="add_user">
               <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
               </button>
               <div class="search-block">
                  <input *ngIf="config.filtering" placeholder="Search" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)"
                  />
                  <div class="search-btn">
                     <button class="btn btn-default ser" type="submit">
                     <i class="fas fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== ''   && column.sort!= false" tooltip="Sort" class="sort fa fa-sort" [ngTableSorting]="config"
                              [column]="column" (click)="Sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.filter == true && column.name == 'role'" class="pull-right fa fa-filter role-filter" [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter" data-target="#RoleFilter"></i>
                              <i *ngIf="config && column.filter == true && column.name == 'status'" class="pull-right fa fa-filter status-filter" [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter" data-target="#StatusFilter"></i>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <tr *ngFor="let item of usermanagementlist">
                           <td>{{item.id}}</td>
                           <td>{{item.unid}}
                           </td>
                           <td>{{item.firstName}} {{item.lastName}}</td>
                           <td>{{item.email}}</td>
                           <td>{{item.userRoles.name}}</td>
                           <td *ngIf="item.activeStatusId === 1">Active</td>
                           <td *ngIf="item.activeStatusId === 2">InActive</td>
                           <td class="text-center actions">
                              <ul class="list-inline">
                                 <li class="list-inline-item" *ngIf="privileges.isView"> <a (click)="view(item)" data-toggle="modal" placement="top"
                                    tooltip="View" data-target="#ViewDetails"><i class="ion-ios-eye"></i></a></li>
                                 <li class="list-inline-item" *ngIf="privileges.isEdit"><a (click)="edit(item.id)" placement="top" tooltip="Edit"><i class="ion-edit"></i></a></li>
                                 <li class="list-inline-item" *ngIf="privileges.isDelete"><a (click)="deleteuser(item.id)" placement="top" tooltip="Delete"
                                    data-toggle="modal" data-target="#del" (click)="deletemessageclear()"><i class="ion-trash-a"></i></a>
                                 </li>
                                 <!-- data-toggle="modal" data-target="#del" (click)="deletemessageclear()" (click)="deletebusinessunit(businessunit)" -->
                                 <li *ngIf="!privileges.isView && !privileges.isEdit && !privileges.isDelete">NA</li>
                              </ul>
                           </td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="10" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div>
               <div class="modal" id="del" role="dialog" tabindex='-1'>
                  <div class="modal-dialog mstyle modal-country">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title">Delete Item</h4>
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <hr>
                        </div>
                        <div class="modal-body">
                           <p *ngIf="deletemessage">{{deletemessage}}</p>
                           <p *ngIf="deletemessage==''">Are you sure you want to delete this User?</p>
                        </div>
                        <div class="modal-footer">
                           <button *ngIf="deletemessage==''" type="button" class="btn btn check-no" (click)="deletemessageclear()" data-dismiss="modal">No</button>
                           <button *ngIf="deletemessage==''" type="button" class="btn btn check-footer" (click)="deleteconfirm(user_deleted_id)">Yes</button>
                           <button *ngIf="deletemessage!=''" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--    </div> -->
            </div>
            <!-- view details modal -->
            <div id="ViewDetails" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-width">
                  <div class="modal-content modal-margin">
                     <div class="modal-header">
                        <h4 class="modal-title">View Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body">
                        <div class="container">
                           <form [formGroup]="viewForm">
                              <div class="form-group row">
                                 <div class="col-md-12 text-center">
                                    <div class="SelectionIcon round-border">
                                       <img *ngIf="uploadedimage == ''" src='../../../../assets/img/Cuser.png' style="width:170px;height:170px">
                                       <img *ngIf="uploadedimage != ''" src="{{uploadedimage}}" style="width:170px;height:170px" class="img-circle">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="staticEmail" class="col-md-2  col-form-label" style="font-size:14px">Id</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['id']">
                                 </div>
                                 <!-- <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Status</label>
                                    <div class="col-sm-3">
                                            <label class="switch">
                                                    <input type="checkbox"  (change)="selectAll($event);" checked>
                                                    <span class="slider round"></span>
                                                  </label>
                                    </div> -->
                              </div>
                              <div class="form-group row">
                                 <label for="staticEmail" class="col-md-2  col-form-label" style="font-size:14px">First Name</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['firstname']">
                                 </div>
                                 <label for="staticEmail" class="col-md-2 col-form-label" style="font-size:14px">Last Name</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['lastname']">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="staticEmail" class="col-md-2  col-form-label" style="font-size:14px">UNID No</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['unidnumber']">
                                 </div>
                                 <label for="inputPassword" class="col-md-2 col-form-label" style="font-size:14px">Email</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['email']">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="staticEmail" class="col-md-2 col-form-label" style="font-size:14px">Mobile</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['mobile']">
                                 </div>
                                 <label for="inputPassword" class="col-md-2  col-form-label" style="font-size:14px">Role</label>
                                 <div class="col-md-4">
                                    <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="viewForm.controls['role']">
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-info check-footer" data-dismiss="modal" style="padding: 8px 37px;font-size:13px">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view details modal -->
            <!-- view Role modal -->
            <div id="RoleFilter" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Role</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="row container filter-down">Select All
                           <input type="checkbox" [(ngModel)]="selectedroleAll" value ="" (change)="selectAll('Role', $event);"/>
                           <span class="checkmark"></span>
                           </label>
                           <div *ngFor="let list of rolelist">
                              <label class="container row">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}}
                              (change)="checkIfAllSelected(list, $event, 'Role');">
                              <span class="checkmark"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-info check-footer" (click)="apply('Role')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view Role modal -->
            <!-- view Status modal -->
            <div id="StatusFilter" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <div>
                              <label class="container row">Active
                              <input type="checkbox" value = '1'
                                 (change)="checkIfAllSelected(list,$event,'Status');">
                              <span class="checkmark"></span>
                              </label>
                              <label class="container row">InActive
                              <input type="checkbox" value = '0'
                                 (change)="checkIfAllSelected(list,$event,'Status');">
                              <span class="checkmark"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-info check-footer" (click)="apply('Status')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view Status modal -->
         </section>
      </div>
   </div>
</div>
