
		<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Add New POL</span>

        <div class="container-fluid main-back">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                      
                        <div class="panel-body">
                            <div *ngIf="success" id="success" class="alert alert-success pol-add-sucess">{{success}}</div>
                            <div *ngIf="errorpass" id="errorpass" class="alert alert-danger">{{errorpass}}</div>
                            <pol-form [error]="error" [page]="page" (saved)="onSave($event)">

                            </pol-form>             
                        </div>
                    </section>
                </div>
            </div>
        </div>	