<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Fuel Issuance</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12 no-padding">
	        <section class="panel">

	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-bunit-success">{{success}}</div>
	                <listview-form [listview]="listview | async" [error]="error" [page]="page" (saved)="onSave($event)"></listview-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>
