<form [ngSwitch]="loading" [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
       <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
       <div class="row bunit">
          <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                   <label for="businessunitname">BusinessUnit Name <small class="text-danger">*</small></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <select class="form-control" id="businessunitnameId"
                      [formControl]="customerForm.controls['businessunitnameId']" >
                      <option value="">Select</option>
                      <option *ngFor="let cl of buList" [value]="cl.buId">{{cl.buName}}</option>
                   </select>
                   <small *ngIf="customerForm.controls['businessunitnameId'].hasError('required') && (customerForm.controls['businessunitnameId'].touched || formSubmited)" class="error">{{businessunitReq}}</small>
                </div>
             </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
          </div>
          <div class="row form-row">
             <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                   <label for="name">First Name <small class="text-danger">*</small></label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <input type="text" maxlength="30"  id="firstName" class="form-control" [formControl]="customerForm.controls['firstName']" />
                   <small *ngIf="customerForm.controls['firstName'].hasError('required') && (customerForm.controls['firstName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                   <small *ngFor="let error of error.FirstName" class="error">{{error}}</small>
                </div>
             </div>
             <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                   <label for="name">Expansion </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <input type="text" maxlength="30"  id="lastName" class="form-control" [formControl]="customerForm.controls['lastName']" />
                   <small *ngIf="customerForm.controls['lastName'].hasError('required') && (customerForm.controls['lastName'].touched || formSubmited)" class="error"></small>
                   <small *ngFor="let error of error.LastName" class="error">{{error}}</small>
                </div>
             </div>
          </div>
          <div class="row form-row">
             <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                   <!-- <label for="name">UNID No <small class="text-danger">*</small></label> -->
                   <label for="name">Address </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <textarea rows="4" cols="50" class="text-area" name="buAddress"
                      [formControl]="customerForm.controls['unidNo']" >
    
    
                            </textarea>
                   <!-- <small *ngFor="let error of error.BUAddress" class="text-danger">{{error}}</small> -->
                   <!-- <input type="text" maxlength="15"  id="unidNo" class="form-control" [formControl]="customerForm.controls['unidNo']" />
                      <small *ngIf="customerForm.controls['unidNo'].hasError('required') && (customerForm.controls['unidNo'].touched || formSubmited)" class="error">{{unidReq}}</small>
                      <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                       -->
                </div>
             </div>
          </div>
          <div class="clearfix"></div>
          <div><br /><br /></div>
          <div>
             <input name="file"  type="file" (change)="onChange($event)" [formControl]="customerForm.controls['FileType']" multiple/>
             <br>
             <ng-container *ngIf="ErrorList.length==1">
                <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
             </ng-container>
             <ng-container *ngIf="ErrorList.length>1">
                <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
             </ng-container>
          </div>
          <br>
          <div class="clearfix"></div>
          <!-- <div class="row"> -->
          <div class="text-right" *ngIf='savebutton == true'>
             <button type="submit" class="btn check-footer">Save</button>
             <button type="reset" (click)="clearmsgs()" class="btn check-no" value="Reset">Clear</button>
          </div>
          <!--  </div> -->
       </div>
    </div>
</form>
