<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit Section</span>
<div class="container-fluid main-back">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div *ngIf="success" id="success" class="alert alert-success section-edit">{{success}}</div>
                    <section-form [section]="section | async" [error]="error" [page]="page" (saved)="onSave($event)"></section-form>
                </div>
            </section>
        </div>
    </div>
</div>	