<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Roles And Privileges</span>
<div class="container-fluid main-back" *ngIf='privileges'>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
               <!-- <button class="btn add-manager m-btm10 pull-right margin-top-10" (click)="addNewRole()" id="add_user">
               <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
               </button> -->
               <div class="search-block">
                  <input placeholder="Search"
                  [ngTableFiltering]="config.filtering"
                  class="form-control search-border"
                  (tableChanged)="onChangeTable(config)"/>
                  <div class="search-btn">
                          <button class="btn btn-default ser" type="submit">
                                  <i class="fas fa-search"></i>
                          </button>
                  </div>
                </div>
         </div>
      </div>
      <section class="panel">
         <div class="panel-body">
            <div class="table-scroll">       
               <table class="table table-bordered cust-table table-hover table-form">
                  <thead>
                     <tr>
                        <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                            {{column.title}}
                            <i *ngIf="config && column.sort !== '' && column.sort!= false"
                                tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                                (click)="sort(column.name, column.sort)"></i>

                                <i *ngIf="config && column.filter == true" class="fa fa-filter country-filter"
                                [ngTableFiltering]="config.filtering"
                                data-toggle="modal" tooltip="Filter"
                                data-target="#ViewStatusModal"
                                ></i>


                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <div *ngIf="loading">
                        <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                     </div>
                     <tr *ngFor = "let roles of roleList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{roles.name}}</td>
                        <td>{{roles.activeStatus ? 'Active' : 'InActive'}}</td>
                        <td>{{roles.modifiedDate | date}}</td>
                        <!-- <td>
                           <a (click)="viewRoles(roles)"><i class="ion-ios-eye"></i></a>
                        </td> -->
                        <td class="text-center actions">
                           <ul class="list-inline">
                              <li *ngIf="privileges.isView" class="list-inline-item">
                                 <a (click)="viewRoles(roles)"><i class="ion-ios-eye"></i></a>
                              </li>
                              <li *ngIf="privileges.isEdit" class="list-inline-item">
                                 <a (click)="editRoles(roles)" placement="top" tooltip="Edit"><i class="ion-edit"></i></a>
                              </li>
                              <li class="list-inline-item">
                              <li *ngIf="privileges.isDelete" class="list-inline-item">
                                 <a (click)="deleteUserRole(roles.id)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del">
                                 <i class="ion-trash-a"></i>
                                 </a>
                              </li>
                              <li *ngIf="!privileges.isView && !privileges.isEdit && !privileges.isDelete">NA</li>
                           </ul>
                        </td>
                     </tr>
                     <tr *ngIf="length==0">
                        <td colspan="10" class="dtat-error">No data available in the table</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-md-12 text-right">
                <pagination *ngIf="config.paging && length > 0"
                            class="pagination-sm"
                            [(ngModel)]="page"
                            [totalItems]="length"
                            [itemsPerPage]="itemsPerPage"
                            [maxSize]="maxSize"
                            [boundaryLinks]="true"
                            [rotate]="false"
                            (pageChanged)="onChangeTable(config, $event)"
                            (numPages)="numPages = $event">
                </pagination>
            </div>
            <div class="col-md-12 text-right">       
            </div>
            <div class="modal  in" id="del" role="dialog"  tabindex='-1'>
               <div class="modal-dialog mstyle modal-country">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Delete Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body">
                           <p *ngIf="deleteMsg">{{deleteMsg}}</p>
                           <p *ngIf="deleteMsg == ''">Are you sure you want to delete this Role ?</p>
                     </div>
                     <div class="modal-footer">
                        <button *ngIf="deleteMsg == ''" type="button" class="btn btn check-no" (click)="deleteMessageClear()" data-dismiss="modal">No</button>
                        <button *ngIf="deleteMsg == ''" type="button" class="btn btn check-footer" (click)="deleteConfirm()">Yes</button>
                        <button *ngIf="deleteMsg != ''" type="button" class="btn btn-primary" (click)="cancelModal()" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>

<!-- view status modal -->
<div id="ViewStatusModal" class="modal models" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-country ">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 class="modal-title">Filter by Status</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <hr>
                        </div>
                        <div class="modal-body view-detail">
                                <div class="container filter-down">
                                                      <div class="checkbox filter-down" >
                                                         <label class="container filter-down">
                                                            Select All
                                                            <input type="checkbox" [(ngModel)]="selectedStatusAll" value ="" (change)="selectAll('status', $event);"/>
                                                            <span class="checkmark add-cust"></span>
                                                         </label>
                                                      </div>
                                                      <div class="checkbox filter-down" *ngFor="let status of statusList">
                                                         <label class="container filter-down">
                                                               {{status.name}}
                                                            <input type="checkbox" [(ngModel)]="status.selected" value = {{status.status}} (change)="checkIfAllSelected(status,  $event, 'status');"/>
                                                            <span class="checkmark add-cust"></span>
                                                         </label>
                                                      </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button  type="button" class="btn btn-info check-footer"  (click)="apply(statusSelected)" data-dismiss="modal">Apply</button>

                        </div>
                </div>
        </div>
</div>
<!-- view status modal -->