<button *ngIf="page == 'edit'" (click)="print()" class="print-btn">
    <img src="../assets/img/printing-tool.svg">
</button>

<form [ngSwitch]="loading" autocomplete="off" [formGroup]="prForm" (ngSubmit)="onSubmit(prForm.value)" class="form-horizontal" method="post">
                <div *ngSwitchCase="true">
                   <overlay-loader></overlay-loader>
                </div>
                <div *ngSwitchCase="false">
                   <div class="row m-btm10">
                          <div class="row bunit">
                                 <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                           <div class="checkbox filter-down">
                                                  <label class="container">Lubricant
                                                  <input type="checkbox" [formControl]="prForm.controls['IsLubricant']"   (change)="selectAll($event);"/>
                                                  <span class="checkmark add-cust"></span>
                                                  </label>
                                           </div>
                                        </div>
                                 </div>
                          </div>
                          <div *ngIf="isLubricantSection==false">
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">GRN No</label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="GRNNo" maxlength="15" class="form-control" [formControl]="prForm.controls['GRNNo']" (keydown)="clearGrnErrorMsg($event)"
                                                  />
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Loading Date<small class="text-danger">*</small></label>
                                           </div>
                                           <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <my-date-picker [options]="myDatePickerOptions" [formControl]="prForm.controls['LoadingDate']" (dateChanged)="onDateChanged($event, 'LoadingDate')"
                                                  [(ngModel)]="LoadingDate" name="LoadingDate">
                                                  </my-date-picker>
                                                  <span class="error" *ngIf="datealertloading != ''">{{datealertloading}}</span>
                                           </div>
                                           <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control" [ngModel] = "loadingDateViewPage" [ngModelOptions]="{standalone: true}">
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="site">Site <small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <select class="form-control" id="siteId" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getPolListFromSite($event.target.value)" [formControl]="prForm.controls['Site']">
                                                        <option value="">Select</option>
                                                        <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                                                  </select>
                                                  <small *ngIf="prForm.controls['Site'].hasError('required') && (prForm.controls['Site'].touched || formSubmited)" class="error">{{siteReq}}</small>
                                                  <!-- <small *ngFor="let error of error.siteId" class="text-danger">{{error}}</small> -->
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Receiving Date<small class="text-danger">*</small></label>
                                           </div>
                                           <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <my-date-picker formControlName="ReceivingDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event, 'ReceivingDate')"
                                                  [(ngModel)]="ReceivingDate" name="ReceivingDate"></my-date-picker>
                                           </div>
                                           <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control" [ngModel] = "receivingDateViewPage" [ngModelOptions]="{standalone: true}">
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="Batch">Batch<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="Batch" (change)='onBatchChange($event)' class="form-control" maxlength="40" [formControl]="prForm.controls['Batch']" />
                                                  <small *ngIf="prForm.controls['Batch'].hasError('required') && (prForm.controls['Batch'].touched || formSubmited)" class="error">{{batchReq}}</small>
                                                  <small *ngFor="let error of error.secondKey" class="text-danger">{{error}}</small>
                                                  <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                                                  <small *ngIf="batchIssueSlipErrorMsg != ''" class="error">{{batchIssueSlipErrorMsg}}</small>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Temperature(°C)<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="Temperature" class="form-control" maxlength="10" (keypress)="_keyPress($event)" (keyup)="onTemperatureChange($event.target.value)"
                                                  [formControl]="prForm.controls['Temperature']" />
                                                  <span class="error" *ngIf="temperatureMessage != ''"> {{temperatureMessage}}</span>
                                                  <span class="error" *ngIf="tempReq != ''&& (prForm.controls['Temperature'].touched || formSubmited)"> {{tempReq}}</span>
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Batch Expiry Date</label>
                                           </div>
                                           <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <my-date-picker formControlName="BatchExpiryDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event, 'BatchExpiryDate')"
                                                  [(ngModel)]="BatchExpiryDate" name="BatchExpiryDate"></my-date-picker>
                                                  <span class="error" *ngIf="datealertreceiving != ''">{{datealertreceiving}}</span>
                                           </div>
                                           <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control" [ngModel] = "expiryDateViewPage" [ngModelOptions]="{standalone: true}">
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Density<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="Density" (keypress)="_keyPress($event)" maxlength="10" (keyup)="onDensityChange($event.target.value)" class="form-control"
                                                  [formControl]="prForm.controls['Density']" />
                                                  <span class="error" *ngIf="densityMessage != ''"> {{densityMessage}}</span>
                                                  <span class="error" *ngIf="densityReq != ''"> {{densityReq}}</span>
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Loaded Quantity<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="LoadedQuantity" (keypress)="_keyPress($event)" maxlength="10" class="form-control" [formControl]="prForm.controls['LoadedQuantity']"
                                                  (keyup)="onLoadedQtyChange($event.target.value)" />
                                                  <small *ngIf="prForm.controls['LoadedQuantity'].hasError('required') && (prForm.controls['LoadedQuantity'].touched || formSubmited)"
                                                         class="error">{{qtyReq}}</small>
                                                  <br>
                                                  <small class="error"> {{qtyZero}}</small>
                                                  <small *ngFor="let error of error.secondKey" class="text-danger">{{error}}</small>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Purchase Order<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="PurchaseOrder" maxlength="40" class="form-control" [formControl]="prForm.controls['PurchaseOrder']" />
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">POL<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <select [formControl]="prForm.controls['POL']" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getStorageTankListFromPol($event.target.value)">
                                                  <option value="">Select</option>
                                                  <option *ngFor="let pol of polbysitelist" [value]="pol.id">{{pol.name}}
                                                  </select>
                                                  <small *ngIf="prForm.controls['POL'].hasError('required') && (prForm.controls['POL'].touched || formSubmited)" class="error">{{polReq}}</small>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Laboratory Sample No<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="LaboratorySampleNo" class="form-control" maxlength="30" [formControl]="prForm.controls['LaboratorySampleNo']" />
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Truck No<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <select formControlName="TruckNo" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getCompanyDetails($event.target.value)">
                                                         <option value="" selected disabled>Select</option>
                                                         <option *ngFor="let dv of dvList" [value]="dv.dischargeVehicleId">{{dv.name}}
                                                  </select>
                                           </div>
                                           <div *ngIf = "page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                                  <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
                                                         data-target="#AddTruck"><img src="../assets/icon/add-icon.png"></button>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Company Name<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="companyName">
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Truck Odometer Reading<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="TruckOdometerReading" maxlength="20" (keypress)="_keyPress($event)" (keyup)="onTruckOdometerChange($event.target.value)"
                                                  class="form-control" [formControl]="prForm.controls['TruckOdometerReading']"
                                                  />
                                                  <span *ngIf="truckmessage != ''" class="error">{{truckmessage}}</span>
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Driver<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <select formControlName="Driver" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getDriverDetails($event.target.value)">
                                                         <option value="">Select</option>
                                                         <option *ngFor="let driver of driverList" [value]="driver.driverId">{{driver.driverName}}
                                                  </select>
                                           </div>
                                           <div *ngIf = "page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                                  <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
                                                         data-target="#AddDriver"><img src="../assets/icon/add-icon.png"></button>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Driver Mobile No<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="DriverMob">
                                           </div>
                                        </div>
                                 </div>
                                 <hr>
                                 <br>
                                 <div class="text-center"> <span class="error" *ngIf="tankalertmessage != ''">{{tankalertmessage}}</span></div>
                                 <div formArrayName="PurchaseReceiptDetails" class="add-scroll">
                                        <div class="section-container" *ngFor="let section of getPurchaseReceiptDetails(prForm); let i = index">
                                           <div class="ui raised segments" [formGroupName]="i">
                                                  <br>
                                                  <div class="row bunit">
                                                         <div class="col-xs-12 col-sm-12 col-md-4 offset-md-2">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <label class="list-view" for="lr">Storage Tank<small class="text-danger">*</small></label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <select formControlName="StorageTankId" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getSTDetails($event.target.value, section, i)">
                                                                          <option value="" selected disabled>Select</option>
                                                                          <option *ngFor="let tank of storagetanklist" [value]="tank.storageTankId">{{tank.tankName}}
                                                                   </select>
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-4 ">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <label class="list-view" for="Quantity">Quantity<small class="text-danger"></small></label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <input type="text" class="form-control" maxlength="10" formControlName="Quantity" (keypress)="_keyPress($event)" (keyup)="onTextChange($event.target.value,section)">
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-2 list-margin">
                                                                <button *ngIf="!showAddBtn[i] && page != 'edit'" type="button" class="point-icon" (click)="addSection(i, section)" formnovalidate><img src="../assets/icon/add-icon.png"></button>
                                                                <button class="point-icon" *ngIf="getPurchaseReceiptDetails(prForm).length > 1 && page != 'edit'" (click)="removeSection(i,section)" formnovalidate><img src="../assets/icon/delete-icon.png"></button>
                                                                <!-- <button *ngIf="this.page=='edit'" type="button" class="point-icon" (click)="editSection(i,section)" formnovalidate><img src="../assets/icon/edit-icon.png"></button> -->
                                                         </div>
                                                  </div>
                                           </div>
                                        </div>
                                 </div>
                                 <br>
                                 <div class="text-center"><span class="error" *ngIf="qtyErrorMsg != ''">{{qtyErrorMsg}}</span></div>
                                 <hr>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <label for="name" style="font-weight:bold">Received Quantity<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="prForm.controls['ReceivedQuantity']">
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                                  <label for="name" style="font-weight:bold">Received Quantity @ 15 °C<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="prForm.controls['ReceivedQuantityAt15']">
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <label for="name" style="font-weight:bold">Variance<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" [formControl]="prForm.controls['Variance']">
                                           </div>
                                        </div>
                                 </div>
                          </div>
                          <div *ngIf="isLubricantSection==true">
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">GRN No</label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="GRNNo" maxlength="15" class="form-control" [formControl]="prForm.controls['GRNNo']" (keydown)="clearGrnErrorMsg($event)"
                                                  />
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Loading Date<small class="text-danger">*</small></label>
                                           </div>
                                           <div  *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <my-date-picker [options]="myDatePickerOptions" [selDate]="selectedDate" formControlName="LoadingDate" (dateChanged)="onDateChanged($event, 'LoadingDate')"
                                                  [(ngModel)]="LoadingDate" name="LoadingDate"></my-date-picker>
                                           </div>
                                           <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control" [ngModel] = "loadingDateViewPage" [ngModelOptions]="{standalone: true}">
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="site">Site <small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <select class="form-control" id="siteId" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getLubeListFromSite($event.target.value)" [formControl]="prForm.controls['Site']">
                                                  <option value="">Select</option>
                                                  <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                                                  </select>
                                                  <small *ngIf="prForm.controls['Site'].hasError('required') && (prForm.controls['Site'].touched || formSubmited)" class="error">{{siteReq}}</small>
                                                  <!-- <small *ngFor="let error of error.siteId" class="text-danger">{{error}}</small> -->
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Receiving Date<small class="text-danger">*</small></label>
                                           </div>
                                           <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <my-date-picker formControlName="ReceivingDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event, 'ReceivingDate')"
                                                  [(ngModel)]="ReceivingDate" name="ReceivingDate"></my-date-picker>
                                                  <span class="error" *ngIf="datealertloading != ''">{{datealertloading}}</span>
                                                  <span class="error" *ngIf="datealertloading == ''"></span>
                                           </div>
                                           <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control" [ngModel] = "receivingDateViewPage" [ngModelOptions]="{standalone: true}">
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Loaded Quantity<small class="text-danger">*</small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="LoadedQuantity" class="form-control" maxlength="10" [formControl]="prForm.controls['LoadedQuantity']"
                                                  (keyup)="onLoadedTextChange($event.target.value,section)" />
                                                  <small *ngIf="prForm.controls['LoadedQuantity'].hasError('required') && (prForm.controls['LoadedQuantity'].touched || formSubmited)"
                                                         class="error">{{qtyReq}}</small><br>
                                                  <small class="error"> {{qtyZero}}</small>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="latitude">Purchase Order<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" id="PurchaseOrder" maxlength="40" class="form-control" [formControl]="prForm.controls['PurchaseOrder']" />
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Truck No<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <select formControlName="TruckNo" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getCompanyDetails($event.target.value)">
                                                         <option value="">Select</option>
                                                         <option *ngFor="let dv of dvList" [value]="dv.dischargeVehicleId">{{dv.name}}
                                                  </select>
                                           </div>
                                           <div *ngIf = "page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                                  <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
                                                         data-target="#AddTruck"><img src="../assets/icon/add-icon.png"></button>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Company Name<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="companyName" value={{companyName}}>
                                           </div>
                                        </div>
                                 </div>
                                 <div class="row bunit">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Driver<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                  <select formControlName="Driver" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getDriverDetails($event.target.value)">
                                                         <option value="">Select</option>
                                                         <option *ngFor="let driver of driverList" [value]="driver.driverId">{{driver.driverName}}
                                                  </select>
                                           </div>
                                           <div *ngIf = "page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                                 <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
                                                         data-target="#AddDriver"><img src="../assets/icon/add-icon.png"></button>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                  <label for="name">Driver Mobile No<small class="text-danger"></small></label>
                                           </div>
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                  <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="DriverMob">
                                           </div>
                                        </div>
                                 </div>
                                 <!-- <div class="text-center"><span class="error" *ngIf="detailsmessage != ''">{{detailsmessage}}</span></div> -->
                                 <br>
                                 <div formArrayName="PurchaseReceiptLubeDetails" class="add-scroll">
                                        <div class="section-container" *ngFor="let section of getPurchaseReceiptLubeDetails(prForm); let i = index">
                                           <div class="ui raised segments" [formGroupName]="i">
                                                  <br>
                                                  <div class="row bunit" style="margin-left: 50px;">
                                                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                                                                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="lr">Product<small class="text-danger">*</small></label>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <select formControlName="POLId" class="form-control" [ngClass]="{'hide-select-arrow': page == 'edit'}" (change)="getPolDetails($event.target.value, section, i)">
                                                                          <option value="" selected disabled>Select</option>
                                                                          <option *ngFor="let pol of pollist" [disabled] = "page == 'edit'" [value]="pol.id">{{pol.name}}
                                                                   </select>
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                                                                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="Package">Package<small class="text-danger"></small></label>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <input type="text" readonly class="form-control" id="staticEmail" formControlName="Package">
                                                                   <!-- <label readonly class="form-control bu-control" id="staticEmail"  formControlName="Package" ></label> -->
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                                                                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="PackSize">PackSize<small class="text-danger"></small></label>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <input type="text" readonly class="form-control" id="staticEmail" formControlName="PackSize">
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                                                                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="NumberOfPackets">Number Of Packs<small class="text-danger"></small></label>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <input type="text" class="form-control" formControlName="NumberOfPackets" (keyup)="onPackChange($event.target.value,section)"
                                                                   maxlength="10" (keypress)="_keyPress($event)" [readonly] = "page == 'edit'">
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2">
                                                                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="Volume">Volume<small class="text-danger"></small></label>
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                   <input type="text" readonly class="form-control" id="staticEmail" formControlName="Volume">
                                                                </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-12 col-md-2 col-lg-6 col-xl-2 list-margin">
                                                                <button *ngIf = "!showAddLubeBtn[i] && page != 'edit'" type="button" (click)="addLubeSection(section, i)" formnovalidate style="background:transparent;border:none;" class="point-icon"><img src="../assets/icon/add-icon.png"></button>
                                                                <button style="background: transparent;border:none" *ngIf="getPurchaseReceiptLubeDetails(prForm).length > 1 && page != 'edit'" (click)="removeLubeSection(i)"
                                                                formnovalidate class="point-icon"><img src="../assets/icon/delete-icon.png"></button>
                                                                <!-- <button type="button"  style="background: transparent;border:none"  (click)="editLubeSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/edit-icon.png"> </button> -->
                                                         </div>
                                                  </div>
                                           </div>
                                        </div>
                                        <br>
                                        <div class="text-center"><span class="error" *ngIf="lubeErrorMsg != ''">{{lubeErrorMsg}}</span></div>
                                 </div>
                          </div>
                          <div class="row bunit">
                                 <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                                           <label for="name">Remarks<small class="text-danger"></small></label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                                           <textarea rows="4" cols="50" id="Remarks" class="text-area" [formControl]="prForm.controls['Remarks']">
                                           </textarea>
                                        </div>
                                 </div>
                          </div>
                          <div class="text-center error-margin"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
                          <div class="text-center error-margin"><span class="error" *ngIf="idalertmessage != ''">{{idalertmessage}}</span></div>
                          <div class="text-center error-margin"> <span class="error" *ngIf="lubealertmessage != ''"> {{lubealertmessage}}</span></div>
                          <div class="text-center error-margin"><span class="error" *ngIf="storagetankreqalert != ''">{{storagetankreqalert}} </span></div>
                          <div class="text-center error-margin"> <span class="error" *ngIf="variancealert != ''">{{variancealert}}</span></div>
                          <div class="text-center error-margin"> <span class="error" *ngIf="tankArrayError != ''">{{tankArrayError}}</span></div>
                          <div class="clearfix"></div>
                          <div class="clearfix"></div>
                          <div>
                                 <div>
                                        <div *ngIf="page != 'edit'">
                                           <br>
                                           <input name="file" type="file" (change)="onChange($event)" [formControl]="prForm.controls['FileType']" multiple/>
                                           <br>
                                           <ng-container *ngIf="ErrorList.length==1">
                                                  <small *ngFor="let error of ErrorList" class="error">{{error}}</small>
                                           </ng-container>
                                           <ng-container *ngIf="ErrorList.length>1">
                                                  <small *ngFor="let error of ErrorList" class="error">{{error}}<br /></small>
                                           </ng-container>
                                        </div>
                                 </div>
                          </div>
                          <div class="text-right" *ngIf='savebutton == true'>
                                 <button *ngIf="page != 'edit'" type="submit" class="btn btn check-footer m-top10">Save</button>
                                 <button *ngIf="page != 'edit'" type="button" class="btn  check-no m-top10" value="Clear" (click)="clearmsgs()">Clear</button>
                          </div>
                   </div>
                </div>
                <!--truck modal-->
                <div id="AddTruck" class="modal  models" role="dialog" tabindex='-1'>
                   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="modal-content">
                                 <div class="modal-header">
                                        <h4 class="modal-title">Add New Truck</h4>
                                        <button type="button" (click)="modalclose('truck')" class="close" data-dismiss="modal">&times;</button>
                                        <hr>
                                 </div>
                                 <div class="modal-body">
                                        <br>
                                        <div class="bu-container">
                                           <form [formGroup]="truckForm">
                                                  <!-- <p *ngIf="insertmessage">{{insertmessage}}</p> -->
                                                  <div class="col-md-12 space" *ngIf="!insertmessage">
                                                         <div class="form-group row">
                                                                <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Registration Number<small class="text-danger">*</small></label>
                                                                <div class="col-sm-8">
                                                                   <input type="text" class="form-control" name="regNo" [formControl]="truckForm.controls['regNo']" maxlength="15" (keyup)='clearRegNoError()'>
                                                                   <small *ngIf="truckForm.controls['regNo'].hasError('required') && (truckForm.controls['regNo'].touched || truckFormSubmited)" class="error">{{regNoReq}}</small>
                                                                   <small *ngFor="let error of truckError.firstKey" class="error">{{error}}</small>
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Transport Company Name<small class="text-danger">*</small></label>
                                                                <div class="col-sm-8">
                                                                   <select class="form-control" id="companyId"
                                                                          [formControl]="truckForm.controls['companyId']" >
                                                                          <option value="">Select</option>
                                                                          <option *ngFor="let cl of companyList" [value]="cl.id">{{cl.name}}</option>
                                                                   </select>
                                                                   <small *ngIf="truckForm.controls['companyId'].hasError('required') && (truckForm.controls['companyId'].touched || truckFormSubmited)" class="error">{{companyReq}}</small>
                                                                   <small *ngFor="let error of error.companyId" class="text-danger">{{error}}</small>
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Address</label>
                                                                <div class="col-sm-8">
                                                                   <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="truckForm.controls['Address']">
                                                                   </textarea>
                                                                </div>
                                                         </div>
                                                  </div>
                                           </form>
                                        </div>
                                 </div>
                                 <div class="modal-footer">
                                        <button  type="button" (click) = "onSaveTruck(truckForm.value)" class="btn check-footer">Save</button>
                                 </div>
                          </div>
                   </div>
                </div>
                <!--truck modal-->
                <!--driver modal-->
                <div id="AddDriver" class="modal  models" role="dialog" tabindex='-1'>
                   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="modal-content">
                                 <div class="modal-header">
                                        <h4 class="modal-title">Add New Driver</h4>
                                        <button type="button" (click)="modalclose('driver')" class="close" data-dismiss="modal">&times;</button>
                                        <hr>
                                 </div>
                                 <div class="modal-body">
                                        <br>
                                        <div class="bu-container">
                                           <form [formGroup]="driverForm">
                                                  <!-- <p *ngIf="insertmessage">{{insertmessage}}</p> -->
                                                  <div class="col-md-12 space" *ngIf="!insertmessage">
                                                         <div class="form-group row">
                                                                <label for="businessunitname" class="col-sm-4 col-form-label" style="font-size:14px">Business Unit Name<small class="text-danger">*</small></label>
                                                                <div class="col-sm-8">
                                                                   <select class="form-control" id="bu"
                                                                          [formControl]="driverForm.controls['businessunitnameId']" >
                                                                          <option value="" selected disabled>Select</option>
                                                                          <option *ngFor="let bu of buList" [value]="bu.buId">{{bu.buName}}</option>
                                                                   </select>
                                                                   <small *ngIf="driverForm.controls['businessunitnameId'].hasError('required') && (driverForm.controls['businessunitnameId'].touched || driverFormSubmited)" class="error">{{buReq}}</small>
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="driver" class="col-sm-4 col-form-label" style="font-size:14px">Driver Name<small class="text-danger">*</small></label>
                                                                <div class="col-sm-8">
                                                                   <input type="text" class="form-control" name="driver" [formControl]="driverForm.controls['driverName']">
                                                                   <small *ngIf="driverForm.controls['driverName'].hasError('required') && (driverForm.controls['driverName'].touched || driverFormSubmited)" class="error">{{driverReq}}</small> 
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="driver" class="col-sm-4 col-form-label" style="font-size:14px">Driving Licence No<small class="text-danger"></small></label>
                                                                <div class="col-sm-8">
                                                                   <input type="text" class="form-control" name="driverlic" [formControl]="driverForm.controls['drivingLicenceNo']">
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="driver" class="col-sm-4 col-form-label" style="font-size:14px">Telephone Number<small class="text-danger"></small></label>
                                                                <div class="col-sm-8">
                                                                   <input type="text" class="form-control" name="telephoneNo" [formControl]="driverForm.controls['telephoneNo']">
                                                                </div>
                                                         </div>
                                                         <div class="form-group row">
                                                                <label for="driver" class="col-sm-4 col-form-label" style="font-size:14px">Transport Company Name <small class="text-danger">*</small></label>
                                                                <div class="col-sm-8">
                                                                   <select class="form-control" id="companyId"
                                                                          [formControl]="driverForm.controls['companyId']" >
                                                                          <option value="" selected disabled>Select</option>
                                                                          <option *ngFor="let company of companyList" [value]="company.id">{{company.name}}</option>
                                                                   </select>
                                                                   <small *ngIf="driverForm.controls['companyId'].hasError('required') && (driverForm.controls['companyId'].touched || driverFormSubmited)" class="error">{{transportCompanyReq}}</small> 
                                                                </div>
                                                         </div>
                                                  </div>
                                           </form>
                                        </div>
                                 </div>
                                 <div class="modal-footer">
                                        <button  type="button" (click) = "onSaveDriver(driverForm.value)" class="btn check-footer">Save</button>
                                 </div>
                          </div>
                   </div>
                </div>
                <!--driver modal-->
</form>
<!-- print Purchase Receipt modal -->
<div id="print-section" class="modal  models" role="dialog" tabindex='-1'>
       <div class="modal-width container">
          <div class="modal-content modal-margin">
             <div class="modal-header">
                <h4 class="modal-title">Purchase Receipt</h4>
                
             </div>
             <div class="modal-body">
                <div class="container-fluid">
                   <form>

                      <div class="form-group row">
                         <label for="grnNo" class="col-md-3 col-form-label" style="font-size:14px">GRN No : </label>
                         <div class="col-md-3">
                            <div *ngIf='purchaseReceiptPrintData.grnNo'>   {{purchaseReceiptPrintData.grnNo}}</div>
                         </div>

                         <label for="loadDate" class="col-md-3 col-form-label" style="font-size:14px">Loading Date : </label>
                         <div class="col-md-3">
                            {{purchaseReceiptPrintData.loadingDate | date: 'dd/MM/yyyy' }}
                         </div>
                      </div>

                      <div class="form-group row">

                        <label for="site" class="col-md-3 col-form-label" style="font-size:14px">Site : </label>
                        
                        <div class="col-md-3">
                        <div  *ngIf='purchaseReceiptPrintData.site'>{{purchaseReceiptPrintData.site.name}}</div>
                        </div>

                         <label for="receiveDate" class="col-md-3 col-form-label" style="font-size:14px">Receiving Date : </label>
                         <div class="col-md-3">
                            {{purchaseReceiptPrintData.receivingDate | date: 'dd/MM/yyyy'}}
                         </div>
                         
                      </div>

                      <div *ngIf="IsLubricant==false">

                         <div class="form-group row">
                            <label for="batchNumber" class="col-md-3 col-form-label" style="font-size:14px">Batch : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.batchNumber}}
                            </div>
                            <label for="temprature" class="col-md-3 col-form-label" style="font-size:14px">Temperature(°C) : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.temprature}}
                            </div>
                         </div>

                      </div>

                      <div *ngIf="IsLubricant==false">

                         <div class="form-group row">
                            <label for="batchExpiry" class="col-md-3 col-form-label" style="font-size:14px">Batch Expiry Date : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.batchExpiry | date: 'dd/MM/yyyy'}}
                            </div>
                            <label for="density" class="col-md-3 col-form-label" style="font-size:14px">Density : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.density}}
                            </div>
                         </div>

                      </div>

                      <div class="form-group row">
                         <label for="loadedQuantity" class="col-md-3 col-form-label" style="font-size:14px">Loaded Quantity : </label>
                         <div class="col-md-3">
                            {{purchaseReceiptPrintData.loadedQuantity}}
                         </div>
                         <label for="purchaseOrderNo" class="col-md-3 col-form-label" style="font-size:14px">Purchase Order : </label>
                         <div class="col-md-3">
                            {{purchaseReceiptPrintData.purchaseOrderNo}}
                         </div>
                      </div>

                      <div *ngIf="IsLubricant==false">

                        <div class="form-group row">   
                            <label for="pol" class="col-md-3 col-form-label" style="font-size:14px">POL/Product : </label>
                            <div class="col-md-3">
                              <div *ngIf="purchaseReceiptPrintData.pol"> {{purchaseReceiptPrintData.pol.name}}</div>
                            </div> 
                       
                            <label for="laboratorySampleNo" class="col-md-3 col-form-label" style="font-size:14px">Laboratory Sample No : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.laboratorySampleNo}}
                            </div>
                         </div>

                      </div>

                      <div class="form-group row">
                         <label for="dischargeVehicle" class="col-md-3 col-form-label" style="font-size:14px">Truck No : </label>
                         <div class="col-md-3">
                           <div  *ngIf="purchaseReceiptPrintData.dischargeVehicle"> {{purchaseReceiptPrintData.dischargeVehicle.name}}</div>
                         </div>
                         <div *ngIf="IsLubricant==false">
                            <label for="truckOdoMeterReading" class="col-md-3 col-form-label" style="font-size:14px">Truck Odometer Reading : </label>
                            <div class="col-md-3">
                               {{purchaseReceiptPrintData.truckOdoMeterReading}}
                            </div>
                         </div>
                      </div>
                      
                      <div class="form-group row">
                         <label for="driver" class="col-md-3 col-form-label" style="font-size:14px">Driver : </label>
                         <div class="col-md-3" *ngIf="purchaseReceiptPrintData.driver">
                            {{purchaseReceiptPrintData.driver.driverName}}
                         </div>
                      </div>

                      <div *ngIf="IsLubricant==false">
                         <hr>
                        
                         <div *ngFor="let tank of purchaseReceiptPrintData.purchaseReceiptStorageTankDetails" class="row-bunit">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-md-3 col-form-label" style="font-size:14px">Storage Tank : </label>
                               <div class="col-sm-3">
                                  {{tank.storageTank.tankName}}
                               </div>
                               <label for="inputPassword" class="col-md-3 col-form-label" style="font-size:14px">Quantity : </label>
                               <div class="col-sm-3">
                                  {{tank.quantity}}
                               </div>
                            </div>
                         </div>
                      </div>

                      <div *ngIf="IsLubricant==true">
                         <hr>
                         <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Product : </label>
                            <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Pack Size : </label>
                            <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">No Of Packs : </label>
                            <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Volume : </label>
                         </div>
                         <div *ngFor="let lube of purchaseReceiptPrintData.purchaseReceiptLubricantDetails" class="row-bunit">
                            <div class="form-group row">
                               <div class="col-sm-3">
                                  {{lube.pol.name}}
                               </div>
                               <div class="col-sm-3">
                                  {{lube.packSize}}
                               </div>
                               <div class="col-sm-3">
                                  {{lube.numberOfPackets}}
                               </div>
                               <div class="col-sm-3">
                                  {{lube.volume}}
                               </div>
                            </div>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
</div>
<!-- print Purchase Receipt modal -->