<span class="manager col-xs-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">Edit Equipment Type</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	         
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success equipment-add">{{success}}</div>
	                <equipmenttype-form [equipmenttype]="equipmenttype | async" [error]="error" [page]="page" (saved)="onSave($event)">

                    </equipmenttype-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	