<form [ngSwitch]="loading" [formGroup]="uomForm" (ngSubmit)="onSubmit(uomForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row bunit">

            <div class="row mt-top">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="name">UOM Name <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <input type="text"  maxlength=30  id="name" class="form-control" [formControl]="uomForm.controls['name']" />


                        <small *ngIf="uomForm.controls['name'].hasError('required') && (uomForm.controls['name'].touched || formSubmited)" class="error">{{nameReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                    </div>

                </div>



                <div class="col-xs-12 col-sm-12 col-md-6">

                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="abbrevation">Abbreviation <small class="text-danger"></small></label>

                    </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                         <input type="text"  maxlength=40  id="abbrevation" class="form-control" [formControl]="uomForm.controls['abbrevation']" />
                    </div>
                </div>

            </div>

            <div class="row form-row">


                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="classUnitId">Class <small class="text-danger">*</small></label>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                            <select class="form-control" id="classUnitId"
                            [formControl]="uomForm.controls['classUnitId']" >
                                    <option value="">Select</option>
                                <option *ngFor="let cl of classList" [value]="cl.id">{{cl.name}}</option>
                            </select>
                            <small *ngIf="uomForm.controls['classUnitId'].hasError('required') && (uomForm.controls['classUnitId'].touched || formSubmited)" class="error">{{classReq}}</small>
                            <small *ngFor="let error of error.classUnitId" class="error">{{error}}</small>

                    </div>

                </div>

            </div>


            <div class="row form-row">

                <div class="col-xs-12 col-sm-12 col-md-6">


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label for="conversion">Conversion </label><small class="text-danger"></small>
                                <label style= "color: darkgray" class="unit-label"> 1 Unit = </label>
                             <br>

                         </div>

                         <!-- <div class="col-md-1"><span class="multi">*</span></div> -->

                         <div class="col-xs-12 col-sm-12 col-md-3 form-conv">

                                <input type="text"   id="convertionFactor" class="form-control" [formControl]="uomForm.controls['convertionFactor']"  (keypress)="_keyPress($event)"/>
                                <small *ngIf="uomForm.controls['convertionFactor'].hasError('required') && (uomForm.controls['convertionFactor'].touched || formSubmited)" class="error">Conversion Factor is Required.</small>
                                <small *ngFor="let error of error.convertionFactor" class="text-danger">{{error}}</small>


                         </div>


                         <span class="multi">*</span>

                         <div class="col-xs-12 col-sm-12 col-md-5 form-conv">
                                <select class="form-control uom-select" id="uomId"
                                 [formControl]="uomForm.controls['uomId']" >
                                         <option value="">Select</option>
                                         <!-- <option value="1">Gallon</option> -->
                                    <option *ngFor="let cl of UOMList" [value]="cl.id">{{cl.name}}</option>
                                </select>
                         </div>

                </div>

            </div>

            <br>

                       <div class="form-conv">

                           <input name="file" type="file" (change)="onChange($event)" [formControl]="uomForm.controls['FileType']" multiple/>

                            <br>
                            <ng-container *ngIf="ErrorList.length==1">
                                <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                            </ng-container>

                            <ng-container *ngIf="ErrorList.length>1">
                                <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                            </ng-container>

                        </div>


                      <!-- <div class="clearfix"></div>   -->
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn btn check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>