<form [ngSwitch]="loading" [formGroup]="businessunitForm" (ngSubmit)="onSubmit(businessunitForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">



        <div class="bu-form row-mt">

                <div class="row bunit">
                        <div class="col-xs-12 col-sm-12 col-md-4">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                <div class="checkbox">


                                        <label class="container filter-down">

                                            <input type="checkbox" [formControl]="businessunitForm.controls['IsInternal']"   (change)="selectAll($event);"/> <span class="checkmark add-cust add-align"></span>
                                        </label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                                        <label for="name">Is Internal</label>

                            </div>

                        </div>
                </div>


            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                        <label for="name">Business Unit Name<small class="text-danger">*</small></label>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                        <input type="text"  maxlength=20  id="buName" class="form-control" [formControl]="businessunitForm.controls['buName']" />
                        <small *ngIf="businessunitForm.controls['buName'].hasError('required') && (businessunitForm.controls['buName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                    </div>


                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">

                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                             <label for="country">Country <small class="text-danger">*</small></label>

                         </div>

                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                             <select class="form-control" id="countryId"
                             [formControl]="businessunitForm.controls['countryId']" >
                                     <option value="">Select</option>
                                 <option *ngFor="let cl of countryList" [value]="cl.countryId">{{cl.name}}</option>
                             </select>

                             <small *ngIf="businessunitForm.controls['countryId'].hasError('required') && (businessunitForm.controls['countryId'].touched || formSubmited)" class="error">{{countryReq}}</small>
                             <small *ngFor="let error of error.CountryId" class="error">{{error}}</small>

                         </div>

                     </div>

        </div>
        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <label for="name">Business Unit Code<small class="text-danger">*</small></label>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                    <input type="text" maxlength="3" (keyup)='onBUcodeChange($event.target.value)' style="text-transform:uppercase" id="buCode" class="form-control" [formControl]="businessunitForm.controls['buCode']" />
                    <small *ngIf="businessunitForm.controls['buCode'].hasError('required') && (businessunitForm.controls['buCode'].touched || formSubmited)" class="error">{{buCodeReq}}</small>
                    <small *ngIf="buCodeErrorMsg != '' && buCodeReq == ''" class="error">{{buCodeErrorMsg}}</small>

                </div>


            </div>

    </div>

        <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                                <label for="address">Address</label>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                <textarea rows="4" cols="50" class="text-area" name="buAddress"
                                                [formControl]="businessunitForm.controls['buAddress']" >

                                                </textarea>
                                                <small *ngFor="let error of error.BUAddress" class="error">{{error}}</small>
                                            </div>

                                        </div>


        </div>
    </div>
            <div class="clearfix"></div>
            <div><br /><br /></div>


            <div>
               <div>
                   <br>
                   <div>
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="businessunitForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                            </ng-container>
                        <ng-container *ngIf="ErrorList.length>1">
                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                        </ng-container>
                   </div>

                </div>
            </div>

                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->

                        </div>
                    </form>