<form [ngSwitch]="loading" [formGroup]="polForm" (ngSubmit)="onSubmit(polForm.value)" class="form-horizontal" method="post">
        <div *ngSwitchCase="true">
            <overlay-loader></overlay-loader>
        </div>
        <div *ngSwitchCase="false">
            <div class="row m-btm10">

            <div class="row bunit">

                        <div class="col-xs-12 col-sm-12 col-md-6">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">


                                        <div class="checkbox filter-down">

                                                    <label class="container">Lubricant
                                                        <input type="checkbox" [formControl]="polForm.controls['IsLubricant']" (change)="selectAll($event);"/>
                                                  <span class="checkmark add-cust"></span>
                                                </label>

                                        </div>

                                    </div>

                        </div>
            </div>

            <div class="row bunit">
                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <label for="name">POL <small class="text-danger">*</small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <input type="text"   id="Name" class="form-control" [formControl]="polForm.controls['Name']" />
                            <small *ngIf="polForm.controls['Name'].hasError('required') && (polForm.controls['Name'].touched || formSubmited)" class="error">{{nameReq}}</small>
                            <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <label for="address">Grade <small class="text-danger"></small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <input type="text"   id="Grade" class="form-control" [formControl]="polForm.controls['Grade']" />
                            <small *ngFor="let error of error.Grade" class="error">{{error}}</small>
                        </div>
                    </div>

            </div>

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <label for="country">UOM <small class="text-danger">*</small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                            <select class="form-control" id="UOMId"
                            [formControl]="polForm.controls['UOMId']" >
                                    <option value="">Select</option>
                                <option *ngFor="let cl of uomList" [value]="cl.id">{{cl.name}}</option>
                            </select>
                            <small *ngIf="polForm.controls['UOMId'].hasError('required') && (polForm.controls['UOMId'].touched || formSubmited)" class="error">{{uomReq}}</small>
                            <small *ngFor="let error of error.UOMId" class="error">{{error}}</small>
                        </div>
                </div>

                <div *ngIf="isLubricantSection==true">
                <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <label for="PackSize" class="dis-label">Pack Size(Equivalent Litres) <small class="text-danger">*</small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                <input type="text"   id="PackSize" class="form-control" (keypress)="_keyPress($event)"  [formControl]="polForm.controls['PackSize']" />
                                <small *ngIf="polForm.controls['PackSize'].value == '' && (polForm.controls['PackSize'].touched || formSubmited) && IsLubricant" class="error">{{packSizeReq}}</small>
                                <small *ngFor="let error of error.PackSize" class="text-danger">{{error}}</small>
                        </div>

                </div>
                </div>
            </div>

                <div class="clearfix"></div>
                <div><br /><br /></div>
                <div>
                   <div>
                       <div>
                           <input name="file"  type="file" (change)="onChange($event)" [formControl]="polForm.controls['FileType']" multiple/>
                          <br>
                           <ng-container *ngIf="ErrorList.length==1">
                            <small *ngFor="let error of ErrorList" class="error">{{error}}</small>
                        </ng-container>
                        <ng-container *ngIf="ErrorList.length>1">
                            <small *ngFor="let error of ErrorList" class="error">{{error}}<br /></small>
                        </ng-container>
                    </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- <div class="row"> -->
                    <div class="text-right" *ngIf='savebutton == true'>
                        <button type="submit" class="btn check-footer m-top10">Save</button>
                        <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                    </div>
                               <!--  </div> -->
                                 </div>
                            </div>
                        </form>