<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Edit UserManagement</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <header class="manager-top m-btm20">
	            	
	            </header>
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success usermanage-sucess">{{success}}</div>
	                <usermanagement-form [usermanagement]="usermanagement | async" [error]="error" [page]="page" (saved)="onSave($event)"></usermanagement-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	