<span class="manager header-align col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Tank Availability</span>
<div class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left">
                  Show Entries
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                  <select class="select-control" (change)="onSelectChange($event)">
                  <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                  </select>
               </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
               <button class="btn  m-btm10 pull-right purchase-btn">
                <img src="../assets/img/mexcel.png" data-toggle="modal"
                  data-target="#Export">
               </button>
               <div class="search-block search-summary">
                  <input *ngIf="config.filtering" placeholder="Search"
                  [ngTableFiltering]="config.filtering"
                  class="form-control search-border"
                  (tableChanged)="onChangeTable(config)"/>
                  <div class="search-btn">
                     <button class="btn btn-default ser" type="submit">
                     <i class="fas fa-search"></i>              
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== '' && column.sort!= false"
                              tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                              (click)="Sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.name=='Sitename' && column.filter == true" class="issue-filter fa fa-filter"     
                              [ngTableFiltering]="config.filtering" 
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewSiteModal"></i>
                              <i *ngIf="config && column.name=='POL' && column.filter == true" class="issue-filter fa fa-filter"     
                              [ngTableFiltering]="config.filtering" 
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewPOLModal"></i>
                              <i *ngIf="config && column.name=='StorageTank' && column.filter == true" class="issue-filter fa fa-filter"     
                              [ngTableFiltering]="config.filtering" 
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewTankModal"></i>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <tr *ngFor="let item of polavailability; let i = index" >
                           <td>{{i+1}}</td>
                           <td>{{item.site.name}}</td>
                           <td>{{item.storageTank.tankName}}</td>
                           <td *ngIf="item.storageTank.pol!=null">{{item.storageTank.pol.name}}</td>
                           <td *ngIf="item.storageTank.pol==null">--</td>
                           <td>{{item.storageTank.capacity}}</td>
                           <td>{{item.polAvailableQuantity}}</td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="10" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div>
            </div>
            <!-- view POL modal -->
            <div id="ViewPOLModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by POL</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedpolAll" value ="" (change)="selectAll('Pol',$event);"/>   <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of polGroups">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Pol');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Pol')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view POL modal -->
            <!-- view Tank modal -->
            <div id="ViewTankModal" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Storage Tank</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedtankAll" value ="" (change)="selectAll('Tank',$event);"/>   <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of tankGroups">
                              <label class="container">{{list.tankName}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.storageTankId}} (change)="checkIfAllSelected(list,$event,'Tank');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Tank')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view Tank modal -->
            <!-- view site modal -->
            <div id="ViewSiteModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Site</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedsiteAll" value ="" (change)="selectAll('Site',$event);"/>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of siteGroups">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.siteId}} (change)="checkIfAllSelected(list,$event,'Site');">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply('Site')">Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Export modal -->
            <div id="Export" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Export </h4>
                        <button type="button" class="close" data-dismiss="modal"  (click)="modalClose()">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body">
                        <div class="container filter-down">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                              <label class="filter-down">Select Site</label>
                           </div>
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <div *ngIf = "siteList.length > 0">
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Select Site'"
                                        [data]="siteList"
                                        [(ngModel)]="selectedSiteItems"
                                        [ngModelOptions]="{standalone: true}"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="onItemDeSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                                <span class="error" *ngIf="exportErrorMsg != ''">{{exportErrorMsg}}</span>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <p *ngIf="exportmessage">{{exportmessage}}</p>
                        <!-- <button  type="button" class="btn btn-info check-footer"  (click)="export()">Export</button> -->
                        <!-- <a class="btn btn-info check-footer"  href= {{API_URL_Export}}>Export</a> -->
                        <!-- <a  href= {{API_URL_Export>  Export</a> -->
                        <a id='export'>
                        <button class="btn btn check-footer" (click)="export()">Export</button>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <!-- export modal -->
         </section>
      </div>
   </div>
</div>
