<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Add New UOM</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-uom-sucess">{{success}}</div>
	                <div *ngIf="errorpass" id="errorpass" class="alert alert-danger">{{errorpass}}</div>
	                <uom-form [error]="error" [page]="page" (saved)="onSave($event)">

                    </uom-form>               
                </div>
	        </section>
	    </div>
	</div>
</div>	