<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Physical Dip</span>
<div class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
               <button class="btn add-manager m-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
               data-target="#ViewGenerateReport">
                <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Generate Report</span>
               </button>
            </div>
         </div>

<!--staarttt-->

<div class="container">
  <h2>Dynamic Tabs</h2>
  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<!--endddddddddd-->
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
                            <button class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                            data-target="#ViewScheduleReport">
                             <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                            </button>
                         </div>
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <!-- <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== '' && column.sort!= false"
                              tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                              (click)="sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.name=='Site' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewSiteModal"></i>
                              <i *ngIf="config && column.name=='Date' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewDateModal"></i>
                              <i *ngIf="config && column.name=='POL' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewPOLModal"></i>
                              <i *ngIf="config && column.name=='TankId' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewTankIdModal"></i>
                              <i *ngIf="config && column.name=='TankName' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewTankNameModal"></i>
                              <i *ngIf="config && column.name=='Status' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewStatusModal"></i>
                              <i *ngIf="config && column.name=='Approver' && column.filter == true" class="issue-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewApproverModal"></i>
                           </th> -->
                           <th>Sl.No</th>
                           <th>Report Name</th>
                           <th>Generated Date & Time</th>
                           <th>Recipients</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <!--<tr> -->
                        <tr>
                           <td>test</td>
                           <td>test</td>
                           <td>test</td>
                           <td>test</td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="10" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div> -->
            </div>

                  <!-- <div id="ViewGenerateReport" class="modal fade models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-view-width">
                       <div class="modal-content modal-margin">
                          <div class="modal-header">
                             <h4 class="modal-title">Generate Reports</h4>
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <hr>
                          </div>
                          <div class="modal-body">
                             <div class="bu-container">
                                <form>
                                   <div class="form-group row">
                                      <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Report Name</label>
                                      <div class="col-sm-3">
                                            <select class="form-control">
                                                <option value="">Select</option>
                                                
                                                <option value="">option</option>
                                            </select>
                                            <small *ngIf="false" class="error">Report Name is Required</small>
                                      </div>
                                   </div>
                                   <div class="form-group row">
                                      <label for="fromDate" class="col-sm-2 col-form-label" style="font-size:14px">From</label>
                                      <div class="col-sm-3">
                                            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDate"
                                                [(ngModel)] = "date" name="date" >
                                            </my-date-picker>
                                            <small *ngIf="false" class="error">From Date is Required</small>
                                      </div>
                                      <label for="toDate" class="col-sm-2 col-form-label" style="font-size:14px">To</label>
                                      <div class="col-sm-3">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDate"
                                            [(ngModel)] = "date" name="date" >
                                        </my-date-picker>
                                        <small *ngIf="false" class="error">To Date is Required</small>
                                      </div>
                                   </div>
                                   <div class="form-group row">
                                        <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option value="">Select</option>
                                                
                                                <option value="">option</option>
                                            </select>
                                            <small *ngIf="false" class="error">POL is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="businessUnit" class="col-sm-3 col-form-label" style="font-size:14px">Business Unit</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                  <option value="">Select</option>
                                                   
                                                   <option value="">option</option>
                                            </select>
                                            <small *ngIf="false" class="error">Business Unit is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                                        <div class="col-sm-3">
                                                <select class="form-control">
                                                        <option value="">Select</option>
                                                        
                                                        <option value="">option</option>
                                                </select>
                                                <small *ngIf="false" class="error">Site is Required</small>
                                        </div>
                                    </div>
                                </form>
                             </div>
                          </div>
                          <div class="modal-footer">
                             <button  type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
                             <button  type="button" class="btn btn-info check-footer"  (click)="generateReport()">Generate Report</button>
                         </div>
                       </div>
                    </div>
                 </div> -->

                 <div id="ViewGenerateReport" class="modal fade models" role="dialog" tabindex='-1'>
                        <div class="modal-dialog modal-view-width">
                           <div class="modal-content modal-margin">
                              <div class="modal-header">
                                 <h4 class="modal-title">Generate Reports</h4>
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <hr>
                              </div>
                              <div class="modal-body">
                                 <div class="bu-container">
                                    <form>
                                       <div class="form-group row">
                                          <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Report Name</label>
                                          <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="">Select</option>
                                                    <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    <option value="">option</option>
                                                </select>
                                                <small *ngIf="false" class="error">Report Name is Required</small>
                                          </div>
                                       </div>
                                       <div class="form-group row">
                                          <label for="fromDate" class="col-sm-2 col-form-label" style="font-size:14px">From</label>
                                          <div class="col-sm-3">
                                                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDate"
                                                    [(ngModel)] = "date" name="date" >
                                                </my-date-picker>
                                                <small *ngIf="false" class="error">From Date is Required</small>
                                          </div>
                                          <label for="toDate" class="col-sm-2 col-form-label" style="font-size:14px">To</label>
                                          <div class="col-sm-3">
                                            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDate"
                                                [(ngModel)] = "date" name="date" >
                                            </my-date-picker>
                                            <small *ngIf="false" class="error">To Date is Required</small>
                                          </div>
                                       </div>
                                       <div class="form-group row">
                                            <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="">Select</option>
                                                    <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    <option value="">option</option>
                                                </select>
                                                <small *ngIf="false" class="error">POL is Required</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="businessUnit" class="col-sm-3 col-form-label" style="font-size:14px">Business Unit</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                      <option value="">Select</option>
                                                       <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                       <option value="">option</option>
                                                </select>
                                                <small *ngIf="false" class="error">Business Unit is Required</small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                                            <div class="col-sm-3">
                                                    <select class="form-control">
                                                            <option value="">Select</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                            <option value="">option</option>
                                                    </select>
                                                    <small *ngIf="false" class="error">Site is Required</small>
                                            </div>
                                        </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button  type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
                                 <button  type="button" class="btn btn-info check-footer"  (click)="generateReport()">Generate Report</button>
                             </div>
                           </div>
                        </div>
                     </div>


                     <div id="ViewScheduleReport" class="modal fade models" role="dialog" tabindex='-1'>
                            <div class="modal-dialog modal-view-width">
                               <div class="modal-content modal-margin">
                                  <div class="modal-header">
                                     <h4 class="modal-title">Schedule Reports</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <hr>
                                  </div>
                                  <div class="modal-body">
                                     <div class="bu-container">
                                        <form>
                                           <div class="form-group row">
                                              <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Report Name</label>
                                              <div class="col-sm-3">
                                                    <input type="text" readonly class="form-control bu-control" id="site" value="MEFAS">
                                              </div>
                                           </div>
                                           <div class="form-group row">
                                                <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Format</label>
                                                <div class="col-sm-3">
                                                        
                                                      <input type="text" readonly class="form-control bu-control" id="site" value="Excel">
                                                </div>
                                            </div>
                                           <div class="form-group row">
                                              <label for="fromDate" class="col-sm-3 col-form-label" style="font-size:14px">Frequency</label>
                                              <div class="col-sm-3">
                                                    <select class="form-control" (change)="changeFrequency($event)">
                                                            <option value="none">None</option>
                                                            <option value="daily">Daily</option>
                                                            <option value="weekly">Weekly</option>
                                                            <option value="monthly">Monthly</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                              <div class="col-sm-3" *ngIf = "showWeeks">
                                                    <select class="form-control" (change)="selectWeek($event)">
                                                            <option value="">Select</option>
                                                            <option value="Monday">Monday</option>
                                                            <option value="Tuesday">Tuesday</option>
                                                            <option value="Wednesday">Wednesday</option>
                                                            <option value="Thursday">Thursday</option>
                                                            <option value="Friday">Friday</option>
                                                            <option value="Saturday">Saturday</option>
                                                            <option value="Sunday">Sunday</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                              <div class="col-sm-3" *ngIf = "showDates">
                                                    <select class="form-control" (change)="selectDate($event)" multiple>
                                                            <option value="">Select</option>
                                                            <option [value]="date" *ngFor = "let date of dates">{{date+1}}</option>
                                                            <option [value]="lateDate">Last Day</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                            </div>
                                            <div class="form-group row">
                                              <label for="toDate" class="col-sm-3 col-form-label" style="font-size:14px">Preferred time</label>
                                              <div class="col-sm-3">
                                                    <select class="form-control">
                                                            <option value="">Select</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                            <option value="">option</option>
                                                        </select>
                                                <small *ngIf="false" class="error">Preferred time is Required</small>
                                              </div>
                                           </div>
                                           <div class="form-group row">
                                                <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">Country</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control">
                                                        <option value="">Select</option>
                                                        <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                        <option value="">option</option>
                                                    </select>
                                                    <small *ngIf="false" class="error">Country is Required</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="businessUnit" class="col-sm-3 col-form-label" style="font-size:14px">Business Unit</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control">
                                                          <option value="">Select</option>
                                                           <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                           <option value="">option</option>
                                                    </select>
                                                    <small *ngIf="false" class="error">Business Unit is Required</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                                                <div class="col-sm-3">
                                                        <select class="form-control">
                                                                <option value="">Select</option>
                                                                <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                                <option value="">option</option>
                                                        </select>
                                                        <small *ngIf="false" class="error">Site is Required</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                    <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                                                    <div class="col-sm-3">
                                                        <select class="form-control">
                                                            <option value="">Select</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                            <option value="">option</option>
                                                        </select>
                                                        <small *ngIf="false" class="error">POL is Required</small>
                                                    </div>
                                                </div>
                                        </form>
                                     </div>
                                  </div>
                                  <div class="modal-footer">
                                     <button  type="button" class="btn btn-primary"  data-dismiss="modal">Cancel</button>
                                     <button  type="button" class="btn btn-info check-footer"  (click)="saveSchedule()">Save</button>
                                 </div>
                               </div>
                            </div>
                         </div>

         </section>
      </div>
   </div>
</div>