<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">Reports</span>
<div *ngIf="privileges" class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
               <button *ngIf="privileges.isAdd" class="btn add-manager m-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
               data-target="#ViewGenerateReport">
                <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Generate Report</span>
               </button>
            </div>
         </div>

<!--staarttt-->

<!--endddddddddd-->
         <section class="panel">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#mefas">MEFAS</a></li>
                        <li><a data-toggle="tab" href="#dsmr">Daily Stock Movement Report (DSMR)</a></li>
                        <li><a data-toggle="tab" href="#invReport">Daily Inventory Report</a></li>
                        <li><a data-toggle="tab" href="#stockSummary">Stock Summary Daily Report</a></li>
                        <li><a data-toggle="tab" href="#lubricant">Lubricant Report</a></li>
                      </ul>
                    
                      <div class="tab-content">
                        <div id="mefas" class="tab-pane fade in active">
                          <h5>MEFAS</h5>
                          <div class="panel-body" style="top:-22px;position:relative;">
                                <div class="">
                                     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
                                             <button class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                                             data-target="#ViewScheduleReport">
                                              <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                                             </button>
                                          </div>
                                   <table class="table table-bordered cust-table table-hover table-form">
                                      <thead>
                                         <tr>
                                            <th>Sl.No</th>
                                            <th>Report Name</th>
                                            <th>Generated Date & Time</th>
                                            <th>Frequency</th>
                                            <th>Time</th>
                                            <th>Recipients</th>
                                            <th>Actions</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <div *ngIf="loading">
                                            <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                         </div>
                                         <tr *ngFor="let list of scheduledReportsList; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{list.reportName}}</td>
                                            <td *ngIf="list.sendDate == '0001-01-01T00:00:00'"></td>
                                            <td *ngIf="list.sendDate != '0001-01-01T00:00:00'">{{list.sendDate | date}}</td>
                                            <td>{{frequency[list.fequency]}}</td>
                                            <td>{{list.time | date: 'shortTime'}}</td>
                                            <td class="break-col">{{list.emailList}}</td>
                                            <td>
                                                <li class="list-inline-item">
                                                   <a (click)="deleteSchedule(list.id)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del"><i class="ion-trash-a"></i></a>
                                                </li>
                                             </td>
                                         </tr>
                                         <tr *ngIf="scheduledReportsList.length == 0">
                                            <td colspan="10" class="data-error">No data available in the table</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <div class="col-md-12 text-right">
                                   <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                                   </pagination>
                                </div>
                             </div>
                        </div>
                        <div id="dsmr" class="tab-pane fade">
                          <h5>Daily Stock Movement Report (DSMR)</h5>
                          <div class="panel-body" style="top:-22px;position:relative;">
                                <div>
                                     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
                                             <button *ngIf="privileges.isAdd" class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                                             data-target="#ViewScheduleReport">
                                              <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                                             </button>
                                          </div>
                                   <table class="table table-bordered cust-table table-hover table-form">
                                      <thead>
                                         <tr>
                                            <th>Sl.No</th>
                                            <th>Report Name</th>
                                            <th>Generated Date & Time</th>
                                            <th>Recipients</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <div *ngIf="loading">
                                            <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                         </div>
                                         <!-- <tr>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                         </tr> -->
                                         <tr *ngIf="true">
                                            <td colspan="10" class="data-error">No data available in the table</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- <div class="col-md-12 text-right">
                                   <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                                   </pagination>
                                </div> -->
                             </div>
                        </div>
                        <div id="invReport" class="tab-pane fade">
                          <h5>Daily Inventory Report</h5>
                          <div class="panel-body" style="top:-22px;position:relative;">
                                <div>
                                     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
                                             <button *ngIf="privileges.isAdd" class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                                             data-target="#ViewScheduleReport">
                                              <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                                             </button>
                                          </div>
                                   <table class="table table-bordered cust-table table-hover table-form">
                                      <thead>
                                         <tr>
                                            <th>Sl.No</th>
                                            <th>Report Name</th>
                                            <th>Generated Date & Time</th>
                                            <th>Recipients</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <div *ngIf="loading">
                                            <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                         </div>
                                         <!-- <tr>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                         </tr> -->
                                         <tr *ngIf="true">
                                            <td colspan="10" class="data-error">No data available in the table</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- <div class="col-md-12 text-right">
                                   <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                                   </pagination>
                                </div> -->
                             </div>
                        </div>
                        <div id="stockSummary" class="tab-pane fade">
                          <h5>Stock Summary Daily Report</h5>
                          <div class="panel-body" style="top:-22px;position:relative;">
                                <div>
                                     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
                                             <button *ngIf="privileges.isAdd" class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                                             data-target="#ViewScheduleReport">
                                              <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                                             </button>
                                          </div>
                                   <table class="table table-bordered cust-table table-hover table-form">
                                      <thead>
                                         <tr>
                                            <th>Sl.No</th>
                                            <th>Report Name</th>
                                            <th>Generated Date & Time</th>
                                            <th>Recipients</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <div *ngIf="loading">
                                            <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                         </div>
                                         <!-- <tr>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                         </tr> -->
                                         <tr *ngIf="true">
                                            <td colspan="10" class="data-error">No data available in the table</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- <div class="col-md-12 text-right">
                                   <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                                   </pagination>
                                </div> -->
                             </div>
                        </div>
                        <div id="lubricant" class="tab-pane fade">
                          <h5>Lubricant Report</h5>
                          <div class="panel-body" style="top:-22px;position:relative;">
                                <div>
                                     <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-12 align-padding">
                                             <button *ngIf="privileges.isAdd" class="btn Sm-btm10 pull-right margin-top-10" id="generateReport"  data-toggle="modal"
                                             data-target="#ViewScheduleReport">
                                              <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Schedule Report</span>
                                             </button>
                                          </div>
                                   <table class="table table-bordered cust-table table-hover table-form">
                                      <thead>
                                         <tr>
                                            <th>Sl.No</th>
                                            <th>Report Name</th>
                                            <th>Generated Date & Time</th>
                                            <th>Recipients</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <div *ngIf="loading">
                                            <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                         </div>
                                         <!-- <tr>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                         </tr> -->
                                         <tr *ngIf="true">
                                            <td colspan="10" class="data-error">No data available in the table</td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </div>
                                <!-- <div class="col-md-12 text-right">
                                   <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                                   </pagination>
                                </div> -->
                             </div>
                        </div>
                      </div>

            <div id="ViewGenerateReport" class="modal in" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-view-width">
                       <div class="modal-content">
                          <div class="modal-header">
                             <h4 class="modal-title">Generate Reports</h4>
                             <button type="button" class="close" data-dismiss="modal" (click)="modalClose('generate')">&times;</button>
                             <hr>
                          </div>
                          <div class="modal-body">
                             <div class="container">
                                <form>
                                   <div class="form-group row">
                                      <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Report Name<small class="text-danger">*</small></label>
                                      <div class="col-sm-8">
                                            <!-- <input class="form-control" type="text" value='MEFAS' readonly> -->
                                            <select class="form-control" [(ngModel)] = 'reportName' (change)="onReportChange()" [ngModelOptions]="{standalone: true}">
                                                <option value="">Select</option>
                                                <option *ngFor="let report of reportsList" (value) = report.id >{{report.shortName}}</option>
                                            </select>
                                            <small *ngIf="reportRequired != ''" class="error">{{reportRequired}}</small>
                                      </div>
                                   </div>
                                   <div class="form-group row">
                                      <label for="fromDate" class="col-sm-3 col-form-label" style="font-size:14px">From<small class="text-danger">*</small></label>
                                      <div class="col-sm-3">
                                            <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event, 'from')" [selDate]="selectedDate"
                                                [(ngModel)] = "initialFromDate" name="initialFromDate" >
                                            </my-date-picker>
                                            <small *ngIf="false" class="error">From Date is Required</small>
                                      </div>
                                      <label for="toDate" class="col-sm-2 col-form-label" style="font-size:14px;text-align:center">To<small class="text-danger">*</small></label>
                                      <div class="col-sm-3">
                                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event, 'to')" [selDate]="selectedDate"
                                            [(ngModel)] = "initialToDate" name="initialToDate" >
                                        </my-date-picker>
                                        <small *ngIf="false" class="error">To Date is Required</small>
                                      </div>
                                   </div>
                                    <div class="form-group row" *ngIf="reportName == 'MEFAS'">
                                        <label for="businessUnit" class="col-sm-3 col-form-label" style="font-size:14px">Business Unit<small class="text-danger">*</small></label>
                                        <div class="col-sm-8">
                                             <select class="form-control" (change)="getSiteByBusinessUnit($event.target.value)">
                                                   <option value="">Select</option>
                                                   <option *ngFor="let bu of buList" [value]="bu.buId">{{bu.buName}}</option>
                                             </select>
                                             <small *ngIf="selectedBu == ''" class="error">{{buReq}}</small>
                                         </div>
                                    </div>
                                    <div class="form-group row" *ngIf="reportName == 'DIR'">
                                          <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL<small class="text-danger">*</small></label>
                                          <div class="col-sm-8">
                                             <select class="form-control" (change)="getSiteByPol($event.target.value)">
                                                   <option value="">Select</option>
                                                   <option *ngFor="let pol of polList" [value]="pol.id">{{pol.name}}</option>
                                             </select>
                                             <small *ngIf="selectedPolforDIR == ''" class="error">{{polReq}}</small>
                                          </div>
                                    </div>
                                    <div class="form-group row" *ngIf="reportName == 'MEFAS' || reportName == 'DIR' || reportName == 'LR'">
                                        <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site<small class="text-danger">*</small></label>
                                        <div class="col-sm-8">
                                             <select class="form-control" *ngIf = "scheduledSiteList.length == 0">
                                                   <option value="">Select</option>
                                             </select>
                                             <div *ngIf = "scheduledSiteList.length > 0">
                                                   <ng-multiselect-dropdown
                                                      [placeholder]="'Select Site'"
                                                      [data]="scheduledSiteList"
                                                      [(ngModel)]="selectedSiteItems"
                                                      [ngModelOptions]="{standalone: true}"
                                                      [settings]="dropdownSettings"
                                                      (onSelect)="onItemSelect($event, 'site')"
                                                      (onDeSelect)="onItemDeSelect($event, 'site')"
                                                      (onSelectAll)="onSelectAll($event, 'site')"
                                                      (onDeSelectAll)="onDeSelectAll($event, 'site')"
                                                      >
                                                   </ng-multiselect-dropdown>
                                             </div>
                                             <small *ngIf="siteIds.length == 0" class="error">{{siteReq}}</small>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="reportName == 'MEFAS'">
                                          <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL<small class="text-danger">*</small></label>
                                          <div class="col-sm-8">
                                               <!-- <div *ngIf = "polList.length > 0">
                                                     <ng-multiselect-dropdown
                                                        [placeholder]="'Select Pol'"
                                                        [data]="polList"
                                                        [(ngModel)]="selectedPolItems"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [settings]="dropdownSettings"
                                                        (onSelect)="onItemSelect($event, 'pol')"
                                                        (onSelectAll)="onSelectAll($event, 'pol')"
                                                        >
                                                     </ng-multiselect-dropdown>
                                               </div> -->
                                               <select class="form-control" (change)="selectedPol($event.target.value)">
                                                   <option value="">Select</option>
                                                   <option *ngFor="let pol of polList" [value]="pol.id">{{pol.name}}</option>
                                                </select>
                                              <small *ngIf="polSelected == ''" class="error">{{polReq}}</small>
                                          </div>
                                    </div>
                                </form>
                             </div>
                          </div>
                          <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="generateReport()">Generate Report</button>
                            <!-- <button  type="button" class="btn btn check-no" (click)="modalClose('generate')" data-dismiss="modal">Close</button>  -->
                         </div>
                       </div>
                    </div>
                 </div>

                     <div id="ViewScheduleReport" class="modal  models" role="dialog" tabindex='-1'>
                            <div class="modal-dialog modal-view-width">
                               <div class="modal-content modal-margin">
                                 <form [formGroup]="scheduleReportForm">
                                  <div class="modal-header">
                                     <h4 class="modal-title">Schedule Reports</h4>
                                     <button type="button" class="close" data-dismiss="modal" (click)="modalClose('schedule')">&times;</button>
                                     <hr>
                                  </div>
                                  <div class="modal-body">
                                     <div class="bu-container">
                                        <form>
                                           <div class="form-group row">
                                              <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Report Name</label>
                                              <div class="col-sm-8">
                                                    <input type="text" [formControl]="scheduleReportForm.controls['reportName']" readonly class="form-control bu-control" id="site" value="MEFAS">
                                              </div>
                                           </div>
                                           <div class="form-group row">
                                                <label for="reportName" class="col-sm-3 col-form-label" style="font-size:14px">Format</label>
                                                <div class="col-sm-8">
                                                      <img src="../assets/img/mexcel.svg" class="report-excel-ico">
                                                      <input type="text" readonly class="form-control bu-control" id="site" value="Excel" style="padding-left: 40px !important;">
                                                </div>
                                            </div>
                                           <div class="form-group row">
                                              <label for="fromDate" class="col-sm-3 col-form-label" style="font-size:14px">Frequency</label>
                                              <div class="col-sm-8">
                                                    <select class="form-control" [formControl]="scheduleReportForm.controls['frequency']" (change)="changeFrequency($event)">                                                            
                                                            <option value="" selected disabled>Select</option>
                                                            <option value="0">None</option>
                                                            <option value="1">Daily</option>
                                                            <option value="2">Weekly</option>
                                                            <option value="3">Monthly</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                              
                                              <div class="col-sm-3 report-margin" *ngIf = "showWeeks">
                                                    <select class="form-control" [formControl]="scheduleReportForm.controls['day']">
                                                            <option value="" selected disabled hidden>Select</option>
                                                            <option value="0">Sunday</option>
                                                            <option value="1">Monday</option>
                                                            <option value="2">Tuesday</option>
                                                            <option value="3">Wednesday</option>
                                                            <option value="4">Thursday</option>
                                                            <option value="5">Friday</option>
                                                            <option value="6">Saturday</option>
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                              <div class="col-sm-3 report-margin" *ngIf = "showDates">
                                                    <select class="form-control" [formControl]="scheduleReportForm.controls['date']">
                                                            <option value="" selected disabled>Select</option>
                                                            <option [value]="date+1" *ngFor = "let date of dates">{{date+1}}</option>
                                                            <!-- <option [value]="lateDate">Last Day</option> -->
                                                            <!-- <option *ngFor="let pol of polBySitelist" [value]="pol.id">{{pol.name}}</option> -->
                                                    </select>
                                                    <small *ngIf="false" class="error">Frequency is Required</small>
                                              </div>
                                            </div>
                                            <div class="form-group row">
                                              <label for="toDate" class="col-sm-3 col-form-label" style="font-size:14px">Preferred time</label>
                                              <div class="col-sm-8">
                                                    <input type="time" [formControl]="scheduleReportForm.controls['time']" atp-time-picker value="20:55"/>
                                                <small *ngIf="false" class="error">Preferred time is Required</small>
                                              </div>
                                           </div>
                                           <div class="form-group row">
                                                <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">Country<small class="text-danger">*</small></label>
                                                <div class="col-sm-8">
                                                    <!-- <select class="form-control" (change)="onCountryChange()" >
                                                        <option value="">Select</option>
                                                        <option value="">option</option>
                                                    </select> -->
                                                    <div *ngIf = "countryList.length > 0">
                                                      <ng-multiselect-dropdown [placeholder]="'Select Country'" 
                                                            [data]="countryList" [(ngModel)]="selectedCountry"
                                                            [ngModelOptions]="{standalone: true}"
                                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Country')" 
                                                            (onSelectAll)="onSelectAll($event,'Country')"
                                                            (onDeSelect)="onItemDeSelect($event,'Country')">
                                                      </ng-multiselect-dropdown>
                                                    </div>
                                                    <small *ngIf="countrySelectedForSchedule == ''" class="error">{{countryReqSchedule}}</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="businessUnit" class="col-sm-3 col-form-label" style="font-size:14px">Business Unit<small class="text-danger">*</small></label>
                                                <div class="col-sm-8">
                                                      <select class="form-control" [formControl]="scheduleReportForm.controls['businessUnit']" (change)="onBUChange($event.target.value)">
                                                            <option value = '' selected disabled>Select</option>
                                                            <option *ngFor="let bu of buList" [value]="bu.buId">{{bu.buName}}</option>
                                                      </select>
                                                      <!-- <small *ngIf="selectedBuForSchedule == ''" class="error">{{buReqSchedule}}</small> -->
                                                      <small *ngIf="scheduleReportForm.controls['businessUnit'].hasError('required') && (scheduleReportForm.controls['businessUnit'].touched || formSubmited)" class="error">{{buReqSchedule}}</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site<small class="text-danger">*</small></label>
                                                <div class="col-sm-8">
                                                      <select class="form-control" *ngIf = "scheduledSiteList.length == 0">
                                                            <option value="">Select</option>
                                                      </select>
                                                      <div *ngIf = "scheduledSiteList.length > 0">
                                                            <ng-multiselect-dropdown
                                                               [placeholder]="'Select Site'"
                                                               [data]="scheduledSiteList"
                                                               [(ngModel)]="selectedScheduledSite" [formControl]="scheduleReportForm.controls['site']"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [settings]="dropdownSettings"
                                                               (onSelect)="onItemSelect($event, 'site')"
                                                               (onDeSelect)="onItemDeSelect($event, 'site')"
                                                               (onSelectAll)="onSelectAll($event, 'site')"
                                                               (onDeSelectAll)="onDeSelectAll($event, 'site')"
                                                               >
                                                            </ng-multiselect-dropdown>
                                                      </div>
                                                      <small *ngIf="siteSelectedForSchedule == ''" class="error">{{siteReqSchedule}}</small>
                                                </div>
                                                <!-- <label for="site" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                                                <div class="col-sm-8">
                                                        <select class="form-control">
                                                                <option value="">Select</option>
                                                                <option value="">option</option>
                                                        </select>
                                                        <small *ngIf="false" class="error">Site is Required</small>
                                                </div> -->
                                            </div>
                                            <div class="form-group row">
                                                    <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">POL<small class="text-danger">*</small></label>
                                                    <div class="col-sm-8">
                                                         <select class="form-control" [formControl]="scheduleReportForm.controls['pol']" (change)="onPolChange($event.target.value)">
                                                            <option selected disabled value="">Select</option>
                                                            <option *ngFor="let pol of polList" [value]="pol.id">{{pol.name}}</option>
                                                         </select>
                                                        <small *ngIf="polSelectedForSchedule == ''" class="error">{{polReqSchedule}}</small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                      <label for="pol" class="col-sm-3 col-form-label" style="font-size:14px">Send via email to</label>
                                                      <div class="col-sm-8">
                                                         <textarea class="text-area ng-pristine ng-valid ng-touched" [formControl]="scheduleReportForm.controls['email']" cols="50" name="buAddress" rows="4">
                                                             
                                                         </textarea>
                                                         <small *ngIf="false" class="error">Email is Required</small>
                                                      </div>
                                                </div>
                                        </form>
                                     </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button  type="button" class="btn btn-info check-footer"  (click)="saveSchedule()">Save</button>
                                    <button  type="button" class="btn btn check-no"  data-dismiss="modal" (click)="modalClose('schedule')">Cancel</button>
                                 </div>
                                </form>
                               </div>
                            </div>
                         </div>

         </section>
      </div>
   </div>
</div>
<div class="modal  in" id="del" role="dialog"  tabindex='-1'>
      <div class="modal-dialog mstyle modal-country">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Delete Item</h4>
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <hr>
            </div>
            <div class="modal-body">
               <p *ngIf="deleteMsg">{{deleteMsg}}</p>
               <p *ngIf="deleteMsg == ''">Are you sure you want to delete this Schedule ?</p>
            </div>
            <div class="modal-footer">
               <button *ngIf="deleteMsg == ''" type="button"  (click)="deleteMessageClear()" data-dismiss="modal" class="btn btn check-no modalButton">No</button>
               <button *ngIf="deleteMsg == ''" type="button" class="btn btn check-footer" (click)="deleteConfirm()">Yes</button>
               <button *ngIf="deleteMsg != ''" type="button" class="btn btn-primary" (click)="cancelModal()" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>