.nav.nav-tabs > li > a, .nav.tabs-vertical > li > a
{
    background-color: #0B1C25;
    /* padding-left: 30px; */
    font-size: 12px !important;
    /* margin-right: 30px; */
}
.nav.nav-tabs > li:last-of-type a
{
    border-radius: 0px;
}
.nav.nav-tabs {

    margin-top: 50px !important;
    margin-left: 120px !important;
}
.nav-tabs > li
{
    border:1px solid #e2e2e4;
}
.nav.nav-tabs + .tab-content
{
    padding: 0px !important;
}
.tab-content
{
    margin-top: 20px;
}
.h4
{
    font-size: 13px;
}
