
<form [ngSwitch]="loading" [formGroup]="siteForm" (ngSubmit)="onSubmit(siteForm.value)" class="form-horizontal" method="post">

        <div *ngSwitchCase="true">
                <overlay-loader></overlay-loader>
            </div>
        <div *ngSwitchCase="false">

                <div class="row m-btm10">

                    <div class="row bunit">

                                <div class="col-xs-12 col-sm-12 col-md-6">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                            <label for="name">Site <small class="text-danger">*</small></label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                            <input type="text" id="site" class="form-control" [formControl]="siteForm.controls['Name']" />
                                            <small *ngIf="siteForm.controls['Name'].hasError('required') && (siteForm.controls['Name'].touched || formSubmited)" class="error">{{siteRequired}}</small>
                                             <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                        <div class="checkbox">
                                                <label class="container filter-down">

                                                    <input type="checkbox" style="width:90px" [formControl]="siteForm.controls['SFRcheckbox']"   (change)="onSfrSelect($event);"/> <span class="checkmark add-cust add-align"></span>
                                                </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">

                                        <label for="name">SFR(Strategic Fuel Reserve)</label>

                                    </div>

                                </div>
                    </div>

                    <div class="row bunit">
                                <div class="col-xs-12 col-sm-12 col-md-6">

                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                                                        <label for="address">Business Unit<small class="text-danger">*</small></label>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                                                        <select  [formControl]="siteForm.controls['BUId']" class="form-control">
                                                                                <option value="">Select</option>
                                                                               <option *ngFor="let bu of businessunitList" [value]="bu.buId">{{bu.buName}}</option>


                                                                       </select>
                                                                       <small *ngIf="siteForm.controls['BUId'].hasError('required') && (siteForm.controls['BUId'].touched || formSubmited)" class="error">{{buRequired}}</small>

                                                                </div>
                                 </div>

                    </div>


                        <hr>

                    <div *ngIf = "getLocalreserve(siteForm).length != 0" formArrayName="SiteUnitDetails" class="add-scroll" style="padding-left:40px;padding-right:40px">

                            <div class="section-container" *ngFor="let section of getLocalreserve(siteForm); let i = index">

                                <div class="ui raised segments" [formGroupName]="i">

                                <div class="row bunit">



                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">


                                            <div class="form-group row">

                                                <label  class="col-md-12" for="pol">POL<small class="text-danger"></small></label>

                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <select  formControlName="POLId"  class="form-control" (change)="getPolDetails($event.target.value, i)">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let pol of pollist" [value]="pol.id">{{pol.name}}
                                                    </select>
                                                </div>

                                            </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                                            <div class="form-group row">
                                                <label *ngIf='!polNotRequired[i]' class="col-md-12" for="lr">L.R<small class="text-danger"></small></label>
                                                <label *ngIf='polNotRequired[i]' class="col-md-12" for="lr">L.R<small class="text-danger">*</small></label>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="text" (keypress)="_keyPress($event)" class="form-control" maxlength="15"  formControlName="LocalReserve" (keyup)="onLRChange($event.target.value, section)" >
                                                </div>

                                            </div>

                                    </div>
                                    <!-- <div *ngIf="isSFRSection==true"> -->
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" *ngIf="isSFRSection==true">

                                            <div class="form-group  row">

                                                <label  class="col-md-12" for="sfr">SFR<small class="text-danger"></small></label>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="text" (keypress)="_keyPress($event)" class="form-control" maxlength="15"  formControlName="SFR" (keyup)="onSFRChange($event.target.value, section)">
                                                </div>

                                            </div>
                                    </div>
                                   <!-- </div> -->
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                                            <div class="form-group rbtm row">
                                                <label *ngIf='!polNotRequired[i]' class="col-md-12" for="opertaing">Operating Stock<small class="text-danger"></small></label>
                                                <label *ngIf='polNotRequired[i]' class="col-md-12" for="opertaing">Operating Stock<small class="text-danger">*</small></label>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="text" class="form-control" (keypress)="_keyPress($event)" maxlength="15" formControlName="OperationStock" (keyup)="onOSChange($event.target.value, section)" >
                                                </div>
                                            </div>
                                    </div>

                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                                            <div class="form-group rbtm row">
                                            <label *ngIf='!polNotRequired[i]' class="col-md-12" for="totalquantity">Total Quantity<small class="text-danger"></small></label>
                                            <label *ngIf='polNotRequired[i]' class="col-md-12" for="totalquantity">Total Quantity<small class="text-danger">*</small></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <input type="text" readonly class="form-control"
                                                 formControlName="totalquantity"  >
                                            </div>
                                            </div>
                                    </div>

                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                                            <div class="form-group rbtm row">
                                                    <label *ngIf='!polNotRequired[i]' class="col-md-12" for="monthly">Monthly Requirement<small class="text-danger"></small></label>
                                                    <label *ngIf='polNotRequired[i]' class="col-md-12" for="monthly">Monthly Requirement<small class="text-danger">*</small></label>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="text" class="form-control" (keypress)="_keyPress($event)" maxlength="15" formControlName="MonthlyRequirement" >
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 space">

                                        <div class="form-group rbtm row">
                                            <label  class="col-md-12" for="alert">Alert<small *ngIf='polNotRequired[i]' class="text-danger">*</small></label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input type="text" class="form-control" (keypress)="_keyPress($event)" maxlength="15"  formControlName="Alert" >
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-2 col-md-12" style="margin-top: 45px;">

                                            <button *ngIf="!isShowAddBtn[i]" (click)="addSection(section, i)" type="button"  class="point-icon"><img src="../assets/icon/add-icon.png"></button>
                                            <button *ngIf="getLocalreserve(siteForm).length > 1" (click)="removeSection(i)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button>


                                    </div>


                                </div>
                                <div class="text-center"><span class="error" *ngIf="polErrorMsg[i]">{{polErrorMsg[i]}}</span></div>
                            </div>
                            </div>
                        </div>

                        <br>
                        <div class="text-center"><span class="error" *ngIf="idalertmessage != ''">{{idalertmessage}}</span></div>
                        <div class="text-center"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
                        <div class="text-center"><span class="error" *ngIf="polAddedError != ''">{{polAddedError}}</span></div>

            <!---//////////////////////////Geo cordnidates/////////////////-->

                        <div class="clearfix"></div>
                        <br><br>
                            <span class="col-sm-4 form-control-label"><b>Geo Coordinates</b></span>
                            <div class="clearfix"></div>
                            <hr>
                            <br>

                        <div class="row bunit">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

                                    <!-- <span class="form-control-label">Lattitude:</span> -->
                                    <label for="latitude">Latitude</label>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                        <input type="text" id="lattitude" class="form-control" maxlength="10" (keypress)="keyPress($event)"
                                         [formControl]="siteForm.controls['Lattitude']" />


                                        <small *ngIf="siteForm.controls['Lattitude'].hasError('required') && (siteForm.controls['Lattitude'].touched || formSubmited)"
                                            class="error">Latitude is required.</small>
                                        <small *ngFor="let error of error.secondKey" class="error">{{error}}</small>
                                </div>



                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-6">



                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                    <!-- <span class="col-sm-4 form-control-label">Longitude:</span> -->
                                    <label for="latitude">Longitude</label>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                    <input type="text" id="longitude"  maxlength="10" (keypress)="keyPress($event)"
                                     class="form-control" [formControl]="siteForm.controls['Longitude']" />


                                    <small *ngIf="siteForm.controls['Longitude'].hasError('required') && (siteForm.controls['Longitude'].touched || formSubmited)"
                                        class="error">Longitude is required.</small>
                                    <small *ngFor="let error of error.secondKey" class="error">{{error}}</small>
                                </div>

                        </div>

                        </div>

                        <div class="clearfix"></div>

                        <br><br>

                        <span class="col-sm-4 form-control-label"><b>Site Incharge</b></span> <div class="clearfix"></div>

                        <hr>
                        <br><br>

                        <div class="row bunit">

                        <div class="col-xs-12 col-sm-12 col-md-6">



                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                            <!-- <span class="col-sm-4 form-control-label">Name:</span> -->
                                            <label for="name">Name <small class="text-danger">*</small></label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                        <select  [formControl]="siteForm.controls['SiteInchargeId']"
                                         class="form-control"
                                        (change)="getSiteInchargeDetails($event.target.value)" >
                                                <option value="">Select</option>
                                               <option *ngFor="let si of userList" [value]="si.id">{{si.firstName}}</option>

                                       </select>
                                       <small *ngIf="siteForm.controls['SiteInchargeId'].hasError('required') && (siteForm.controls['SiteInchargeId'].touched || formSubmited)" class="error">{{inchargeRequired}}</small>
                                       <small *ngFor="let error of error.SiteInchargeId" class="error">{{error}}</small>

                                </div>



                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">



                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                    <!-- <span class="col-sm-4 form-control-label">UNID:</span> -->
                                    <label for="unid">UNID</label>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                    <input type="text" id="unid" class="form-control" readonly
                                    [formControl]="siteForm.controls['UNID']"  [(ngModel)]="unid" />
                                     </div>



                        </div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="row bunit">

                            <div class="col-xs-12 col-sm-12 col-md-6">



                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <!-- <span class="col-sm-4 form-control-label">UNID:</span> -->
                                        <label for="unid">Contact number</label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                        <input type="text" readonly id="unid" class="form-control"[ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="contactnumber" />
                                </div>



                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                                        <!-- <span class="col-sm-4 form-control-label">UNID:</span> -->
                                        <label for="unid">Email</label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                        <input type="text" id="unid" readonly class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="email" />
                                    </div>

                            </div>

                        </div>


                        <div class="clearfix"></div>
                        <div><br /><br /></div>
                        <div class="clearfix"></div>
                        <div><br /><br /></div>
                        <div>
                           <div>
                               <div>
                                   <input name="file"  type="file" (change)="onChange($event)" [formControl]="siteForm.controls['FileType']" multiple/>
                                    <br>
                                   <ng-container *ngIf="ErrorList.length==1">
                                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                                </ng-container>
                                <ng-container *ngIf="ErrorList.length>1">
                                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                                </ng-container>
                            </div>

                            </div>
                        </div>

                        <div class="text-right" *ngIf='savebutton == true'>
                                <button type="submit" class="btn btn check-footer m-top10">Save</button>
                                <button class="btn  check-no m-top10" type="reset" (click)="clearmsgs()" value="Reset">Clear</button>
                        </div>

                    </div>
                </div>
</form>

