.add-data-time.one{
    right: 0!important;
}
.close-data-time.one{
    right:-24px!important;
}
.add-data-time,.close-data-time{
   cursor: pointer;
   width: 25px;
   position: absolute;
   right: 13px; 
   cursor: pointer;
}