<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">System Preferences</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success stock-success">{{success}}</div>
	                <systempreference-form [error]="error" [page]="page" [preferencelist]="preferencelist" [showText]="showText" [statusList]="statusList" (saved)="onSave($event)">

					</systempreference-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>