<form [ngSwitch]="loading" [formGroup]="vehicleForm" (ngSubmit)="onSubmit(vehicleForm.value)" class="form-horizontal" method="post">


        <div class="row m-btm10">

        <div class="aircraf-bottom">

             <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <label for="name">Vehicle ID <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <input type="text" maxlength="20"  maxlength="25"
                     id="vehicleId" class="form-control" [formControl]="vehicleForm.controls['vehicleId']" />
                    <small *ngIf="vehicleForm.controls['vehicleId'].hasError('required') && (vehicleForm.controls['vehicleId'].touched || formSubmited)" class="error">{{vehicleIdReq}}</small>
                    <small *ngFor="let error of error.vehicleId" class="error">{{error}}</small>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-4">
                     <label for="address">Starting Odometer<small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <input type="text"   class="form-control" name="startingOdometer" [(ngModel)]="startingOdometer"
                         maxlength="25" (keypress)="_keyPress($event)"
                        [formControl]="vehicleForm.controls['startingOdometer']" >

                        <small *ngIf="vehicleForm.controls['startingOdometer'].hasError('required') && (vehicleForm.controls['startingOdometer'].touched || formSubmited)" class="error">{{odometerReq}}</small>

                    </div>

                </div>
                </div>
         <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-4">
                     <label for="address">Type of Vehicle <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <select class="form-control" id="vehicleTypeId"
                    [formControl]="vehicleForm.controls['vehicleTypeId']" >
                            <option value="">Select</option>
                           <option *ngFor="let item of vehicletypeList" [value]="item.vehicleTypeId">{{item.vehicleTypeName}}</option>
                     </select>
                     <small *ngIf="vehicleForm.controls['vehicleTypeId'].hasError('required') && (vehicleForm.controls['vehicleTypeId'].touched || formSubmited)" class="error">{{vehicleTypeReq}}</small>
                </div>
            </div>

                <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-4">
                         <label for="address">Max Fuel Fill Capacity <small class="text-danger">*</small></label>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <input type="text"  maxlength="25" (keypress)="_keyPress($event)" class="form-control" name="maxfuelfillcapacity" [(ngModel)]="maxfuelfillcapacity"
                            [formControl]="vehicleForm.controls['maxfuelfillcapacity']" >



                            <small *ngIf="vehicleForm.controls['maxfuelfillcapacity'].hasError('required') && (vehicleForm.controls['maxfuelfillcapacity'].touched || formSubmited)" class="error">{{capacityReq}}</small>
                            <small *ngFor="let error of error.firstKey" class="text-danger">{{error}}</small>
                        </div>

                    </div>




                    </div>
        </div>

        <div class="row bunit">
                <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <label for="country">Make And Model <small class="text-danger">*</small></label>
                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-8">

                            <select class="form-control" id="makemodelId"
                            [formControl]="vehicleForm.controls['makemodelId']" >
                                    <option value="">Select</option>
                                   <option *ngFor="let item of makemodelList" [value]="item.id">{{item.make}}</option>
                             </select>
                            <small *ngIf="vehicleForm.controls['makemodelId'].hasError('required') && (vehicleForm.controls['makemodelId'].touched || formSubmited)" class="error">{{makemodelReq}}</small>
                            <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                        </div>
                        </div>
            </div>
<hr>

        <div class="row bunit">

          <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="country">Customer <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-8">

                <select class="form-control" id="customer"
                [formControl]="vehicleForm.controls['customer']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of customerList" [value]="item.customerId">{{item.firstName}}</option>
                 </select>
                <small *ngIf="vehicleForm.controls['customer'].hasError('required') && (vehicleForm.controls['customer'].touched || formSubmited)" class="error">{{customerReq}}</small>
                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
            </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-4">
                 <label for="country">Department <small class="text-danger">*</small></label>
               </div>

               <div class="col-xs-12 col-sm-12 col-md-8">

                    <select class="form-control" id="department"
                    [formControl]="vehicleForm.controls['department']" >
                            <option value="">Select</option>
                            <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                    </select>
                    <small *ngIf="vehicleForm.controls['department'].hasError('required') && (vehicleForm.controls['department'].touched || formSubmited)" class="error">{{departmentReq}}</small>
                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
               </div>

             </div>
        </div>




        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

              <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="country">Site<small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-8">

                <select class="form-control" id="basestation"
                [formControl]="vehicleForm.controls['basestation']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of basestationList" [value]="item.siteId">{{item.name}}</option>
                 </select>
                <small *ngIf="vehicleForm.controls['basestation'].hasError('required') && (vehicleForm.controls['basestation'].touched || formSubmited)" class="error">{{basestationReq}}</small>
                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
            </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-4">
                 <label for="section">Section <small class="text-danger">*</small></label>
               </div>

               <div class="col-xs-12 col-sm-12 col-md-8">


                 <select class="form-control" id="section"
                 [formControl]="vehicleForm.controls['section']" >
                         <option value="">Select</option>
                        <option *ngFor="let item of sectionList" [value]="item.sectionId">{{item.sectionName}}</option>
                  </select>
                 <small *ngIf="vehicleForm.controls['section'].hasError('required') && (vehicleForm.controls['section'].touched || formSubmited)" class="error">{{sectionReq}}</small>
                 <small *ngFor="let error of error.section" class="error">{{error}}</small>
             </div>
             </div>
        </div>


        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

             <div class="col-xs-12 col-sm-12 col-md-4">
                <label for="country">Ownership Info<small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-8">

                <select class="form-control" id="ownershipinfo"
                [formControl]="vehicleForm.controls['ownershipinfo']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of ownershipinfoList" [value]="item.ownershipId">{{item.name}}</option>
                 </select>
                <small *ngIf="vehicleForm.controls['ownershipinfo'].hasError('required') && (vehicleForm.controls['ownershipinfo'].touched || formSubmited)" class="error">{{ownershipInfoReq}}</small>
                <small *ngFor="let error of error.firstKey" class="text-danger">{{error}}</small>
            </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">


                    <div class="col-xs-12 col-sm-12 col-md-4">
                      <label for="odometer">Bar Code <small class="text-danger"></small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8">
                      <input type="text" id="BarCode" class="form-control" maxlength="25"   [formControl]="vehicleForm.controls['BarCode']" />

                  </div>

                  </div>

        </div>

            <div class="clearfix"></div>
            <div><br /><br /></div>



                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="vehicleForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of firstKey" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of firstKey" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>

                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
                             </div>

                    </form>