<form [ngSwitch]="loading" [formGroup]="generatorForm" (ngSubmit)="onSubmit(generatorForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

        <div class="row form-row">

            <div class="col-xs-12 col-sm-6 col-md-6">

             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">Generator Id <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text"   id="generatorId" class="form-control" maxlength="25"
                 [formControl]="generatorForm.controls['generatorId']" />
                <small *ngIf="generatorForm.controls['generatorId'].hasError('required') && (generatorForm.controls['generatorId'].touched || formSubmited)" class="error">{{generatorIdReq}}</small>

            </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="odometer">Starting Odometer <small class="text-danger"></small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text" id="StartingOdoMeter" class="form-control" maxlength="25" (keypress)="_keyPress($event)"
                 [formControl]="generatorForm.controls['StartingOdoMeter']" />
                <small *ngIf="generatorForm.controls['StartingOdoMeter'].hasError('required') && (generatorForm.controls['StartingOdoMeter'].touched || formSubmited)" class="error">{{odometerReq}}</small>

            </div>

            </div>

        </div>

            <div class="row form-row">

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="makeId">Make and Model <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="MakeAndModelId"
                        [formControl]="generatorForm.controls['MakeAndModelId']" >
                                <option value="">Select</option>
                            <option *ngFor="let make of makeList" [value]="make.id">{{make.make}} - {{make.model}}</option>
                        </select>
                        <small *ngIf="generatorForm.controls['MakeAndModelId'].hasError('required') && (generatorForm.controls['MakeAndModelId'].touched || formSubmited)" class="error">{{makeReq}}</small>
                        <small *ngFor="let error of error.MakeAndModelId" class="error">{{error}}</small>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      <label for="maxfuelCapacity">Max Fuel Capacity <small class="text-danger"></small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                      <input type="text"   id="maxfuelCapacity" class="form-control" maxlength="25"  (keypress)="_keyPress($event)" [formControl]="generatorForm.controls['maxfuelCapacity']" />
                      <small *ngIf="generatorForm.controls['maxfuelCapacity'].hasError('required') && (generatorForm.controls['maxfuelCapacity'].touched || formSubmited)" class="error">{{maxfuelcapacityReq}}</small>

                  </div>

              </div>

            </div>

            <div class="row form-row">

            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="siteId">Customer <small class="text-danger">*</small></label>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="customerId"
                    [formControl]="generatorForm.controls['customerId']" >
                            <option value="">Select</option>
                        <option *ngFor="let customer of customerList" [value]="customer.customerId">{{customer.firstName}}</option>
                    </select>
                    <small *ngIf="generatorForm.controls['customerId'].hasError('required') && (generatorForm.controls['customerId'].touched || formSubmited)" class="error">{{customerReq}}</small>
                    <small *ngFor="let error of error.customerId" class="error">{{error}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="siteId">Department <small class="text-danger">*</small></label>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="departmentId"
                        [formControl]="generatorForm.controls['departmentId']" >
                                <option value="">Select</option>
                            <option *ngFor="let cl of departmentList" [value]="cl.id">{{cl.name}}</option>
                        </select>
                        <small *ngIf="generatorForm.controls['departmentId'].hasError('required') && (generatorForm.controls['departmentId'].touched || formSubmited)" class="error">{{departmentReq}}</small>
                        <small *ngFor="let error of error.departmentId" class="error">{{error}}</small>
                    </div>
                </div>
        </div>
        <div class="row form-row">

                <div class="col-xs-12 col-sm-6 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="siteId">Site<small class="text-danger">*</small></label>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <select class="form-control" id="siteId"
                            [formControl]="generatorForm.controls['siteId']" >
                                    <option value="">Select</option>
                                <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                            </select>
                            <small *ngIf="generatorForm.controls['siteId'].hasError('required') && (generatorForm.controls['siteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                            <small *ngFor="let error of error.siteId" class="error">{{error}}</small>
                        </div>
                    </div>

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="siteId">Section <small class="text-danger">*</small></label>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="sectionId"
                        [formControl]="generatorForm.controls['sectionId']" >
                                <option value="">Select</option>
                            <option *ngFor="let section of sectionList" [value]="section.sectionId">{{section.sectionName}}</option>
                        </select>
                        <small *ngIf="generatorForm.controls['sectionId'].hasError('required') && (generatorForm.controls['sectionId'].touched || formSubmited)" class="error">{{sectionReq}}</small>
                        <small *ngFor="let error of error.sectionId" class="error">{{error}}</small>
                    </div>
                </div>
            </div>
 <div class="row form-row">
        <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="siteId">Ownership Info<small class="text-danger">*</small></label>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <select class="form-control" id="ownershipId"
                    [formControl]="generatorForm.controls['ownershipId']" >
                            <option value="">Select</option>
                        <option *ngFor="let cl of ownershipList" [value]="cl.ownershipId">{{cl.name}}</option>
                    </select>
                    <small *ngIf="generatorForm.controls['ownershipId'].hasError('required') && (generatorForm.controls['ownershipId'].touched || formSubmited)" class="error">{{ownershipReq}}</small>
                    <small *ngFor="let error of error.ownershipId" class="error">{{error}}</small>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <label for="odometer">Bar Code <small class="text-danger"></small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                  <input type="text" id="BarCode" class="form-control" maxlength="25"  [formControl]="generatorForm.controls['BarCode']" />

              </div>

              </div>
        </div>

            <div class="clearfix"></div>
            <div><br /><br /></div>
            <div>
               <div>
                   <div>
                       <input name="file" type="file" (change)="onChange($event)" [formControl]="generatorForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error">{{error}}<br /></small>
                    </ng-container>
                    </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="row"> -->
                <div class="text-right" *ngIf='savebutton == true'>
                    <button type="submit" class="btn check-footer m-top10">Save</button>
                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>