<button *ngIf="page == 'edit'" (click)="print()" class="print-btn">
    <img src="../assets/img/printing-tool.svg">
</button>
<form [ngSwitch]="loading" autocomplete="off" [formGroup]="trForm" (ngSubmit)="onSubmit(trForm.value)" class="form-horizontal" method="post">
        <div *ngSwitchCase="true">
           <overlay-loader></overlay-loader>
        </div>
        <div *ngSwitchCase="false">
           <div class="row m-btm10">
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Transfer No<small class="text-danger"> *</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select *ngIf="page != 'edit'" class="form-control" id="TransferNoId" [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="trForm.controls['TransferNoId']" (change)="getTransferRequestDetails($event.target.value)">
                       <option value="">Select</option>
                       <option *ngFor="let item of transferList" [value]="item.id">{{item.transferId}}</option>
                       </select>
                       <div *ngIf="page == 'edit'">
                          <input type="text" readonly id="TransferNoId" class="form-control" [ngModel]="transferId" [ngModelOptions]="{standalone: true}"/>
                       </div>
                       <small *ngIf="trForm.controls['TransferNoId'].hasError('required') && (trForm.controls['TransferNoId'].touched || formSubmited)"
                          class="error">{{typeReq}}</small>
                       <small *ngFor="let error of error.TransferNoId" class="text-danger">{{error}}</small>
                    </div>
                    
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">Requested Quantity</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="requestedQuantity" class="form-control" [ngModel]="requestedQuantity" [ngModelOptions]="{standalone: true}"/>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">From Site</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="FromSite" class="form-control" [formControl]="trForm.controls['FromSite']" value={{fromSite}}
                       [ngModel]="fromSite" />
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">To Site<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly id="ToSite" class="form-control" [formControl]="trForm.controls['ToSite']" value={{toSite}} [ngModel]="toSite"
                       />
                    </div>
                 </div>
              </div>
              <hr>
              <div class="row bunit">
                 <div *ngIf="isLubricantSection==false">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                          <label for="site">Tank<small class="text-danger">*</small></label>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                          <select class="form-control" id="Tank" (change)="getTankDetails($event.target.value)" [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="trForm.controls['Tank']">
                              <option value="" disabled selected="selected">Select</option>
                              <option *ngFor="let item of tankList" [value]="item.storageTankId">{{item.tankName}}</option>
                          </select>
                          <div *ngIf="tankId>0 && page != 'edit'">
                             <label for="site"><small class="text-success">{{notificationMeaasge}}</small></label>
                          </div>
                          <small *ngIf="trForm.controls['Tank'].hasError('required') && (trForm.controls['Tank'].touched || formSubmited)" class="error">{{tankReq}}</small>
                          <small *ngFor="let error of error.Tank" class="text-danger">{{error}}</small>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">Date Loaded<small class="text-danger">*</small></label>
                    </div>
                    <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <my-date-picker [options]="myDatePickerOptions" [formControl]="trForm.controls['DateLoaded']" (dateChanged)="onDateChanged($event)"
                       [(ngModel)]="DateLoaded" name="DateLoaded"></my-date-picker>
                       <small *ngIf="dateError != ''" class="error">{{dateError}}</small>
                    </div>
                    <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly class="form-control" [ngModel] = "loadingDateViewPage" [ngModelOptions]="{standalone: true}">
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Transporter<small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="Transporter" [formControl]="trForm.controls['Transporter']" [ngClass]="{'hide-select-arrow': page == 'edit'}">
                          <option value="">Select</option>
                          <option *ngFor="let item of transporterList" [value]="item.id">{{item.name}}</option>
                       </select>
                       <small *ngIf="trForm.controls['Transporter'].hasError('required') && (trForm.controls['Transporter'].touched || formSubmited)"
                          class="error">{{transporterReq}}</small>
                       <small *ngFor="let error of error.Transporter" class="text-danger">{{error}}</small>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="latitude">Loading Terminal<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" id="LoadingTerminal" class="form-control" [formControl]="trForm.controls['LoadingTerminal']" />
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Truck<small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="Truck" [formControl]="trForm.controls['Truck']" [ngClass]="{'hide-select-arrow': page == 'edit'}">
                          <option value="">Select</option>
                          <option *ngFor="let item of truckList" [value]="item.truckId">{{item.regNo}}</option>
                       </select>
                       <small *ngIf="trForm.controls['Truck'].hasError('required') && (trForm.controls['Truck'].touched || formSubmited)" class="error">{{truckReq}}</small>
                       <small *ngFor="let error of error.Truck" class="text-danger">{{error}}</small>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Driver<small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="Driver" [formControl]="trForm.controls['Driver']" [ngClass]="{'hide-select-arrow': page == 'edit'}">
                          <option value="">Select</option>
                          <option *ngFor="let item of driverList" [value]="item.driverId">{{item.driverName}}</option>
                       </select>
                       <small *ngIf="trForm.controls['Driver'].hasError('required') && (trForm.controls['Driver'].touched || formSubmited)" class="error">{{driverReq}}</small>
                       <small *ngFor="let error of error.Driver" class="error">{{error}}</small>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="latitude">Truck Odometer Reading<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" id="TruckOdometerReading" (keypress)="_keyPress($event)" class="form-control" maxlength="20" [formControl]="trForm.controls['TruckOdometerReading']"/>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="latitude">Consignment Number<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" id="ConsignmentNo" class="form-control" maxlength="20" [formControl]="trForm.controls['ConsignmentNo']" />
                       <small *ngFor="let error of error.firstKey" class="text-danger">{{error}}</small>
                    </div>
                 </div>
              </div>
              <!-- <mat-tab-group>
                 <mat-tab label="First"> Content 1 </mat-tab> -->
              <!-- <mat-tab label="Second"> Content 2 </mat-tab>
                 <mat-tab label="Third"> Content 3 </mat-tab> -->
              <div *ngIf="isLubricantSection==false">
                 <br>
                 <div class="text-center"><span class="error" *ngIf="temperatureMessage != ''"> {{temperatureMessage}}</span></div>
                 <div class="text-center"><span class="error" *ngIf="densityMessage != ''"> {{densityMessage}}</span></div>
                 <div class="text-center"><span class="error" *ngIf="polErrorMsg != ''">{{polErrorMsg}}</span></div>
                 <div class="text-center"><span class="error" *ngIf="tankAvailableQtyErrorMsg != ''">{{tankAvailableQtyErrorMsg}}</span></div>
                 <div class="text-center"><span class="error" *ngIf="batchErrorMessage != ''">{{batchErrorMessage}}</span></div>
                 <div class="text-center"><span class="error" *ngIf="compartmentDetailsReq != ''">{{compartmentDetailsReq}}</span></div>
                 <div formArrayName="CompartmentDetails">
                    <div class="section-container" *ngFor="let section of getCompartmentDetails(trForm); let i = index">
                       <div class="ui raised segments" [formGroupName]="i">
                          <ul class="nav nav-tabs">
                             <li class="active">
                                <a data-toggle="tab" href="#home">compartment {{i+1}}</a>
                             </li>
                             <button *ngIf="page != 'edit' && !isCompartmentLimitReached && i+1 == getCompartmentDetails(trForm).length" _ngcontent-yir-267="" class="point-icon" (click)="addSection(i, section)" type="button" style="left: 165px;
                             position: relative;
                             top: -37px;"><img src="../assets/icon/add-icon.png"></button>
                             <button *ngIf="page != 'edit' && i != 0 && i+1 == getCompartmentDetails(trForm).length" (click)="removeSection(i,section)" class="point-icon" formnovalidate
                             style="left:160px;position:relative;top:-37px;"><img src="../assets/icon/delete-icon.png"></button>
                             <li><a data-toggle="tab" href="#tab-next"></a></li>
                          </ul>
                          <div class="tab-content">
                             <div id="home" class="tab-pane fade in active">
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">POL<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" readonly formControlName="POL" [ngModel]="POL" value={{POL}}>
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Batch Number<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" readonly formControlName="PurchaseReceiptId" [ngModel]="compBatchList[i]">
                                         <!-- <input type="text" class="form-control" hidden formControlName="PurchaseReceiptId" value={{PRId}} [ngModel]="PRId"> -->
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Volume<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" maxlength="10" formControlName="Volume" (change)="onQtyChange($event.target.value)"
                                         [readonly] = "readOnly" (keyup)="onTextChange($event.target.value); setBatchDetails($event.target.value, i)" (keypress)="_keyPress($event)">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Observed Density<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" [readonly] = "readOnly" maxlength="15" (keypress)="_keyPress($event)" formControlName="ObservedDensity" (keyup)="onDensityChange($event.target.value)">
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude"><small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Observed Temperature(°C)<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" [readonly] = "readOnly" maxlength="15" (keypress)="_keyPress($event)" formControlName="ObservedTemprature" (keyup)="onTemperatureChange($event.target.value)">
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Seal No<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" [readonly] = "readOnly" (keypress)="_keyPress($event)" maxlength="15" class="form-control" formControlName="SealNo">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Conductivity<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" class="form-control" [readonly] = "readOnly"  maxlength="15" formControlName="Conductivity" (keypress)="_keyPress($event)">
                                      </div>
                                   </div>
                                </div>
                                <div class="row bunit">
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                         <label for="latitude"><small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-12 col-md-6">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                         <label for="latitude">Visual<small class="text-danger"></small></label>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                         <input type="text" [readonly] = "readOnly" maxlength="35" class="form-control" formControlName="Visual">
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div id="tab-next" class="tab-pane fade">
                             </div>
                             <div class="text-center"><span class="error" *ngIf="compartmentErrorMsg[i] != ''">{{compartmentErrorMsg[i]}}</span></div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <br>
              <div class="text-center"><span class="error" *ngIf="LubeErrorMsg != ''">{{LubeErrorMsg}}</span></div>
              <!-- </mat-tab-group> -->
              <div *ngIf="isLubricantSection==true">
                 <div formArrayName="TransferLubeDetails">
                    <div class="section-container" *ngFor="let section of getTransferLubeDetails(trForm); let i = index">
                       <div class="ui raised segments" [formGroupName]="i">
                          <br>
                          <div class="row bunit">
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="lr">Product<small class="text-danger">*</small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
                                      <select formControlName="POLId" class="form-control" (change)="getPolDetails($event.target.value, i)">
                                         <option value="" disabled selected>Select</option>
                                         <option *ngFor="let pol of pollist" [disabled]="true" [value]="pol.id">{{pol.name}}
                                      </select>
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Package">Package<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="Package">
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="PackSize">PackSize<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="PackSize">
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="NumberOfPackets">Number Of Packs<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
                                      <input type="text" class="form-control" [readonly]="readOnly" maxlength="10" formControlName="NumberOfPackets" (keyup)="onPackChange($event.target.value, i)"
                                      (keypress)="_keyPress($event)">
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="form-group">
                                   <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="Volume">Volume<small class="text-danger"></small></label>
                                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
                                      <input type="text" readonly class="form-control bu-control" id="staticEmail" formControlName="Volume" value={{volume}} [ngModel]="volume">
                                   </div>
                                </div>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-1 space storage-btn">
                                <!-- <button type="button" style="background: url(add-ico.png)" (click)="addLubeSection()" class="point" formnovalidate>+ </button>
                                   <button style="background: url(close-ico.png)" *ngIf="getTransferLubeDetails(trForm).length > 1" (click)="removeLubeSection(i)"
                                       class="point" formnovalidate>- </button> -->
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                       <label for="name">Remarks<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <textarea rows="4" cols="50" id="Remarks" class="text-area" [formControl]="trForm.controls['Remarks']">
                          </textarea>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="row bunit"></div>
              <div>
                 <div>
                    <div *ngIf="page == 'add'">
                       <input name="file" type="file" (change)="onChange($event)" [formControl]="trForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                       </ng-container>
                       <ng-container *ngIf="ErrorList.length>1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                       </ng-container>
                    </div>
                 </div>
              </div>
              <div class="text-right" *ngIf="page == 'add'">
                 <button type="submit" class="btn btn check-footer m-top10">Save</button>
                 <button class="btn  check-no m-top10" type="button" value="Reset" (click)="clearmsgs()">Clear</button>
              </div>
           </div>
        </div>
</form>
<!-- print Transfer -->
<div id="print-section" class="modal models" role="dialog" tabindex='-1'>
   <div class="container-fluid">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Transfer122</h4>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <form>
                  <div class="form-group row">
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Transfer No</label>
                     <div class="col-sm-3">
                        {{transferPrintData.transferRequest.transferId}}
                     </div>
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">From Site</label>
                     <div class="col-sm-3">
                        <div *ngIf="transferPrintData.transferRequest.fromSite">{{transferPrintData.transferRequest.fromSite.name}}</div>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">To Site</label>
                     <div class="col-sm-3">
                        <div *ngIf="transferPrintData.transferRequest.requestedSite">{{transferPrintData.transferRequest.requestedSite.name}}</div>
                     </div>

                     <div *ngIf="transferPrintData.transferCompartmentDetails">
                        <div *ngFor="let transferCompartment of transferPrintData.transferCompartmentDetails">
                           <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Tank</label>
                           <div class="col-sm-3">
                              {{transferPrintData.transferRequest.transferId}}
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Date Loaded</label>
                     <div class="col-sm-3">
                        {{transferPrintData.loadDate}}
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Transporter</label>
                     <div class="col-sm-3">
                       <div *ngIf="transferPrintData.transportCompany"> {{transferPrintData.transportCompany.name}}</div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Loading Terminal</label>
                     <div class="col-sm-3">
                        {{transferPrintData.loadingTerminal}}
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck</label>
                     <div class="col-sm-3">
                       <div *ngIf="transferPrintData.truck"> {{transferPrintData.truck.regNo}}</div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Driver</label>
                     <div class="col-sm-3">
                        <div  *ngIf="transferPrintData.driver">{{transferPrintData.driver.driverName}}</div>
                     </div>
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Truck Odometer Reading</label>
                     <div class="col-sm-3">
                        {{transferPrintData.truckOdoMeterReading}}
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Consignment No</label>
                     <div class="col-sm-3">
                        {{transferPrintData.consigmentNo}}
                     </div>
                  </div>
                  <hr>
                  <div *ngFor="let item of transferPrintData.transferCompartmentDetails">
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">POL</label>
                        <div class="col-sm-3  col-form-label">
                          <div  *ngIf="transferPrintData.transferRequest.pol"> {{transferPrintData.transferRequest.pol.name}}</div>
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Batch No</label>
                        <div class="col-sm-3  col-form-label">
                           <!-- Batch 100 -->
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Volume</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.volume}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Observed Density</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.observedDensity}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Observed Temperature(°C)</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.observedTemprature}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Seal No</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.sealNo}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Conductivity</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.conductivity}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Visual</label>
                        <div class="col-sm-3  col-form-label">
                           {{item.visual}}
                        </div>
                     </div>
                
                  </div>
                  <div *ngFor="let item of transferPrintData.transferLubricantDetails">
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">POL</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                            <div  *ngIf='item.pol' >{{item.pol.name}}</div>
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Pack Size</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.packSize}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Number Of Packets</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.numberOfPackets}}
                        </div>
                        <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Volume</label>
                        <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                           {{item.volume}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Remarks</label>
                        <div class="col-sm-8  col-form-label">
                           {{transferPrintData.remarks}}
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- print Transfer -->
