<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/home/dashboard" class="al-logo clearfix"><img src="assets/img/logo-Tristar.png" style="top: -21px;
    position: relative;"></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link fas fa-bars fa-2x"></a>
  <div class="pull-right margin-top-15">
    <!-- <a class="notification" data-toggle="modal"  placement="top" tooltip="View"
    data-target="#ViewNotifications" ><i class="ion-ios-bell" style="font-size:30px"></i><span>{{notificationCount}}</span></a>   -->
    <i class="ion-ios-person"></i><span>  {{userName}}  </span>
    <a class="signout" (click)="signOut()"> <i class="ion-power"></i> <span> Sign out </span></a> 
  </div>
</div>
<!-- view notifications modal -->
<div id="ViewNotifications" class="modal  models" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-bu">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">Notifications</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <hr>
          </div>
          <div class="modal-body">
             <br>
             <div class="bu-container">
                <form>
                   <div class="form-group row">
                      <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"></label>
                      <div class="col-sm-8">
                        No Notifications
                      </div>
                   </div>
                </form>
             </div>
          </div>
          <div class="modal-footer">
             <button  type="button" class="btn btn-info check-footer"  data-dismiss="modal" style="padding: 8px 37px;font-size:13px">Close</button>
          </div>
       </div>
    </div>
 </div>
 <!-- view notifications modal -->
