@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';

.page-top {
  background-color: #ffffff;
  position: fixed;
  z-index: 904;
  //box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: $top-height;
  width: 100%;
  min-width: $resMin;
  padding: 0 32px 0 10px;

  .dropdown-toggle::after {
    display: none;
  }
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;
  width: 20%;
  margin-top: 8px;
  max-width: 130px;
  img {
    width: 100%;
  }
  span {
    color: $primary;
  }
}

a.al-logo:hover {
  color: $primary;
}

.margin-top-10{
  margin-top: 10px;
}
a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 40px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: #323232;
  padding: 0;
  float: left;
  margin: 0px 0 0 66px;

  &:hover {
    text-decoration: none;
    color: #0F1646;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.search {
  text-shadow: none;
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  width: 162px;
  float: left;
  margin: 20px 0 0 30px;

  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    color: $sidebar-text;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}

@media screen and (max-width: $resS) {
  .search {
    display: none;
  }

}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
  a.al-logo {
    max-width: auto;
  }
}


