<form [ngSwitch]="loading" [formGroup]="issuerForm" (ngSubmit)="onSubmit(issuerForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

        <div class="row form-row">

            <div class="col-xs-12 col-sm-6 col-md-6">

             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="name">First Name <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text" maxlength="30"   id="firstName" class="form-control" [formControl]="issuerForm.controls['firstName']" />
                <small *ngIf="issuerForm.controls['firstName'].hasError('required') && (issuerForm.controls['firstName'].touched || formSubmited)" class="error">{{nameReq}}</small>

            </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="address">Last Name</label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <input type="text" maxlength="30"   id="lastName" class="form-control" [formControl]="issuerForm.controls['lastName']" />
                <small *ngIf="issuerForm.controls['lastName'].hasError('required') && (issuerForm.controls['lastName'].touched || formSubmited)" class="error">{{lnameReq}}</small>

            </div>

            </div>

        </div>

            <div class="row form-row">

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <label for="address">UNID Number <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <input type="text"   id="unidNo" class="form-control" [formControl]="issuerForm.controls['unidNo']" />
                        <small *ngIf="issuerForm.controls['unidNo'].hasError('required') && (issuerForm.controls['unidNo'].touched || formSubmited)" class="error">{{unidReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <label for="country">Site <small class="text-danger">*</small></label>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <select class="form-control" id="siteId"
                        [formControl]="issuerForm.controls['siteId']" >
                                <option value="">Select</option>
                            <option *ngFor="let cl of siteList" [value]="cl.siteId">{{cl.name}}</option>
                        </select>
                        <small *ngIf="issuerForm.controls['siteId'].hasError('required') && (issuerForm.controls['siteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                        <small *ngFor="let error of error.siteId" class="error">{{error}}</small>
                    </div>
                </div>

            </div>


            <div class="clearfix"></div>
            <div><br /><br /></div>
            <div>
               <div>
                   <div>
                       <input name="file" type="file" (change)="onChange($event)" [formControl]="issuerForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
                    </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="row"> -->
                <div class="text-right" *ngIf='savebutton == true'>
                    <button type="submit" class="btn check-footer m-top10">Save</button>
                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>