
<span class="manager col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">Add New Business Unit</span>

<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12 no-padding">
	        <section class="panel">
	          
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-bunit">{{success}}</div>
	                <div *ngIf="errorpass" id="errorpass" class="alert alert-danger">{{errorpass}}</div>
	                <businessunit-form [error]="error" [page]="page" (saved)="onSave($event)"></businessunit-form>               
                </div>
	        </section>
	    </div>
	</div>
</div>	