<span class="manager col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">View Roles And Privileges</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	          
	            <div class="panel-body">
	                <!-- <div *ngIf="success" id="success" class="alert alert-success add-recev-edit">{{success}}</div> -->
	                <roles-form [page] = "page">

                    </roles-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>