<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




<div class="auth-main">
  <!-- <div class="auth-block" style="color:black"> -->

  <div class="container">

    <div class="panel-body">
      <div class="col-sm-12 text-center"><br>
        <div class="logo_block">
          <img src="assets/img/icon.png">
        </div><br>
        <!-- <div class="text-center">
          <h4>Fuel Management System</h4>

        </div>
        <div class="text-center">
          <span class="login-sign">Please sign in to get</span>
        </div> -->
      </div>

      <div class="clearfix"></div>

      <div class="row row-bg">
        <!--carousel-->
        <div class="col-md-6 bg-1">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <h3 style="text-align: center">UPDATES</h3>
              <div class="col-md-6 offset-md-3" style="margin-top: -20px;"><hr></div>
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> -->
            <!-- Wrapper for slides -->
          <div *ngIf = "messageList.length > 0" class="carousel-inner">
              <div  class="item active">
                  <!-- <h4>Latest News</h4>
                  <div class="col-md-6 offset-md-3"><hr></div> -->
              </div>
                <div *ngFor="let item of messageList ; let i = index" class="item" >
                    <p style="color:#ffff">{{item.displayData}}</p>
                </div>
          </div>

            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a> -->
          </div>
        </div>

        <div class="col-sm-6 bg-news">
          <!-- <img class="login-img" src="assets/img/login.png"/> -->
          <b>Log in with credentials </b>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <!-- <div *ngIf="error" class="alert alert-danger">{{error.non_field_errors[0]}}</div> -->




            <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
              <label>E-mail</label>
              <input [formControl]="email" type="text" class="user-pass" placeholder="Username" (keydown)="onKeyPress()">

              <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="error">Email address is required.</small>
              <small *ngIf="!form.controls['email'].hasError('required') && form.controls['email'].hasError('validateEmail') && form.controls['email'].touched"
                class="error">Invalid email address.</small>

            </div>


            <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
              <label>Password</label>
              <span class="p-r"><input [formControl]="password" type="password" class="user-pass" (keydown)="onKeyPress()" placeholder="Password" #ShowPassword title="8-20 characters, at least 1 digit">
                <span (click)="showHidePassword('show')" class="login-eye">
                  <i class="ion-eye-disabled login-eye" *ngIf="this.show_password"></i>
                </span>
                <span (click)="showHidePassword('hide')" class="login-eye">
                  <i class="ion-eye login-eye" *ngIf=" this.hide_password"></i>
                </span>
              </span>

              <br>
              <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="error">Password is required.</small>
              <div class="checkbox" style="margin-left:20px;margin-top: 15px">
                <input type="checkbox" [formControl]="remember" name="remember" class="login-check" style="visibility:visible !important">
                <span class="remember-me" style="position:relative;top:2px;">Remember me</span>
                <br> <br>
                <span class="pull-left forgot" style="cursor:pointer"><a routerlink="" data-toggle="modal" data-target="#forgetPwd" style="margin-left: -22px;">Forgot your password ?</a></span>
              </div>
            </div>
            <div class="form-group">

              <!-- <spinner [size]="20" [tickness]="1" [color]="#ff66ff"></spinner> -->
              <div class="error" *ngIf="hasError">
                Invalid username or password. Please try again.
              </div>
              <br>
              <sk-wave *ngIf="isLoggedIn"></sk-wave>
              <button *ngIf="!isLoggedIn" type="submit" class="btn btn-primary btn-theme btn-block text-uppercase">LOGIN</button>
            </div>

          </form>
        </div>
      </div>

      <div class="modal  in" id="forgetPwd" role="dialog" tabindex='-1'>
        <button type="button" class="close" data-dismiss="modal" (click)="closeBtn()">&times;</button>
        <div class="modal-dialog mstyle modal-country">
          <div class="modal-content" *ngIf='isMailSend'>
            <div class="modal-header">
              <h4 class="modal-title">Password reset email sent</h4>
              <hr>
            </div>
            <div class="modal-body">
              <p>We sent instructions to pick a new password to {{userEmail}}.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn check-footer" (click)="sendEmail()">Resend</button>
              <button type="button" class="btn btn-primary" (click)="closeBtn()" data-dismiss="modal">Got it</button>
            </div>
          </div>

          <div class="modal-content" *ngIf='!isMailSend'>
            <div class="modal-header" style="margin-top: 20px;padding: 0px;">
                <div *ngIf="successMsg" id="success" class="alert alert-success reset-pass-success">{{successMsg}}</div>

              <h4 class="modal-title">Reset Password</h4>
              <!-- <button type="button" class="close"   data-dismiss="modal" (click)="closeBtn()">&times;</button> -->
              <hr>
            </div>

            <div class="modal-body" style="padding:15px !important;">

              <label>Enter your email id</label>

              <input type="text" class="user-pass ng-dirty ng-valid ng-touched" (change)="onTextChange($event)" (keyup)="onKeyUp($event)" [(ngModel)]='userEmail' #resetEmail="ngModel"
                  required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="E-mail" style="margin-top:13px;">
              <!-- <p *ngIf="deleteMsg == ''">Are you sure you want to delete this Role ?</p>[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4} -->
            </div>

            <small *ngIf="isEmailRequired" class="error" style="margin-left: 16px;">
                  Email is required.
              </small>
            <small *ngIf="isInvalidMailId" class="error" style="margin-left: 16px;">
                  Email is invalid.
              </small>
            <small *ngIf="emailSendError" class="error" style="margin-left: 16px;">
                Account not found.
              </small>
            <div class="modal-footer">
              <button type="button"  (click)="sendEmail()" class="btn check-no modalButton" >Send Email</button>
              <!--<button *ngIf="deleteMsg == ''" type="button" class="btn btn check-footer" (click)="deleteConfirm()">Yes</button> -->
              <button type="button" class="btn check-footer" data-dismiss="modal"  style="padding: 6px 33px;" (click)="closeBtn()">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  <!-- </div> -->
</div>


<!-- <div class="tcontainer">
  <div class="ticker-wrap">
    <div class="ticker-move">
      <div class="ticker-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="ticker-item">Aliquam consequat varius consequat.</div>
      <div class="ticker-item">Fusce dapibus turpis vel nisi malesuada sollicitudin.</div>
      <div class="ticker-item">Pellentesque auctor molestie orci ut blandit.</div>
      <div class="ticker-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="ticker-item">Aliquam consequat varius consequat.</div>
      <div class="ticker-item">Fusce dapibus turpis vel nisi malesuada sollicitudin.</div>
      <div class="ticker-item">Pellentesque auctor molestie orci ut blandit.</div>
    </div>
  </div>
</div> -->