@import '../../theme/sass/auth';


  // @keyframes ticker {
  //   0% { transform: translate3d(0, 0, 0); }
  //   100% { transform: translate3d(-100%, 0, 0); }
  // }
  // .tcontainer{
  //   width: 100%;
  //   overflow: hidden;
  //   bottom: 0;
  //   position:absolute;
  // }
  // .ticker-wrap {
  //   width: 100%;
  //   padding-left: 100%;
  //   background-color: #eee;
  // }
  // .ticker-move {
  //   display: inline-block;
  //   white-space: nowrap;
  //   padding-right: 100%;
  //   animation-iteration-count: infinite;
  //   animation-timing-function: linear;
  //   animation-name: ticker;
  //   animation-duration: 20s;
  // }
  // .ticker-move:hover{
  //   animation-play-state: paused;
  // }
  // .ticker-item{
  //   display: inline-block;
  //   padding: 0 2rem;
  //   font-size: 14px;
  //   padding: 10px;
  // }

  .auth-block
  {
    width: 1200px;
    margin-top: 0px;
  }
  .auth-block p
  {
    font-size: 13px;
    line-height: 33px;
    margin-top: 50px;
    text-align: justify;
  }
  .auth-block .logo_block img
  {
    width: 30%;
  }
  .auth-main
  {
    display:inline;
  }
  .login-eye{
    position:absolute;
    right:2px;
    top: 0px;
  }
  .p-r{
    position:relative;
  }
  .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]
  {
    margin-top: 3px;
  }
  .carousel-control.left
  {
    background-image: none !important;
  }
  .carousel-control.right
  {
    background-image: none !important;
  }

  .col
  {
    flex: 1;
  }
  .bg-1
  {
    background: #0b1c25 !important;
    color: #fff;
  }
  .bg-news
  {
    background: #ffff;
    padding:30px !important;
  }
  .auth-main
  {
    // background: #7e7e7e;
    // background-image: url('assets/img/Head-Office-Dubai');
    background-image: url('../../assets/img/Head-Office-Dubai.jpg')!important;
    background-size: cover;

  }
  // .auth-block
  // {
  //   background: #7e7e7e;
  //   background-image: url('../../assets/img/Head-Office-Dubai.jpg')!important;
  // }
  // input[type="checkbox"]
  // {
  //     visibility: visible !important;
  // }
  .form-horizontal .form-group
  {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .row-bg
  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    display:flex;
  }
  #myCarousel
  {
    margin-top: 8px;
  }
  .carousel-inner h4
  {
    line-height: 3;
    text-align: center;
    // padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .carousel-inner p
  {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 3;
    padding: 10px;
    text-align: justify;
    margin-top:-20px;

  }
  .carousel-inner
  {
    margin-top:60px;
  }