@import 'conf/conf';

$text-color: #ffffff;


.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  
}

.auth-block {
   width: 650px;
  margin: 0 auto;
  color: #25A149;
  // border: 1px solid #C8C8C8;
  background: #fff;
  border-radius: 5px;

  h1 {
    margin-top: 28px;
    text-align: center;
    font-size: 17px;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .logo_block {
    //background: #323232;
    //padding: 50px ;
    text-align: center;
    margin-top: 48px;
    img {
      width: 80%;
      padding-top: 34px;
      padding-left: 20px;

    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    .form-control{
      background: #fff;
      color: #000;
    }
  }
  form {
    //padding: 20px;
    margin-top: 33px;
  }
  .btn {
    border-radius: 3px;
    outline: none !important;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    opacity:0.85;
    //width:75%;
    hover : none;
  }

  .btn:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  }
  
  .form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    color: #565656;
    padding: 15px;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
  }
}

.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
}

.auth-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px;
}

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  position: relative;
  & > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: $text-color;
    & > span {
      margin-top: -12px;
      display: block;
    }
  }
  &:before, &:after {
    border-top: solid 1px $text-color;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell;
  }
}

.al-share-auth {
  text-align: center;
  .al-share {
    float: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      i {
        font-size: 24px;
      }
    }
  }
}

.btn-auth {
  color: #ffffff!important;
}

.login-sign{
  font-size:12px;
  color: #808080;
}

.login-top{
  margin-top: 20px;
  b{
     padding-left:7px;
  }
  .remember-me{
     color: #000000;
  }
  .forgot{
     color:#218BEB;
  }
}

.login-img{
  padding-left: 13px;
  width: 11%;
}

.user-pass{
    border: none;
    border-bottom: 1px solid #b5d9fb;
    padding: 5px;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}
:focus {outline:none;}