@import 'conf/conf';

$left-space: $sidebar-width;

@include scrollbars(.5em, #d9d9d9, rgba(0, 0, 0, 0));

html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  height: 100%;
  min-width: $resMin;
}

main {
  min-height: 100%;
  position: relative;
  font: 13px/16px $font-family;
  color: $default-text;

  @include body-bg();

  .additional-bg {
    display: none;
    @include additional-bg();
  }
}

.smalltab {
  margin-top: 30px;      
  margin-left: 35%;
  cursor: pointer;
  li{
  color: blue;
   padding-right: 10px;
  }
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.label-bordered {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #a1a1a1;
  color: #000 !important;
}

.sales-graph-no-data{
  position: absolute;
  top: 40%;
  text-align: center;margin: auto;
    position: fixed;
    /* text-align: center; */
    font-size: 14px;
    color: #FFA500;
    /* left: 19%; */
    font-weight: bold;
    margin-left: 65px;
  width: 100%;
  font-size: 18px;
}

.brdr-btm-dark{
  border-bottom: 2px solid #000;
}
.w200 {
  width: 200px;
}
.w100 {
  width: 100px;
}
.w30p {
  width: 30%;
}
.w10p {
  width: 10% !important;
}
.datepicker-filter-wrapper {
  width: 15%;
  float: left;
  padding-right: 10px;
}
.breadcrumb {
  width: auto;
  float: none;
  background:#e6f5fa;
  list-style: none;
  //border: 1px solid #e2e2e2;
}
.breadcrumb>li {
  display: inline-block;
  text-transform: capitalize;
}
.breadcrumb li a {
  color: #266b88;
  cursor: pointer;
  &:not([href]){
    color: #323232;
    font-weight: 600;
  }
}
.breadcrumb li+li:before {
  content: "\f3d3";
  font-family: "Ionicons";
  padding: 0 8px 0 5px;
  color: #ccc;
}
.panel-chart{
  background:#CCDEE3 !important;
  height: auto;
  margin-bottom: 10px;
}
.chart-content{
  padding-left:0px !important;
  padding-right:10px !important;
  cursor: pointer;
  margin:5px 0px;
}
.chart-content-last{
  padding-right:0px !important;
  padding-left:0px !important;
  cursor: pointer;
  margin: 5px 0px;
}
.sebm-google-map-container {
  height: 300px;
  z-index: 99;
}
/*.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}*/
.dashboard-filter-reset{
  margin-top:5px;
  padding:0.25rem 1rem !important;
  margin-top: 23px;
}
.dashboard-week:first-child{
  padding:0px 5px 0px 15px;
}
.dashboard-week{
  padding: 0px 4px;
}
.pending-request{
  background: #fcf8eb;
  border-bottom: 1px solid #f2e7ce;
  border-left: 2px solid #ff8a05;
}
.request-footer{
  background: #fcf8eb;
  border-bottom: 2px solid #ff8a05;
  font-weight:bold;
  padding-left: 10px;
}
.inprogress{
  background: #e0faff;
  border-bottom: 1px solid #e0faff;
  border-left: 2px solid #149bcc;
}
.inprogress-footer{
  background: #e0faff;
  border-bottom: 2px solid #149bcc;
  font-weight:bold;
  padding-left: 10px;
}
.completed{
  background: #f0fae8;
  border-bottom: 1px solid #f0fae8;
  border-left: 2px solid #5ac437;
}
.completed-footer{
  background: #f0fae8;
  border-bottom: 2px solid #5ac437;
  font-weight:bold;
  padding-left: 10px;
}
.cancelled{
  background: #f7efed;
  border-bottom: 1px solid #f7efed;
  border-left: 2px solid #ff2b2f;
}
.cancelled-footer{
  background: #f7efed;
  border-bottom: 2px solid #ff2b2f;
  font-weight:bold;
  padding-left: 10px;
}
.chart-img{
  /*margin-top: 35px;
  margin-left: -39px;*/
     margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.chart-body{
  height: 219px;
  background: #ffffff;
}
.chart-width{
  width:172px;
}
button.btn.map{
  background: #fff;
  color: #3d98e3;
  border-left: 1px solid #ccc;
  border-radius: 0px;
  border-right: 1px solid #ccc;
}
.tracking{
  padding-left: 10px !important;
  /*margin-top: -54px;*/
}
.panel {
    //margin-bottom: 20px;
    background-color: #fff;
   /* z-index: 99;*/
  .panel-heading {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 0 15px 0;
    color: #323232;
    font-size: 16px;
    font-weight: bold;
    i.ion-close-round{
      border: 1px solid #fff;
      border-radius: 15px;
      padding: 3px 7px;
      cursor: pointer;
    }
  }
  .panel-body {
    padding: 0;
  }
}
.nav-link{
  i.ion-close-round{
      border: 1px solid $primary;
      border-radius: 15px;
      padding: 1px 5px;
      cursor: pointer;
    }
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.bordered-block {
  border: 1px solid #eff2f7;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.m-btm20 {
  margin-bottom: 20px;
}
.m-btm15 {
  margin-bottom: 15px;
}
.m-btm10 {
  margin-bottom: 10px;
  /*margin-left: 7px*/
}
.m-top10 {
    margin-top: 10px;
}
.m-top30 {
  margin-top: 30px;
}
.m-top20 {
  margin-top: 20px;
}
.m-rgt10 {
  margin-right: 10px;
}
.p-rgt-none {
  padding-right: 0;
}
.p-lft-none {
  padding-left: 0;
}
.p-lft5 {
  padding-left: 5px;
}
.no-padding {
    padding: 0px!important;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

.panel-default>.panel-heading {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  color: #797979;
  padding-left: 0;
  padding-bottom: 20px;
}
.panel-title {
  color: #32323A;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.panel-heading {
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.list-inline {
  margin: 0;
  li {
    a {
      color: #323232;
      font-size: 16px;

      :hover {
        color: #163364;
      }
    }
  }
}
.list-inline-item{
  margin: 0px 6px;
}

.summary_list {
    width: 100%;
    line-height: 1.5;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    li {
      list-style: none;
      width: 20%;
      padding-right: .75rem;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      min-width: 0%;
      .summary_label {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: 1rem;
        white-space: nowrap;
        color: rgb(84, 105, 141);
        line-height: 1.5;
        text-transform: uppercase;
        width: 100%;
    }
    .summary_value {
        color: #000;
    }
  }
}

.tab_panel .nav-tabs .nav-item {
  //float: none;
  margin-bottom: -3px !important;
}
.nav.nav-tabs {
  background: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav.nav-tabs + .tab-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}
.nav.nav-tabs > li.active > a {
  background-color: #ffffff;
  border: 0;
  //border-bottom: 3px solid #323232 !important;
  border-top: 3px solid #32AE78 !important;
  border-top-left-radius: 0px !important;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
  //background-color: transparent;
  background-color: #7F98AE;
  border-radius: 0;
  border: none;
  //color: #6c6c6c !important;
  color: #ffffff ;
  cursor: pointer;
  //line-height: 50px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
  //color: #323232 !important;
  //background: none;
  color: #33ae78 !important;
  background: #ffffff;
}
.tab-content {
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
  color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}
.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-bg {
  background-color: #f4f8fb;
}
.nav-tabs > li {
  display: table-cell;
  /*width: 1%;*/
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
  //color: #323232 !important;
  color: #33ae78 ;
  font-weight: 700; 
}

ul {
    padding-left: 0;
}

.panel-body h1 {
    color: #005173;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0 !important;
}
.activity-desk {
    padding: 10px 15px;
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}


/*box*/
.box.box-solid {
    border-top: none;
}
.box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background: #ffffff;
    // border: 1px solid #e1e3e5;
    // -webkit-border-radius: 4px;
    // -moz-border-radius: 4px;
    // border-radius: 4px;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    // -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    // -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-body {
    padding: 0px 20px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.box .box-body:after, .box .box-body:before, .box .box-footer:after, .box .box-footer:before, .box .box-header:after, .box .box-header:before {
    content: "";
    display: table;
}
.box .nav-stacked>li {
    margin: 0px;
}
.box-body .nav li.active a {
    color: #323232;
    font-weight: 700;
}
.box-body .nav a {
    padding: 13px 0;
    color: #212121;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
}
.box-body .nav .fa {
    display: inline-block;
    width: 35px;
    line-height: 26px;
    font-size: 17px;
}
.box .box-header .box-title, .box .box-header .ico, .box .box-header>.fa, .box .box-header>.glyphicon {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    margin-right: 5px;
    font-weight: 500;
}
.box .box-header.with-border {
    border-bottom: 1px solid #f2f4f6;
}
.box .box-header {
    display: block;
    position: relative;
    padding: 14px 20px;
    color: #444;
}
.box-header{
  display: inline-block;
      margin-bottom: 10px;
    h3 {
      font-size: 14px;
      border-bottom: 1px solid #323232;
      padding-bottom: 10px;
      font-weight: bold;
      display: inline;
  }
} 
.custom-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  //border-bottom: 1px solid #eee;
  .top {
    padding-bottom: 5px;
    .title {
      display: inline-block;
      margin-right: 10px;
      color: #434343;
      font-weight: 600;
    }
    .entry {
      display: inline-block;
    }
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}

a {
  transition: color 0.5s ease;
  outline: 0 !important;
}

.body-bg {
  display: none;
}

.al-header {
  display: block;
  height: 49px;
  margin: 0;
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
  color: #444444;
}

.al-main {
  margin-left: $left-space;
  padding: 42px 0 34px 0;
  min-height: 500px;
  position: relative;
  background: #ccdee3;
}

.al-footer {
  height: 34px;
  padding: 0 18px 0 ($left-space + 20px);
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  font-size: 13px;
  color: $default-text;
  transition: padding-left 0.5s ease;
}

.al-footer-main {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

.al-copy {
  float: left;
  a {
    color: #001749;
  }
}

.al-footer-right {
  float: right;
  margin-right: 12px;
  i {
    margin: 0 4px;
    color: $danger;
    font-size: 12px;
  }
  a {
    margin-left: 4px;
    color: $default-text;
    &:hover {
      color: $danger;
    }
  }
}

.al-share {
  margin: -6px 0 0 12px;
  padding: 0;
  list-style: none;
  float: left;
  li {
    list-style: none;
    float: left;
    margin-left: 16px;
    i {
      cursor: pointer;
      transition: all 0.1s ease;
      color: white;
      padding: 6px;
      box-sizing: content-box;
      font-size: 16px;
      &:hover {
        transform: scale(1.2);
      }
    }
    i.fa-facebook-square {
      color: $facebook-color;
    }
    i.fa-twitter-square {
      color: $twitter-color;
    }
    i.fa-google-plus-square {
      color: $google-color;
    }
  }
}

.al-content {
   //padding: 15px 15px 8px 15px;
   background: #ccdee3;
   //margin: 10px;
   //position: absolute;
}
.doughnut-chart{
  /*width:120%;
  position: absolute;
  display: block;*/
}
.table > thead > tr > th:first-child{
  width:70px;
}
.chart-pending{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 50%;
    color:#ff8a05;
  }
 .chart-inprogress{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: #149bcc;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 50%;
  } 
  .chart-completed{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 50%;;
    color:#5ac437;
  } 
  .chart-cancelled{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 50%;
    color:#ff2b2f;
  } 
  .status-chart-pending{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
   text-align: center;
    margin: auto;
    width: 87%;
    top: 50%;
    color:#ff8a05;
  }
 .status-chart-inprogress{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 87%;
    top: 50%;
    color:#149bcc;
  } 
  .status-chart-completed{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 87%;
    top: 50%;
    color:#5ac437;
  } 
  .status-chart-cancelled{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 87%;
    top: 50%;
    color:#ff2b2f;
  } 
  .chart-footer{
    display: block;
    color: #000;
    font-weight: bold;
  }
  .dashboard-table-last-child{
        width: 100px;
  }  
  .dashboard-table-filter{
    background: #008000;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .status-right{
    border: 1px solid #f5f5f5;
    margin-top: 30px;
  }
  .status-right-head{
    height: 50px;
    border: 1px solid #f2e7ce;
    padding-top: 20px;
    font-weight: bold;
  }
  .status-edit{
    margin-top: 100px;
  }
  .status-clock{
    margin-top: 10px;
  }
@media screen and (max-width: $resXS) {
  .al-content {
    padding: 8px 20px;
  }
}

.vis-hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.icon-up, .icon-down {
  width: 5px;
  height: 13px;
  display: block;
}

.icon-up {
  @include bg-nr('arrow-green-up.svg');
}

.icon-down {
  @include bg-nr('arrow-red-down.svg');
}

.disable-text-selection {
  -webkit-touch-callout: none;
  user-select: none;
}

.align-right {
  text-align: right
}

.amcharts-chart-div > a {
  font-size: 6px !important;
}

.content-panel {
  padding-left: 22px;
  padding-top: 26px;
}

@media (max-width: 590px) {
  .al-footer-right {
    float: none;
    margin-bottom: 19px;
    margin-right: 0;
  }
  .al-footer {
    height: 76px;
    text-align: center;
  }
  .al-main {
    padding-bottom: 76px;
  }
  .al-footer-main {
    float: none;
    display: inline-block;
  }
}

.full-invisible {
  visibility: hidden !important;
  * {
    visibility: hidden !important;
  }
}

.irs-grid-text {
  color: $default-text;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.sidebar-logo{
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}
.al-user-profile {
   background: #FFF;
    height: 150px;
    position: relative;
    margin-top: -18px;
  .profile-thumb {
    max-width: 54px;
    border-radius: 50px;
    margin: 0 auto 10px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
  }
  .profile-name {
    text-align: center;
    display: block;
    color: #ddd;
  }
  .signout {
    text-align: center;
    display: block;
    margin: 5px 0 12px;
    color: #c2b728;
    &:hover {
      color: #727272;
    }
  }
}
.timeline {
  tr {
    th {
      padding-bottom: 20px;
    }
    td {
      padding: 10px 0;
      border-bottom: 1px solid #f9f2f2;
      &:first-child{
        border-bottom: 1px solid #fff;
      }
      &.date{
        padding: 0 0 5px 0;
        border-bottom: 1px dashed #4d859d;
        display: block;
      }
      &:nth-child(2){
        border-left: 1px dashed #4d859d;
        padding-left: 10px;
        position: relative;
        &:before{
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 5px;
          position: absolute; 
          left: -5px;
          top: 50%;
          margin-top: -5px;
          background: #4d859d; 
        }
      }
    }
    .author{
      font-style: italic;
      color: #a2a2a2;
      font-weight: 300;
      font-size: 12px;
    }
  }
}
.order-edit-sidebar{
  .box-body{
    padding: 0 10px;
    background: #fafafa;
    border: 1px solid #f4f4f4;
    .nav a{
      padding: 8px 0;
      font-size: 13px;
      line-height: 16px;
      &:hover{
        color: #727272;
      }
      i{
        margin-right: 5px;
        display: none; //removed icons
      }
    }
  }
}
.generate-po-wrap{
  .reach-logo{
    float: left;
    img{
      max-width: 165px;
      margin-bottom: 10px;
    }
    p{
      margin: 0;
      color: #b3b3b3;
      font-size: 10px;
      font-weight: 300;
      line-height: 13px;
    }
    .blue{
      height: 2px;
      width: 50px;
      background: #015174;
      display: block;
      margin: 5px 0;
    }
  }
  .title{
    float: right;
    h2{
      font-size: 35px;
    }
  }
}
.art-request-wrap,
.cust-detail-wrap{
    .nav-link i.ion-close-round{
        padding: 0px 3px;
        font-size: 12px;
    }
  .nav.nav-tabs{
    margin: 0 15px;
  }
  .nav.nav-tabs + .tab-content{
    margin: 0 15px 30px;
    border: 1px solid #65a8c5; 
    padding: 15px;
  }
  .nav.nav-tabs > li > a{
    line-height: 30px;
    padding: 5px 15px;
    border: 1px solid #ddd;
  }
  .tab_panel .nav-tabs .nav-item{
    float: left;
    margin-bottom: 0;
    &.active{
      margin-bottom: -1px;
      // border-bottom:1px solid #fff;
    }
  }
  .nav.nav-tabs > li.active > a{
    border: 1px solid #65a8c5; 
    border-bottom:2px solid #fff !important;
  }
  .summary_list {
    margin-top: 10px;
    li {
        .summary_label {
          float: left;
          width: auto;
          white-space: normal;
          line-height: 23px;
        }
        .summary_value {
            color: #777;
            font-style: italic;
            font-size: 15px;
            clear: left;
            word-break: break-all;
        }
    }
  }
}
.panel .panel-heading {
  &.bg-dark {
    border-bottom: 1px solid #323232;
    padding: 14px 0 5px;
    font-size: 14px;
    color: #323232;
    display: inline-block;
    margin-bottom: 14px;
    margin-left: 10px;
    i.ion-close-round {
      padding: 3px 6px;
      font-size: 12px;
    }
  }
}
.style-info-wrap {
  .custom-item {
    float: left;
    margin: 0;
    .top .entry {
      padding: 3px 10px;
      border-radius:6px; 
      margin-right: 20px;
      color: #266b88;
      font-size: 14px;
      font-weight: 500;
    }
     .top .title{
      margin-right: 0;
    }

  }
  .additional {
    .custom-item {
      float: left;
      margin: 0;
      .top .entry {
        background: #4d859c;
        color: #fff;
        font-size: 12px;
        font-weight: 300
      }
    }
  }
  .sub-heading {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    display: block;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 3px;
  }
  .panel .panel-body {
    padding-bottom: 0;
  }
  h4{
    color: #4d4d4d;
    text-transform: uppercase;
  }
  .ion-close-round {
    color: #ccc;
  }
  .border-btm {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 8px;
    margin-bottom: 5px;
    h4 {
      display: inline;
      font-weight: 600;
      font-size: 15px;
      .ion-close-round {
        margin-right: 4px;
      }
    }
    .add-work {
      border: none;
      font-weight: 600;
      background: none;
      font-size: 13px;
      color: #5c5c5c;
    }
  }
}
.art-work {
  .panel-heading.bg-dark {
    border-bottom: none;
  }
}
.order-list-wrap {
  .date-wrap {
      //margin-top: -15px;
      margin-top: -21px;
  }
  .tab-content {
    padding: 0 !important;
  }
  button.btn.btn-primary ,
  button.btn.btn-default, button.btn.btn-success {
    width: auto;
    padding: 6px;
    //min-width: 40px;
    min-width: 90px;
  }
  .nav-tabs > li {
    display: inline-block;
  }
}

/*------ artwork request edit css ------*/
#create_new_style {
    position: absolute;
    right: 15px;
    top:0px;
}

//Steps
.step-indicator {
  width: 100%;
  padding: 0 1.2em;
  margin: 0em auto;
  background-color: #edeff0;
  display: flex;
}

.step-indicator li {
    display: inline-block;
    float: left;
    margin: 1.2em 0;
    -webkit-flex: 1 1 11%;
    flex: 1 1 11%;
}

.step-indicator li .desc label {
    font-size: 1.1em
}

.step-indicator li .desc span {
    font-size: 14px;
    display: block
}

.step-indicator li::after {
    display: inline-block;
    content: '»';
    margin: 0 1em;
    color: #959fa5
}

.step-indicator li:last-of-type::after {
    display: none
}

.step-indicator li>* {
    display: flex;
    font-size: 1rem;
    color: #65AAC8
}

.step-indicator li.current>* {
    color: #96c03d
}

.step-indicator a:hover {
    color: #96c03d
}

.step-indicator a {
    cursor: pointer;
    text-decoration: none !important
}

.step-indicator:after {
    content: "";
    display: table;
    clear: both
}

.step-indicator.triangle {
    background-color: transparent;
    padding: 0
}

.step-indicator.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0
}

.step-indicator.triangle li:last-of-type {
    margin-right: 0
}

.step-indicator.triangle li>* {
    position: relative;
    padding: 9px 5px 9px 38px;
    color: #65AAC8;
    background-color: #edeff0;
    border-color: #edeff0;
    font-weight: 300;
    font-size: 14px;
}

.step-indicator.triangle li.current>* {
    color: #fff;
    background-color: #96c03d;
    border-color: #96c03d
}

.step-indicator.triangle li:first-of-type>* {
    border-radius: 40px 0 0 40px;
}

.step-indicator.triangle li:last-of-type>* {
    padding-right: 1.6em;
    border-radius: 0 40px 40px 0
}

.step-indicator.triangle a:hover {
    color: #fff;
    background-color: #65AAC8;
    border-color: #65AAC8
}

.step-indicator.triangle li::after, 
.step-indicator.triangle li>*::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 100%;
    height: 0;
    width: 0;
    border: 17.5px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
}

.step-indicator.triangle li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #fff;
    margin: 0
}

.step-indicator.triangle li>*::after {
    z-index: 2;
    border-left-color: inherit
}

.step-indicator.triangle .triangle li:last-of-type::after,
.step-indicator.triangle li:last-of-type>*::after {
    display: none
}

.step-indicator.triangle li.active {
  a {
    background: #65AAC8;
    color: #fff;
  }
}

.step-indicator.triangle li.active>*::after {
    z-index: 2;
    border-left-color: #65AAC8;
}

.step-indicator.triangle.arrow-left li::after,
.step-indicator.triangle.arrow-left li>*::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -20px;
    height: 0;
    width: 0;
    border: 2px solid transparent;
    border-right-width: 20px;
    border-left-width: 0
}

.step-indicator.triangle.arrow-left li>*::after {
    z-index: 2;
    border-right-color: inherit
}

.step-indicator.vertical li {
    float: inherit !important;
    display: block
}
.package-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 9px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 8px;
  }
  span {
    display: block;
    margin-top: 3px;
    font-size: 11px;
  }
}
.qc-reject-popup {
  .close {
    float: left;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 480px) and (max-width:768px) {
    .step-indicator {
        width:100%;
        padding: 0
    }

    .step-indicator li .number {
        font-size: 24px
    }

    .step-indicator li .desc {
        padding-top: 6px;
        vertical-align: super
    }

    .step-indicator li .desc label {
        font-size: 1.1em
    }

    .step-indicator li .desc span {
        font-size: 14px;
        display: block
    }

    .step-indicator li::after {
        display: none;
        content: '»';
        margin: 0 1em;
        color: #959fa5
    }

    .step-indicator li:last-of-type::after {
        display: none
    }

    .step-indicator li>* {
        display: flex;
        font-size: 1.6rem;
        color: #65AAC8
    }

    .step-indicator.triangle {
        background-color: transparent;
        padding: 0
    }

    .step-indicator.triangle li {
        margin: 4px 4px 4px 0;
        display: block;
        float: none
    }

    .step-indicator.triangle li>* {
        padding: 6px 6px 6px 14px
    }

    .step-indicator.triangle li:first-of-type>* {
        border-radius: .25em 0 0 .25em
    }

    .step-indicator.triangle li:last-of-type>* {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0
    }

    .step-indicator.triangle li::after,.step-indicator.triangle li>*::after {
        display: none !important;
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        height: 0;
        width: 0;
        border: 21px solid transparent;
        border-right-width: 0;
        border-left-width: 13px
    }

    .step-indicator.triangle li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff;
        margin: 0
    }

    .step-indicator.triangle li>*::after {
        z-index: 2;
        border-left-color: inherit
    }

    .step-indicator.triangle .triangle li:last-of-type::after,
    .step-indicator.triangle li:last-of-type>*::after {
        display: none
    }
    .order-list-wrap {
      .date-wrap {
          margin-top: 15px;
          margin-bottom: 10px;
      }
    }

}
@media (min-width: 544px){
  .modal-dialog {
    max-width: 700px;
    margin: 30px auto;
  }
}
@media screen and ( max-height: 700px ){ 
  .al-sidebar a.al-sidebar-list-link {
    height: 35px;
    line-height: 35px; 
  }
}

.filter-icon{
    padding-right: 5px;
}

.filter{
    background: #3d98e3 !important;
    border: 1px solid #3d98e3;
    border-color: #3d98e3 !important;
}

.m-left{
  margin-left: -12px !important;
}
.float-none{
  float:none !important;
}
.main-back{
    background: #fff;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-radius: 5px;
}
.add-manager{
  background: #31b077;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.manager-top{
  height:56px;
  border-bottom: 1px solid #f2f2f2;
}
.manager{
    height:55px;
    line-height:50px;
    vertical-align:middle;
    /*text-align:center;*/
    padding:0px 0px 0px 20px;
    color:#000000;
    background-color:#f7f7f7;
    position:relative;
    display:inline-block;
    text-transform: uppercase;
    margin-left: -15px;
    font-weight: bold;
}
.manager:after{
    position:absolute;
    right:-20px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #f7f7f7;
}
.dashboard-search{
    margin-top: -23px;
    margin-right: 5px;
}
.dashboard{
  background-image: url("assets/img/dashboard-icon.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.manager_menu{
  background-image: url("assets/img/user.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.area_manager{
  background-image: url("assets/img/area-manager.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.city_manager{
  background-image: url("assets/img/city-manager.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.merchants{
  background-image: url("assets/img/merchant.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.bikers{
  background-image: url("assets/img/biker.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.order_now{
  background-image: url("assets/img/ordernow-1.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.drivers_payout{
  background-image: url("assets/img/order.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.merchant_revenue{
  background-image: url("assets/img/order-now.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.wallet_recharge{
  background-image: url("assets/img/wallet-recharge.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.location_settings{
  background-image: url("assets/img/location.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.reports{
  background-image: url("assets/img/report.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.city_img{
  background-image: url("assets/img/city.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.locality_img{
  background-image: url("assets/img/locality.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.sub_locality_img{
  background-image: url("assets/img/sub-locality.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.invoice_img{
  background-image: url("assets/img/invoice.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.administration{
  background-image: url("assets/img/biker-admin.png");
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
.left-menu{
  padding-left: 34px;
}

.bold{
    font-size: 16px !important;
}

.wallet_style{
  border: solid;
  border-width: thin;
}
.wallet-form-img{
  width: 32%;
  /*margin-left: -30px;*/
}
.wallet-recharge{
  padding: 0;
  font-size: 14px;
}
.label-style{
  font-weight: bold;
}
.m-top40{
  margin-top: 32px
}
.m-right{
  margin-left: 87%;
}
.cursorstyle{
  cursor:pointer;
}
 .payment-align {
          margin-top: 7px;
  }
  .filter-top{
    margin-top: 10px;
    padding-top: 11px;
  }

.backpg{
  margin-bottom: 50px;
  padding-top: 40px;
  margin-left: 84%;

}
.btnPrev{
  background-color: #3A99E5 !important;
  border-color: #3A99E5 !important;
}
@page{size:landscape !important;}


/*input.without::-webkit-datetime-edit-ampm-field {
   display: none !important;
}
*/

 
 /* input::-webkit-datetime-edit-ampm-field {
   display: none;
 }*/

/*
  body .chartjs-size-monitor .chart-inprogress{
  font-size: 40px !important;
 }
*/

@media print {
            
           /* .table-scroll {
                width: 600px;
                overflow: visible;
            }*/
            .printnone,table{
              display: none!important;
            }
           
            
        }

       /*  @media screen, print{
      .printnone,table{
              display: none!important;
            }*/
 
 
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

/*.pagination-control .table-head{
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    right: 0;
    z-index: 99999;
}
.pagination-control .table-head + .table{
  margin-top: 50px;
}*/

::-webkit-scrollbar {

    height: 12px !important;
    width: 12px !important;
}