table.table thead .sorting {
  content: "\f10d";
}

.table {
  margin-bottom: 0px;
  & > thead {
    & > tr {
      & > th {
        //border-bottom: 1px solid $border-light;
        white-space: nowrap;
        &:first-child {
          text-align: center;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }
  & > tbody {
    & > tr {
      & > tr:first-child {
        padding-top: 1px;
      }
       
      & > td {
        padding: 10px 8px;
        line-height: 25px;
        //border-top: 1px solid $border-light;
        &:first-child {
          text-align: center;
        }
        &:last-child {
          padding-right: 16px !important;
        }
      }
    }
  }
}
.table tr td {
  vertical-align: middle;
}
.table tr:nth-child(even) {
  
  background-color:     #EAF0E8;
/*  background-color:     #F0FFFF
#DEF3DA!important;*/
   /* background-color:  #e6e6e6!important;*/
      }
.table th {
  background: #d8d8d8;
  font-weight: bold;
}
.table-id {
  text-align: left !important;
  width: 40px;
}

.table-arr {
  width: 5px;
  padding: 10px 8px 8px 0 !important;
}

.table-no-borders {
  border: none;
  td, th, tr {
    border: none !important;
  }
}

.editable-wrap .btn-group.form-control {
  background-color: transparent;
}

.editable-tr-wrap {
  .editable-wrap {
    vertical-align: super;
  }
  .editable-controls input.editable-input {
    width: 110px;
  }
  td {
    width: 20%;
  }
}

.editable-table-button {
  width: 70px;
}

.add-row-editable-table {
  margin-bottom: 10px;
}

.add-row-editable-table + table {
  margin-bottom: 5px;
}

.select-page-size-wrap {
  width: 150px;
}

.table .header-row th {
  vertical-align: middle;
  padding: 0 8px;
}

tr.editable-row {
  input.form-control {
    vertical-align: middle;
  }
}

.select-td .editable-select {
  margin-bottom: 1px;
}

@media screen and (max-width: 1199px) {
  .editable-tr-wrap {
    .editable-wrap {
      vertical-align: middle;
    }
  }
}

.browser-icons {
  width: 41px;
}

.st-sort-ascent, .st-sort-descent {
  position: relative;
}

.st-sort-ascent:after, .st-sort-descent:after {
  width: 0;
  height: 0;
  border-bottom: 4px solid $default-text;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-bottom: 2px;
}

.st-sort-descent:after {
  transform: rotate(-180deg);
  margin-bottom: -2px;
}

.sortable {
  th {
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      margin-left: 8px;
    }
  }
}

a.email-link {
  color: $content-text;
  &:hover {
    color: $danger;
  }
}

input.search-input {
  margin-left: -8px;
  padding-left: 8px;
}

.table .pagination {
  margin: 4px 0 -12px 0;
  a {
    cursor: pointer;
  }
}
.pagination{
  margin: 2px 0px;
  border: 1px solid #869bad;
  padding: 5px 2px;
}
.pagination-sm .page-item:first-child .page-link {
  border-left: none;
}
.pagination-sm .page-item:last-child .page-link{
  border-right: none !important;
}
.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover{
  background-color: #869bad;
  color: grey !important;
  border: none;
  border-right: 1px solid #fff ;
  border-left: 1px solid #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background: #0d1c23!important;
  border-radius: 0px !important;
  border-right: 1px solid #fff !important;
  color: #fff !important;
}
.vertical-scroll {
  max-height: 214px;
}

.pagination > li > a, .pagination > li > span {
    background: transparent;
    color: #797979 !important;
    border-left: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.5);
    border: none !important;
    border-right: 1px solid rgba(200, 200, 200, 0.88) !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.status-button {
  width: 60px;
}

.table {
  .editable-wrap .editable-controls, .editable-wrap .editable-error {
    vertical-align: sub;
    .btn {
      &.dropdown-toggle {
        padding: 3px 20px;
        margin-top: 3px;
      }
      padding: 3px 8px;
    }
    input {
      line-height: 1px;
      height: 30px;
    }
  }
}

.form-inline button[type="submit"].editable-table-button {
  margin-left: 0;
}

.table {
  & > thead {
              border-radius: 3px;
    & > tr {
      & > th {
        border-bottom: none;
      }
    }
  }
  & > tbody {
    & > tr.no-top-border {
      &:first-child > td {
        border-top: none;
      }
    }
    tr:nth-child(even) {
      background: #f3f3f3;
    }
  }
}

.black-muted-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-hover {
  > tbody > tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{
  border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

@mixin color-row($color) {
  background-color: rgba($color, 0.7);
  color: $label-text;
  border: none;
  a.email-link {
    color: $label-text;
    &:hover {
      color: $danger;
    }
  }
}
.table > tbody > tr.primary > td {
  @include color-row($primary);
}
.table > tbody > tr.success > td {
  @include color-row($success);
}
.table > tbody > tr.warning > td {
  @include color-row($warning);
}
.table > tbody > tr.danger > td {
  @include color-row($danger);
}
.table > tbody > tr.info > td {
  @include color-row($info);
}

.editable-click, a.editable-click {
  color: $default-text;
  border-bottom: dashed 1px $border;
}

th {
  font-weight: $font-normal;
}

.editable-empty {
  color: $danger-dark;
}

.table > tbody > tr > th {
  border: none;
}

.table-striped > tbody > tr > td {
  border: none;
}
.pagination > li > a,
.pagination > li > span{
  color: $default-text;
  border-color: $border;
}


.pagination > li:first-of-type > a,
.pagination > li:first-of-type > span{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination > li:last-of-type > a,
.pagination > li:last-of-type > span{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #008148 !important; 
  border:none;
  //border-radius: 15px;
  border-right: 1px solid rgba(13, 28, 35, 0)!important;
  border-left: 1px solid rgba(13, 28, 35, 0)!important ;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
  background-color: rgba(0,0,0,.2);
  color: $default-text;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
  background-color: rgba(255,255,255,.1);
  color: $default-text;
  border-color: #fff;
}

.editable-buttons .btn-with-icon i {
  margin-right: 0;
}

.table-responsive {
  margin-top: 10px;
}
.table-head{
  background: #6d8191;
  padding: 5px 6px;
  border-radius: 5px 5px 0px 0px;
  color: #ffffff;
  margin-left: 0px ;
  margin-right: 0px ;
}
.table-form{
  margin: 0;
  font-size: 12px;
  //border: 1px solid #e2e2e2;
  .text-left{
    text-align: left;
    padding-left: 10px;
  } 
  td{
    border-left: 1px solid #ccc;
    padding: 6px;
  }
  th{
    //background: #323232;
    background: #ffffff;
    padding: 15px 6px;
    color: #3d99e0;
    font-weight: 100;
    &.border-btm-none{
      border-bottom: none;
    }
  }
  tr.border-btm{
    td{
      border-bottom: 1px solid #ccc;
      background: #eee;
    }
  }
  tr.values {
    background: #cbeaf7;
    .text-left{
      background: #fff;
    }
  }
  .bg-color{
    background: #ddd;
    text-align: left;
    font-weight: bold;
    padding-left: 6px;
  }
  .bg-address{
    background: #eee;
    text-align: left;
    font-weight: bold;
    width: 20%;
  }
  .inner-table{
    td{
      border-bottom: 1px solid #ccc;
    }
  }
  .total{
    text-align: left;
    font-weight: bold;
    background: #eee;
    
  }
  .total-row{
    border-top: 1px solid #ccc;
    .bg-color{
      text-align: right;
    }
  }
  .price{
    width: 10%;
  }
  &.generate-po{
    margin-bottom: 10px;
  }
}
.pdf-table-top-header.table-form-head{
  margin-top: 5px;
  color: #333 !important;
}

.cust-table{
  .actions{
    width: 110px;
  }
  .email{
    word-break: break-all;
  }
  .started {
    margin: 6px 0;
    color: #7b9c4a;
  }
  .waiting {
    margin: 6px 0;
    color: #e3cb39;
  }
}
.table-bordered > tbody > tr > td{
  font-size: 13px;
  padding: 4px 8px;
}
.table-bordered > thead > tr > th{
  font-size: 12px;
}
.sort{
  color: #000000;
}
.page-dropdown{
  border: none;
  background: #ffffff;
  border-radius: 5px;
}
.fa-top{
  margin-top: 5px;
}
.fa-left{
  margin-left: .7em !important;
}
.table-scroll {
  width: 100%;
  overflow: auto;
  border-radius: 7px 7px 0px 0px;
  .table-bordered {
    min-width: 700px;
    th {
        position: relative;
        padding-right: 10px;
        .ion-arrow-down-b,
        .ion-arrow-up-b {
            position: absolute;
            right: 0;
            color: #000000;
        }
        &.email {
          min-width: 150px
        }
    }
  }
}
.pagination-control .table-head{
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    right: 0;
    z-index: 99999;
}
.pagination-control .table-head + .table{
  margin-top: 50px;
}
.modal-content {
  margin-top: 30%;
  .table-scroll {
    .table-bordered {
      min-width: 600px;
     
    }
  }
}

.input-width{
  width:100px;
}
