<button *ngIf="isViewPage" (click)="print()" class="print-btn">
            <img src="../assets/img/printing-tool.svg">
</button>
<form [ngSwitch]="loading" autocomplete="off" [formGroup]="fuelissuanceForm" (ngSubmit)="onSubmit(fuelissuanceForm.value)" class="form-horizontal"
method="post">
<!-- <div *ngSwitchCase="true">
   <overlay-loader></overlay-loader>
   </div> -->
<!-- <div *ngSwitchCase="false"> -->
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
         <div class="checkbox">
            <label class="container filter-down" style="padding: 0px;">
            <input type="checkbox" [formControl]="fuelissuanceForm.controls['IsLubricantIssue']"
            (change)="selectAll($event,'lubricant');"/> <span class="checkmark add-cust add-align"></span>
            </label>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
         <label for="name">Lubricant Issue</label>
      </div>
   </div>
</div>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Site<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <select class="form-control" [ngClass]="{'hide-select-arrow': isViewPage}" id="siteId" (change)="getPolListFromSite($event.target.value); getAllSiteInCountryFromSiteId($event.target.value); 
            getEquipmentList($event.target.value); onIssueSlipChange($event, 'site')"
            [formControl]="fuelissuanceForm.controls['SiteId']" >
            <option value="" disabled selected="selected">Select</option>
            <option [disabled]="page != 'add'" *ngFor="let site of sitedropdownlist" [value]="site.siteId">{{site.name}}</option>
         </select>
         <small *ngIf="fuelissuanceForm.controls['SiteId'].hasError('required') && (fuelissuanceForm.controls['SiteId'].touched || formSubmited)"
            class="error">{{siteReq}}</small>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issuing Date</label>
      </div>
      <div *ngIf="!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <my-date-picker [options]="myDatePickerOptions" [formControl]="fuelissuanceForm.controls['IssuingDate']" (dateChanged)="onDateChanged($event)"
         [(ngModel)]="IssuingDate" name="IssuingDate">
         </my-date-picker>
      </div>
      <div *ngIf="isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <input type="text" readonly class="form-control" [ngModel] = "issuingDateViewPage" [ngModelOptions]="{standalone: true}">
      </div>
   </div>
</div>
<div *ngIf="IsLubricantIssue==false">
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-4">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
            <div class="checkbox">
               <label class="container filter-down" style="padding: 0px;">
               <input type="checkbox" [formControl]="fuelissuanceForm.controls['IsDrumIssue']"   (change)="selectAll($event,'drums');"/> <span class="checkmark add-cust add-align"></span>
               </label>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <label for="name">Drum Issue</label>
         </div>
      </div>
      <div *ngIf="IsDrums == true">
         <div class="col-xs-12 col-sm-12 col-md-6 offset-md-2">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
               <label for="name">Number of Drums<small class="text-danger">*</small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
               <input type="text" (keypress)="_keyPress($event)" maxlength=20 id="buName" class="form-control" [formControl]="fuelissuanceForm.controls['NoOfDrums']"/>
               <small *ngIf="fuelissuanceForm.controls['NoOfDrums'].hasError('required') && (fuelissuanceForm.controls['NoOfDrums'].touched || formSubmited)"
                  class="error">{{drumsReq}}</small>
            </div>
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">POL<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <select  [formControl]="fuelissuanceForm.controls['PolId']" [ngClass]="{'hide-select-arrow': isViewPage}"  class="form-control" (change)="getStorageTankListFromPol($event.target.value)">
            <option value=""  disabled selected="selected">Select</option>
            <option *ngFor="let pol of pollist" [disabled]="page != 'add'" [value]="pol.id">{{pol.name}}</option>
            </select>
            <small *ngIf="fuelissuanceForm.controls['PolId'].hasError('required') && (fuelissuanceForm.controls['PolId'].touched || formSubmited)"
               class="error">{{polreq}}</small>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Tank<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <select  [formControl]="fuelissuanceForm.controls['TankId']" [ngClass]="{'hide-select-arrow': isViewPage}" class="form-control" (change)="getTankId($event.target.value)" >
               <option value="" disabled selected="selected">Select</option>
               <option *ngFor="let tank of storagetanklist" [disabled]="page != 'add'" [value]="tank.storageTankId">{{tank.tankName}}
            </select>
            <div *ngIf="notificationMessage != '' ">
               <label for="site"><small class="text-success">{{notificationMessage}}</small></label>
            </div>
            <small *ngIf="fuelissuanceForm.controls['TankId'].hasError('required') && (fuelissuanceForm.controls['TankId'].touched || formSubmited)"
               class="error">{{tankReq}}</small>
         </div>
      </div>
   </div>
</div>
<hr>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issue Type<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <select class="form-control" (change)="getIssueType($event.target.value)" [ngClass]="{'hide-select-arrow': isViewPage}" [formControl]="fuelissuanceForm.controls['IssueTypeId']">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let item of issuerlist" [disabled]="page != 'add'" [value]="item.id">{{item.name}}</option>
         </select>
         <small *ngIf="fuelissuanceForm.controls['IssueTypeId'].hasError('required') && (fuelissuanceForm.controls['IssueTypeId'].touched || formSubmited)"
            class="error">{{issuetypeReq}}</small>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issue Slip Number <small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <input type="text" (keypress)="_keyPress($event)" [readonly]='isIssueSlipDisabled' (change)="onIssueSlipChange($event, 'issueSlip')" maxlength=10 id="buName" class="form-control" [formControl]="fuelissuanceForm.controls['IssueSlipNumber']"/>
         <small *ngIf="fuelissuanceForm.controls['IssueSlipNumber'].hasError('required') && (fuelissuanceForm.controls['IssueSlipNumber'].touched || formSubmited)"
            class="error">{{slipnoReq}}</small>
         <!-- <div *ngFor="let error of error.firstKey">
            <small *ngIf="formSubmited && error != null" class="error">{{error}}</small>
         </div> -->
         <small *ngIf="issueSlipErrorMsg != ''" class="error">{{issueSlipErrorMsg}}</small>
      </div>
   </div>
</div>
<div class="row bunit" *ngIf="IsLubricantIssue==false">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Batch Number<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <input type="text" maxlength=20 id="buName" readonly class="form-control" [ngModel] = "compBatchList" [formControl]="fuelissuanceForm.controls['BatchNumber']"/>
      </div>
   </div>
</div>
<div *ngIf="IsIssuetype == 'VEHICLE'">
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
            <div class="checkbox">
               <label class="container filter-down">
               <input type="checkbox" [formControl] ="fuelissuanceForm.controls['NonSiteVehicle']"  (change)="selectAll($event,'nonsite');"/> <span class="checkmark add-cust add-align"></span>
               </label>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Non site vehicle</label>
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label *ngIf = 'isVehicle' for="name">Vehicle Registration Number<small class="text-danger">*</small></label>
            <label *ngIf = '!isVehicle' for="name">Registration Number<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <select class="form-control" (change)="getRegistrationNoDetails($event.target.value)" [ngClass]="{'hide-select-arrow': isViewPage}" [formControl]="fuelissuanceForm.controls['RegistrationNumberId']">
            <option value="" disabled selected="selected">Select</option>
            <option *ngFor="let item of registrationnumberdropdownlist" [value]="item.vId">
            {{item.vehicleId}}
            </option>
            </select>
            <small *ngIf="fuelissuanceForm.controls['RegistrationNumberId'].hasError('required') && (fuelissuanceForm.controls['RegistrationNumberId'].touched || formSubmited)"
               class="error">{{vehicleRegReq}}</small>
         </div>
         <!-- <div *ngIf = "page == 'edit'" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <input type="text" class="form-control" readonly [ngModel]='vehicleRegistrationNumberId' [ngModelOptions]="{standalone: true}"/>
         </div> -->
         <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
               data-target="#AddVehicle"><img src="../assets/icon/add-icon.png"></button>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Odometer Reading<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" (keyup)="onOdometerChange($event.target.value,section)"
            (keypress)="_keyPress($event)" maxlength=20 id="buName"
            class="form-control" [formControl]="fuelissuanceForm.controls['OdometerReading']"
            />
            <small *ngIf="odometermessage != ''" class="error">{{odometermessage}}</small>
            <small *ngIf="fuelissuanceForm.controls['OdometerReading'].hasError('required') && (fuelissuanceForm.controls['OdometerReading'].touched || formSubmited)"
            class="error">{{odometerReq}}</small>
         </div>
      </div>
   </div>
   <div *ngIf='registration == true'>
      <div class="row bunit">
         <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
               <label for="name">Date of previous issue<small class="text-danger"></small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
               <label>{{dateofpreviousissue}}</label>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6"></div>
         <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
               <label for="name">Volume of Previous Issue(ltr):<small class="text-danger"></small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
               <label>{{volumeofpreviousissue}}</label>
            </div>
         </div>
      </div>
      <div class="row bunit">
         <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
               <label for="name">Previous Odometer Reading:<small class="text-danger"></small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
               <label> {{odometerreading}} </label>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6"></div>
         <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
               <label for="name">Receiver Name:<small class="text-danger"></small></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
               <label>{{receivername}}</label>
            </div>
         </div>
      </div>
      <div class="row bunit">
         <div class="col-xs-12 col-sm-12 col-md-6"></div>
         <div class="col-xs-12 col-sm-12 col-md-6">
         </div>
      </div>
   </div>
</div>
<div *ngIf="IsIssuetype == 'AIRCRAFT'">
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Call Sign<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <select class="form-control" id="countryId" [ngClass]="{'hide-select-arrow': !isViewPage}" [formControl]="fuelissuanceForm.controls['TailRegistrationId']">
               <option value="" disabled selected="selected">Select</option>
               <option *ngFor="let item of aircraftlist" [value]="item.id">{{item.callsign}}</option>
            </select>
            <small *ngIf="fuelissuanceForm.controls['TailRegistrationId'].hasError('required') && (fuelissuanceForm.controls['TailRegistrationId'].touched || formSubmited)"
               class="error">{{tailRegReq}}</small>
         </div>
         <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
               data-target="#AddTailRegistration"><img src="../assets/icon/add-icon.png"></button>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Arrived From<small class="text-danger"></small></label>
         </div>
         <!-- 
            <select class="form-control" id="countryId" [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="fuelissuanceForm.controls['ArrivedFrom']">
               <option value="" disabled selected="selected">Select</option>
               <option *ngFor="let item of siteListByCountry" [value]="item.siteId">{{item.name}}</option>
            </select>
             -->
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" minlength="2" maxlength="80" id="arrivedFrom" class="form-control" [formControl]="fuelissuanceForm.controls['ArrivedFrom']"/>
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Departing To<small class="text-danger"></small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <!-- <select class="form-control" id="departingId" [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="fuelissuanceForm.controls['DepartingTo']">
               <option value="" disabled selected="selected">Select</option>
               <option *ngFor="let item of siteListByCountry" [value]="item.siteId">{{item.name}}</option>
            </select> -->
            <input type="text" minlength="2" maxlength="80" id="departing to" class="form-control" [formControl]="fuelissuanceForm.controls['DepartingTo']"/>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Fuelling Start Time<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <!-- <input type="text" maxlength=20 id="buName" class="form-control" [formControl]="fuelissuanceForm.controls['FuelingStartingTime']">
               -->
            <!-- <input type="time" atp-time-picker value="20:55"/> -->
            <!-- <label class="example-input-wrapper">
               Time:
               <input placeholder="Time:"
                      [(ngModel)]="dateTime2"
                      [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
               <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
               </label> -->
            <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
               <owl-date-time #dt1></owl-date-time> -->
            <!-- <input atp-time-picker value="19:00"/> -->
            <input type="time" min="0:00" max="23:59" name="usr_time" [formControl]="fuelissuanceForm.controls['FuelingStartingTime']" class="form-control" (change)='onStartTimeChange($event)' >
            <!-- <div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
               <input class="span2" size="16" type="text" value="12-02-2012">
               <span class="add-on"><i class="icon-th"></i></span>
               </div>                                                 -->
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Fuelling End Time<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="time" name="usr_time" min="0:00" max="23:59" [formControl]="fuelissuanceForm.controls['FuelingEndingTime']" class="form-control" (change)='onEndTimeChange($event)'>
         </div>
         <small *ngIf="fuelTimeError != ''" class="error" style="left:15px;position:relative;">{{fuelTimeError}}</small>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="checkbox col-md-4">
            <label class="container filter-down"> WaterTest
            <input type="checkbox" [formControl]="fuelissuanceForm.controls['IsWaterTest']"
            (change)="selectAll($event,'watertest');"/> <span class="checkmark add-cust add-align" checked></span>
            </label>
         </div>
         <div class="checkbox col-md-4">
            <label class="container filter-down"> Visual Inspection
            <input type="checkbox" [formControl]="fuelissuanceForm.controls['IsVisualInspection']"
            (change)="selectAll($event,'visualinspection');"/> <span class="checkmark add-cust add-align" checked></span>
            </label>
         </div>
         <div class="checkbox col-md-4">
            <label class="container filter-down"> Sediment Free
            <input type="checkbox" [formControl]="fuelissuanceForm.controls['IsSedimentFree']"
            (change)="selectAll($event,'sedimentfree');"/> <span class="checkmark add-cust add-align" checked></span>
            </label>
         </div>
      </div>
   </div>
</div>
<div *ngIf="IsIssuetype == 'GENERATOR'">
   <div class="row bunit">
      <hr>
      <!-- <div class="section-container" *ngFor="let section of getLocalreserve(siteForm); let i = index">-->
      <div formArrayName="GeneratorIssueTypeform" class="container add-scroll">
         <div class="section-container" *ngFor="let section of getGeneratorDetails(fuelissuanceForm); let i = index">
            <div class="ui raised segments" [formGroupName]="i">
               <div class="row bunit container">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                     <label class="col-md-12" for="pol" class="list-view">Generator ID<small class="text-danger">*</small></label>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <select formControlName="GeneratorId" [ngClass]="{'hide-select-arrow': isViewPage}" (change)="getGeneratorMake($event.target.value, section, i)" class="form-control" >
                           <option value="" selected="selected" disabled='true'>Select</option>
                           <option *ngFor="let item of generatorlist" [disabled] = "page != 'add'" [value]="item.id">{{item.generatorId}}
                        </select>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                     <label class="col-md-12" for="Make" class="list-view">Make<small class="text-danger">*</small></label>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <input type="text" class="form-control" formControlName="Make" readonly>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                     <label class="col-md-12" for="HoursRun" class="list-view">Hours Run<small class="text-danger">*</small></label>
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <input type="text" class="form-control" maxlength="25" [readonly] = "page != 'add'" (keyup)="onTextChange($event.target.value,section)"
                           formControlName="HoursPerRun">
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-2 col-md-12 col-lg-2 list-margin">
                     <button *ngIf = "!showAddBtn[i] && page == 'add'" (click)="addSection(section, i)" type="button" class="point-icon"><img src="../assets/icon/add-icon.png"></button>
                     <button  *ngIf="getGeneratorDetails(fuelissuanceForm).length > 1 && page == 'add'" (click)="removeSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button>
                     <!-- <button type="button" (click)="editGenSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/edit-icon.png"></button> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="text-center">
         <span class="error" *ngIf = "generatorArrayError != ''">{{generatorArrayError}}</span>
      </div>
      <hr>
   </div>
</div>
<div *ngIf="IsIssuetype == 'Others'">
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Unique Number<small class="text-danger"></small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <select formControlName="UniqueNumber" [ngClass]="{'hide-select-arrow': isViewPage}" class="form-control" >
                  <option value="" selected="selected" disabled='true'>Select</option>
                  <option *ngFor="let item of equipmentList" [value]="item.id">{{item.equipmentId}}
            </select>
         </div>
      </div>
   </div>
</div>
<hr>
<div class="text-center"><span class="error" *ngIf = "lubealertmessage != ''">{{lubealertmessage}}</span></div>
<div class="text-center"><span class="error" *ngIf = "lubealertmessage == ''"></span></div>
<div class="text-center"><span class="error" *ngIf="idalertmessage != ''">{{idalertmessage}}</span></div>
<div class="text-center"><span class="error" *ngIf="idalertmessage == ''"></span></div>
<div class="text-center"><span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span></div>
<div class="text-center"><span class="error" *ngIf="nullalertmessage == ''"></span></div>
<div class="text-center"><span class="error" *ngIf="quantityalert != ''">{{quantityalert}}</span></div>
<div class="text-center"><span class="error" *ngIf="quantityalert == ''"></span></div>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issued to (customer)<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <select class="form-control" id="customerId" [ngClass]="{'hide-select-arrow': isViewPage}" [formControl]="fuelissuanceForm.controls['IssuedToCustomer']">
            <option value="">Select</option>
            <option *ngFor="let item of customerlist" [value]="item.customerId">{{item.firstName}} {{item.expansion}}
         </select>
         <small *ngIf="fuelissuanceForm.controls['IssuedToCustomer'].hasError('required') && (fuelissuanceForm.controls['IssuedToCustomer'].touched || formSubmited)"
            class="error">{{customerReq}}</small>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Section<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
         <select class="form-control" id="sectionId" [ngClass]="{'hide-select-arrow': isViewPage}" [formControl]="fuelissuanceForm.controls['SectionId']">
            <option value="">Select</option>
            <option *ngFor="let item of sectionlist" [value]="item.sectionId">{{item.sectionName}}
         </select>
         <small *ngIf="fuelissuanceForm.controls['SectionId'].hasError('required') && (fuelissuanceForm.controls['SectionId'].touched || formSubmited)"
            class="error">{{sectionReq}}</small>
      </div>
      <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
         <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
            data-target="#AddSection"><img src="../assets/icon/add-icon.png"></button>
      </div>
   </div>
</div>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Receiver Name<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
         <select class="form-control" id="receiverId" [ngClass]="{'hide-select-arrow': isViewPage}" (change)="getReceiverId($event.target.value)" [formControl]="fuelissuanceForm.controls['ReceiverId']">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let item of receiverlist" [value]="item.receiverId">{{item.firstName}} {{item.lastName}}
         </select>
         <small *ngIf="fuelissuanceForm.controls['ReceiverId'].hasError('required') && (fuelissuanceForm.controls['ReceiverId'].touched || formSubmited)"
            class="error">{{receiverReq}}</small>
      </div>
      <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
         <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal"
            data-target="#AddReceiver"><img src="../assets/icon/add-icon.png"></button>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Receiver Id<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <span *ngIf="ReceiverId !=0"> <label>{{ReceiverId}}</label></span>
      </div>
   </div>
</div>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issued By<small class="text-danger">*</small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
         <select class="form-control" id="issuerId" [ngClass]="{'hide-select-arrow': isViewPage}" [formControl]="fuelissuanceForm.controls['IssuedBy']" (change)="getIssuerId($event.target.value)">
         <option value="">Select</option>
         <option *ngFor="let item of issuedbylist" [value]="item.issuerId">{{item.firstName}} {{item.lastName}}</option>
         </select>
         <small *ngIf="fuelissuanceForm.controls['IssuedBy'].hasError('required') && (fuelissuanceForm.controls['IssuedBy'].touched || formSubmited)"
            class="error">{{issuedByReq}}</small>
      </div>
      <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
         <button _ngcontent-gtj-267="" class="point-icon"  type="button" data-toggle="modal" data-target="#AddIssuer"><img src="../assets/icon/add-icon.png"></button>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
         <label for="name">Issuer Id<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
         <span *ngIf="IssuerId !=0"> <label>{{IssuerId}}</label></span>
      </div>
   </div>
</div>
<hr>
<div *ngIf="IsLubricantIssue==false">
   <div *ngIf="startedmessage != '' " class="text-center">
      <small class="error">
      {{startedmessage}}
      </small>
   </div>
   <div *ngIf="stockmessage != '' ">
      <small class="error">
      {{stockmessage}}
      </small>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Temperature(°C)<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" (keypress)="_keyTDPress($event)" maxlength=6
            (keyup)="onTemperatureChange($event.target.value)" [readonly]="page != 'add'"
            id="buName" class="form-control" [formControl]="fuelissuanceForm.controls['Temperature']"
            />
            <small *ngIf="fuelissuanceForm.controls['Temperature'].hasError('required') && (fuelissuanceForm.controls['Temperature'].touched || formSubmited)"
               class="error">{{tempReq}}</small>
            <small *ngIf="tastm != ''" class="error">{{tastm}}</small>
            <small *ngIf="tastm == ''"></small>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Density<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" (keypress)="_keyTDPress($event)" [readonly]="page != 'add'"
            (keyup)="onDensityChange($event.target.value)"
            maxlength=6 id="buName" class="form-control" [formControl]="fuelissuanceForm.controls['Density']"
            />
            <small *ngIf="fuelissuanceForm.controls['Density'].hasError('required') && (fuelissuanceForm.controls['Density'].touched || formSubmited)"
               class="error">{{densityReq}}</small>
            <small *ngIf="dastm != ''" class="error">{{dastm}}</small>
            <small *ngIf="dastm == ''" class="error"></small>
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Meter Started<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" [readonly]="page != 'add'" (keypress)="_keyMPress($event)" (keyup)="meterstartedcalculation($event.target.value)" (change)="setBatchDetails($event.target.value)" [(ngModel)] = "meterStarted" maxlength=20 id="buName"
            class="form-control" [formControl]="fuelissuanceForm.controls['MeterStarted']" />
            <small *ngIf="fuelissuanceForm.controls['MeterStarted'].hasError('required') && (fuelissuanceForm.controls['MeterStarted'].touched || formSubmited)"
               class="error">{{meterStartedReq}}</small>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Quantity Issued</label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <input type="text"  id="buName"
               class="form-control" [formControl]="fuelissuanceForm.controls['QuantityIssued']"  readonly/>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <label for="name">UOM <small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <select class="form-control" id="uomid" [ngClass]="{'hide-select-arrow': page != 'add'}" (change)="getUom($event.target.value)"
            [formControl]="fuelissuanceForm.controls['UomId']">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let item of uomdropdownlist" [disabled]="page != 'add'" [value]="item.id">{{item.name}}</option>
            </select>
            <small *ngIf="fuelissuanceForm.controls['UomId'].hasError('required') && (fuelissuanceForm.controls['UomId'].touched || formSubmited)"
               class="error">{{uomReq}}</small>
            <br>
            <span class="text-success" *ngIf="quantityInLitres != 0"><b>Quantity in Litres : {{quantityInLitres}}</b></span>
         </div>
      </div>
   </div>
   <div class="row bunit">
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Meter Ended<small class="text-danger">*</small></label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text" [readonly]="page != 'add'" (keypress)="_keyMPress($event)" (keyup)="meterendedcalculation($event.target.value);" (change)="setBatchDetails($event.target.value)" [(ngModel)] = "meterEnded" maxlength=20 id="buName"
            class="form-control" [formControl]="fuelissuanceForm.controls['MeterEnded']" />
            <small *ngIf="fuelissuanceForm.controls['MeterEnded'].hasError('required') && (fuelissuanceForm.controls['MeterEnded'].touched || formSubmited)"
               class="error">{{meterEndedReq}}</small>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label for="name">Quantity Issued(at 15°C)</label>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <input type="text"  id="buName"
               class="form-control" [formControl]="fuelissuanceForm.controls['QuantityIssued15DegreeC']"  readonly/>
         </div>
      </div>
   </div>
</div>
<div *ngIf="IsLubricantIssue==true">
   <div formArrayName="FuelIssuanceLubeDetails" class="add-scroll">
      <div class="section-container" *ngFor="let section of getFuelIssuanceLubeDetails(fuelissuanceForm); let i = index">
         <div class="ui raised segments" [formGroupName]="i">
            <br>
            <div class="row bunit">
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="lr">Product<small class="text-danger">*</small></label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <select formControlName="POLId" [ngClass]="{'hide-select-arrow': isViewPage}" class="form-control" (change)="getPolDetails($event.target.value, section, i)">
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let pol of poldropdownlist" [disabled] = "page != 'add'" [value]="pol.id">{{pol.name}}
                     </select>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="Package">Package<small class="text-danger"></small></label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <input type="text" readonly class="form-control" id="staticEmail"
                        formControlName="Package">
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="PackSize">PackSize<small class="text-danger"></small></label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <input type="text" readonly class="form-control" id="staticEmail"
                        formControlName="PackSize">
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="NumberOfPackets" style="white-space:nowrap">Number Of Packs<small class="text-danger">*</small></label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <input type="text" (keypress)="_keyPress($event)" [readonly] = "page != 'add'"
                     (keyup)="onPackChange($event.target.value,section)"
                     class="form-control" formControlName="NumberOfPackets">
                  </div>
                  <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="lubeAvailabilityNotificationMessage[i] != '' ">
                     <small class="text-success">{{lubeAvailabilityNotificationMessage[i]}}</small>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2">
                  <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view" for="Volume">Volume<small class="text-danger"></small></label>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <input type="text" (keypress)="_keyPress($event)" class="form-control" formControlName="Volume" readonly>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 list-margin">
                  <!-- <label class="col-md-12" for="HoursRun">&nbsp;</label> -->
                  <button *ngIf = "!showAddLubeBtn[i] && page == 'add'" type="button" (click)="addLubeSection(section, i)" class="point-icon" formnovalidate><img src="../assets/icon/add-icon.png"></button>
                  <button *ngIf="getFuelIssuanceLubeDetails(fuelissuanceForm).length > 1 && page == 'add'" (click)="removeLubeSection(i)" class="point-icon" formnovalidate><img src="../assets/icon/delete-icon.png"></button>
                  <!-- <button type="button"  (click)="editLubeSection(i,section)" class="point-icon" formnovalidate><img src="../assets/icon/edit-icon.png"></button> -->
               </div>
            </div>
         </div>
      </div>
   </div>
   <br>
   <div class="text-center"><span class="error" *ngIf="lubricantErrorMsg != ''">{{lubricantErrorMsg}}</span></div>
   <div class="text-center"><span class="error" *ngIf="lubricantArrayError != ''">{{lubricantArrayError}}</span></div>
   <div class="text-center"><span class="error" *ngIf="lubricantError != ''">{{lubricantError}}</span></div>
</div>
<hr>
<div class="row bunit">
   <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
         <label for="name">Remarks:<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
         <textarea class="text-area ng-pristine ng-valid ng-touched" cols="50" id="Address" rows="4"
            [formControl]="fuelissuanceForm.controls['Remarks']" ng-reflect-form="[object Object]">
         </textarea>
      </div>
   </div>
</div>
<div class="row bunit" *ngIf = "isViewPage">
   <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
         <label for="name">Submitted by:<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
         <label for="name"><small class="text-danger"></small></label>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
         <label for="name">Status:<small class="text-danger"></small></label>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
         <label for="name">Approved<small class="text-danger"></small></label>
      </div>
   </div>
</div>
<div class="row bunit">
   <div *ngIf = "!isViewPage" class="col-xs-12 col-sm-12 col-md-6">
      <div>
         <input name="file" type="file" (change)="onChange($event)" [formControl]="fuelissuanceForm.controls['FileType']" multiple/>
         <ng-container *ngIf="ErrorList.length==1">
            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
         </ng-container>
         <ng-container *ngIf="ErrorList.length>1">
            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
         </ng-container>
      </div>
   </div>
</div>
<div class="clearfix"></div>
<div class="row bunit btn-padng">
   <div class="text-right" >
      <button *ngIf = "!isViewPage" class="btn check-footer m-top10" type="submit">Save</button>
      <button *ngIf = "page == 'add'" class="btn  check-no m-top10" type="button" value="Reset" (click)="clearmsgs()">Clear</button>
   </div>
</div>
<!-- </div> -->
<!-- add vehicle modal -->
<div id="AddVehicle" class="modal  models" role="dialog" tabindex='-1'>
   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="modal-content modal-margin">
         <div class="modal-header">
            <h4 class="modal-title">Add New Vehicle</h4>
            <button type="button" (click)="modalclose('vehicle')" class="close" data-dismiss="modal">&times;</button>
            <hr>
         </div>
         <div class="modal-body">
            <br>
            <div class="bu-container">
               <form [formGroup]="vehicleForm">
                  <p *ngIf="insertmessage">{{insertmessage}}</p>
                  <div class="col-md-12 space" *ngIf="!insertmessage">
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Vehicle ID <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="20"  id="vehicleId" class="form-control"
                           [formControl]="vehicleForm.controls['vehicleId']"
                           [(ngModel)]="VehicleId" />
                           <span *ngIf="vehicleForm.controls['vehicleId'].hasError('required') && (vehicleForm.controls['vehicleId'].touched || vehicleFormSubmited)" class="error">{{errorvehicle}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Starting Odometer</label>
                        <div class="col-sm-8">
                           <input type="text" class="form-control" name="startingOdometer" [(ngModel)]="startingOdometer"
                           [formControl]="vehicleForm.controls['startingOdometer']"
                           [(ngModel)]="StartingOdometer"  >
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Type of Vehicle<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="vehicleTypeId"
                              [formControl]="vehicleForm.controls['vehicleTypeId']">
                              <option value="" disabled selected="selected">Select</option>
                              <option *ngFor="let item of vehicletypeList" [value]="item.vehicleTypeId">{{item.vehicleTypeName}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['vehicleTypeId'].hasError('required') && (vehicleForm.controls['vehicleTypeId'].touched || vehicleFormSubmited)" class="error">{{errorvehicletype}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Max Fuel Fill Capacity</label>
                        <div class="col-sm-8">
                           <input type="text" (keypress)="_keyPress($event)" maxlength="20" class="form-control"
                           name="maxfuelfillcapacity" [(ngModel)]="maxfuelfillcapacity"
                           [formControl]="vehicleForm.controls['maxfuelfillcapacity']">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Make and Model <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="makemodelId"
                              [formControl]="vehicleForm.controls['makemodelId']">
                              <option value="" selected="selected" disabled>Select</option>
                              <option *ngFor="let item of makemodelList" [value]="item.id">{{item.make}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['makemodelId'].hasError('required') && (vehicleForm.controls['makemodelId'].touched || vehicleFormSubmited)" class="error">{{errormakemodel}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Customer <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="customer"
                              [formControl]="vehicleForm.controls['customer']">
                              <option selected="selected" disabled value="">Select</option>
                              <option *ngFor="let item of customerlist" [value]="item.customerId">{{item.firstName}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['customer'].hasError('required') && (vehicleForm.controls['customer'].touched || vehicleFormSubmited)" class="error">{{errorcustomer}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Department<small class="text-danger">*</small>
                        </label>
                        <div class="col-sm-8">
                           <select class="form-control" id="department"
                              [formControl]="vehicleForm.controls['department']" >
                              <option selected="selected" disabled value="">Select</option>
                              <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['department'].hasError('required') && (vehicleForm.controls['department'].touched || vehicleFormSubmited)" class="error">{{errordepartment}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Site<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="basestation"
                              [formControl]="vehicleForm.controls['basestation']" >
                              <option value="" selected="selected" disabled>Select</option>
                              <option *ngFor="let item of sitedropdownlist" [value]="item.siteId">{{item.name}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['basestation'].hasError('required') && (vehicleForm.controls['basestation'].touched || vehicleFormSubmited)" class="error">{{errorbasestation}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Section  <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="section"
                              [formControl]="vehicleForm.controls['section']" >
                              <option value="" selected="selected" disabled>Select</option>
                              <option *ngFor="let item of sectionlist" [value]="item.sectionId">{{item.sectionName}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['section'].hasError('required') && (vehicleForm.controls['section'].touched || vehicleFormSubmited)" class="error">{{errorsection}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Ownership Info  <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="ownershipinfo"
                              [formControl]="vehicleForm.controls['ownershipinfo']" >
                              <option selected="selected" disabled value="">Select</option>
                              <option *ngFor="let item of ownershipinfoList" [value]="item.ownershipId">{{item.name}}</option>
                           </select>
                           <span *ngIf="vehicleForm.controls['ownershipinfo'].hasError('required') && (vehicleForm.controls['ownershipinfo'].touched || vehicleFormSubmited)" class="error">{{errorownershipinfo}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Bar Code</label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="20"  id="barcode" class="form-control"
                           [formControl]="vehicleForm.controls['BarCode']"
                           [(ngModel)]="BarCode" />
                        </div>
                     </div>
                     <!-- <input name="file" type="file" (change)="onVehicleChange($event)" [formControl]="vehicleForm.controls['FileType']" multiple/>
                        <ng-container *ngIf="VehicleErrorList.length==1">
                                <small *ngFor="let error of VehicleErrorList" class="text-danger file-size-error">{{verror}}</small>
                        </ng-container>
                        <ng-container *ngIf="VehicleErrorList.length>1">
                                <small *ngFor="let error of VehicleErrorList" class="text-danger file-size-error">{{verror}}<br /></small>
                        </ng-container> -->
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button  type="button" class="btn check-footer" (click)="onSaveVehicle($event)" >Save</button>
         </div>
      </div>
   </div>
</div>
<!-- add vehicle modal -->
<!-- add section modal -->
<div id="AddSection" class="modal  models" role="dialog" tabindex='-1'>
   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add New Section</h4>
            <button type="button" (click)="modalclose('section')" class="close" data-dismiss="modal">&times;</button>
            <hr>
         </div>
         <div class="modal-body">
            <br>
            <div class="bu-container">
               <form [formGroup]="sectionForm">
                  <p *ngIf="insertmessage">{{insertmessage}}</p>
                  <div class="col-md-12 space" *ngIf="!insertmessage">
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Section <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text" class="form-control" name="section" [(ngModel)]="section"
                           [formControl]="sectionForm.controls['section']">
                           <span *ngIf="sectionForm.controls['section'].hasError('required') && (sectionForm.controls['section'].touched || sectionFormSubmited)" class="error">{{Serrorsection}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Description</label>
                        <div class="col-sm-8">
                           <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="sectionForm.controls['description']">
                           </textarea>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button  type="button" class="btn check-footer" (click)="onSaveSection($event)">Save</button>
         </div>
      </div>
   </div>
</div>
<!-- add section modal -->
<!-- add receiver modal -->
<div id="AddReceiver" class="modal  models" role="dialog" tabindex='-1'>
   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="modal-content" style="margin-top:0%">
         <div class="modal-header">
            <h4 class="modal-title">Add New Receiver</h4>
            <button type="button" class="close"   (click)="modalclose('receiver')" data-dismiss="modal">&times;</button>
            <hr>
         </div>
         <div class="modal-body">
            <br>
            <div class="bu-container">
               <form [formGroup]="receiverForm">
                  <div class="col-md-12 space">
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> First Name <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text"  id="firstName" class="form-control"
                              [formControl]="receiverForm.controls['firstName']" />
                           <span *ngIf="receiverForm.controls['firstName'].hasError('required') && (receiverForm.controls['firstName'].touched || receiverFormSubmited)" class="error">{{rerrorfirstName}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Last Name <small class="text-danger">*</small>  </label>
                        <div class="col-sm-8">
                           <input type="text"   id="lastName" class="form-control"
                              [formControl]="receiverForm.controls['lastName']" />
                           <span *ngIf="receiverForm.controls['lastName'].hasError('required') && (receiverForm.controls['lastName'].touched || receiverFormSubmited)" class="error">{{rerrorlastname}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">UNID No <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text" id="unidNo" class="form-control" (keyup) = 'onUnidKeyUp()' [formControl]="receiverForm.controls['unidNo']" />
                           <span *ngIf="receiverForm.controls['unidNo'].hasError('required') && (receiverForm.controls['unidNo'].touched || receiverFormSubmited)" class="error">{{rerrorunid}}</span>
                           <span *ngIf="unidError != '' || receiverFormSubmited" class="error">{{unidError}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Site <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="siteId" [formControl]="receiverForm.controls['siteId']" >
                              <option value="" disabled selected>Select</option>
                              <option *ngFor="let site of sitedropdownlist" [value]="site.siteId">{{site.name}}</option>
                           </select>
                           <span *ngIf="receiverForm.controls['siteId'].hasError('required') && (receiverForm.controls['siteId'].touched || receiverFormSubmited)" class="error">{{rerrorsite}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Customer <small class="text-danger">*</small>   </label>
                        <div class="col-sm-8">
                           <select class="form-control" id="customerId" [formControl]="receiverForm.controls['customerId']" >
                              <option disabled selected value="">Select</option>
                              <option *ngFor="let customer of customerlist" [value]="customer.customerId">{{customer.firstName}}</option>
                           </select>
                           <span *ngIf="receiverForm.controls['customerId'].hasError('required') && (receiverForm.controls['customerId'].touched || receiverFormSubmited)" class="error">{{rerrorcustomer}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> Section <small class="text-danger">*</small>  </label>
                        <div class="col-sm-8">
                           <select class="form-control" id="sectionId"
                              [formControl]="receiverForm.controls['sectionId']" >
                              <option disabled selected value="">Select</option>
                              <option *ngFor="let section of sectionlist" [value]="section.sectionId">{{section.sectionName}}</option>
                           </select>
                           <span *ngIf="receiverForm.controls['sectionId'].hasError('required') && (receiverForm.controls['sectionId'].touched || receiverFormSubmited)" class="error">{{rerrorsection}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Department<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="department"
                              [formControl]="receiverForm.controls['departmentId']" >
                              <option disabled selected value="">Select</option>
                              <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                           </select>
                           <span *ngIf="receiverForm.controls['departmentId'].hasError('required') && (receiverForm.controls['departmentId'].touched || receiverFormSubmited)" class="error">{{rerrordepartment}}</span>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button *ngIf="!insertmessage" type="button" class="btn check-footer" (click)="onSaveReceiver($event)">Save</button>
         </div>
      </div>
   </div>
</div>
<!-- add receiver modal -->
<!-- add issuer modal -->
<div id="AddIssuer" class="modal  models" role="dialog" tabindex='-1'>
   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add New Issuer</h4>
            <button type="button" class="close"   (click)="modalclose('issuer')" data-dismiss="modal">&times;</button>
            <hr>
         </div>
         <div class="modal-body">
            <br>
            <div class="bu-container">
               <form [formGroup]="issuerForm">
                  <div class="col-md-12 space">
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px"> First Name <small class="text-danger">*</small>   </label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="30" id="firstName" class="form-control" [formControl]="issuerForm.controls['firstName']" />
                           <span *ngIf="issuerForm.controls['firstName'].hasError('required') && (issuerForm.controls['firstName'].touched || issuerFormSubmited)" class="error">{{ierrorfirstName}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Last Name</label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="30"   id="lastName" class="form-control" [formControl]="issuerForm.controls['lastName']" />
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">UNID No <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text"   id="unidNo" class="form-control" (keyup)='onUnidKeyUpIssuer()' [formControl]="issuerForm.controls['unidNo']" />
                           <span *ngIf="issuerForm.controls['unidNo'].hasError('required') && (issuerForm.controls['unidNo'].touched || issuerFormSubmited)" class="error">{{ierrorunid}}</span>
                           <span *ngIf="unidErrorIssuer != '' || receiverFormSubmited" class="error">{{unidErrorIssuer}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">
                        Site  <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="siteId"
                              [formControl]="issuerForm.controls['siteId']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let cl of sitedropdownlist" [value]="cl.siteId">{{cl.name}}</option>
                           </select>
                           <span *ngIf="issuerForm.controls['siteId'].hasError('required') && (issuerForm.controls['siteId'].touched || issuerFormSubmited)" class="error">{{ierrorsite}}</span>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button *ngIf="!insertmessage" type="button" class="btn check-footer" (click)="onSaveIssuer($event)">Save</button>
         </div>
      </div>
   </div>
</div>
<!-- add issuer modal -->
<!-- add tailregistration modal -->
<div id="AddTailRegistration" class="modal models" role="dialog" tabindex='-1'>
   <div class="modal-dialog" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="modal-content modal-margin">
         <div class="modal-header">
            <h4 class="modal-title">Add New Aircraft</h4>
            <button type="button" class="close"   (click)="modalclose('tailregistration')" data-dismiss="modal">&times;</button>
            <hr>
         </div>
         <div class="modal-body">
            <br>
            <div class="bu-container">
               <form [formGroup]="aircraftForm">
                  <div class="col-md-12 space">
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Tail Registration No<small class="text-danger">*</small> </label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="20"  id="flightno" class="form-control" [formControl]="aircraftForm.controls['flightno']" />
                           <span *ngIf="aircraftForm.controls['flightno'].hasError('required') && (aircraftForm.controls['flightno'].touched || tailRegistrationFormSubmited)" class="error">{{terrorflightno}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Aircraft Type  <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="aircraftTypeId"
                              [formControl]="aircraftForm.controls['aircraftTypeId']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let item of aircrafttypeList" [value]="item.aircraftTypeId">{{item.aircraftTypeName}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['aircraftTypeId'].hasError('required') && (aircraftForm.controls['aircraftTypeId'].touched || tailRegistrationFormSubmited)" class="error">{{terroraircrafttype}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Call Sign/Flight No<small class="text-danger">*</small>   </label>
                        <div class="col-sm-8">
                           <input type="text" maxlength="20"  id="callsign" class="form-control" [formControl]="aircraftForm.controls['callsign']" />
                           <span *ngIf="aircraftForm.controls['callsign'].hasError('required') && (aircraftForm.controls['callsign'].touched || tailRegistrationFormSubmited)" class="error">{{terrorcallsign}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Max Fuel Fill Capacity <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <input type="text"  (keypress)="_keyPress($event)" maxlength="20" class="form-control" name="maxfuelfillcapacity" [(ngModel)]="maxfuelfillcapacity"
                           [formControl]="aircraftForm.controls['maxfuelfillcapacity']" >
                           <span *ngIf="aircraftForm.controls['maxfuelfillcapacity'].hasError('required') && (aircraftForm.controls['maxfuelfillcapacity'].touched || tailRegistrationFormSubmited)" class="error">{{terrormaxfuelfillcapacity}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Customer<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="customer"
                              [formControl]="aircraftForm.controls['customer']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let item of customerlist" [value]="item.customerId">{{item.firstName}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['customer'].hasError('required') && (aircraftForm.controls['customer'].touched || tailRegistrationFormSubmited)" class="error">{{terrorcustomer}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Department<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="department"
                              [formControl]="aircraftForm.controls['department']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['department'].hasError('required') && (aircraftForm.controls['department'].touched || tailRegistrationFormSubmited)" class="error">{{terrordepartment}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Base Station<small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="basestation"
                              [formControl]="aircraftForm.controls['basestation']" >
                              <option value="">Select</option>
                              <option *ngFor="let item of sitedropdownlist" [value]="item.siteId">{{item.name}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['basestation'].hasError('required') && (aircraftForm.controls['basestation'].touched || tailRegistrationFormSubmited)" class="error">{{terrorsite}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Section <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="section"
                              [formControl]="aircraftForm.controls['section']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let item of sectionlist" [value]="item.sectionId">{{item.sectionName}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['section'].hasError('required') && (aircraftForm.controls['section'].touched || tailRegistrationFormSubmited)" class="error">{{terrorsection}}</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Ownership Info  <small class="text-danger">*</small></label>
                        <div class="col-sm-8">
                           <select class="form-control" id="ownershipinfo"
                              [formControl]="aircraftForm.controls['ownershipinfo']" >
                              <option value="" selected disabled>Select</option>
                              <option *ngFor="let item of ownershipinfoList" [value]="item.ownershipId">{{item.name}}</option>
                           </select>
                           <span *ngIf="aircraftForm.controls['ownershipinfo'].hasError('required') && (aircraftForm.controls['ownershipinfo'].touched || tailRegistrationFormSubmited)" class="error">{{terrorownershipinfo}}</span>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="modal-footer">
            <button *ngIf="!insertmessage" type="button" class="btn check-footer" style="background-color:green" (click)="onSaveAircraft($event)">Save</button>
         </div>
      </div>
   </div>
</div>
<!-- add tailregistration modal -->
<!-- view fuelissuance modal -->
</form>
<!-- print fuelissuance modal -->
<div id="print-section" class="modal  models" role="dialog" tabindex='-1'>
      <div class="modal-width container">
         <div class="modal-content modal-margin">
            <div class="modal-header">
               <h4 class="modal-title">Fuel Issuance</h4>
            </div>
            <div class="modal-body">

               <div class="container-fluid">
                  <form>
                     <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label" style="font-size:14px">Id</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.id}}
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vId']" > -->
                        </div>
                    
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">IssueSlipNumber</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.issueSlipNumber}}
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewBusinessUnitForm.controls['bAddress']" > -->
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vIssueSlipNumber']" > -->
                        </div>
                     </div>
                     <!-- <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">UniqueNumber</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vUniqueNumber']" >
                        </div>
                        </div> -->
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Date</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.issuingDate}}
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vDate']" > -->
                        </div>
                   
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Site</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.site">
                           {{fuelIssuancePrint.site.name}}
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vSite']" > -->
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">POL</label>
                        <div class="col-sm-3">
                          <div *ngIf="fuelIssuancePrint.pol"> {{fuelIssuancePrint.pol.name}}</div>
                        </div>
                   
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Tank</label>
                        <div class="col-sm-3">
                          <div *ngIf="fuelIssuancePrint.storageTank"> {{fuelIssuancePrint.storageTank.name}}</div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Batch Number</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.batchNumber">
                           {{fuelIssuancePrint.batchNumber}}
                        </div>
                   
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Receiver</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.receiver">
                           {{fuelIssuancePrint.receiver.firstName}} {{fuelIssuancePrint.receiver.lastName}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Issued by</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.issuer">
                           {{fuelIssuancePrint.issuer.firstName}} {{fuelIssuancePrint.issuer.lastName}}
                        </div>
                    
                     <!-- <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Issued To</label>
                        <div class="col-sm-8" *ngIf="fuelIssuancePrint">
                           {{fuelIssuancePrint}} {{fuelIssuancePrint}}
                        </div>
                     </div> -->
                 
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Section</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.section">
                           {{fuelIssuancePrint.section.sectionName}}
                     </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Status</label>
                        <div class="col-sm-3">
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vStatus']" > -->
                        </div>
                   
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Approver</label>
                        <div class="col-sm-3">
                           <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewFuelIssuanceForm.controls['vApprover']" > -->
                        </div>
                     </div>
                     <div *ngFor="let item of fuelIssuancePrint.fuelIssuanceGeneratorDetails">
                        <div class="form-group row">
                           <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Generator</label>
                           <div *ngIf='item.pol' class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                              <!-- {{item.pol.name}} -->
                           </div>
                           <label for="inputPassword" class="col-sm-3  col-form-label" style="font-size:14px">Quantity</label>
                           <div class="col-sm-3  col-form-label" style="left:14px;position:relative;">
                              <!-- {{item.packSize}} -->
                           </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Temperature(°C)</label>
                        <div class="col-sm-3" *ngIf="fuelIssuancePrint.temperature">
                           {{fuelIssuancePrint.temperature}}
                        </div>
                    
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Density</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.density}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Meter Started</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.meterStarted}}
                        </div>
                
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Meter Ended</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.meterEnded}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Quantity Issued</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.quantityIssued}}
                        </div>
                    
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Quantity Issued(at 15°C)</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.quantityIssued15DegreeC}}
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size:14px">Remarks</label>
                        <div class="col-sm-3">
                           {{fuelIssuancePrint.remarks}}
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
</div>
<!-- print fuelissuance modal -->