/**label**/
label
{
    margin-bottom: -0.5rem;
}
/**For toggle***/

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
    left: -12px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: 3px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #008148;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .check-icon
  {
    left: 0px;
    position: absolute;
    width: 25px;
  }
  .checkmark
  {
      width: 18px !important;
      height: 18px !important;
  }
  .container .checkmark:after {
    left: 5px !important;
    top: 2px !important;
    width: 6px !important;
}
/***icon***/
.ion-trash-a
{
  font-size: 17px;
  padding-left: 10px;
}
.ion-edit
{
  font-size: 17px;
}
/****switch alignment***/
@media(max-width:765px)
{
  .switch-margin
  {
    margin-left: 25px;
  }
}
.label-collapse
{
  height: 25px;
  overflow: hidden;
}
.collapsed {
  height: auto !important;
}