<form [ngSwitch]="loading" [formGroup]="systempreferenceForm" (ngSubmit)="onSubmit(systempreferenceForm.value)" class="form-horizontal" method="post">
   <div *ngIf="privileges">
    <div *ngIf="privileges.isAdd || privileges.isEdit" class="row bunit">
       <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
             <label for="name">System Default Currency</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
             <select class="form-control" id="sel1" [formControl]="systempreferenceForm.controls['currency']">
                <option value="">Select</option>
                <option *ngFor="let item of currencylist" [value]="item.currencyId">{{item.currencyName}}
             </select>
          </div>
       </div>
    </div>
    <div *ngIf="privileges.isAdd || privileges.isEdit" class="row bunit">
       <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
             <label for="name">Text display in login</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
             <textarea class="text-area ng-pristine ng-valid ng-touched" cols="50" name="buAddress" maxlength="250"
                rows="4" ng-reflect-form="[object Object]" [formControl]="systempreferenceForm.controls['message']" (keyup)="onKeyUp($event)">
             </textarea>
             <small *ngIf="systempreferenceForm.controls['message'].hasError('required') && (systempreferenceForm.controls['message'].touched || formSubmited )" class="error">{{messageReq}}</small>
             <small *ngIf="messageLengthError != ''" class="error">{{messageLengthError}}</small>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
             <label for="name">From</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
             <div class="selectiongroup">
                <!-- <input autocomplete="off" class="selection ng-pristine ng-valid ng-touched" ngtype="text" ng-reflect-klass="selection"
                   ng-reflect-ng-class="[object Object]" ng-reflect-ng-style="[object Object]" style="height: 34px; font-size: 14px;" ng-reflect-model="04/11/2018" aria-label="Date input field" placeholder="" ng-reflect-value="04/11/2018">
                   -->
                <my-date-picker [options]="myDatePickerOptions"
                [formControl]="systempreferenceForm.controls['fromDate']" (dateChanged)="onDateChanged($event,'FromDate')"
                [(ngModel)]="FromDate" name="FromDate"></my-date-picker>
             </div>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
             <label for="name">To</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
             <div class="selectiongroup">
                <my-date-picker [options]="myDatePickerOptions" [formControl]="systempreferenceForm.controls['toDate']" (dateChanged)="onDateChanged($event,'ToDate')"
                [(ngModel)]="ToDate" name="ToDate"></my-date-picker>
                <small *ngIf="dateErrorMsg != ''" class="error">{{dateErrorMsg}}</small>
             </div>
          </div>
       </div>
    </div>
    <div class="row bunit" *ngFor="let item of  preferencelist; let i = index">
        <hr>
       <div class="col-xs-12 col-sm-12 col-md-4">
          <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
             <label for="name">Text display in login<small class="text-danger">*</small></label>
             
             </div> -->

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <label for="name" style="text-align: justify" [class.collapsed]="isCollapsed[i]" class="label-collapse">{{item.displayData}}</label> <span (click)="readMore(i)" style="color:#008148">{{showText[i]}}</span>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
             <label for="name">From</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
             <label for="name" >{{item.fromDate | date: 'dd-MMM-yyyy'}}</label>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
             <label for="name">To</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
             <label for="name" >{{item.toDate | date: 'dd-MMM-yyyy'}}</label>
          </div>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 switch-margin">
          <label class="switch">
          <!--item.OnOrOff <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="" > -->
          <input *ngIf="privileges.isAdd || privileges.isEdit" type="checkbox" value="true" name="" [checked]="statusList[i]" (change)="statusChange($event, item)">
          <span class="slider round"></span>
          </label>
          <a *ngIf="privileges.isEdit" (click)="edit(item)" placement="top" tooltip="Edit" data-toggle="modal" data-target="#edit">
          <i class="ion-edit"></i></a>
          <li *ngIf="privileges.isDelete" class="list-inline-item"><a (click)="deleteEntry(item)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del"><i class="ion-trash-a"></i></a></li>
       </div>
    </div>
    <div *ngIf="privileges.isAdd || privileges.isEdit" class="row bunit pull-right">
       <button type="submit" class="btn btn check-footer m-top10">Save</button>
       <button type ="button" class="btn  check-no m-top10" value="Clear" (click)="clearmsgs()">Clear</button>
    </div>

    <div class="modal in" id="del" role="dialog"  tabindex='-1'>
        <div class="modal-dialog mstyle modal-country">
           <div class="modal-content">
              <div class="modal-header">
                 <h4 class="modal-title">Delete Item</h4>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <hr>
              </div>
              <div class="modal-body">
                 <p *ngIf="deleteMsg != ''">{{deleteMsg}}</p>
                 <p *ngIf="deleteMsg == ''">Are you sure you want to delete this Entry ?</p>
              </div>
              <div class="modal-footer">
                 <button *ngIf="deleteMsg == ''" type="button"  (click)="deleteMessageClear()" data-dismiss="modal" class="btn btn check-no modalButton">No</button>
                 <button *ngIf="deleteMsg == ''" type="button" class="btn btn check-footer" (click)="deleteConfirm()">Yes</button>
                 <button *ngIf="deleteMsg != ''" type="button" class="btn btn-primary" (click)="closeDeleteModal()" data-dismiss="modal">Close</button>
              </div>
           </div>
        </div>
     </div>
   </div>
</form>