<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-12 col-xl-12">Edit Generator Make & Model</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <header class="manager-top m-btm20">
	            	
	            </header>
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success generate-edit">{{success}}</div>
	                <generatormakemodel-form [generatormakemodel]="generatormakemodel | async" [error]="error" [page]="page" (saved)="onSave($event)"></generatormakemodel-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>	