<form [ngSwitch]="loading" [formGroup]="driverForm" (ngSubmit)="onSubmit(driverForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">

        <div class="row row-mt">
                <div class="row">
                        <!-- <div class="col-xs-12 col-sm-12 col-md-6">



                                            <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                                     <label for="name">Internal Use</label>

                                             </div> -->


                                             <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                                <div class="checkbox">

                                                    <!-- <label class="row container"> Internal Use -->
                                                        <!-- <input type="checkbox" [formControl]="driverForm.controls['IsInternal']"   (change)="selectAll($event);"/>
                                                        <span class="checkmark"></span> -->
                                                    <!-- </label> --


                                                     <label class="container filter-down">

                                                            <input type="checkbox" [formControl]="driverForm.controls['IsInternalUse']"   (change)="selectAll($event);"/> <span class="checkmark add-cust add-align"></span>
                                                     </label>
                                                </div>
                                            </div>   --


                        </div> -->


                        <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                                                            <label for="businessunitname">Business Unit Name <small class="text-danger">*</small></label>

                                                        </div>

                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                                                            <select class="form-control" id="businessunitnameId"
                                                            [formControl]="driverForm.controls['businessunitnameId']" >
                                                                    <option value="">Select</option>
                                                                <option *ngFor="let cl of buList" [value]="cl.buId">{{cl.buName}}</option>
                                                            </select>

                                                            <small *ngIf="driverForm.controls['businessunitnameId'].hasError('required') && (driverForm.controls['businessunitnameId'].touched || formSubmited)" class="error">{{buReq}}</small>
                                                            <small *ngFor="let error of error.businessunitnameId" class="text-danger">{{error}}</small>

                                                        </div>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-6">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <label for="name">Telephone Number </label>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                    <input type="text" (keypress)="_keyPress($event)" maxlength="15"    id="telephoneNo" class="form-control" [formControl]="driverForm.controls['telephoneNo']" />

                                    <!-- <small *ngFor="let error of error.telephoneNo" class="text-danger">{{error}}</small> -->
                                </div>
                        </div>
                </div>

                <div class="row form-row">

                        <div class="col-xs-12 col-sm-12 col-md-6">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label for="name">Driver Name <small class="text-danger">*</small></label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <input type="text" maxlength="30"   id="driverName" class="form-control" [formControl]="driverForm.controls['driverName']" />


                                <small *ngIf="driverForm.controls['driverName'].hasError('required') && (driverForm.controls['driverName'].touched || formSubmited)" class="error">{{nameReq}}</small>

                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                                    <label for="companyId">Transport Company Name <small class="text-danger">*</small></label>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                    <select class="form-control" id="companyId"
                                    [formControl]="driverForm.controls['companyId']" >
                                            <option value="">Select</option>
                                        <option *ngFor="let cl of companyList" [value]="cl.id">{{cl.name}}</option>
                                    </select>

                                    <small *ngIf="driverForm.controls['companyId'].hasError('required') && (driverForm.controls['companyId'].touched || formSubmited)" class="error">{{companyReq}}</small>
                                    <!-- <small *ngFor="let error of error.companyId" class="text-danger">{{error}}</small> -->
                                </div>
                                </div>


                    </div>

                    <div class="row form-row">
                            <div class="col-xs-12 col-sm-12 col-md-6">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <label for="name">Driving Licence No </label>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                    <input type="text" maxlength="20"  id="drivingLicenceNo"  class="form-control" [formControl]="driverForm.controls['drivingLicenceNo']" />


                                    <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                                </div>
                            </div>




                    </div>

                    <div class="row form-row">
                        <div class="col-xs-12 col-sm-12 col-md-6">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label for="name">Remarks <small class="text-danger"></small></label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <textarea rows="4" cols="50" id="remarks" class="text-area" [formControl]="driverForm.controls['remarks']">
                                </textarea>
                            </div>

                        </div>
                    </div>


                        <div class="clearfix"></div>
                        <div><br /><br /></div>


                               <div>
                                   <input name="file" type="file" (change)="onChange($event)" [formControl]="driverForm.controls['FileType']" multiple/>
                                   <br>
                                   <ng-container *ngIf="ErrorList.length==1">
                                    <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                                   </ng-container>
                                    <ng-container *ngIf="ErrorList.length>1">
                                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                                    </ng-container>
                                </div>

                            <br>

                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn btn check-footer" >Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn btn check-no" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>