<!-- <div *ngIf = 'isDataAvailable | async' class="container-fluid">
    
       
                <div class="manager-top m-btm20"  [formGroup]="rolesForm">
                            

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 align-padding">

                            <label>Role </label>
                            
                            <input type ="text" formControlName="role"  class="form-control"><br>
                           
                        <label class="switch">
                            Status<input type="checkbox" formControlName="status">
                                <span class="slider round"></span>
                            </label>

                        </div>
                        
                        <div class="col-md-12">
                            <div formArrayName="privilages">
                                <ul *ngFor = "let roles of rolesForm.controls.privilages.controls; let i = index">
                                    <li [formGroupName] = "i">
                                        <input type="checkbox" name="roles.value.parentRoleName" value="" style="visibility: visible !important;" formControlName="parentRoleName" (change)="showChildRoles(i)" >{{rolesArray[i].title}}
                                        <div formArrayName = "childRoles" >
                                            <ul *ngFor = "let child of roles.controls.childRoles.controls; let j = index" style="margin-left: 120px">
                                                <li style="list-style:none;">
                                                    <div [formGroupName] = "j" *ngIf = 'showChild[i]'>
                                                        <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="childRoleName" >{{rolesArray[i].children[j].title}}
                                                       
                                                        <ul>
                                                            <li  formGroupName="roles" style="list-style:none;">
                                                                <div class="form-check">
                                                                    <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="view" >View
                                                                </div>
                                                                <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="add" >Add
                                                                <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="edit" >Edit
                                                                <input type="checkbox" name="" value="" style="visibility: visible !important;" formControlName="delete" >Delete
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
        
            <div class="col-md-12 float-right"> 
        <button (click)='resetForm()'>Reset</button> 
                <small *ngIf="rolesForm.controls['role'].hasError('required') && (rolesForm.controls['role'].touched || isFormSave)" class="error">
                    {{nameRequiredMsg}}
                </small>
                <button (click)='cancelForm()'>Cancel</button>
                <button (click)='saveRoles(rolesForm)' *ngIf = '!readOnly'>Save</button>
            </div>
</div> -->


<div *ngIf = 'isDataAvailable | async' class="container-fluid"  [formGroup]="rolesForm">
        <div class="row bunit">
           <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                 <label for="roleName">Role<small class="text-danger">*</small></label>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                 <input type ="text" formControlName="role"  class="form-control"><br>
                 <small *ngIf="rolesForm.controls['role'].hasError('required') && (rolesForm.controls['role'].touched || isFormSave)" class="error">
                    {{nameRequiredMsg}}
                </small>
              </div>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                 <label for="status">Status</label>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                 <div class="col-md-2">
                  
                        <label class="switch">
                                <input type="checkbox" formControlName="status" >
                                <span class="slider round"></span>
                        </label>

                 </div>
              </div>
           </div>
        </div>
        <div class="row bunit">
           <div class="col-md-4 no-padding">
                <p><b>Permissions</b></p>
           </div>
           <div class="permission">
              <!-- <h6>Permission</h6> -->
           </div>
           <div class="col-xs-12 col-sm-12 col-md-12 roles-border" formArrayName="privilages">
              <div class="row" *ngFor = "let roles of rolesForm.controls.privilages.controls; let i = index">

                 <div class="clearfix"></div>

                 <div class="col-md-12"  [formGroupName] = "i">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                       <div class="checkbox">
                          <label class="container filter-down">
                          <input type="checkbox" formControlName="parentRoleName"  (change)="showChildRoles(i)" name="roles.value.parentRoleName" ng-reflect-form="[object Object]" class="ng-untouched ng-valid ng-dirty" ><span><img [src]="imgShow[i]" class="check-icon"></span>
                         
                          </label>
                       </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                       <label for="name"  class="roles-check-left"><b>{{rolesArray[i].title}}</b></label>
                    </div>

                    <div formArrayName = "childRoles">

                    <div class="row" *ngFor = "let child of roles.controls.childRoles.controls; let j = index">

                            <div class="col-md-12" style="padding-left:30px"  [formGroupName] = "j" *ngIf = 'showChild[i]'>

                               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">

                                  <div class="checkbox">
                                     <input type="checkbox" formControlName="childRoleName">
                                     <label class="container filter-down">
                                     <input type="checkbox" formControlName="childRoleName">
                                     </label>
                                  </div>

                               </div>

              
                                  <label for="name" class="roles-left-section-two">{{rolesArray[i].children[j].title}}</label>
           
                                  <div class="row" style="padding-left: 50px;" formGroupName="roles">

                                       <div class="col-sm-2 col-md-2">

                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                             <div class="checkbox">
                                                <label class="container filter-down">
                                                <input type="checkbox" ng-reflect-form="[object Object]" (click)="selectParent(i, j, $event, 'view')" formControlName="view" class="ng-untouched ng-valid ng-dirty"> <span class="checkmark add-cust add-align"></span>
                                                </label>
                                             </div>
                                          </div>

                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                             <label for="name">View</label>
                                          </div>

                                       </div>

                                       <div class="col-sm-2 col-md-2">
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                             <div class="checkbox">
                                                <label class="container filter-down">
                                                <input type="checkbox" ng-reflect-form="[object Object]" (click)="selectParent(i, j, $event, 'add')" formControlName="add" class="ng-untouched ng-valid ng-dirty"> <span class="checkmark add-cust add-align"></span>
                                                </label>
                                             </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                             <label for="name">Add</label>
                                          </div>
                                       </div>

                                       <div class="col-sm-2 col-md-2">
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                             <div class="checkbox">
                                                <label class="container filter-down">
                                                <input type="checkbox" ng-reflect-form="[object Object]" (click)="selectParent(i, j, $event, 'edit')" formControlName="edit" class="ng-untouched ng-valid ng-dirty"> <span class="checkmark add-cust add-align"></span>
                                                </label>
                                             </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                             <label for="name">Edit</label>
                                          </div>
                                       </div>

                                       <div class="col-sm-2 col-md-2">
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
                                             <div class="checkbox">
                                                <label class="container filter-down">
                                                <input type="checkbox" ng-reflect-form="[object Object]" (click)="selectParent(i, j, $event, 'delete')" formControlName="delete" class="ng-untouched ng-valid ng-dirty"> <span class="checkmark add-cust add-align"></span>
                                                </label>
                                             </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                             <label for="name">Delete</label>
                                          </div>
                                       </div> 
                                    </div>                         
                              </div>
                          </div>
                     </div>
                 </div>
              </div>    
           </div>
        </div>
        <div class="row bunit text-right" style="left: 10px;"> 
                <button (click)='resetForm()' class="btn btn check-footer" *ngIf = '!readOnly'>Reset</button> 
                <button (click)='cancelForm()' class="btn btn check-no" style="margin-right: 10px;">Close</button>
                <button (click)='saveRoles(rolesForm)' *ngIf = '!readOnly' class="btn btn check-footer">Save</button>
        </div>
   </div>