<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">discharge vehicle</span>
<div *ngIf="privileges" class="container-fluid main-back">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="manager-top m-btm20">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left dis-label">
                  Show Entries
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                  <select class="select-control" (change)="onSelectChange($event)">
                  <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                  </select>
               </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
               <button class="btn add-manager m-btm10 pull-right margin-top-10" *ngIf="privileges.isAdd" (click)="adddischargevehicle()" id="add_user">
               <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
               </button>
               <div class="search-block">
                  <input *ngIf="config.filtering" placeholder="Search"
                  [ngTableFiltering]="config.filtering"
                  class="form-control search-border"
                  (tableChanged)="onChangeTable(config)"/>
                  <div class="search-btn">
                     <button class="btn btn-default ser" type="submit">
                     <i class="fas fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <section class="panel">
            <div class="panel-body">
               <div class="table-scroll">
                  <table class="table table-bordered cust-table table-hover table-form">
                     <thead>
                        <tr>
                           <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                              {{column.title}}
                              <i *ngIf="config && column.sort !== ''   && column.sort!= false" class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                              tooltip="Sort"    (click)="Sort(column.name,column.sort)"></i>
                              <i *ngIf="config && column.filter == true" class="discharge-filter fa fa-filter"
                              [ngTableFiltering]="config.filtering"
                              data-toggle="modal" tooltip="Filter"
                              data-target="#ViewCompanyModal"
                              (click)="filter()"></i>
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <div *ngIf="loading">
                           <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                        </div>
                        <tr *ngFor="let dischargevehicle of dischargevehicle" >
                           <td>{{dischargevehicle.dischargeVehicleId}}</td>
                           <td>{{dischargevehicle.name}}  </td>
                           <td>{{dischargevehicle.transportCompany.name}}</td>
                           <td >{{dischargevehicle.shortAddress}}</td>
                           <td class="text-center actions">
                              <ul class="list-inline">
                                 <li class="list-inline-item" *ngIf="privileges.isView">
                                    <a data-toggle="modal" tooltip="View Attachment"
                                       data-target="#ViewAttachmentModal"
                                       (click)="attachment(dischargevehicle.dischargeVehicleId)">
                                    <i *ngIf = "dischargevehicle.isAttachmentAvailable == true" class="fa fa-paperclip" >
                                    </i>
                                    </a>
                                 </li>
                                 <li class="list-inline-item" *ngIf="privileges.isView"> <a (click)="view(dischargevehicle)"  data-toggle="modal"  placement="top" tooltip="View"
                                    data-target="#ViewDischargeVehicle"><i class="ion-ios-eye"></i></a></li>
                                 <li class="list-inline-item" *ngIf="privileges.isEdit"><a (click)="editdischargevehicle(dischargevehicle.dischargeVehicleId)" placement="top" tooltip="Edit"><i class="ion-edit"></i></a></li>
                                 <li class="list-inline-item" *ngIf="privileges.isDelete"><a (click)="deletedischargevehicle(dischargevehicle)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del" (click)="deletemessageclear()"><i class="ion-trash-a"></i></a></li>
                                 <li *ngIf="!privileges.isView && !privileges.isEdit && !privileges.isDelete">NA</li>
                              </ul>
                           </td>
                        </tr>
                        <tr *ngIf="length==0">
                           <td colspan="10" class="data-error">No data available in the table</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-md-12 text-right">
                  <pagination *ngIf="config.paging && length > 0"
                  class="pagination-sm"
                  [(ngModel)]="page"
                  [totalItems]="length"
                  [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                  </pagination>
               </div>
               <div class="modal " id="del" role="dialog"  tabindex='-1'>
                  <div class="modal-dialog mstyle modal-country">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title">Delete Item</h4>
                           <button type="button" class="close" data-dismiss="modal" (click)="deletemessageclear()">&times;</button>
                           <hr>
                        </div>
                        <div class="modal-body">
                           <p *ngIf="deletemessage">{{deletemessage}}</p>
                           <p *ngIf="deletemessage==''">Are you sure you want to delete this Discharge Vehicle?</p>
                        </div>
                        <div class="modal-footer">
                           <button *ngIf="deletemessage==''" type="button" class="btn btn check-no" (click)="deletemessageclear()" data-dismiss="modal">No</button>
                           <button *ngIf="deletemessage==''" type="button" class="btn btn check-footer" (click)="deletedischargevehicleconfirm(dischargevehicle_deleted_id)">Yes</button>
                           <button *ngIf="deletemessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--    </div> -->
            </div>
            <!-- view company modal -->
            <div id="ViewCompanyModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-country ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Filter by Company</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-detail">
                        <div class="container filter-down">
                           <label class="container filter-down">
                           Select All
                           <input type="checkbox" [(ngModel)]="selectedcompanyAll" value ="" (change)="selectAll($event);"/>   <span class="checkmark"></span>
                           <span class="checkmark add-cust"></span>
                           </label>
                           <div class="checkbox filter-down" *ngFor="let list of companyGroups">
                              <label class="container">{{list.name}}
                              <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event);">
                              <span class="checkmark add-cust"></span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer"  (click)="apply()" >Apply</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view company modal -->
            <!-- view driver modal -->
            <div id="ViewDischargeVehicle" class="modal models" role="dialog" tabindex='-1'>
               <div class="modal-dialog modal-bu">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">View Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body">
                        <br>
                        <div class="bu-container">
                           <form [formGroup]="viewDischargeVehicleForm">
                              <div class="form-group row">
                                 <label for="text" class="col-sm-4 col-form-label" style="font-size:14px">Registration No</label>
                                 <div class="col-sm-8">
                                    <input type="text"  readonly class="form-control bu-control"
                                    id="regNo" [formControl]="viewDischargeVehicleForm.controls['regNo']"
                                    name="regNo" [(ngModel)]="regNo" >
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="text" class="col-sm-4 col-form-label" style="font-size:14px"> Registration Name (Company)</label>
                                 <div class="col-sm-8">
                                    <input type="text" readonly id="companyName" [formControl]="viewDischargeVehicleForm.controls['companyName']" class="form-control bu-control"
                                    name="regNo" [(ngModel)]="companyName">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="text" class="col-sm-4 col-form-label" style="font-size:14px">  Address</label>
                                 <!-- <input type="label" id="companyName" [formControl]="viewDischargeVehicleForm.controls['companyName']" class="form-control bu-control"
                                    name="companyName" [(ngModel)]="companyName"> -->
                                 <div class="col-sm-8">
                                    <textarea class="form-control addr-control  bu-control" readonly id="address" [formControl]="viewDischargeVehicleForm.controls['address']"
                                    name="address" [(ngModel)]="address"></textarea>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view driver modal -->
            <!-- view attachment modal -->
            <div id="ViewAttachmentModal" class="modal  models" role="dialog" tabindex='-1'>
               <div class="modal-dialog ">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">View Attachment</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                     </div>
                     <div class="modal-body view-attach-modal">
                        <div *ngIf="attachmentmessage == ''" class="row mod">
                           <br>
                           <div  *ngFor="let list of attachmentGroup"  class="col-sm-12 col-md-12 view-attach-padding">
                              <div class="col-sm-1 col-md-1">
                                 <span *ngIf=" list.ext === 'png' || list.ext === 'jpeg' || list.ext === 'jpg' ">
                                 <img src="assets/img/mimage.png">
                                 </span>
                                 <span *ngIf=" list.ext === 'doc' || list.ext === 'txt' || list.ext === 'docx' " >
                                 <img src="assets/img/mword.png">
                                 </span>
                                 <span *ngIf=" list.ext === 'pdf' ">
                                 <img src="assets/img/mpdf.png">
                                 </span>
                                 <span *ngIf=" list.ext === 'xlsx' || list.ext === 'xls' ">
                                 <img src="assets/img/mexcel.png">
                                 </span>
                                 <span *ngIf=" list.ext === 'csv' ">
                                 <img src="assets/img/mcsv.png">
                                 </span>
                              </div>
                              <div class="col-sm-5 col-md-5 view-attach-margin">
                                 <label class="label-font">{{list.fileName}}</label>
                              </div>
                              <div class="col-sm-3 col-md-3" class="icon-span">
                                 <label class="label-font">Added on {{list.createdDate | date: 'dd-MMM-yyyy'}}</label>
                                 <a href= {{API_URL+list.id}}>  <i class="fa fa-download fa-down" tooltip="Download"></i></a>
                                 <i class="ion-trash-a ion-bin" (click)="deleteattachment(list.id)" (click)="deleteattachmentmessageclear()" tooltip="Delete" data-toggle="modal" data-target="#delattachment"  ></i>
                              </div>
                           </div>
                        </div>
                        <div *ngIf="attachmentmessage != ''" style="text-align:center">
                           {{attachmentmessage}}
                        </div>
                     </div>
                     <div class="modal-footer">
                        <button  type="button" class="btn btn-info check-footer" data-dismiss="modal" >Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- view attachment modal -->
            <div class="modal" id="delattachment" role="dialog"  tabindex='-1'>
               <div class="modal-dialog mstyle modal-country" >
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Delete Item</h4>
                        <button type="button" class="close" data-dismiss="modal" (click)="deleteattachmentmessageclear()">&times;</button>
                        <!-- <h4 class="modal-title">DOT</h4> -->
                        <hr>
                     </div>
                     <div class="modal-body">
                        <p *ngIf="deleteattachmentmessage">{{deleteattachmentmessage}}</p>
                        <p *ngIf="deleteattachmentmessage==''">Are you sure you want to delete this file?</p>
                     </div>
                     <div class="modal-footer">
                        <button *ngIf="deleteattachmentmessage==''" type="button" class="btn btn check-no" (click)="deleteattachmentmessageclear()" data-dismiss="modal">No</button>
                        <button *ngIf="deleteattachmentmessage==''" type="button" class="btn btn check-footer" (click)="deleteattachmentconfirm(attachment_deleted_id)" data-dismiss="modal" >Yes</button>
                        <button *ngIf="deleteattachmentmessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>
