<span class="manager col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">View Transfer Receipt</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	          
	            <div class="panel-body">
	                <transferreceipt-form [pr]="pr" [page]="page">

                    </transferreceipt-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>