<form [ngSwitch]="loading" [formGroup]="dischargevehicleForm" (ngSubmit)="onSubmit(dischargevehicleForm.value)" class="form-horizontal" method="post">
        <div *ngSwitchCase="true">
            <overlay-loader></overlay-loader>
        </div>
        <div *ngSwitchCase="false">
            <div class="row m-btm10">

                <div class="row bunit">

                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">


                             <label for="name">Registration Number <small class="text-danger">*</small></label>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">


                            <input type="text" maxlength=15  id="name" class="form-control" [formControl]="dischargevehicleForm.controls['name']" />
                            <small *ngIf="dischargevehicleForm.controls['name'].hasError('required') && (dischargevehicleForm.controls['name'].touched || formSubmited)" class="error">{{nameReq}}</small>
                            <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

                          <label for="country" class="dis-text">Transport Company Name <small class="text-danger">*</small></label>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                            <select class="form-control" id="companyId"
                            [formControl]="dischargevehicleForm.controls['companyId']" >
                                    <option value="">Select</option>
                                <option *ngFor="let cl of companyList" [value]="cl.id">{{cl.name}}</option>
                            </select>
                            <small *ngIf="dischargevehicleForm.controls['companyId'].hasError('required') && (dischargevehicleForm.controls['companyId'].touched || formSubmited)" class="error">{{companyReq}}</small>
                            <small *ngFor="let error of error.companyId" class="error">{{error}}</small>

                        </div>
                    </div>


                </div>

                <div class="row bunit">

                    <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                             <label for="address">Address <small class="text-danger"></small></label>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                            <textarea rows="4" cols="50" id="address" class="text-area" [formControl]="dischargevehicleForm.controls['address']" >
                                </textarea>
                            <small *ngIf="dischargevehicleForm.controls['address'].hasError('required') && (dischargevehicleForm.controls['address'].touched || formSubmited)" class="error"></small>
                            <small *ngFor="let error of error.address" class="error">{{error}}</small>

                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                             <div><br /><br /></div>


                                    <div>

                                        <input name="file" type="file" (change)="onChange($event)" [formControl]="dischargevehicleForm.controls['FileType']" multiple/>
                                        <br>
                                        <ng-container *ngIf="ErrorList.length==1">
                                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                                        </ng-container>
                                        <ng-container *ngIf="ErrorList.length>1">
                                            <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                                        </ng-container>

                                    </div>


                             <br>
                             <div class="clearfix"></div>
                                <!-- <div class="row"> -->
                                    <div class="text-right" *ngIf='savebutton == true'>
                                        <button type="submit" class="btn check-footer">Save</button>
                                        <button type="reset" (click)="clearmsgs()" class="btn check-no" value="Reset">Clear</button>
                                    </div>
                               <!--  </div> -->
                                 </div>
                            </div>
                        </form>