<form [ngSwitch]="loading" [formGroup]="vehiclemakemodelForm" (ngSubmit)="onSubmit(vehiclemakemodelForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">
        <div class="row m-btm10">

            <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <label for="name">Vehicle Make <small class="text-danger">*</small></label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <input type="text"   id="make" class="form-control" [formControl]="vehiclemakemodelForm.controls['make']" />
                        <small *ngIf="vehiclemakemodelForm.controls['make'].hasError('required') && (vehiclemakemodelForm.controls['make'].touched || formSubmited)" class="error">{{makeReq}}</small>
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">

                    <div class="col-xs-12 col-sm-12 col-md-4">
                    <label for="address">Vehicle Model </label>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <input type="text"   id="model" class="form-control" [formControl]="vehiclemakemodelForm.controls['model']" />
                        <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                    </div>

                </div>

            </div>

            <div class="row bunit">


                <div class="col-xs-12 col-sm-12 col-md-6">

                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <label for="staticEmail"  style="font-size:14px">Description</label>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <textarea rows="4" cols="50" id="description" class="text-area" [formControl]="vehiclemakemodelForm.controls['description']">
                            </textarea>
                        </div>

                </div>


        </div>

            <div class="clearfix"></div>
            <div><br /><br /></div>


                   <div>
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="vehiclemakemodelForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>
                </div>




                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
                             </div>
                        </div>
                    </form>