<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Edit Vehicle</span>
<div class="container-fluid main-back">
	<div class="row">
	    <div class="col-md-12">
	        <section class="panel">
	            <header class="manager-top m-btm20">
	            	
	            </header>
	            <div class="panel-body">
	                <div *ngIf="success" id="success" class="alert alert-success add-issue-success">{{success}}</div>
	                <vehicle-form [vehicle]="vehicle | async" [error]="error" [page]="page" (saved)="onSave($event)">

                    </vehicle-form>
	            </div>
	        </section>
	    </div>
	</div>
</div>