<!-- <button *ngIf="page == 'edit'" (click)="print()">print</button> -->
<form [ngSwitch]="loading" autocomplete="off" [formGroup]="trForm" (ngSubmit)="onSubmit(trForm.value)" class="form-horizontal" method="post">
        <div *ngSwitchCase="true">
           <overlay-loader></overlay-loader>
        </div>
        <div *ngSwitchCase="false">
           <div class="row m-btm10">
              <div *ngIf="isEdit==true">
                 <div class="row bunit">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                          <div class="checkbox filter-down">
                             <label>Transfer Id:
                             {{transferId}}
                             </label>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6" *ngIf='!isTanktoTank'>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <div class="checkbox filter-down">
                          <label class="container">Lubricant
                          <input type="checkbox" [formControl]="trForm.controls['IsLubricant']"   (change)="selectAll($event);"/>
                          <span class="checkmark add-cust"></span>
                          </label>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Transfer Type<small class="text-danger"> *</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" (change) = "onTransferTypeChange($event.target.value)" id="TransferTypeId" [ngClass]="{'hide-select-arrow': page == 'edit'}"
                          [formControl]="trForm.controls['TransferTypeId']" >
                          <option value="">Select</option>
                          <option *ngFor="let type of typeList" [value]="type.id">{{type.name}}</option>
                       </select>
                       <small *ngIf="trForm.controls['TransferTypeId'].hasError('required') && (trForm.controls['TransferTypeId'].touched || formSubmited)" class="error">{{typeReq}}</small>
                       <small *ngFor="let error of error.TransferTypeId" class="error">{{error}}</small>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">Date<small class="text-danger"></small></label>
                    </div>
                    <div *ngIf="page == 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <my-date-picker [options]="myDatePickerOptions" [formControl]="trForm.controls['Date']" (dateChanged)="onDateChanged($event)"
                       [(ngModel)]="Date" name="Date"></my-date-picker>
                       <small *ngIf="dateError != ''" class="error">{{dateError}}</small>
                    </div>
                    <div *ngIf="page != 'add'" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input type="text" readonly class="form-control" [ngModel] = "dateViewPage" [ngModelOptions]="{standalone: true}">
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div *ngIf='!isTanktoTank' class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Transfer Requested By <small class="text-danger">*</small></label>
                    </div>
                    <div *ngIf='isTanktoTank' class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Site <small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="RequestSiteId" (change)="getRequestedSite($event.target.value)"
                       [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="trForm.controls['RequestSiteId']" >
                       <option value="">Select</option>
                       <option *ngFor="let site of siteList" [value]="site.siteId">{{site.name}}</option>
                       </select>
                       <small *ngIf="trForm.controls['RequestSiteId'].hasError('required') && (trForm.controls['RequestSiteId'].touched || formSubmited)" class="error">{{siteReq}}</small>
                       <small *ngFor="let error of reqsiteError" class="error">{{error}}</small>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="name">POL<small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select  formControlName="POLId"  class="form-control" (change)="getPolId($event.target.value)" [ngClass]="{'hide-select-arrow': page == 'edit'}">
                          <option value="">Select</option>
                          <option *ngFor="let pol of pollist" [value]="pol.id">{{pol.name}}
                       </select>
                       <div *ngIf="fromSiteId>0 && polId>0 && !isTanktoTank">
                          <label for="site"><small class="text-success">{{notificationMessage}}</small></label>
                       </div>
                       <small *ngIf="trForm.controls['POLId'].hasError('required') && (trForm.controls['POLId'].touched || formSubmited)" class="error">{{polReq}}</small>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="!isTanktoTank">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <label for="site">Transfer From <small class="text-danger">*</small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <select class="form-control" id="FromSiteId" (change)="getFromSite($event.target.value)"
                        [ngClass]="{'hide-select-arrow': page == 'edit'}" [formControl]="trForm.controls['FromSiteId']" disabled >
                        <option value="">Select</option>
                        <option *ngFor="let site of fromsiteList" [value]="site.siteId">{{site.name}}</option>
                       </select>
                       <small *ngIf="trForm.controls['FromSiteId'].hasError('required') && (trForm.controls['FromSiteId'].touched || formSubmited)" class="error">{{fromsiteReq}}</small>
                       <small *ngFor="let error of siteError" class="error">{{error}}</small>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="isTanktoTank">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                     <label for="site">Transfer From Tank <small class="text-danger">*</small></label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                     <select class="form-control" id="FromTankId"  [formControl]="trForm.controls['fromTank']" (change)="getFromTank($event.target.value)"
                        [ngClass]="{'hide-select-arrow': page == 'edit'}">
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let tank of tankList" [value]="tank.storageTankId">{{tank.tankName}}</option>
                     </select>
                     <small *ngIf="fromTankRequired != ''" class="error">{{fromTankRequired}}</small>
                  </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                       <div *ngIf="isLubricantSection==false && !isTanktoTank">
                          <label for="latitude">Requested Quantity<small class="text-danger">*</small></label>
                       </div>
                       <div *ngIf="isTanktoTank">
                           <label for="latitude">Quantity<small class="text-danger">*</small></label>
                        </div>
                       <div *ngIf="isLubricantSection==true">
                          <label for="latitude">Number of Packs<small class="text-danger"></small></label>
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                       <input  maxlength="10" (keypress)="numberOnly($event)" (keyup)="onTextChange($event.target.value); quantityAvailabilityCheck($event.target.value)" id="RequestedQuantity" class="form-control" [formControl]="trForm.controls['RequestedQuantity']" />
                       <span class="error" *ngIf="qtyalertmessage != ''">{{qtyalertmessage}}</span>
                       <span class="error" *ngIf="nullalertmessage != ''">{{nullalertmessage}}</span>
                       <div *ngIf="tankAvailabiltyMsg != '' ">
                           <label for="quantity"><small class="text-success">{{tankAvailabiltyMsg}}</small></label>
                       </div>
                       <small *ngIf="quantityUnavailableMessage != ''" class="error">{{quantityUnavailableMessage}}</small>
                    </div>
                 </div>
              </div>
              <div class="row bunit">
               <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="isTanktoTank">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                     <label for="site">Transfer To Tank <small class="text-danger">*</small></label>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                     <select class="form-control" id="ToTankId" [formControl]="trForm.controls['toTank']" (change)="getToTank($event.target.value)"
                        [ngClass]="{'hide-select-arrow': page == 'edit'}" >
                        <option value="" selected disabled>Select</option>
                        <option *ngFor="let tank of tankList" [value]="tank.storageTankId">{{tank.tankName}}</option>
                     </select>
                     <small *ngIf="toTankRequired != ''" class="error">{{toTankRequired}}</small>
                     <small *ngFor="let error of siteError" class="error">{{error}}</small>
                     <small *ngIf="toTankErrorMsg != ''" class="error">{{toTankErrorMsg}}</small>
                  </div>
               </div>
              </div>
              <hr>
              <div class="row bunit">
                 <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                       <label for="name">Remarks<small class="text-danger"></small></label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                       <textarea rows="4" cols="50" id="Remarks" class="text-area" [formControl]="trForm.controls['Remarks']" >
                       </textarea>
                    </div>
                 </div>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="row bunit"></div>
              <div>
                 <div>
                    <div *ngIf="page != 'edit'">
                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="trForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                       </ng-container>
                       <ng-container *ngIf="ErrorList.length>1">
                          <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                       </ng-container>
                    </div>
                 </div>
              </div>
              <div class="text-right" *ngIf='savebutton == true'>
                 <button *ngIf="page != 'edit'" type="submit" class="btn btn check-footer m-top10">Save</button>
                 <button *ngIf="page != 'edit'" class="btn  check-no m-top10" type="button" value="Reset" (click)="clearmsgs()">Clear</button>
              </div>
           </div>
        </div>
    </form>

    <div id="print-section" class="modal models">
            <div class="modal-dialog modal-bu">
               <div class="modal-content modal-margin">
                  <div class="modal-header">
                     <h4 class="modal-title">Transfer Request</h4>
                     <hr>
                  </div>
                  <div class="modal-body">
                     <div class="bu-container">
                        <form>
                           <div class="form-group row">
                              <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Transfer ID</label>
                              <div class="col-sm-8">
                                 {{transferRequestPrintData.transferId}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Transfer Type</label>
                              <div class="col-sm-8" *ngIf="transferRequestPrintData.transferType">
                                 {{transferRequestPrintData.transferType.name}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Date</label>
                              <div class="col-sm-8">
                                 {{transferRequestPrintData.date | date: 'dd/MM/yyyy'}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Transfer Requested By</label>
                              <div class="col-sm-8">
                                 {{transferRequestPrintData.requestedSite.name}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">POL</label>
                              <div class="col-sm-8" *ngIf="transferRequestPrintData.pol">
                                 {{transferRequestPrintData.pol.name}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Requested Quantity</label>
                              <div class="col-sm-8">
                                 {{transferRequestPrintData.requestedQuantity}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Transfer From</label>
                              <div class="col-sm-8" *ngIf="transferRequestPrintData.fromSite">
                                 {{transferRequestPrintData.fromSite.name}}
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Remarks</label>
                              <div class="col-sm-8">
                                 {{transferRequestPrintData.remarks}}  
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
    </div>
