            <div class="col-md-12">

                <div class="bg" *ngIf = 'isChartDetails'>

                    <h5>Diesel,Gasoline, Jet A1 stock by location </h5>
                    <div style="display: block">
                    <canvas baseChart
                        class="chart"
                        [datasets]="lineChartDataset"
                        [colors]="color"
                        [labels]="barChartLabels"
                        [options]="options"
                        [chartType]="'bar'">
                    </canvas>
            </div>


                    <!-- <div class="dashdate text-center">
                        <my-date-picker [options]="myDatePickerOptions"
                        (dateChanged)="onDateChanged($event, 'GraphADate')"
                        [(ngModel)]="GraphADate" name="GraphADate">
                        </my-date-picker>
                    </div> -->

                </div>

        </div>

<!-- 
            <div class="col-md-6">

                <div class="bg" *ngIf = 'isChartDetails' >
                    <h5>Diesel,Gasoline, Jet A1 stock by location </h5>
                    <div style="display: block">
                    <canvas baseChart
                        class="chart"
                        [datasets]="stockBarChart"
                        [colors]="color1"
                        [labels]="barChartLabels"
                        [options]="options1"
                        [chartType]="'bar'">
                    </canvas>
                    </div>


                </div>

            </div> -->