
<div class="row">
    <div class="col-md-12 dash-margin">
       <div class="">
          <i class="fa"></i>
          <div style="height:90vh" *ngIf='_markers.length>0'>
             <x-map #xmap [Options]="_options" [Box]="_box">
             <x-map-marker *ngFor="let m of _markers; let i=index" [Latitude]="m.latitude" [Longitude]="m.longitude" [Title]="m.name" >
             <x-info-box class="map-align"
             [DisableAutoPan]="true"
             [Title]=
             "
             '
                 <h5><strong>'+m.name+'</strong></h5>
             '
             "
             [Description]=
           
 
             "
             '<table class=table style=position:relative;top:-11px>
                 <tr>
                     <th>POL</th>
                     <th>Stock</th>
                     <th>Fuel</th>
                 </tr>
 
                <tr class=text-center>
                    <td>Petrol</td>
                    <td>'+ m.stockQuantityPetrol + '</td>
                    <td>' + m.fuelIssuedQtyPetrol + '</td>
                </tr>
 
                <tr class=text-center>
                    <td>Diesel</td>
                    <td>' + m.stockQuantityDiesel + '</td>
                    <td>' + m.fuelIssuedQtyDiesel + '</td>
                </tr>
 
                <tr class=text-center>
                    <td>Jet A-1</td>
                    <td>' + m.stockQuantityJet + '</td>
                    <td>' + m.fuelIssuedQtyJet + '</td>
                </tr>
                 
             </table>'
             "
             >
             <x-info-box-action [Label]="'Click Me'" (ActionClicked)="gotoTank()"></x-info-box-action>
             </x-info-box>
             </x-map-marker>
             </x-map>
          </div>
          <!-- <div class="text-right">
             <button class="btn check-footer m-topdash" type="" (click)="shifttotank()">Shift to tank</button>
             <button class="btn  check-no m-topdash" type="" (click)="presentationmode()">Presentation mode</button>
          </div> -->
       </div>
    </div>
 </div>
 