<form [ngSwitch]="loading" [formGroup]="aircraftForm" (ngSubmit)="onSubmit(aircraftForm.value)" class="form-horizontal" method="post">


        <div class="row m-btm10">

        <div class="aircraf-bottom">

             <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label for="name">Tail Registration No: <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <input type="text" maxlength="20"  id="flightno" class="form-control" [formControl]="aircraftForm.controls['flightno']" />
                    <small *ngIf="aircraftForm.controls['flightno'].hasError('required') && (aircraftForm.controls['flightno'].touched || formSubmited)" class="error">{{flightReq}}</small>
                    <!-- <small *ngFor="let error of error.flightno" class="error">{{error}}</small> -->
                </div>

            </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12">
                     <label for="address">Aircraft Type <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <select class="form-control" id="aircraftTypeId"
                    [formControl]="aircraftForm.controls['aircraftTypeId']" >
                            <option value="">Select</option>
                           <option *ngFor="let item of aircrafttypeList" [value]="item.aircraftTypeId">{{item.aircraftTypeName}}</option>
                     </select>
                    <small *ngIf="aircraftForm.controls['aircraftTypeId'].hasError('required') && (aircraftForm.controls['aircraftTypeId'].touched || formSubmited)" class="error">{{aircrafttypeReq}}</small>
                    <!-- <small *ngFor="let error of error.aircraftTypeId" class="error">{{error}}</small> -->
                </div>
            </div>

            </div>



        <div class="row bunit">

                <div class="col-xs-12 col-sm-12 col-md-6">

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label for="callsign">Call Sign/Flight No: <small class="text-danger">*</small></label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <input type="text" maxlength="20"  id="callsign" class="form-control" [formControl]="aircraftForm.controls['callsign']" />
                                <small *ngIf="aircraftForm.controls['callsign'].hasError('required') && (aircraftForm.controls['callsign'].touched || formSubmited)" class="error">{{callsignReq}}</small>
                                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>
                            </div>

                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-6">

                            <div class="col-xs-12 col-sm-12 col-md-12">
                             <label for="address">Max Fuel Fill Capacity <small class="text-danger">*</small></label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <input type="text" step="any" maxlength="15"  (keypress)="_keyPress($event)" class="form-control" name="maxfuelfillcapacity" [(ngModel)]="maxfuelfillcapacity"
                                [formControl]="aircraftForm.controls['maxfuelfillcapacity']" >



                                <small *ngIf="aircraftForm.controls['maxfuelfillcapacity'].hasError('required') && (aircraftForm.controls['maxfuelfillcapacity'].touched || formSubmited)" class="error">{{capacityReq}}</small>
                                <!-- <small *ngFor="let error of error.firstKey" class="error">{{error}}</small> -->
                            </div>

                        </div>

                    </div>
        </div>

        <div class="separate"></div>

    <div class="aircraf-top">
        <div class="row bunit">

          <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="country">Customer <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">

                <select class="form-control" id="customer"
                [formControl]="aircraftForm.controls['customer']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of customerList" [value]="item.customerId">{{item.firstName}} {{item.expansion}}</option>
                 </select>
                <small *ngIf="aircraftForm.controls['customer'].hasError('required') && (aircraftForm.controls['customer'].touched || formSubmited)" class="error">{{customerReq}}</small>
                <!-- <small *ngFor="let error of error.firstKey" class="error">{{error}}</small> -->
            </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12">
                 <label for="country">Department <small class="text-danger">*</small></label>
               </div>

               <div class="col-xs-12 col-sm-12 col-md-12">

                    <select class="form-control" id="department"
                    [formControl]="aircraftForm.controls['department']" >
                            <option value="">Select</option>
                            <option *ngFor="let item of departmentList" [value]="item.id">{{item.name}}</option>
                    </select>
                    <small *ngIf="aircraftForm.controls['department'].hasError('required') && (aircraftForm.controls['department'].touched || formSubmited)" class="error">{{departmentReq}}</small>
                    <!-- <small *ngFor="let error of error.firstKey" class="error">{{error}}</small> -->
               </div>

             </div>
        </div>




        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

              <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="country">Base Station <small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">

                <select class="form-control" id="basestation"
                [formControl]="aircraftForm.controls['basestation']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of basestationList" [value]="item.siteId">{{item.name}}</option>
                 </select>
                <small *ngIf="aircraftForm.controls['basestation'].hasError('required') && (aircraftForm.controls['basestation'].touched || formSubmited)" class="error">{{basestationReq}}</small>
                <!-- <small *ngFor="let error of error.firstKey" class="error">{{error}}</small> -->
            </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="col-xs-12 col-sm-12 col-md-12">
                 <label for="section">Section <small class="text-danger">*</small></label>
               </div>

               <div class="col-xs-12 col-sm-12 col-md-12">


                 <select class="form-control" id="section"
                 [formControl]="aircraftForm.controls['section']" >
                         <option value="">Select</option>
                        <option *ngFor="let item of sectionList" [value]="item.sectionId">{{item.sectionName}}</option>
                  </select>
                 <small *ngIf="aircraftForm.controls['section'].hasError('required') && (aircraftForm.controls['section'].touched || formSubmited)" class="error">{{sectionReq}}</small>
                 <!-- <small *ngFor="let error of error.section" class="error">{{error}}</small> -->
             </div>
             </div>
        </div>


        <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6">

             <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="country">Ownership Info<small class="text-danger">*</small></label>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">

                <select class="form-control" id="ownershipinfo"
                [formControl]="aircraftForm.controls['ownershipinfo']" >
                        <option value="">Select</option>
                       <option *ngFor="let item of ownershipinfoList" [value]="item.ownershipId">{{item.name}}</option>
                 </select>
                <small *ngIf="aircraftForm.controls['ownershipinfo'].hasError('required') && (aircraftForm.controls['ownershipinfo'].touched || formSubmited)" class="error">{{ownershipReq}}</small>
                <!-- <small *ngFor="let error of error.firstKey" class="error">{{error}}</small> -->
            </div>
            </div>
        </div>

    </div>
            <div class="clearfix"></div>
            <div><br /><br /></div>



                       <input name="file"  type="file" (change)="onChange($event)" [formControl]="aircraftForm.controls['FileType']" multiple/>
                       <br>
                       <ng-container *ngIf="ErrorList.length==1">
                        <small *ngFor="let error of firstKey" class="error file-size-error">{{error}}</small>
                    </ng-container>
                    <ng-container *ngIf="ErrorList.length>1">
                        <small *ngFor="let error of firstKey" class="error file-size-error">{{error}}<br /></small>
                    </ng-container>





                         <div class="clearfix"></div>
                            <!-- <div class="row"> -->
                                <div class="text-right" *ngIf='savebutton == true'>
                                    <button type="submit" class="btn check-footer m-top10">Save</button>
                                    <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                                </div>
                           <!--  </div> -->
    </div>

                    </form>