
<span class="manager header-align col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Transfer Request</span>

<div *ngIf="privileges" class="container-fluid main-back">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="manager-top m-btm20">

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 align-padding">

                                 <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-top10 no-padding  text-left">
                                        Show Entries
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 no-padding page-dropdown">
                                        <select class="select-control" (change)="onSelectChange($event)">
                                                <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
                                        </select>
                                    </div>
                        </div>


                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-10 align-padding">
                                <button class="btn  m-btm10 pull-right purchase-btn">
                                        <img src="../assets/img/mexcel.svg" data-toggle="modal"
                                        data-target="#Export" style="width:41px;">
                                </button>

                                <button *ngIf="privileges.isAdd" class="btn add-manager pull-right margin-top-10" (click)="addtransferrequest()" id="add_user">
                                        <i class="fa fa-plus filter-icon" aria-hidden="true"></i><span>Add New</span>
                                </button>

                            <div class="search-block search-margin date-margin">
                                <!-- <input *ngIf="config.filtering" placeholder="Search"
                                [ngTableFiltering]="config.filtering"
                                class="form-control search-border"
                                (tableChanged)="onChangeTable(config)"/>
                                <div class="search-btn">
                                        <button class="btn btn-default ser" type="submit">
                                                <i class="fas fa-search"></i>
                                        </button>
                                </div> -->
                                <!-- from date -->
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div>
                                    <label for="name">From Date</label>
                                    </div>
                                    <div >
                                        <my-date-picker [options]="searchFromDatePickerOptions" (dateChanged)="onSearchDateChanged($event, 'fromDate')"
                                        [(ngModel)]="initialSearchFromDate" name="initialSearchFromDate">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <!-- to date -->
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div>
                                    <label for="name">To Date</label>
                                    </div>
                                    <div >
                                        <my-date-picker [options]="searchToDatePickerOptions" (dateChanged)="onSearchDateChanged($event, 'toDate')"
                                        [(ngModel)]="initialSearchToDate" name="initialSearchToDate">
                                        </my-date-picker>
                                    </div>
                                </div>

                            </div>


                        </div>
            </div>


            <section class="panel">


                <div class="panel-body">

                    <div class="table-scroll table-margin">

                        <table class="table table-bordered cust-table table-hover table-form">
                         <thead>
                             <tr>
                                     <th *ngFor="let column of columns"  ngClass="{{column.className || ''}}">
                                             {{column.title}}

                                             <i *ngIf="config && column.sort !== '' && column.sort!= false"
                                             tooltip="Sort"   class="sort fa fa-sort" [ngTableSorting]="config" [column]="column"
                                              (click)="Sort(column.name,column.sort)"></i>

                                              <i *ngIf="config && column.name=='FromSite' && column.filter == true" class="issue-filter fa fa-filter"
                                              [ngTableFiltering]="config.filtering"
                                              data-toggle="modal" tooltip="Filter"
                                              data-target="#ViewSiteModal"></i>

                                              <i *ngIf="config && column.name=='POL' && column.filter == true" class="issue-filter fa fa-filter"
                                              [ngTableFiltering]="config.filtering"
                                              data-toggle="modal" tooltip="Filter"
                                              data-target="#ViewPOLModal"></i>

                                              <i *ngIf="config && column.name=='Status' && column.filter == true" class="issue-filter fa fa-filter"
                                              [ngTableFiltering]="config.filtering"
                                              data-toggle="modal" tooltip="Filter"
                                              data-target="#ViewStatusModal"></i>

                                              <i *ngIf="config && column.name=='ApprovedBy' && column.filter == true" class="issue-filter fa fa-filter"
                                              [ngTableFiltering]="config.filtering"
                                              data-toggle="modal" tooltip="Filter"
                                              data-target="#ViewApproverModal"></i>


                                            </th>


                             </tr>
                         </thead>

                            <tbody>

                                <div *ngIf="loading">
                                    <img  class="loading-image" src="assets/img/loading.webp" alt="Loading..." />
                                  </div>

                                   <tr *ngFor="let item of transferrequest; let i = index" >
                                      <td>{{i+1}}</td>
                                      <td>{{item.transferId}}</td>
                                      <td>{{item.transferType.name}}</td>
                                      <td>{{item.requestedDate}}</td>
                                      <td *ngIf ="item.fromSite == null">NA</td>
                                      <td *ngIf ="item.fromSite != null">{{item.fromSite.name}}</td>
                                      <td *ngIf ="item.requestedSite == null">NA</td>
                                      <td *ngIf ="item.requestedSite != null">{{item.requestedSite.name}}</td>
                                      <td *ngIf ="item.pol == null">NA</td>
                                      <td *ngIf ="item.pol != null">{{item.pol.name}}</td>
                                      <td>{{item.requestedQuantity}}</td>
                                      <td *ngIf ="item.approvedStatus == null">NA</td>
                                      <td *ngIf ="item.approvedStatus != null">{{item.approvedStatus.name}}</td>
                                      <td *ngIf ="item.users == null">NA</td>
                                      <td *ngIf ="item.users != null">{{item.users.firstName}}</td>
                                      <td class="text-center actions">
                                           <ul class="list-inline">
                                            <li class="list-inline-item" *ngIf = "item.isAttachmentAvailable == true && privileges.isView">
                                                <a  (click)="attachment(item.id)" placement="top" data-toggle="modal" tooltip="View Attachment"
                                                data-target="#ViewAttachmentModal">
                                                <i class=" fa fa-paperclip"></i>
                                                    </a>
                                                </li>
                                                <!-- <li class="list-inline-item"><a (click)="printDiv('printableArea', item)"  data-toggle="modal" placement="top" tooltip="view">print</a></li> -->
                                               <li *ngIf="privileges.isView" class="list-inline-item"><a (click)="edittransferrequest(item.id)" placement="top" tooltip="view"><i class="ion-ios-eye"></i></a></li>
                                               <li *ngIf="privileges.isDelete" class="list-inline-item"><a (click)="deletetr(item)" placement="top" tooltip="Delete" data-toggle="modal" data-target="#del" (click)="deletemessageclear()"><i class="ion-trash-a"></i></a></li>
                                               <li *ngIf="!privileges.isView && !privileges.isDelete">NA</li>
                                           </ul>
                                       </td>
                                   </tr>
                                   <tr *ngIf="length==0">
                                       <td colspan="10" class="data-error">No data available in the table</td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="col-md-12 text-right">
                        <pagination *ngIf="config.paging && length > 0"
                                   class="pagination-sm"
                                   [(ngModel)]="page"
                                   [totalItems]="length"
                                   [itemsPerPage]="itemsPerPage"
                                   [maxSize]="maxSize"
                                   [boundaryLinks]="true"
                                   [rotate]="false"
                                   (pageChanged)="onChangeTable(config, $event)"
                                   (numPages)="numPages = $event">
                       </pagination>
                    </div>

                    <div class="modal" id="del" role="dialog"  tabindex='-1'>

                        <div class="modal-dialog mstyle modal-country">

                          <div class="modal-content">

                            <div class="modal-header">

                                 <h4 class="modal-title">Delete Item</h4>

                                 <button type="button" class="close" data-dismiss="modal">&times;</button>

                                  <hr>

                            </div>

                            <div class="modal-body">
                              <p *ngIf="deletemessage">{{deletemessage}}</p>
                              <p *ngIf="deletemessage==''">Are you sure you want to delete this Transfer Request?</p>
                            </div>

                             <div class="modal-footer">
                                 <button *ngIf="deletemessage==''" type="button" class="btn btn check-no" (click)="deletemessageclear()" data-dismiss="modal">No</button>
                                 <button *ngIf="deletemessage==''" type="button" class="btn btn check-footer" (click)="deletetrconfirm(tr_deleted_id)">Yes</button>
                                 <button *ngIf="deletemessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
                             </div>

                          </div>

                        </div>

                    </div>
                    <!--    </div> -->

                   </div>

               <!-- view Purchase Receipt modal -->
               <div id="printableArea" class="modal models" role="dialog" tabindex='-1'>
                <div class="modal-dialog modal-bu">

                    <div class="modal-content modal-margin">

                            <div class="modal-header">

                                    <h4 class="modal-title">View Details</h4>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <hr>
                            </div>

                            <div class="modal-body">

                                <div class="bu-container">

                                        <form [formGroup]="viewTRForm">

                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Transfer ID</label>
                                                <div class="col-sm-8">
                                                  <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['TransferId']" > -->
                                                </div>
                                              </div>

                                               <div class="form-group row">
                                                <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Transfer Type</label>
                                                <div class="col-sm-8">
                                                  <!-- <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['TransferType']" > -->
                                                </div>
                                              </div>

                                                   <div class="form-group row">
                                                        <label for="staticEmail" class="col-sm-4 col-form-label" style="font-size:14px">Date</label>
                                                        <div class="col-sm-8">
                                                          <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['Date']" >
                                                        </div>
                                                      </div>

                                                      <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Transfer Requested By</label>
                                                        <div class="col-sm-8">

                                                            <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['TransferRequestedBy']" >
                                                        </div>

                                                      </div>

                                                   <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">POL</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['POL']" >
                                                        </div>
                                                      </div>

                                                      <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Requested Quantity</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['RequestedQuantity']" >
                                                        </div>
                                                      </div>
                                                        <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Transfer From</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" readonly class="form-control bu-control" id="staticEmail"  [formControl]="viewTRForm.controls['TransferFrom']" >
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label" style="font-size:14px">Remarks</label>
                                                        <div class="col-sm-8">
                                                            <textarea  rows="4" cols="50" readonly class="form-control bu-control addr-control" id="staticEmail"  [formControl]="viewTRForm.controls['Remarks']" ></textarea>
                                                        </div>
                                                      </div>

                                                    </form>

                                    </div>
                            </div>

                            <div class="modal-footer">

                                    <button  type="button" class="btn btn-info check-footer"  (click)="viewclose()" style="padding: 8px 37px;font-size:13px">Close</button>

                            </div>
                    </div>
                </div>
            </div>
<!-- view Purchase Receipt modal -->

<!-- view attachment modal -->
<div id="ViewAttachmentModal" class="modal models" role="dialog" tabindex='-1'>
    <div class="modal-dialog ">
        <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">View Attachment</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <hr>
                    </div>

                    <div class="modal-body view-attach-modal">
                        <br>
                                <div *ngIf="attachmentmessage == ''" class="row mod">

                                    <div  *ngFor="let list of attachmentGroup" class="col-sm-12 col-md-12 view-attach-padding">

                                            <div class="col-sm-1 col-md-1">

                                                <span *ngIf=" list.ext === 'png' || list.ext === 'jpeg' || list.ext === 'jpg' ">
                                                        <img src="assets/img/mimage.png">
                                                    </span>
                                                    <span *ngIf=" list.ext === 'doc' || list.ext === 'txt' || list.ext === 'docx' " >
                                                        <img src="assets/img/mword.png">
                                                    </span>
                                                    <span *ngIf=" list.ext === 'pdf' ">
                                                        <img src="assets/img/mpdf.png">
                                                    </span>
                                                    <span *ngIf=" list.ext === 'xlsx' || list.ext === 'xls' ">
                                                            <img src="assets/img/mexcel.png">
                                                        </span>
                                                        <span *ngIf=" list.ext === 'csv' ">
                                                            <img src="assets/img/mcsv.png">
                                                        </span>

                                        </div>


                                        <div class="col-sm-5 col-md-5 view-attach-margin">
                                              <!-- tooltip={{list.fileName}} -->
                                              <label class="label-font">{{list.fileName}}</label>
                                        </div>

                                        <div class="col-sm-3 col-md-3" class="icon-span">

                                                <label class="label-font">Added on {{list.createdDate | date: 'dd-MMM-yyyy'}}</label>

                                                <a href= {{API_URL+list.id}}>  <i class="fa fa-download fa-down" tooltip="Download"></i></a>

                                                <i class="ion-trash-a ion-bin" (click)="deleteattachment(list.id)" (click)="deleteattachmentmessageclear()"
                                                 tooltip="Delete" data-toggle="modal" data-target="#delattachment"  ></i>



                                        </div>


                                    </div>

                                </div>

                                <div *ngIf="attachmentmessage != ''">
                                        {{attachmentmessage}}
                                </div>

                        </div>

            <div class="modal-footer">
                    <button  type="button" class="btn btn-info check-footer"  (click)="viewcloseattachment()" style="padding: 8px 37px;font-size:13px">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- view attachment modal -->

<div class="modal" id="delattachment" role="dialog"  tabindex='-1'>
    <div class="modal-dialog mstyle modal-country">
      <div class="modal-content">
            <div class="modal-header">

                    <h4 class="modal-title">Delete Item</h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                     <hr>

               </div>
        <div class="modal-body">
          <p *ngIf="deleteattachmentmessage">{{deleteattachmentmessage}}</p>
          <p *ngIf="deleteattachmentmessage==''">Are you sure you want to delete this file?</p>
        </div>
        <div class="modal-footer">
          <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-no" (click)="deleteattachmentmessageclear()" data-dismiss="modal">No</button>
          <button *ngIf="deleteattachmentmessage==''" type="button" class="btn check-footer" (click)="deleteattachmentconfirm(attachment_deleted_id)">Yes</button>
          <button *ngIf="deleteattachmentmessage!=''" type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>

         </div>
      </div>

    </div>
</div>



                  <!-- view POL modal -->
                  <div id="ViewPOLModal" class="modal models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">Filter by POL</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                    <div class="container filter-down">

                                                                <label class="container filter-down">
                                                                Select All
                                                                    <input type="checkbox" [(ngModel)]="selectedpolAll" value ="" (change)="selectAll('Pol',$event);"/>   <span class="checkmark add-cust"></span>
                                                                </label>

                                                            <div class="checkbox filter-down" *ngFor="let list of polGroups">
                                                                    <label class="container">{{list.name}}
                                                                    <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Pol');">


                                                                        <span class="checkmark add-cust"></span>
                                                                    </label>
                                                            </div>

                                                        </div>

                            </div>

                         <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="apply('Pol')">Apply</button>

                         </div>
                        </div>
                    </div>
                </div>
                <!-- view POL modal -->

                    <!-- view site modal -->
                 <div id="ViewSiteModal" class="modal models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">Filter by Site</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                    <div class="container filter-down">

                                        <label class="container filter-down">
                                            Select All
                                                <input type="checkbox" [(ngModel)]="selectedsiteAll" value ="" (change)="selectAll('Site',$event);"/>
                                                  <span class="checkmark add-cust"></span>
                                            </label>

                                        <div class="checkbox filter-down" *ngFor="let list of siteGroups">
                                                <label class="container">{{list.name}}
                                                <input type="checkbox" [(ngModel)]="list.selected" value ={{list.siteId}} (change)="checkIfAllSelected(list,$event,'Site');">


                                                    <span class="checkmark add-cust"></span>
                                                </label>
                                        </div>

                                                        </div>

                            </div>

                         <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="apply('Site')">Apply</button>

                         </div>
                        </div>
                    </div>
                </div>
                <!-- view site modal -->



                    <!-- view status modal -->
                    <div id="ViewStatusModal" class="modal models" role="dialog" tabindex='-1'>
                        <div class="modal-dialog modal-country ">
                            <div class="modal-content">
                                <div class="modal-header">

                                        <h4 class="modal-title">Filter by Approved Status</h4>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <hr>
                                </div>


                                <div class="modal-body view-detail">

                                        <div class="container filter-down">

                                                                    <label class="container filter-down">
                                                                    Select All
                                                                        <input type="checkbox" [(ngModel)]="selectedstatusAll" value ="" (change)="selectAll('Status',$event);"/>   <span class="checkmark add-cust"></span>
                                                                    </label>

                                                                <div class="checkbox filter-down" *ngFor="let list of statusGroups">
                                                                        <label class="container">{{list.name}}
                                                                        <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Status');">


                                                                            <span class="checkmark add-cust"></span>
                                                                        </label>
                                                                </div>

                                                            </div>

                                </div>

                             <div class="modal-footer">
                                <button  type="button" class="btn btn-info check-footer"  (click)="apply('Status')">Apply</button>

                             </div>
                            </div>
                        </div>
                    </div>
                    <!-- view status modal -->

                    <!-- view Approver modal -->
                    <div id="ViewApproverModal" class="modal models" role="dialog" tabindex='-1'>
                    <div class="modal-dialog modal-country ">
                        <div class="modal-content">
                            <div class="modal-header">

                                    <h4 class="modal-title">Filter by Approver</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <hr>
                            </div>


                            <div class="modal-body view-detail">

                                    <div class="container filter-down">

                                                                <label class="container filter-down">
                                                                Select All
                                                                    <input type="checkbox" [(ngModel)]="selectedapproverAll" value ="" (change)="selectAll('Approver',$event);"/>   <span class="checkmark add-cust"></span>
                                                                </label>

                                                            <div class="checkbox filter-down" *ngFor="let list of approverGroups">
                                                                    <label class="container">{{list.name}}
                                                                    <input type="checkbox" [(ngModel)]="list.selected" value ={{list.id}} (change)="checkIfAllSelected(list,$event,'Approver');">


                                                                        <span class="checkmark add-cust"></span>
                                                                    </label>
                                                            </div>

                                                        </div>

                            </div>

                            <div class="modal-footer">
                            <button  type="button" class="btn btn-info check-footer"  (click)="apply('Approver')">Apply</button>

                            </div>
                        </div>
                    </div>
                    </div>
                <!-- view Approver modal -->

<!-- Export modal -->
<div id="Export" class="modal models" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-country ">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Export </h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <hr>
                </div>


                <div class="modal-body">

                        <div class="container filter-down">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label class="filter-down">
                                From Date</label>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                <my-date-picker
                                    [options]="myDatePickerOptions"
                                     (dateChanged)="onDateChanged($event, 'FromDate')"   [(ngModel)] = "initialFromDate" name="initialFromDate">
                                </my-date-picker>

                            </div>
                        </div>

                        <div class="container filter-down">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                <label class="filter-down">
                                To Date</label>
                            </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                    <my-date-picker
                                        [options]="myDatePickerOptions"
                                         (dateChanged)="onDateChanged($event, 'ToDate')"  [(ngModel)] = "initialToDate" name="initialToDate">
                                    </my-date-picker>

                                </div>
                        </div>

                </div>

             <div class="modal-footer">
                <p *ngIf="exportmessage">{{exportmessage}}</p>

                    <a href= {{API_URL_Export}}>
                        <button class="btn btn check-footer" (click)="export()">Export</button>
                    </a>
            </div>
            </div>
        </div>
    </div>
    <!-- export modal -->


               </section>
           </div>
        </div>
       </div>
