<span class="manager col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">View Physical Dip</span>
<div class="container-fluid main-back">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div *ngIf="success" id="success" class="alert alert-success stock-success">{{success}}</div>
                        <physical-dip-form [page] = "page" (savePhysicalDip)="onSavePhysicalDip($event)">

                        </physical-dip-form>
                    </div>
                </section>
            </div>
        </div>
    </div>