<form [ngSwitch]="loading" [formGroup]="equipmenttypeForm" (ngSubmit)="onSubmit(equipmenttypeForm.value)" class="form-horizontal" method="post">
    <div *ngSwitchCase="true">
        <overlay-loader></overlay-loader>
    </div>
    <div *ngSwitchCase="false">


     <div class="row bunit">

            <div class="col-xs-12 col-sm-12 col-md-6 fill">

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <label for="equipmentTypeName">Equipment Type Name <small class="text-danger">*</small></label>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8">
                <input type="text"   id="equipmentTypeName" class="form-control" [formControl]="equipmenttypeForm.controls['equipmentTypeName']" />


                <small *ngIf="equipmenttypeForm.controls['equipmentTypeName'].hasError('required') && (equipmenttypeForm.controls['equipmentTypeName'].touched || formSubmited)" class="error">{{nameReq}}</small>
                <small *ngFor="let error of error.firstKey" class="error">{{error}}</small>

            </div>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 fill">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">


                    <!-- <div class="checkbox filter-down">

                                <label class="container">Bulk
                                    <input type="checkbox" [formControl]="equipmenttypeForm.controls['IsBulk']"   (change)="selectAll($event);"/>
                            <span class="checkmark add-cust"></span>
                            </label>

                    </div> -->

                </div>

            </div>

    </div>

          <div class="clearfix"></div>
          <div><br /><br /></div>


                 <div class="owner-file">
                     <input name="file"  type="file" (change)="onChange($event)" [formControl]="equipmenttypeForm.controls['FileType']" multiple/>
                     <br>
                     <ng-container *ngIf="ErrorList.length==1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}</small>
                  </ng-container>
                  <ng-container *ngIf="ErrorList.length>1">
                      <small *ngFor="let error of ErrorList" class="error file-size-error">{{error}}<br /></small>
                  </ng-container>
              </div>




                       <div class="clearfix"></div>
                          <!-- <div class="row"> -->
                              <div class="text-right" *ngIf='savebutton == true'>
                                  <button type="submit" class="btn check-footer m-top10">Save</button>
                                  <button type="reset" (click)="clearmsgs()" class="btn  check-no m-top10" value="Reset">Clear</button>
                              </div>
                        </div>
                    </form>